
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Player Report " [breadcrumbs]="breadcrumbs">
    </app-breadcrumb>

    <!-- /.content-header -->

    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="">
                  <div class="">
                    <h3 class="card-title">Player Report Filter
                    </h3>
                  </div>

                </div>
                <div class="pull-right">
                  <div class="">
                    <a [routerLink]="['/reports/bet-report']" class="btn btn-primary" *ngIf="this.permissionService.checkPermission('bet_report','R') && adminAuthService?.tenantDataValue?.menuList?.includes('Exchange') || adminAuthService?.tenantDataValue?.menuList?.includes('Live Bets')" title="Open Sport Bet Report">Bet Report</a>&nbsp;
                    <ng-container *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">

                      <select  select2 id="tenant_id" (onSelect)="tenantFilter($event)" [(ngModel)]="params.tenant_id" style="width: 325px;" data-placeholder="Select Tenant">
                        <option [value]="0">All Tenants</option>
                        <option *ngFor="let tenants of tenantsList" [value]="tenants.id">{{tenants.name}}</option>
                      </select><span>&nbsp;</span>
                      <span *ngIf="hideShow">
                      <select  class="select2custom " select2 id="owner_id" (onSelect)="filterSelectOwner($event)" [(ngModel)]="params.owner_id" style="width: 325px" data-placeholder="Select Owner">
                        <!-- <option value="">Select Owner</option> -->
                        <option *ngFor="let tenants of tenantsOwnerList; let i = index" [value]="tenants.id" [attr.selected]="!i" >{{tenants.agent_name}}</option>
                      </select><span>&nbsp;</span>
                    </span>

                    </ng-container>

                    <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;" data-placeholder="Select Time Zone">
                      <option value="">Select Time Zone</option>
                      <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                      <option *ngFor="let zone of TIMEZONE"  [value]="zone.zonename">{{zone.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                <div class="row">





                  <div class="col-md-2">
                    <div class="form-group">
                      <!--<label for="search">Search</label>-->
                      <input type="text" class="form-control" id="search" (keyup)="filter($event)"
                             [(ngModel)]="params.search"
                             title="Search for Player ID / Username / Nickname"
                             placeholder="Search for Player ID / Username / Nickname"/>
                    </div>
                  </div>

                  <div class="col-md-2" *ngIf="false">
                    <div class="form-group">
                      <!--<label for="player_type">Player Type</label>-->
                      <select class="form-control" id="isDirectPlayer" (change)="filter($event)" title="All Organization Players" [(ngModel)]="params.isDirectPlayer">
                      <option value="">All Organization Players</option>
                      <option value="1">Only Direct Players</option>
                    </select>
                    </div>
                  </div>
                  <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
                    <div class="col-md-2" *ngIf="hideShow">
                      <div class="form-group">
                        <!--<label for="agent_id">Agent</label>-->
                        <select class="form-control" select2 id="agent_id"  title="Select Agent" (onSelect)="filterSelectAgent($event)" [(ngModel)]="params.agent_id" data-placeholder="Select Agent">
                          <!-- <option value="">Select Agent</option> -->
                          <option *ngFor="let adminUser of userList" [value]="adminUser.id">{{adminUser.first_name}} {{adminUser.last_name}} </option>
                        </select>
                      </div>
                    </div>
                  </ng-container>
                  <div class="col-md-2">
                    <div class="form-group">
                      <select class="form-control" id="time_date_period" (change)="filter($event,true)" [(ngModel)]="params.time_type">
                      <option disabled value="">Select Time Period</option>
                      <option value="today">Today</option>
                      <option value="yesterday">Yesterday</option>
                      <option value="weekly">This Week</option>
                      <option value="monthly">This Month</option>
                      <!-- <option value="yearly">This Year</option> -->
                      <option value="custom">Custom Date</option>
                    </select>
                    </div>
                  </div>
                  <div class="col-md-2" *ngIf="params.time_type=='custom'">
                    <div class="form-group">
                      <input autocomplete="off" readonly  data-placeholder="Search Time Period" placeholder="Search Time Period" title="Search Time Period" type="text"
                             class="form-control float-right" id="time_period" [format]="format" daterangetime_picker (onSelect)="selectDateRange($event)" />
                    </div>
                  </div>


                  <div class="col-md-2">
                    <div class="form-group">
                      <!--<label for="currency">Currency</label>--><!--multiple="true"-->
                      <select class="form-control" title="Select Currency" data-placeholder="Select Currency"
                              id="currency" (change)="filter($event)" [(ngModel)]="params.currency">
                      <option value="">Select Currency</option>
                        <option *ngFor="let currency of currencies" [value]="currency.code"> {{ currency.code }} </option>
                    </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <!--<label for="action_type">Action Type</label>-->
                      <select class="form-control" id="action_type" data-placeholder="Action Type" (change)="filter($event)" [(ngModel)]="params.action_type">
                        <option value="">Select Action Type</option>
                        <option value="first-deposit">First Deposit</option>
                        <option value="no-bet">No Bet Placed By Players</option>
                        <option value="no-deposit-amount">No Deposit By Players</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="form-group">
                      <!--<label for="size">Size</label>-->
                      <select class="form-control" id="size" (change)="filter($event)" [(ngModel)]="params.size">
                        <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-3" style="margin-top: -30px;">
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-success" (click)="submitFilter()"><i class="fa fa-search"></i> Search</button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning ml-2" (click)="resetFilter()"> Reset Filter </button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-default  ml-2 mr-2" (click)="getReport()"> <i class="fa fa-refresh"></i> </button>
                    <ng-container *ngIf="this.permissionService.checkPermission('player_report','export')">
                      <button type="button" *ngIf="reports.length > 0" class="mgt btn btn-info" (click)="download()"> Export as CSV </button>
                    </ng-container>
                  </div>
                </div>

                <ng-container *ngIf="tenant_base_currency != ''">
                  <small class="text-red">Note: Calculating the balance based on the current exchange rates.</small>
                  <h5>Total Balance (in {{tenant_base_currency}}): {{totalBalance |number : '1.0-2' || 0 }}</h5>
                  <h5>Total Bet Count: {{totalbetcount}}</h5>
                  <!-- <h5 *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0)">Total Bet Amount<span *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">(in EUR)</span>: {{totalAmountBet |number : '1.0-2'}}</h5> -->
                </ng-container>

              </div>

            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <ng-container *ngIf="!isLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">Player Report </h3>
                <!--<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>order By - <strong>{{params.order_by}}</strong>   Sort By - <strong>{{params.sort_by}}</strong></small></span>-->




                <div class="pull-right" *ngIf="zone"> Time Zone- {{zone}}</div>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8"><span>Showing {{pageCurrentTotal}} to {{ pageNextTotal }} of {{total}} entries</span>
                  </div>
                  <div class="col-md-4">
                    <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
                  </div>
                  <!--Total Record-{{total}}-->
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Player ID <app-ordering-arrow [column]="'player_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Username <app-ordering-arrow [column]="'user_name'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Nick Name <app-ordering-arrow [column]="'nick_name'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Agent Name <app-ordering-arrow [column]="'agent_name'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Vip Level <app-ordering-arrow [column]="'vip_level'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Total Balance <app-ordering-arrow [column]="'total_balance'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Currency <app-ordering-arrow [column]="'currency'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Total Bets <app-ordering-arrow [column]="'total_bets'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Total Bet Amount <app-ordering-arrow [column]="'total_bet_amount'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Country <app-ordering-arrow [column]="'country'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Created date <app-ordering-arrow [column]="'creation_date'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Last Login Date <app-ordering-arrow [column]="'last_login'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Status <app-ordering-arrow [column]="'status'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>First Deposit Amount </th>
                      <th>First Deposit Amount Trx Id </th>
                      <ng-container *ngIf="this.permissionService.checkPermission('players','R')">
                        <th>Actions</th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let transaction of reports | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">

                      <td> {{ transaction._source.player_id || '--' }} </td>
                      <td>
                        <a href="javascript:void(0);" data-toggle="dropdown" data-offset="-52">
                          {{ transaction._source.user_name || '--' }}
                        </a>

                        <div class="dropdown-menu" role="menu">
                          <a href="javascript:void(0);" class="dropdown-item"> {{ transaction._source.user_name || '--' }}  </a>
                          <a href="javascript:void(0);" class="dropdown-item">Balance: {{ transaction._source.total_balance | number: '1.2-2' || '--' }}  </a>
                          <div class="dropdown-divider"></div>
                          <a *ngIf="this.permissionService.checkPermission('players','R') && this.permissionService.checkPermission('fund_transfer_deposit','C')" [routerLink]="['/transactions/transfer-fund']" [queryParams]="{ owner_id: transaction._source.player_id, email: transaction._source.email, owner_type: 'User', type: 'Deposit'}" class="link dropdown-item">Deposit</a>
                          <a *ngIf="this.permissionService.checkPermission('players','R') && this.permissionService.checkPermission('fund_transfer_withdraw','C')"[routerLink]="['/transactions/transfer-fund']" [queryParams]="{ owner_id: transaction._source.player_id, email: transaction._source.email, owner_type: 'User', type: 'Withdraw'}" class="link dropdown-item">Withdraw</a>
                          <a *ngIf="this.permissionService.checkPermission('players','R')" routerLink="/transactions" [state]="{ search: transaction._source.email, wallet_id: transaction._source.wallet_id }" class="link dropdown-item">History</a>
                          <a *ngIf="this.permissionService.checkPermission('players','U')"[routerLink]="['/players', transaction?._source?.player_id]" class="link dropdown-item">Edit</a>
                        </div>
                      </td>
                      <td> {{ transaction._source.nick_name || '--' }} </td>
                      <td> {{ transaction._source.agent_name || '--' }} </td>
                      <td> {{ transaction._source.vip_level || 0 }} </td>
                      <td> {{ transaction._source.total_balance |number : '1.0-2' || '--' }} </td>
                      <td> {{ transaction._source.currency || '--' }} </td>
                      <td> {{ transaction._source.total_bets || 0 }} </td>
                      <td> {{ transaction._source.total_bet_amount |number : '1.0-2'|| 0 }} </td>
                      <td> {{ transaction._source.country || '--' }} </td>
                      <td> {{ transaction._source.creation_date || '--' }} </td>
                      <td> {{ transaction._source.last_login || '--' }} </td>
                      <td>
                      <span *ngIf="transaction._source.status == 'Active'" class="text-success">
                      {{ transaction._source.status || '--' }}
                      </span>
                      <span *ngIf="transaction._source.status == 'InActive'" class="text-danger">
                        {{ transaction._source.status || '--' }}
                      </span>

                      </td>
                      <td> {{ transaction._source.first_deposit_amount |number : '1.0-2'|| 0  }} </td>
                      <td> {{ transaction._source.first_deposit_amount_transaction_id || '--' }} </td>
                      <ng-container *ngIf="this.permissionService.checkPermission('players','R')">
                      <td>

                        <!-- changes required by client Amy<a class="btn btn-warning fnt-12 mb5" [routerLink]="['/players', transaction._source.player_id]"> <i class="fa fa-edit"></i> </a>
                           &nbsp;-->
                         <a class="btn btn-info fnt-12 mb5" [routerLink]="['/players/details', transaction._source.player_id]"> <i class="fa fa-eye"></i> </a>
                           &nbsp;

                        <!-- changes required by client Amy
                        <ng-container *ngIf="transaction._source.status == 'Active'; else activeReport">
                           <button type="button" (click)="updateStatus(transaction, 0)" class="btn btn-danger fnt-12 mb5"> <i class="fa fa-remove"> </i> </button>
                         </ng-container>
                         <ng-template #activeReport>
                           <button type="button" (click)="updateStatus(transaction, 1)" class="btn btn-success fnt-12 mb5"> <i class="fa fa-check"> </i> </button>
                         </ng-template>-->

                      </td>
                      </ng-container>

                    </tr>
                    <tr *ngIf="firstTimeApiCall && reports && reports.length === 0"> <td colspan="16" class="tnodata"> No Player Reports Found </td> </tr>
                    <tr *ngIf="!firstTimeApiCall"> <td colspan="16" class="tnodata"> Click Search to Load Data </td> </tr>
                  </tbody>
                </table>
                </div>

              <div class="row">
              <div class="col-md-8"><span>Showing {{pageCurrentTotal}} to {{ pageNextTotal }} of {{total}} entries</span>
              </div>
              <div class="col-md-4">
                <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
              </div>
                <!--Total Record-{{total}}-->
              </div>
              </div>
            </ng-container>
            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>
