<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Bonus Deposit" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->


    <section class="content">
        <div class="container-fluid">

          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> {{ title }} Bonus Deposit </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="bonusForm" (ngSubmit)="onSubmit()">
                  <div class="card-body">
                    
                    <div class="row">

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="kind">Bonus Kind <span class="text-danger">*</span></label>
                          <select class="form-control" formControlName="kind" id="kind">
                            <option value=""> Select Bonus Kind </option>
                            <option *ngFor="let kind of kinds; let i = index" [value]="kind.value">{{kind.name}}</option>
                          </select>
                          <div class="invalid-feedback" *ngIf="submitted && f.kind.errors">
                            <div *ngIf="f.kind.errors.required">Kind is required</div>
                          </div>
                        </div>
                      </div>
                      
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="code">Code <span class="text-danger">*</span></label>
                                <input type="text" formControlName="code" class="form-control" id="code" maxlength="20" placeholder="Enter Code"/>
                                <div class="invalid-feedback" *ngIf="submitted && f.code.errors">
                                  <div *ngIf="f.code.errors.required">Code is required</div>
                                </div>
                              </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="percentage">Percentage <span class="text-danger">*</span></label>
                                <input type="number" formControlName="percentage" class="form-control" id="percentage" placeholder="Enter Percentage"/>
                                <div class="invalid-feedback" *ngIf="submitted && f.percentage.errors">
                                  <div *ngIf="f.percentage.errors.required">Percentage is required</div>
                                  <div *ngIf="f.percentage.errors.min">Percentage cannot be less than 1</div>
                                  <!-- <div *ngIf="f.percentage.errors.max">Percentage cannot be more than 99</div> -->
                                </div>
                              </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="currency_id">Currency <span class="text-danger">*</span></label>
                              <select class="form-control" formControlName="currency_id" id="currency_id">
                                <option value="" disabled> Select Currency </option>
                                <option *ngFor="let currency of currencies" [value]="currency.id"> {{ currency.name }} </option>
                              </select>
      
                              <div class="invalid-feedback" *ngIf="submitted && f.currency_id.errors">
                                  <div *ngIf="f.currency_id.errors.required">Currency is required</div>
                              </div>
                            </div>

                        </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                  <label for="vip_levels">Vip Levels <span class="text-danger">*</span></label>
                                  <select class="form-control" select2 (onSelect)="selectVipLevel($event)" multiple id="vip_levels" data-placeholder="Select a Vips Level" style="width: 100%;">
                                    <option *ngFor="let item of getNumArr(11); let i = index" [value]="i">{{i}}</option>
                                  </select>
          
                                  <div class="invalid-feedback" *ngIf="submitted && f.vip_levels.errors">
                                      <div *ngIf="f.vip_levels.errors.required">Vip Levels is required</div>
                                  </div>
                                </div>
                            </div>
                    
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="min_deposit">Minimum deposit amount <span class="text-danger">*</span></label>
                          <input type="number" formControlName="min_deposit" class="form-control" id="min_deposit" placeholder="Enter Minimum deposit amount"/>
                          <div class="invalid-feedback" *ngIf="submitted && f.min_deposit.errors">
                            <div *ngIf="f.min_deposit.errors.required">Minimum deposit amount is required</div>
                            <div *ngIf="f.min_deposit.errors.min">Minimum deposit amount cannot be less than 1</div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="min_deposit">Maximum deposit amount <span class="text-danger">*</span></label>
                          <input type="number" formControlName="max_deposit" class="form-control" id="max_deposit" placeholder="Enter Maximum deposit amount"/>
                          <div class="invalid-feedback" *ngIf="submitted && f.max_deposit.errors">
                            <div *ngIf="f.max_deposit.errors.required">Maximum deposit amount is required</div>
                            <div *ngIf="f.max_deposit.errors.min">Maximum deposit amount cannot be less than 1</div>
                            <span *ngIf="this.bonusForm.get('max_deposit').errors?.minIsGreaterThanMax">Maximum deposit must be grater than Minimum deposit</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="max_bonus">Maximum bonus <span class="text-danger">*</span></label>
                          <input type="number" formControlName="max_bonus" class="form-control" id="max_bonus" placeholder="Enter Maximum bonus"/>
                          <div class="invalid-feedback" *ngIf="submitted && f.max_bonus.errors">
                            <div *ngIf="f.max_bonus.errors.required">Maximum bonus is required</div>
                            <div *ngIf="f.max_bonus.errors.min">Maximum bonus cannot be less than 1</div>
                          </div>
                        </div>
                      </div>
                  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="rollover_multiplier">Rollover multiplier <span class="text-danger">*</span></label>
                        <input type="number" formControlName="rollover_multiplier" class="form-control" id="rollover_multiplier" maxlength="10" placeholder="Enter Rollover multiplier"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.rollover_multiplier.errors">
                          <div *ngIf="f.rollover_multiplier.errors.required">Rollover multiplier is required</div>
                          <div *ngIf="f.rollover_multiplier.errors.min">Rollover multiplier cannot be less than 1</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="max_rollover_per_bet">Maximum rollover per bet <span class="text-danger">*</span></label>
                        <input type="number" formControlName="max_rollover_per_bet" class="form-control" id="max_rollover_per_bet" maxlength="10" placeholder="Enter Maximum rollover per bet"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.max_rollover_per_bet.errors">
                          <div *ngIf="f.max_rollover_per_bet.errors.required">Maximum rollover per bet is required</div>
                          <div *ngIf="f.max_rollover_per_bet.errors.min">Maximum rollover pet bet cannot be less than 1</div>
                        </div>
                      </div>
                    </div>
               
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="valid_for_days">Rollbar validity in days <span class="text-danger">*</span></label>
                      <input type="number" formControlName="valid_for_days" class="form-control" id="valid_for_days" maxlength="5" placeholder="Enter Rollbar validity in days"/>
                      <div class="invalid-feedback" *ngIf="submitted && f.valid_for_days.errors">
                        <div *ngIf="f.valid_for_days.errors.required">Rollbar validity in days is required</div>
                        <div *ngIf="f.valid_for_days.errors.min">Rollbar validity in days cannot be less than 1</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="valid_from">Campaign period <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="time_period" autocomplete="off" readonly  [timePicker]="true" [format]="format" daterange_picker (onSelect)="selectDateRange($event)" placeholder="Enter Campaign period"/>
                      <div class="invalid-feedback" *ngIf="submitted && (f.valid_from.errors || f.valid_upto.errors)">
                        <div *ngIf="f.valid_from.errors.required || f.valid_upto.errors.required">Campaign period is required</div>
                      </div>
                    </div>
                  </div>
              
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="promotion_title">Promotion title <span class="text-danger">*</span></label>
                    <input type="text" formControlName="promotion_title" class="form-control" id="promotion_title" maxlength="30" placeholder="Enter Promotion title"/>
                    <div class="invalid-feedback" *ngIf="submitted && f.promotion_title.errors">
                      <div *ngIf="f.promotion_title.errors.required">Promotion title is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputFile">Image <span *ngIf="id == 0" class="text-danger">*</span></label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input (change)="selectImage(file.files)" #file formControlName="logo" accept="image/*" type="file" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                          </div>
                          <!-- <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                          </div> -->
                        </div>
                        <div class="invalid-feedback" *ngIf="submitted && f.logo.errors">
                          <div *ngIf="f.logo.errors.required">Image is required</div>
                          <div *ngIf="f.logo.errors.requiredFileType">Image must be image</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="imgURL">
                          <img [src]="imgURL" class="imshow" id="tenantLogo"/>
                    </div>
                  </div>

                </div>
            
              <div class="col-md-12">
                <label>Terms & Conditions <span class="text-danger">*</span></label>
                
                <ckeditor formControlName="terms_and_conditions"></ckeditor>
                <div class="invalid-feedback" *ngIf="submitted && f.terms_and_conditions.errors">
                  <div *ngIf="f.terms_and_conditions.errors.required">Terms and conditions is required</div>
                </div>
                
              </div>
            </div>

            <br/>
            <div class="row">
              <div class="col-md-12">

                <div class="icheck-primary d-inline">
                  <input type="checkbox" formControlName="enabled" id="checkboxPrimary2">
                  <label for="checkboxPrimary2">
                    Enabled
                  </label>
                </div>
                
              </div>
            </div>
          </div>
                  
  
                  <div class="card-footer">
                    <button type="submit" [disabled]="bonusLoader" class="btn btn-primary">
                      <span *ngIf="bonusLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
                      &nbsp;
                    <a routerLink="/bonus/deposit-list" class="btn btn-warning"> Cancel </a>
                  </div>
                </form>
              </div>
              <!-- /.card -->
  
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>


  </div>
