<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Agent Tree" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

      <section class="content">
        <div class="container-fluid">

          <div class="row">

            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Tree for Agent</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                  <div id="agent_tree"></div>
                
                </div>

              </div>
              <!-- /.card -->

            </div>

          </div>

        </div><!-- /.container-fluid -->
      </section>

  </div>
