<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Player NCB Report" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="pull-left">
                  <h3 class="card-title">Player NCB Report Filter</h3>
                </div>
                <div class="pull-right">
                  <div class="">

                    <ng-container *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">

                      <select  select2 id="tenant_id" (onSelect)="tenantFilter($event)" [(ngModel)]="params.tenant_id" style="width: 325px;" data-placeholder="Select Tenant">
                        <option [value]="0">All Tenants</option>
                        <option *ngFor="let tenants of tenantsList" [value]="tenants.id">{{tenants.name}}</option>
                      </select><span>&nbsp;</span>
                      <span *ngIf="hideShow">
                      <select  class="select2custom" select2 id="owner_id" (onSelect)="filterSelectOwner($event)" [(ngModel)]="params.owner_id" style="width: 325px" data-placeholder="Select Owner">
                        <!-- <option value="">Select Owner</option> -->
                        <option *ngFor="let tenants of tenantsOwnerList let i = index " [attr.selected]="!i"  [value]="tenants.id">{{tenants.agent_name}}</option>
                      </select><span>&nbsp;</span>
                    </span>
                    </ng-container>

                    <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;" data-placeholder="Select Time Zone">
                      <option value="">Select Time Zone</option>
                      <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                      <option *ngFor="let zone of TIMEZONE" [value]="zone.zonename">{{zone.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                <div class="row">

                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" class="form-control" id="search" (keyup)="filter($event)" [(ngModel)]="params.search" placeholder="Search for Player ID / Username / Phone / TransactionID"/>
                    </div>
                  </div>

                  <div class="col-md-2" *ngIf="false">
                    <div class="form-group">
                      <select class="form-control" id="player_type" (change)="filter($event)" [(ngModel)]="params.player_type">
                      <option value="">Select Player Type</option>
                      <option value="all">All Organization Players</option>
                      <option value="direct">Only Direct Players</option>
                    </select>
                    </div>
                  </div>

                  <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
                    <div class="col-md-2" *ngIf="hideShow">
                      <div class="form-group">
                        <!--<label for="agent_id">Agent</label>-->
                        <select class="form-control" select2 id="agent_id"  title="Select Agent" (onSelect)="filterSelectAgent($event)" [(ngModel)]="params.agent_id" data-placeholder="Select Agent">
                          <!-- <option value="">Select Agent</option> -->
                          <option *ngFor="let adminUser of userList" [value]="adminUser.id">{{adminUser.first_name}} {{adminUser.last_name}}</option>
                        </select>
                      </div>
                    </div>
                  </ng-container>

                  <div class="col-md-2">
                    <div class="form-group">
                      <!--<label for="currency">Currency</label>--><!--multiple="true"-->
                      <select class="form-control" title="Select Currency" data-placeholder="Select Currency"
                              id="currency" (change)="filter($event)" [(ngModel)]="params.currency">
                        <option value="">Select Currency</option>
                        <option *ngFor="let currency of currencies" [value]="currency.code"> {{ currency.code }} </option>
                      </select>
                    </div>
                  </div>


                  <div class="col-md-2">
                    <div class="form-group">
                      <select class="form-control" id="action_type" (change)="filter($event)" [(ngModel)]="params.action_type">
                      <option value="">Select Action Type</option>
                      <option value="non_cash_withdraw_by_admin">non cash withdraw by admin</option>
                      <option value="non_cash_bonus_claim">non cash bonus claim</option>
                      <option value="non_cash_granted_by_admin">non cash granted by admin</option>
                      <option value="refund_non_cash">Refund non cash</option>
                      <option value="bet_non_cash">Bet non cash</option>
                      <option value="tip_non_cash">Tip non cash</option>
                      <!-- <option value="win">Win</option> -->
                      <option value="win_non_cash">Win non cash</option>
                      <option value="commission_received">player commission</option>
                    </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <select class="form-control" id="time_date_period" (change)="filter($event,true)" [(ngModel)]="params.time_type">
                      <option disbaled value="">Select Time Period</option>
                      <option value="today">Today</option>
                      <option value="yesterday">Yesterday</option>
                      <option value="weekly">This Week</option>
                      <option value="monthly">This Month</option>
                      <!-- <option value="yearly">This Year</option> -->
                      <option value="custom">Custom Date</option>
                    </select>
                    </div>
                  </div>
                  <div class="col-md-2" *ngIf="params.time_type=='custom'">
                    <div class="form-group">
                      <input autocomplete="off" readonly data-placeholder="Search Time Period" placeholder="Search Time Period" title="Search Time Period" type="text"
                             class="form-control float-right" id="time_period" [format]="format" daterangetime_picker (onSelect)="selectDateRange($event)" />
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <select class="form-control" id="size" (change)="filter($event)" [(ngModel)]="params.size">
                        <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-success mt-0" (click)="submitFilter()"><i class="fa fa-search"></i> Search</button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning mt-0 ml-2" (click)="resetFilter()" style="margin-top: 0px;"> Reset Filter </button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-default mt-0 ml-2" (click)="getReport()"> <i class="fa fa-refresh"></i> </button>
                    <ng-container *ngIf="this.permissionService.checkPermission('player_ncb_report','export')">
                      <button type="button" *ngIf="reports.length > 0" class="mgt btn btn-info mt-0" (click)="download()"> Export as CSV </button>
                    </ng-container>

                  </div>
                </div>

                <div class="row" *ngIf="tenantBaseCurrency != ''">
                  <div class="col-md-4">
                    <h5>Total Bet Non Cash (In {{tenantBaseCurrency}}): {{bet| number}}</h5>
                    <h5>Total Non Cash Granted by admin (In {{tenantBaseCurrency}}): {{total_non_cash_granted_by_admin|number}}</h5>
                    <h5>Total Non Cash Player Commission (In {{tenantBaseCurrency}}): {{total_non_cash_player_commission|number}}</h5>
                  </div>

                  <div class="col-md-4">
                    <h5>Total Win Non Cash (In {{tenantBaseCurrency}}): {{win| number}}</h5>
                    <h5>Total Non Cash Withdraw by admin (In {{tenantBaseCurrency}}):{{total_non_cash_withdraw_by_admin|number}}</h5>
                  </div>

                  <div class="col-md-4">
                    <h5>Total Tip Non Cash (In {{tenantBaseCurrency}}):{{tip| number}}</h5>
                    <h5>Total Non Cash Claim (In {{tenantBaseCurrency}}): {{total_non_cash_bonus_claim|number}}</h5>
                  </div>

                </div>
              </div>

            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <ng-container *ngIf="!isLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">Player NCB Report</h3>
                <!--<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small> Showing {{pageCurrentTotal}} to {{ pageNextTotal }} of {{total}} entries</small></span>-->

                <div class="pull-right" *ngIf="zone"> Time Zone- {{zone}}</div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8"><span>Showing {{pageCurrentTotal}} to {{ pageNextTotal }} of {{total}} entries</span>
                  </div>
                  <div class="col-md-4">
                    <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
                  </div>
                  <!--Total Record-{{total}}-->
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">Player ID <app-ordering-arrow [column]="'player_details.player_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Username <app-ordering-arrow [column]="'actionee.user_name'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>RoundID <app-ordering-arrow [column]="'round_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Agent Name <app-ordering-arrow [column]="'player_details.agent_name'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Bonus ID <app-ordering-arrow [column]="'bonus_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Creation Date <app-ordering-arrow [column]="'created_at'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Currency <app-ordering-arrow [column]="'player_details.currency'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Action Type <app-ordering-arrow [column]="'transaction_type'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Amount <app-ordering-arrow [column]="'amount'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>NCB Before <app-ordering-arrow [column]="'player_details.before_balance'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>NCB After <app-ordering-arrow [column]="'player_details.after_balance'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Transaction ID <app-ordering-arrow [column]="'transaction_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Internal Tracking ID <app-ordering-arrow [column]="'internal_tracking_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let transaction of reports | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">

                      <td>
                        <span *ngIf="transaction._source &&
                            transaction._source.player_details.player_id">
                            <a href="javascript:void(0);" title="Click to Search"
                               (click)="search(transaction._source.player_details.player_id)">
                            {{ transaction._source.player_details &&
                            transaction._source.player_details.player_id || '' }}
                            </a>
                        </span>

                      </td>
                      <td>
                        <span *ngIf="transaction._source &&
                            transaction._source.player_details.user_name">
                            <a href="javascript:void(0);" title="Click to Search"
                               (click)="search(transaction._source.player_details.user_name)">
                            {{ transaction._source.player_details &&
                            transaction._source.player_details.user_name || '' }}
                            </a>
                        </span>
                        <span #else *ngIf="transaction._source &&
                            !transaction._source.player_details.user_name">
                            <a href="javascript:void(0);" title="Click to Search"
                               (click)="search(transaction._source.actionee.user_name)">
                            {{ transaction._source.actionee &&
                            transaction._source.actionee.user_name || '' }}
                            </a>
                        </span>
                      </td>
                      <td> {{ transaction._source.round_id_s && transaction._source.round_id_s || '' }}</td>
                      <td> {{ transaction._source.player_details && transaction._source.player_details.agent_name || '' }}</td>
                      <td> {{ transaction._source.bonus_id && transaction._source.bonus_id || '' }}</td>
                      <td> {{ transaction._source.created_at && transaction._source.created_at | date: 'dd-MM-YYYY HH:mm:ss' || '' }}</td>
                      <td> {{ transaction._source.player_details && transaction._source.player_details.currency || '' }}</td>
                      <td> {{ trnType(transaction._source?.transaction_type) }}</td>
                      <td> {{ transaction._source && transaction._source.amount | number: '1.2-2' }}</td>
                      <td> {{ transaction._source.player_details && transaction._source.player_details.before_balance | number: '1.2-2' || '' }}</td>
                      <td> {{ transaction._source.player_details && transaction._source.player_details.after_balance | number: '1.2-2' || '' }}</td>
                      <td>
                        <span *ngIf="transaction._source &&
                                                transaction._source.transaction_id">
                                                <a href="javascript:void(0);" title="Click to Search"
                                                   (click)="search(transaction._source.transaction_id)">
                                               {{ transaction._source && transaction._source.transaction_id || '' }}
                                                </a>
                                            </span>


                      </td>
                      <td> {{ transaction._source.internal_tracking_id || '' }}</td>
                    </tr>
                    <tr *ngIf="firstTimeApiCall && reports && reports.length === 0"> <td colspan="13" class="tnodata"> No Player Reports Found </td> </tr>
                    <tr *ngIf="!firstTimeApiCall"> <td colspan="13" class="tnodata"> Click Search to Load Data. </td> </tr>
                  </tbody>
                </table>
                </div>

              <div class="row mt-1">
                <div class="col-md-8"><span>Showing {{pageCurrentTotal}} to {{ pageNextTotal }} of {{total}} entries</span>
                </div>
                <div class="col-md-4">
                  <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
                </div>
                <!--Total Record-{{total}}-->
              </div>
              <!--<pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>-->
              </div>
              </ng-container>
            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>

