<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="CMS Pages" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
      <div class="container-fluid">

        <div class="row">

        
        </div>

      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">CMS Pages</h3>
                <a *ngIf = "this.permissionService.checkPermission('cms','C')" class="btn btn-success f-right fnt-12" routerLink="/cms/0"> Create New Page </a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Title</th>
                      <th>Slug</th>
                      <th>Active</th>
                      <th>Enable For Registration Page</th>
                      <th>Created Date</th>
                      <ng-container *ngIf = "this.permissionService.checkPermission('cms','U') || this.permissionService.checkPermission('cms','T')">
                        <th>Action</th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cms of list">
                      <td>{{ cms.id }}</td>
                      <td>  {{ cms.title || 'NA' }}</td>
                      <td>{{ cms.slug || 'NA' }}</td>
                      <td *ngIf="cms.active"><label class='badge badge-success'>Yes</label></td>
                      <td *ngIf="!cms.active"><label class='badge badge-danger'>No</label></td>
                      <td><label *ngIf="cms.enable_cms_for_register" class='badge badge-success'>Enable</label><label *ngIf="!cms.enable_cms_for_register" class='badge badge-danger'>NA</label></td>
                      <td> {{ cms.created_at | date }}</td>
                     
                      <ng-container *ngIf = "this.permissionService.checkPermission('cms','U') || this.permissionService.checkPermission('cms','T')">
                      <td style="display: flex;">
                        <a *ngIf = "this.permissionService.checkPermission('cms','U')" class="btn btn-info fnt-12" [routerLink]="['/cms', cms.id]"> <i class="fas fa-edit"></i> </a>&nbsp;&nbsp;
                        <ng-container *ngIf = "this.permissionService.checkPermission('cms','T')">
                          <a  *ngIf="cms.active" (click)="updateCmsStatus(cms.id,false)" class="btn btn-success fnt-12" title="Disable"> <i class="fas fa-times"></i> </a>
                          <a  *ngIf="!cms.active" (click)="updateCmsStatus(cms.id,true)" class="btn btn-danger fnt-12" title="Enable"> <i class="fas fa-check"></i> </a>
                        </ng-container>
                      </td>
                      </ng-container>
                    </tr>

                    <tr *ngIf="list && list.length === 0"> <td colspan="6" class="tnodata"> No Data Found </td> </tr>

                  </tbody>
                </table>
              </div>
              </div>

            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
