<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Tenants Payment Configurations" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"> {{ title }}</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
              <div class="card-body">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="paymentProvider">Select Payment Provider <span class="text-danger">*</span></label>
                      <select select2 (onSelect)="changeKey($event)" class="select2 form-control" id="paymentProvider"
                        data-placeholder="Select a payment Provider" style="width: 100%;">
                        <option *ngFor="let provider of remainingProvider" [value]="provider.id">{{
                          provider.provider_name }} -
                          {{provider.provider_type | titlecase}} Payment</option>
                      </select>

                      <div class="invalid-feedback" *ngIf="submitted && f.paymentProvider.errors">
                        <div *ngIf="f.paymentProvider.errors.required">Provider is required</div>
                      </div>
                    </div>
                  </div>
                  <ng-container *ngIf="paymentGatewayCategoriesEnable">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="vip_level">Vip Level <span class="text-danger">*</span></label>
                        <select class="form-control" select2 (onSelect)="selectVipLevel($event)" id="vip_level"
                          multiple="true" data-placeholder="Select a Vip Level" style="width: 100%;">
                          <option *ngFor="let item of getNumArr(11); let i = index"> {{ i }} </option>
                        </select>

                        <div class="invalid-feedback" *ngIf="submitted && f.vip_level.errors">
                          <div *ngIf="f.vip_level.errors.required">Vip Level is required</div>
                        </div>
                      </div>

                    </div>
                  </ng-container>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="description">Description<span class="text-danger">*</span></label>
                      <input type="textarea" id="description" formControlName="description" class="form-control"
                        placeholder="Enter description">
                      <div class="invalid-feedback" *ngIf="submitted && f.description.errors">
                        <div *ngIf="f.description.errors.required">Description is required</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" formControlName="enable_limits" class="custom-control-input" id="enable_limits">
                        <label class="custom-control-label" for="enable_limits">Enable Limits</label>
                      </div>
                      <div class="row" *ngIf="paymentForm.get('enable_limits').value">
                        <div class="col-6">
                          <div class="form-group row">
                            <label class="col-6 col-form-label" for="min_deposit_limit">Minimum Deposit Limit:</label>
                            <div class="col-6">
                              <input class="form-control" maxlength="10" type="number" formControlName="min_deposit_limit"
                                id="min_deposit_limit" placeholder="Enter Minimum deposit limit">
                              <div class="invalid-feedback" *ngIf="submitted && f.min_deposit_limit.errors">
                                <div *ngIf="f.min_deposit_limit.errors.required">Min deposit limit is required</div>
                                <div *ngIf="f.min_deposit_limit.errors.min">Min deposit limit should not be less than 0
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group row">
                            <label class="col-6 col-form-label" for="max_deposit_limit">Maximum Deposit Limit:</label>
                            <div class="col-6">
                              <input class="form-control" maxlength="10" type="number" formControlName="max_deposit_limit"
                                id="max_deposit_limit" placeholder="Enter Maximum deposit limit">
                              <div class="invalid-feedback" *ngIf="submitted && f.max_deposit_limit.errors">
                                <div *ngIf="f.max_deposit_limit.errors.required">Max deposit Limit is required</div>
                                <div *ngIf="f.max_deposit_limit.errors.min">Min deposit limit should not be less than 0
                                </div>
                                <div *ngIf="f.max_deposit_limit.errors.minValueOvershoot">Max deposit limit should be
                                  greater than Min Deposit value</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Required Keys <span class="text-danger">*</span></label>

                      <fieldset>
                        <div class="form-group" *ngFor="let list of providerList |keyvalue;let i=index">
                          <label for="{{list.value}}">{{list.value}}</label>
                          <input type="text" id="{{list.value}}" formControlName="{{list.value}}" class="form-control"
                            placeholder="Enter {{list.value}}">

                          <!-- <div class="invalid-feedback" *ngIf="submitted && f.get(list.value).hasError('required')">
                                  This Key is required
                                </div>  -->


                        </div>

                      </fieldset>


                    </div>
                  </div>



                  <div class="col-md-12">
                    <hr>


                    <div class="col-md-2" class="icheck-primary d-inline">
                      <input type="checkbox" formControlName="status" id="checkboxPrimary1">
                      <label for="checkboxPrimary1">
                        Active
                      </label>
                    </div>


                  </div>


                  <!-- <div *ngFor="let control of providerList |keyvalue;let i=index">
                        <label>{{control.value}}</label>
                        <input formControlName="{{control.value}}" placeholder="{{control.value}}">
  
  
                        <div class="invalid-feedback" *ngIf="submitted  && f.paymentForm.controls[control.key].hasError(
                                'required'
                              )">
                                <div>This Key is required</div>
                              </div> 
                      </div> -->
                </div>




              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <ng-container *ngIf="this.providerId > 0; else create">
                  <button *ngIf="!this.paymentProvider?.disabledByAdmin && this.paymentProvider?.provider_active" type="submit" [disabled]="providerLoader" class="btn btn-primary"> <span *ngIf="providerLoader"
                    class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
                  &nbsp;
                </ng-container>
                <ng-template #create>
                  <button type="submit" [disabled]="providerLoader" class="btn btn-primary"> <span *ngIf="providerLoader"
                    class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
                  &nbsp;
                </ng-template>
                
                <ng-container
                  *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0; else sarouter">
                  <a class="btn btn-warning" [routerLink]="['/super-admin/tenants/details', tenant?.id]"> Cancel </a>
                </ng-container>
                <ng-template #sarouter>
                  <a class="btn btn-warning" [routerLink]="['/tenants/payment-providers']"> Cancel </a>
                </ng-template>

              </div>
            </form>
          </div>
          <!-- /.card -->

        </div>
      </div>
      <!-- /.row -->

    </div><!-- /.container-fluid -->
  </section>


</div>