<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="{{(editType == 0) ? 'Managers' : 'Super Admin'}}" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->


    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"> {{ breadcrumbs[breadcrumbs.length-1].title }} {{(editType == 0) ? 'Manager' : 'Super Admin'}} </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="first_name">First Name <span class="text-danger">*</span></label>
                                            <input type="text" formControlName="first_name" class="form-control" id="first_name"
                                                   placeholder="Enter First Name"/>
                                            <div class="invalid-feedback" *ngIf="submitted && f.first_name.errors">
                                                <div *ngIf="f.first_name.errors.required">First Name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="last_name">Last Name <span class="text-danger">*</span></label>
                                            <input type="text" formControlName="last_name" class="form-control" id="last_name"
                                                   placeholder="Enter Last Name"/>
                                            <div class="invalid-feedback" *ngIf="submitted && f.last_name.errors">
                                                <div *ngIf="f.last_name.errors.required">Last Name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <!-- <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="role">Role <span class="text-danger">*</span></label>
                                            <select class="form-control" select2 (onSelect)="selectRole($event)"
                                                    id="role" data-placeholder="Select a Role"
                                                    style="width: 100%;">
                                                    <option value="">Select Role</option>
                                                <option *ngFor="let role_val of roles" [value]="role_val.id"> {{
                                                    role_val.name }}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="submitted && f.role.errors">
                                                <div *ngIf="f.role.errors.required">Role is required</div>
                                            </div>
                                        </div>

                                    </div> -->

                                    <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="email">Email <span class="text-danger">*</span></label>
                                          <input type="email" formControlName="email" class="form-control" id="email"
                                                 placeholder="Enter Email"/>
                                          <div class="invalid-feedback" *ngIf="submitted && f.email.errors">
                                              <div *ngIf="f.email.errors.required">Email is required</div>
                                          </div>
                                      </div>
                                  </div> 
                                  
                                  <div class="col-md-6">

                                  <div class="form-group">
                                    <label for="password">Password <span *ngIf="id == 0" class="text-danger">*</span> 
                                     <!-- <button class="btn btn-defaul" type="button" (click)="hideShowPass = hideShowPass ? false : true"> -->
                                        <i (click)="hideShowPass = hideShowPass ? false : true" [ngClass]="hideShowPass ? 'peye fa fa-eye-slash' : 'peye fa fa-eye'"></i>
                                       <!-- </button>  -->
                                    </label>
                                    <input [type]="hideShowPass ? 'text' : 'password'" formControlName="password" class="form-control" maxlength="30" id="password" placeholder="Enter Password"/>
                                    <div class="invalid-feedback" *ngIf="submitted && f.password.errors">
                                      <div *ngIf="f.password.errors.required">Password is required</div>
                                      <div *ngIf="f.password.errors.pattern">Password must be 1 upper case, 1 lower case and 1 special char min 8 char.</div>
                                    </div>
                                  </div>
                              </div>
                                </div>


                             


                                <!-- <div class="row">
                                   
                                 
                                </div> -->

                               
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" [disabled]="adminLoader" class="btn btn-primary">
                                    <span *ngIf="adminLoader" class="spinner-border spinner-border-sm" role="status"
                                          aria-hidden="true"></span> Submit
                                </button>
                                &nbsp;
                                <a routerLink="/super-admin/{{editType == 0? 'admins' : 'profile/'+id}}" class="btn btn-warning"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>
            <!-- /.row -->

            

        </div><!-- /.container-fluid -->
    </section>


</div>
