<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Losing" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Losing</h3>
                <ng-container *ngIf = "this.permissionService.checkPermission('losing_bonus','C')">
                  <a class="btn btn-success f-right" routerLink="/bonus/losing/0"> Create New </a>
                </ng-container>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Code</th>
                      <th>Currency</th>
                      <th>Enabled</th>
                      <th>Valid From</th>
                      <th>Valid Upto</th>	
                      <th>Promotion Title</th>	
                      <th>Actions</th>	
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let deposite of losings | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                      
                      <td> {{ deposite.id || 'NA' }} </td>
                      <td> {{ deposite.code || 'NA' }} </td>
                      <td> {{ deposite.currency_name || 'NA' }} </td>
                      <!-- <td> <span [ngClass]="deposite?.enabled ? 'text-success':'text-danger'">
                        {{ deposite?.enabled ? 'Yes' : 'No' }}
                       </span> </td> -->
                       <td> 
                        <span [ngClass]="deposite.enabled ? 'text-success':'text-danger'">
                          {{ deposite.enabled ? 'Enabled' : 'Disabled' }}
                        </span>

                        </td>
                      <td> {{ deposite.valid_from | date: 'dd-MM-YYYY' || 'NA' }} </td>
                      <td> {{ deposite.valid_upto | date: 'dd-MM-YYYY' || 'NA' }} </td>
                      <td> {{ deposite.promotion_title }} </td>
                      <td>
                        <ng-container *ngIf = "this.permissionService.checkPermission('losing_bonus','U')">
                          <a *ngIf="deposite.total_used == 0" class="btn btn-warning fnt-12" [routerLink]="['/bonus/losing', deposite.id]"> <i class="fa fa-edit"></i> </a>
                          &nbsp;
                        </ng-container>
                          <button type="button" (click)="selectDeposite(deposite)" class="btn btn-info fnt-12" data-toggle="modal" data-target="#modal-details"> <i class="fa fa-eye"></i> </button>
                          &nbsp;
                        <ng-container *ngIf = "this.permissionService.checkPermission('losing_bonus','D')">
                          <button *ngIf="deposite.total_used == 0" type="button" (click)="deleteDeposite(deposite)" class="btn btn-danger fnt-12" > <i class="fa fa-trash"></i> </button>
                          &nbsp;
                        </ng-container>
                        <ng-container *ngIf = "this.permissionService.checkPermission('losing_bonus','T')">
                          <ng-container *ngIf="deposite.enabled; else activeJoin">
                            <button type="button" (click)="changeJoinStatua(deposite, true)" class="btn btn-danger fnt-12" > <i class="fa fa-remove"></i></button>
                          </ng-container>
                          <ng-template #activeJoin>
                            <button type="button" (click)="changeJoinStatua(deposite, false)" class="btn btn-success fnt-12" > <i class="fa fa-check"></i></button>
                          </ng-template>
                        </ng-container>
                      </td>
                      
                    </tr>
                    <tr *ngIf="losings && losings.length === 0"> <td colspan="8" class="tnodata"> No Losing Found </td> </tr>
                  </tbody>
                </table>
              </div>
              </div>
              
              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  

  <div class="modal fade" id="modal-details" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Losing </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

          <table class="table table-bordered">
            <tbody>

              <tr>
                <th>Id</th>
                <td> {{ deposite?.id }} </td>
              </tr>
              <tr>
                  <th>Code</th>
                  <td> {{ deposite?.code }} </td>
              </tr>
              <tr>
                  <th>Vip Levels</th>
                  <td> {{ getVipLvps(deposite?.vip_levels) }} </td>
              </tr>
              <tr>
                  <th>Enabled</th>
                  <td> 
                      <span [ngClass]="deposite?.enabled ? 'text-success':'text-danger'">
                      {{ deposite?.enabled ? 'Yes' : 'No' }}
                      </span>
                  </td>
              </tr>
              <tr>
                  <th>Campaign Start At</th>
                  <td> {{ deposite?.valid_from }} </td>
              </tr>
              <tr>
                  <th>Campaign End At</th>
                  <td> {{ deposite?.valid_upto }} </td>
              </tr>
              <tr>
                  <th>Claim Days</th>
                  <td> {{ deposite?.claim_days }} </td>
              </tr>
              <tr>
                  <th>Promotion Title</th>
                  <td> {{ deposite?.promotion_title }} </td>
              </tr>
              <!-- <tr>
                  <th>Percentage</th>
                  <td> {{ deposite?.losing_percentage }} </td>
              </tr>
              <tr>
                  <th>Minimum Losing Amount</th>
                  <td> {{ deposite?.min_losing_amount }} </td>
              </tr> -->
              <tr>
                  <th>Promotion Image</th>
                  <td> <img [src]="deposite?.image" width="100"/> </td>
              </tr>
              <tr>
                  <th>Currency</th>
                  <td> {{ deposite?.currency_name }} </td>
              </tr>
            </tbody>
          </table>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Minimum Losing Amount</th>
                  <th>Percentage</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let deposite of losing_bonus_tier">
                  
                  <td> {{ deposite.min_losing_amount || 'NA' }} </td>
                  <td> {{ deposite.percentage || 'NA' }} </td>
                </tr>
                <tr *ngIf="losing_bonus_tier && losing_bonus_tier.length === 0"> <td colspan="8" class="tnodata"> No Data Found </td> </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>

