<ng-container
*ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">
  <section class="content">
    <div class="card">

      <!-- /.card-header -->

      <div class="card-body">
        <div class="row">

          <ng-container
            *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">

            <div class="col-md-4">
              <div class="form-group">
                <label for="tenant_id">Tenant</label>
                <select class="form-control" id="tenant_id" [(ngModel)]="params.tenant_id">
                  <option
                    *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0"
                    value="0">All Tenants</option>
                  <option *ngFor="let tenants of tenantsList" [value]="tenants.id">{{tenants.name}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-4 mb-2">
              <button [disabled]="!loadDataBool" type="button" class="mgt btn btn-success mr-1" (click)="searchButton()"> <i
                class="fa fa-search"></i> Search </button>
              &nbsp;

              <button [disabled]="!loadDataBool" type="button" class="mgt btn btn-warning mr-1" (click)="resetFilter()"> Reset
                Filter </button>
              &nbsp;
              <button [disabled]="!loadDataBool" type="button" class="mgt btn btn-default" (click)="searchButton()"> <i
                  class="fa fa-refresh"></i>
              </button>
            </div>

          </ng-container>
        </div>
      </div>

    </div>
  </section>
</ng-container>

<ng-container *ngIf="this.service._playerBalance$.value; else empty">

  <div class="row">
    <div class="col-md-12">
      <h5><b>User Balance Info</b></h5>
    </div>

    <div class="col-md-6">
      <div class="card">

        <div class="card-header">
          <h3 class="card-title">Current Real balance</h3>
        </div>


        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let dep of user_balance?.data">
                      <th>{{ dep.name }}:</th>
                      <td>{{ dep.real_balance }}</td>
                      <td
                        *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                        (EUR {{ dep.eur_real }}) </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>

        <div class="card-footer"
          *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
          <div class="row">
            <div class="col-sm-12 col-12">
              <div class="description-block border-right">
                <h3 class="f-left"> EUR {{ user_balance?.eur_real_total }} </h3>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <div class="card">

        <div class="card-header">
          <h3 class="card-title">Current Bonus Balance</h3>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                <h3 class="f-left"> {{ user_balance?.bonus_total }} </h3>
                <!-- <table class="table">
                  <tbody> -->
                  
                    <!-- <tr *ngFor="let dep of user_balance?.data">
                      <th>{{ dep.name }}:</th>
                      <td>{{ dep.bonus_balance }}</td>
                      <td
                        *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                        (EUR {{ dep.eur_bonus }}) </td>
                    </tr> -->
                  <!-- </tbody>
                </table> -->
              </div>

            </div>
          </div>
        </div>

        <div class="card-footer"
          *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
          <div class="row">
            <div class="col-sm-12 col-12">
              <div class="description-block border-right">
                <!-- <h3 class="f-left"> EUR {{ user_balance?.eur_bonus_total }} </h3> -->
                <!-- <h5 class="description-header"> {{ user_balance?.eur_bonus_total }} </h5>
                        <span class="description-text">EUR</span> -->
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>
  </div>
</ng-container>

<ng-template #empty>
  <ng-container *ngIf="loadDataBool else chartLoader">
    <div style="min-height: 500px;"></div>
  </ng-container>
</ng-template>

<ng-template #chartLoader>

  <img class="chart-loader" src="./assets/dist/gif/loader.gif" />

</ng-template>