<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Menu Master" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Menus</h3>
              <!--<a class="btn btn-success f-right fnt-12" routerLink="/super-admin/menu/0"> Create New </a>-->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">ID</th>
                    <th>Name</th>
                    <!--<th>Path</th>-->
                     <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let menuRecord of menu | paginate: { itemsPerPage: 10, currentPage: p }">

                    <td> {{ menuRecord.id }} </td>
                    <td> {{ menuRecord.name }} </td>
                    <!--<td> {{ menuRecord.path }} </td>-->
                    <td>
                        <span class="text-danger" *ngIf="!menuRecord.active">Disable</span>
                        <span class="text-success" *ngIf="menuRecord.active"> Active</span>
                    </td>

                    <td>
                      <button data-toggle="modal" data-target="#modal-provider" (click)="setMenuId(menuRecord)"  class="fnt-12 btn btn-info"> <i class="fa fa-upload"></i> </button>
                      <!-- <button data-toggle="modal" data-target="#ImageModal" class="btn btn-info fnt-12" data-toggle="tooltip" data-placement="top" title="Upload Icon" > <i class="fa fa-upload"></i>
                      </button> -->
                    </td>
                  </tr>
                  <tr *ngIf="menu && menu.length === 0"> <td colspan="6" class="tnodata"> No Currencies Found </td> </tr>

                </tbody>
              </table>
            </div>
              Note: <strong>On every update on menu items by Superadmin, Admin has to arrange the order at least for once.</strong>
            </div>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<div class="modal fade" id="modal-provider" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Upload image <span class="text-danger">*</span></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <form [formGroup]="imageForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          
          <div class="form-group">
            <label for="exampleInputFile">Image <span 
              class="text-danger">*</span></label>
            <div class="input-group">
              <div class="custom-file">
                <input (change)="selectImage(file.files)" #file formControlName="image"
                  accept="svg+xml/png/jpg/jpeg" type="file" class="custom-file-input"
                  id="exampleInputFile">
                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
              </div>

            </div>
            <div class="invalid-feedback" *ngIf="submitted && f.image.errors">
              <div *ngIf="f.image.errors.required">File is required</div>
                <div *ngIf="f.image.errors?.dimension">
                  Icon should be less then 30 x 30 size
                </div>
            </div>
            <!-- <a *ngIf="bannerId > 0" [href]="banner?.image_url" target="_blank"><span class="text-success">View
                here</span></a> -->
            <div class="col-md-12" *ngIf="imgURL">
              <img [src]="imgURL" class="imshow" />
            </div>
          </div>
              
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="menuLoader" class="btn btn-primary">
                <span *ngIf="menuLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Save changes </button>
            </div>

          </form>

    </div>
  </div>
</div>
