<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Sport Player Revenue Report" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                  <div class="pull-left">
                      <h3 class="card-title">Sport Player Revenue Report Filter</h3>
                  </div>
                  <div class="pull-right">
                      <div class="">

                          <ng-container *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">

                              <select  select2 id="tenant_id" (onSelect)="tenantFilter($event)" [(ngModel)]="params.tenant_id" style="width: 325px;" data-placeholder="Select Tenant">
                                  <!--<option value="">Select Tenant</option>-->
                                  <option *ngFor="let tenants of tenantsList" [value]="tenants.id">{{tenants.name}}</option>
                              </select><span>&nbsp;</span>
                              <select  class="select2custom" select2 id="owner_id" (onSelect)="filterSelectOwner($event)" [(ngModel)]="params.owner_id" style="width: 325px" data-placeholder="Select Owner">
                                  <option value="">Select Owner</option>
                                  <option *ngFor="let tenants of tenantsOwnerList let i = index " [attr.selected]="!i"  [value]="tenants.id">{{tenants.agent_name}}</option>
                              </select><span>&nbsp;</span>

                          </ng-container>

                          <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" [(ngModel)]="params.time_zone" style="width: 325px;" data-placeholder="Select Time Zone">
                              <option value="">Select Time Zone</option>
                              <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                              <option *ngFor="let zone of TIMEZONE" [value]="zone.value">{{zone.name}}</option>
                          </select>
                      </div>
                  </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
  
                <div class="row">


                  <div class="col-md-2">
                    <div class="form-group">
                      <input type="text" class="form-control" id="search" (keyup)="searchFilter($event)" [(ngModel)]="params.search" placeholder="Search User Name"/>
                    </div>
                  </div>
                  

                    <div class="col-md-2">
                    <div class="form-group">
                      <select class="form-control" id="player_type" (change)="filter($event)" [(ngModel)]="params.player_type">
                      <option value="">Select Player Type</option>
                      <option value="all">All Organization Players</option>
                      <option value="direct">Only Direct Players</option>
                    </select>
                    </div>
                  </div>

                  <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" select2 id="agent_id"  title="Select Agent" (onSelect)="filterSelectAgent($event)" [(ngModel)]="params.agent_id" data-placeholder="Select Agent">
                                <option value="">Select Agent</option>
                                <option *ngFor="let adminUser of userList" [value]="adminUser.id"> {{adminUser.first_name}}</option>
                            </select>
                        </div>
                    </div>
                  </ng-container>


                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" title="Select Currency" data-placeholder="Select Currency"
                                    id="currency" (change)="filter($event.target)" [(ngModel)]="params.currency">
                                <option value="">Select Currency</option>
                                <option *ngFor="let currency of currencies" [value]="currency.code"> {{ currency.code }} </option>
                            </select>
                        </div>
                    </div>

                    <!--<div class="col-md-2" >
                        <div class="form-group">
                            <select class="form-control" id="game_provider" (change)="filter($event)"
                                    [(ngModel)]="params.game_provider"
                                    data-placeholder="Select Provider"
                            >
                                <option value="">Select Provider</option>
                                <option *ngFor="let game of gameProvider" [value]="game.key"> {{ game.key }} </option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-2" *ngIf="params.game_provider">
                        <div class="form-group">
                            <select class="form-control" id="game_type" (change)="filter($event)"
                                    data-placeholder="Select Game Type"
                                    [(ngModel)]="params.game_type">
                                <option value="">Select Game Type</option>
                                <option *ngFor="let game of gameType" [value]="game.key"> {{ game.name }} </option>
                            </select>
                        </div>
                    </div>-->

                  <div class="col-md-2">
                    <div class="form-group">
                      <select class="form-control" id="time_date_period" (change)="filter($event,true)" [(ngModel)]="params.time_type">
                        <option disabled value="">Select Time Period</option>
                        <option value="today">Today</option>
                        <option value="yesterday">Yesterday</option>
                        <option value="weekly">This Week</option>
                        <option value="monthly">This Month</option>
                        <!-- <option value="yearly">This Year</option> -->
                        <option value="custom">Custom Date</option>
                    </select>
                    </div>
                  </div>

                <div class="col-md-2" *ngIf="params.time_type == 'custom'">
                    <div class="form-group">
                        <input autocomplete="off" readonly  data-placeholder="Search Time Period" placeholder="Search Time Period" title="Search Time Period" type="text"
                                class="form-control float-right" id="time_period" [format]="format" daterange_picker (onSelect)="selectDateRange($event)" />
                    </div>
                </div>

<!--
                <div class="col-md-2" *ngIf="customDate">
                    <div class="form-group">
                        <input autocomplete="off" data-placeholder="Search Time Period" placeholder="Search Time Period" type="text" class="form-control float-right" id="time_date_period" [format]="format" daterange_picker (onSelect)="selectDateRange($event)" />
                    </div>
                </div> 

                  <div class="col-md-2">
                    <div class="form-group">
                      <select class="form-control" id="size" (change)="filter($event)" [(ngModel)]="params.size">
                        <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                    </select>
                    </div>
                  </div>
                  -->
                  <div class="col-md-4" id="dbuttons">
                    <button [disabled] = "!repLoader" type="button" class="mgt btn btn-success mt-0" (click)="submitFilter()"><i class="fa fa-search"></i> Search</button>
                    <button [disabled] = "!repLoader" type="button" class="mgt btn btn-warning mt-0 ml-2" (click)="resetFilter()"> Reset Filter </button>
                    <button [disabled] = "!repLoader" type="button" class="mgt btn btn-default mt-0 ml-2 mr-2" (click)="getReport()"> <i class="fa fa-refresh"></i> </button>
                    <!-- <button type="button" class="mgt btn btn-info mt-0" (click)="download()"> Export as CSV </button> -->
                  </div>
                  
                </div>

                <h5>Total Bet(in EUR): <span [ngStyle]="{'color': totalBet < 0 ? 'red' : '' }"> {{ totalBet | number: '1.2-2' }} </span> </h5>
                <h5>Total Win(in EUR): <span [ngStyle]="{'color': totalWin < 0 ? 'red' : '' }">  {{ totalWin | number: '1.2-2' }} </span> </h5>
  
              </div>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card" *ngIf="repLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">Sport Player Revenue Report</h3>
                  <div class="pull-right" *ngIf="zone"> Time Zone- {{zone}}</div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                  <div class="table-responsive" *ngIf="firstTimeApiCall && reports && reports.length != 0">
                      <table datatable [params]="dataTableParams" id="example1" class="table table-bordered">
                          <thead>
                          <tr>
                              <th> Player Name</th>
                              <th>Currency</th>
                              <th>Agent Name</th>
                              <th>Bet</th>
                               <th>Bet in EUR</th>
                              <th>Win</th>
                              <th>Win in EUR</th>
                              <th>GGR</th>
                              <th>GGR in EUR</th>
                              <th>Bonus</th>
                              <th>Bonus in EUR</th>
                              <th>NGR(GGR-Bonus)</th>
                              <th>NGR(GGR-Bonus) in EUR</th> 
                              <!--<th>Total Deposit</th>
                              <th>Total Withdraws</th> -->

                          </tr>
                          </thead>
                          <tbody>

                            <tr *ngFor="let transaction of reports">

                              <td>
                                  <a href="javascript:void(0);" (click)="searchPlayer(transaction)">
                                      {{ transaction.key.split('-') && transaction.key.split('-')[0]}}
                                  </a>
                              </td>
                              <td> {{ transaction.key.split('-') && transaction.key.split('-')[1]}}</td>
                              <td>
                                  <a href="javascript:void(0);" (click)="searchAgent(transaction)">
                                      {{ transaction.key.split('-') && transaction.key.split('-')[2]}}
                                  </a>
                              </td>
                              <td [ngStyle]="{'color': transaction.bet.bet_amount.value < 0 ? 'red' : '' }">
                                  {{ transaction.bet.bet_amount.value | number: '1.2-2'}}
                              </td>
                              <td [ngStyle]="{'color': transaction.bet.bet_amount_in_EUR.value < 0 ? 'red' : '' }">
                                  {{ transaction.bet.bet_amount_in_EUR.value | number: '1.2-2'}}
                              </td>
                              <td [ngStyle]="{'color': transaction.win.win_amount.value < 0 ? 'red' : '' }">
                                  {{ transaction.win.win_amount.value | number: '1.2-2'}}
                              </td>
                               <td [ngStyle]="{'color': transaction.win.win_amount_in_EUR.value < 0 ? 'red' : '' }">
                                  {{ transaction.win.win_amount_in_EUR.value | number: '1.2-2'}}
                              </td>
                              <td [ngStyle]="{'color': transaction.ggr.value < 0 ? 'red' : '' }">
                                  {{ transaction.ggr.value | number: '1.2-2'}}
                              </td>
                              <td [ngStyle]="{'color': transaction.ggr_in_EUR.value < 0 ? 'red' : '' }">
                                 {{ transaction.ggr_in_EUR.value | number: '1.2-2'}}
                              </td>
                              <td [ngStyle]="{'color': transaction.final_bonus.value < 0 ? 'red' : '' }">
                                  {{ transaction.final_bonus.value | number: '1.2-2' }}
                              </td>
                               <td [ngStyle]="{'color': transaction.final_bonus_in_EUR.value < 0 ? 'red' : '' }">
                                  {{ transaction.final_bonus_in_EUR.value | number: '1.2-2'}}
                              </td>
                              <td [ngStyle]="{'color': transaction.ngr.value < 0 ? 'red' : '' }"> {{
                                  transaction.ngr.value | number: '1.2-2' }}
                              </td>
                              <td [ngStyle]="{'color': transaction.ngr_in_EUR.value < 0 ? 'red' : '' }">
                               {{ transaction.ngr_in_EUR.value | number: '1.2-2'}}
                              </td>
                                <!--  <td [ngStyle]="{'color': transaction.deposit.deposit_amount.value < 0 ? 'red' : '' }">
                                    {{ transaction.deposit.deposit_amount.value | number: '1.2-2' || '--' }}
                                </td>
                                <td [ngStyle]="{'color': transaction.final_withdraw.value < 0 ? 'red' : '' }"> {{
                                    transaction.final_withdraw.value | number: '1.2-2' || '--' }}
                                </td> -->

                          </tr>
                          <tr *ngIf="reports && reports.length === 0">
                              <td colspan="6" class="tnodata"> No Sport Player Reports Found</td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="table-responsive" *ngIf="firstTimeApiCall && reports && reports.length === 0">
                      <table  class="table table-bordered">
                          <thead>
                          <tr>
                              <th> Player Name</th>
                              <th>Currency</th>
                              <th>Agent Name</th>
                              <th>Bet</th>
                              <th>Win</th>
                              <!-- <th>GGR</th> -->
                              <!--<th>Bonus</th>-->
                              <!-- <th>NGR(GGR-Bonus)</th> -->
                              <!--<th>Total Deposit</th>-->
                              <!--<th>Total Withdraws</th>-->
                              <!-- <th>Action By</th> -->
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngIf="reports && reports.length === 0">
                              <td colspan="6" class="tnodata"> No Sport Player Reports Found</td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="table-responsive" *ngIf="!firstTimeApiCall">
                    <table  class="table table-bordered">
                        <thead>
                        <tr>
                            <th> Player Name</th>
                            <th>Currency</th>
                            <th>Agent Name</th>
                            <th>Bet</th>
                            <th>Win</th>
                            <!-- <th>GGR</th> -->
                            <!--<th>Bonus</th>-->
                            <!-- <th>NGR(GGR-Bonus)</th> -->
                            <!--<th>Total Deposit</th>-->
                            <!--<th>Total Withdraws</th>-->
                            <!-- <th>Action By</th> -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="6" class="tnodata"> Click Search to Load Data</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              
              <!-- <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls> -->
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  

    <ng-template #loader>

    <img class="chart-loader" style="width:20" src="./assets/dist/gif/loader.gif"/>

  </ng-template>

<!--

total_bet_in_primary_currency    =    total_bets_in_EUR.bet_amount.value
total_refund_in_primary_currency =total_refund_in_EUR.refund_amount.value
total_win_in_primary_currency =       total_wins_in_EUR.win_amount.value
total_bonus_claim_in_primary_currency=total_bonus_withdraw_in_EUR.bonus_withdraw_amount
total_bonus_withdraw_in_primary_currency= total_bonus_withdraw_in_EUR.bonus_withdraw_amount.value


total_ggr_in_primary_currency = total_bet_in_primary_currency - total_refund_in_primary_currency - total_win_in_primary_currency
total_ngr_in_primary_currency = @total_ggr_in_primary_currency - total_bonus_claim_in_primary_currency + total_bonus_withdraw_in_primary_currency-->
