<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Bonus Status Per Player Report" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card" >
              <div class="card-header">
                  <div class="pull-left">
                      <h3 class="card-title">Bonus Status Per Player Report Filter</h3>
                  </div>
                  <div class="pull-right">
                      <div class="">

                          <ng-container *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">

                              <select  select2 id="tenant_id" (onSelect)="tenantFilter($event)" [(ngModel)]="params.tenant_id" style="width: 325px;" data-placeholder="Select Tenant">
                                  <option [value]="0">All Tenants</option>
                                  <option *ngFor="let tenants of tenantsList" [value]="tenants.id">{{tenants.name}}</option>
                              </select><span>&nbsp;</span>
                              <span *ngIf="hideShow">
                              <select  class="select2custom" select2 id="owner_id" (onSelect)="filterSelectOwner($event)" [(ngModel)]="params.owner_id" style="width: 325px" data-placeholder="Select Owner">
                                  <!-- <option value="">Select Owner</option> -->
                                  <option *ngFor="let tenants of tenantsOwnerList let i = index " [attr.selected]="!i"  [value]="tenants.id">{{tenants.agent_name}}</option>
                              </select><span>&nbsp;</span>
                              </span>

                          </ng-container>

                          <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;" data-placeholder="Select Time Zone">
                            <option value="">Select Time Zone</option>
                              <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                              <option *ngFor="let zone of TIMEZONE" [value]="zone.zonename">{{zone.name}}</option>
                          </select>
                      </div>
                  </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
  
                <div class="row">

                  <div class="col-md-2">
                    <div class="form-group">
                      <!--<label for="search">Search</label>-->
                      <input type="text" class="form-control" id="search" (keyup)="filter($event)" [(ngModel)]="params.search" placeholder="Search ID / Player Name / Phone"/>
                    </div>
                  </div>

                  <div class="col-md-2" *ngIf="false">
                    <div class="form-group">
                      <!--<label for="player_type">Player Type</label>-->
                      <select class="form-control" id="player_type" (change)="filter($event)" [(ngModel)]="params.player_type">
                      <option value="">Select Player Type</option>
                      <option value="all">All Organization Players</option>
                      <option value="direct">Only Direct Players</option>
                    </select>
                    </div>
                  </div>
                  <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
                    <div class="col-md-2" *ngIf="hideShow">
                        <div class="form-group">
                            <select class="form-control" select2 id="agent_id"  title="Select Agent" (onSelect)="filterSelectAgent($event)" [(ngModel)]="params.agent_id" data-placeholder="Select Agent">
                                <!-- <option value="">Select Agent</option> -->
                                <option *ngFor="let adminUser of userList" [value]="adminUser.id">{{adminUser.first_name}} </option>
                            </select>
                        </div>
                    </div>
                  </ng-container>

                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" title="Select Currency" data-placeholder="Select Currency"
                                    id="currency" (change)="filter($event.target)" [(ngModel)]="params.currency">
                                <option value="">Select Currency</option>
                                <option *ngFor="let currency of currencies" [value]="currency.code"> {{ currency.code }} </option>
                            </select>
                        </div>
                    </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <!--<label for="time_period">Time Period</label>-->
                      <select class="form-control" id="time_date_period" (change)="filter($event,true)" [(ngModel)]="params.time_type">
                      <option disabled value="">Select Time Period</option>
                      <option value="today">Today</option>
                      <option value="yesterday">Yesterday</option>
                      <option value="weekly">This Week</option>
                      <option value="monthly">This Month</option>
                      <!-- <option value="yearly">This Year</option> -->
                      <option value="custom">Custom Date</option>
                    </select>
                    </div>
                  </div>
                    <div class="col-md-2" *ngIf="params.time_type=='custom'">
                        <div class="form-group">
                            <input autocomplete="off" readonly data-placeholder="Search Time Period" placeholder="Search Time Period" type="text" class="form-control float-right" id="time_period" [format]="format" daterangetime_picker (onSelect)="selectDateRange($event)" />
                        </div>
                    </div>


                  <!--<div class="col-md-2">
                    <div class="form-group">
                      &lt;!&ndash;<label for="size">Size</label>&ndash;&gt;
                      <select class="form-control" id="size" (change)="filter($event)" [(ngModel)]="params.size">
                        <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                    </select>
                    </div>
                  </div>-->
                  
                  <div class="col-md-3" id="dbuttons">
                    <button [disabled] = "!repLoader" type="button" class="mgt btn btn-success mt-0" (click)="submitFilter()"><i class="fa fa-search"></i> Search</button>
                    <button [disabled] = "!repLoader" type="button" class="mgt btn btn-warning mt-0 ml-2" (click)="resetFilter()"> Reset Filter </button>
                      <button [disabled] = "!repLoader" type="button" class="mgt btn btn-default mt-0 ml-2" (click)="getReport()"> <i class="fa fa-refresh"></i> </button>
                    &nbsp;
                    <!--<button type="button" class="mgt btn btn-info mt-0" (click)="download()"> Export as CSV </button>-->
                  </div>
                  
                </div>

                <h5>Total Bonus Claimed: {{total_bonus_claimed | number :'1.0-2'}}</h5>
                <h5>Total Unconverted Active Deposit: {{total_unconverted_active_deposit | number :'1.0-2'}}</h5>
                <h5>Total Active Deposit Bonus Remaining Rollover: {{total_active_deposit_bonus_remaining_rollover | number :'1.0-2'}}</h5>
                <h5>Total Player commission Received Bonus : {{total_commission_received_bonus | number :'1.0-2'}}</h5>

              </div>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card" *ngIf="repLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">Bonus Status Per Player Report</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body" >
                  <div class="table-responsive" *ngIf="firstTimeApiCall && reports && reports.length > 0">
                        <table datatable [params]="dataTableParams" id="example1" class="table table-bordered">
                  <thead>

                    <tr>
                        <th >Player ID </th>
                        <th>Player Name  </th>
                        <!-- <th>Currency   </th> -->
                        <th>Agent Name  </th>
                        <th>Deposit Bonus Claimed   </th>
                        <th>Losing Bonus Claimed   </th>
                        <th>Total Non Cash By Admin  </th>
                        <th>Total Bonus Claimed  </th>
                        <th>Unconverted Active Deposit Bonus   </th>
                        <th>Active Deposit Bonus Remaining Rollover  </th>
                        <th>Commission Received Bonus  </th>

                    </tr>
                  </thead>
                  <tbody>
                    <!--<tr *ngFor="let transaction of reports | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">-->
                    <tr *ngFor="let transaction of reports">

                      <td> {{ transaction.player_id.value || '-' }} </td>
                      <td>

                            <span *ngFor="let source of transaction.top.hits.hits">
                                <a href="javascript:void(0);" (click)="searchPlayer(source._source.player_details.player_name)">
                                {{source._source.player_details.player_name ||'-'}}
                                </a>
                            </span>
                      </td>
                      <!-- <td>
                           <span *ngFor="let source of transaction.top.hits.hits">
                                {{source._source.player_details.currency ||'-'}}
                            </span>
                      </td> -->
                        <td>
                           <span *ngFor="let source of transaction.top.hits.hits">
                                {{source._source.player_details.agent_name }}
                           </span>
                        </td>
                      <td> {{ transaction.deposit_bonus_claimed.total.value | number:'1.2-2' ||'0'}} </td>
                      <td> {{ transaction.non_cash_bonus_claimed.total.value | number:'1.2-2' ||'0' }} </td>
                      <td> {{ transaction.total_non_cash_by_admin.value | number:'1.2-2' ||'0'}} </td>
                      <td> {{ transaction.total_bonus_claimed.value | number:'1.2-2' ||'0' }} </td>
                      <td> {{ transaction.active_deposit_bonus.unconverted_total.value | number:'1.2-2' ||'0'}} </td>
                      <td> {{ transaction.active_deposit_bonus.remaining_rollover_total.value | number:'1.2-2' ||'0' }} </td>
                      <td> {{ transaction.non_cash_player_commission.total.value | number:'1.2-2' ||'0' }} </td>

                    </tr>
                    <tr *ngIf="reports && reports.length === 0"> <td colspan="11" class="tnodata"> No Player Reports Found </td> </tr>
                  </tbody>
                </table>
                  </div>

                <div *ngIf="firstTimeApiCall && reports && reports.length === 0">

                  <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>

                            <tr>
                                <th >Player ID </th>
                                <th>Player Name  </th>
                                <!-- <th>Currency   </th> -->
                                <th>Agent Name  </th>
                                <th>Deposit Bonus Claimed   </th>
                                <th>Losing Bonus Claimed   </th>
                                <th>Total Non Cash By Admin  </th>
                                <th>Total Bonus Claimed  </th>
                                <th>Unconverted Active Deposit Bonus   </th>
                                <th>Active Deposit Bonus Remaining Rollover  </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="reports && reports.length === 0"> <td colspan="11" class="tnodata"> No Player Reports Found </td> </tr>
                            </tbody>
                        </table>
                      </div>
                </div>
                <div *ngIf="!firstTimeApiCall">

                  <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>

                            <tr>
                                <th >Player ID </th>
                                <th>Player Name  </th>
                                <!-- <th>Currency   </th> -->
                                <th>Agent Name  </th>
                                <th>Deposit Bonus Claimed   </th>
                                <th>Losing Bonus Claimed   </th>
                                <th>Total Non Cash By Admin  </th>
                                <th>Total Bonus Claimed  </th>
                                <th>Unconverted Active Deposit Bonus   </th>
                                <th>Active Deposit Bonus Remaining Rollover  </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr> <td colspan="11" class="tnodata"> Click Search to Load Data </td> </tr>
                            </tbody>
                        </table>
                      </div>
                </div>
              </div>
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
<ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>

</ng-template>

