<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Bet Report" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="pull-left mt-2">
                  <h3 class="card-title">Bet Report Filter</h3>
                </div>
                <div class="pull-right" title="Click then Filter Record">
                  <button  (click)="setBetType('not_combo')" class="btn" [ngClass]="params.bet_type == 'not_combo' ? 'btn-success':'btn-default'" type="button"> Back </button> &nbsp;
                  <button (click)="setBetType('multibets')" class="btn" [ngClass]="params.bet_type == 'multibets' ? 'btn-success':'btn-default'" type="button"> Lay </button> &nbsp;
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

              <form #f="ngForm" novalidate>
                                  
                <div class="row">


                  <div class="col-md-2" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">
                    <div class="form-group">
                      <label for="sport_id">Tenant</label>
                      <select class="form-control" name="tenant_id" id="tenant_id" select2 (onSelect)="tenantFilter($event)" [(ngModel)]="params.tenant_id" data-placeholder="Select Tenant">
                      <!-- <option value="">All</option> -->
                      <option *ngFor="let tenant of allTenants" [value]="tenant.id">{{tenant.name}}</option>
                    </select>
                    </div>
                  </div> 

                  <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
                    <div class="col-md-2" *ngIf="isAgent && isSubAgentModuleAllowed">
                      <div class="form-group">
                        <label for="agent_id">Select Agent</label>
                        <select class="form-control" select2 id="agent_id"    title="Select Agent" (onSelect)="filterSelectAgent($event)" data-placeholder="Select Agent">
                          <option value="">Select Agent</option>
                          <ng-container *ngIf="userList && userList.length > 0"  >
                            <option *ngFor="let adminUser of userList" [value]="adminUser.id">{{adminUser.first_name}}</option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                  </ng-container>

                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="filter_date">Data Range</label>
	                    <input type="text" name="filter_date" readonly id="filter_date" autocomplete="off" [timePicker]="true" [format]="format" daterange_picker (onSelect)="selectDateRange($event)" placeholder="Search Data Range" class="form-control" />
                      </div>
                    </div>

                    <!-- <div class="col-md-2">
                      <div class="form-group">
                        <label for="bet_type">Bet Type</label>
                        <select class="form-control" id="bet_type" (change)="filter($event)" [(ngModel)]="params.bet_type">
                        <option value="not_combo">Single</option>
                        <option value="multibets">Multibet</option>
                        <option value="jackpot_bet">JackpotBet</option>
                      </select>
                      </div>
                    </div> -->

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="search">Search Bet ID</label>
                      <input type="text" name="search" class="form-control" id="search" (keyup)="filter($event)" [(ngModel)]="params.search" placeholder="Search Bet ID"/>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="sport_id">Sport</label>
                      <select class="form-control" name="sport_id" id="sport_id" select2 (onSelect)="sportFilter($event)" [(ngModel)]="params.sport_id" data-placeholder="Select Sport">
                      <option value="">All</option>
                      <option *ngFor="let sport of sports" [value]="sport.id">{{sport.name_en}}</option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="country">Region</label>
                      <select class="form-control" id="country" name="country" select2 (onSelect)="selectCountry($event)" [(ngModel)]="params.country" data-placeholder="Select Country">
                      <option value="">All</option>
                      <option *ngFor="let country of countries" [value]="country.id"> {{ country.name_en }} </option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="tournament_id">Tournament</label>
                      <select class="form-control" id="tournament_id" name="tournament_id" [placeholder]="'Search Tournament'" search_select2 [url]="searchLeaguesUrl" (onSelect)="selectTournament($event)" [(ngModel)]="params.tournament_id" data-placeholder="Select Tournament">
                      <option value="">All</option>
                      <option *ngFor="let league of leagues" [value]="league.id">{{ league.name_en }}</option>
                    </select>
                    </div>
                  </div>
                  
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="match_id">Match</label>
                      <select class="form-control" id="match_id" name="match_id" select2 (onSelect)="selectMatch($event)" [(ngModel)]="params.match_id" data-placeholder="Select Match">
                      <option value="">All</option>
                      <option *ngFor="let match of matches" [value]="match.id">{{ match.fixture_id }}</option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="stake_min_amt">Min Stake</label>
  	                  <input type="number" id="stake_min_amt" placeholder="Search Min Stake" class="form-control" min="1" [max]="stake_max_amt.value" name="stake_min_amt" (keyup)="formValidFilter($event)" #stake_min_amt="ngModel" [(ngModel)]="params.stake_min_amt" />
                      <div class="invalid-feedback" *ngIf="stake_min_amt.invalid"> Min Stake Amount must be less then or equal Max Stake Amount</div>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="stake_max_amt">Max Stake</label>
	                    <input type="number" id="stake_max_amt" placeholder="Search Max Stake" class="form-control" [min]="stake_min_amt.value || 1" name="stake_max_amt" (keyup)="formValidFilter($event)" #stake_max_amt="ngModel" [(ngModel)]="params.stake_max_amt" />
                      <div class="invalid-feedback" *ngIf="stake_max_amt.invalid"> Max Stake Amount must be greater than or equal Min Stake Amount</div>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="winning_min_amt">Min Winning</label>
                      <input type="number" id="winning_min_amt" placeholder="Search Min Stake" class="form-control" min="1" [max]="winning_max_amt.value" name="winning_min_amt" (keyup)="formValidFilter($event)" #winning_min_amt="ngModel" [(ngModel)]="params.winning_min_amt" />
                      <div class="invalid-feedback" *ngIf="winning_min_amt.invalid"> Min Win Amount must be less then or equal Max Win Amount</div>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="winning_max_amt">Max Winning</label>
                      <input type="number" id="winning_max_amt" placeholder="Search Max Stake" class="form-control" [min]="winning_min_amt.value || 1" name="winning_max_amt" (keyup)="formValidFilter($event)" #winning_max_amt="ngModel" [(ngModel)]="params.winning_max_amt" />
                      <div class="invalid-feedback" *ngIf="winning_max_amt.invalid"> Max Win Amount must be greater than or equal Min Win Amount</div>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="status">Status</label>
                      <select class="form-control" id="status" name="status" (change)="filter($event)" [(ngModel)]="params.status">
                        <option value="">All</option>
                        <option *ngFor="let status of allStatus" [value]="status.value"> {{ status.name }} </option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="size">Size</label>
                      <select class="form-control" id="size" name="size" (change)="filter($event)" [(ngModel)]="params.size">
                        <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                    </select>
                    </div>
                  </div>
                  
                  <div class="col-md-2">
                    <button type="button" class="mgt btn btn-success fnt-12" (click)="filter($event)"><i class="fa fa-search"></i> Search</button>
                    <button type="button" class="mgt btn btn-warning fnt-12 ml-2" (click)="resetFilter()"> Reset Filter </button>
                  </div>
                </div>
  
                </form>

              </div>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Bet Report</h3>
                <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small> Showing {{pageCurrentTotal}} to {{ pageNextTotal }} of {{total}} entries</small></span>

                <!--<span> (Total:- <strong>{{stake_sum|number:'1.2-3'}})</strong> - (Possible Win Amount:- <strong>{{possible_win_sum|number:'1.2-3'}})</strong> = Revenue: <strong  [ngClass]="{'text-danger': (stake_sum - possible_win_sum) < 0}" >{{(stake_sum - possible_win_sum)|number:'1.2-3'}}</strong></span>-->
                <ng-container *ngIf="this.permissionService.checkPermission('bet_report','export')">
                  <button type="button" class="btn btn-info f-right fnt-12" (click)="exportAsXLSX()"> CSV <i class="fa fa-download"></i> </button>
                </ng-container>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table id="dtable" class="table table-bordered">
                  <thead>
                    <tr>

                      <th>Bet ID <app-ordering-arrow [column]="'id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Created At <app-ordering-arrow [column]="'created_at'" [params]="params" (changeOrder)="setOrder($event)"></app-ordering-arrow></th>
                      <th>Email
                        <app-ordering-arrow [column]="'email'" [params]="params" (changeOrder)="setOrder($event)"></app-ordering-arrow>
                      </th>

                      <!-- <th *ngIf="params.bet_type === 'multibets'">Player Phones</th> -->
                      
                      <!-- <th> IP </th> -->

                      <th *ngIf="params.bet_type === 'not_combo'">Sport <app-ordering-arrow [column]="'sport'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th *ngIf="params.bet_type === 'not_combo'">Tournament <app-ordering-arrow [column]="'league'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th *ngIf="params.bet_type === 'not_combo'">Match <app-ordering-arrow [column]="'match'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th *ngIf="params.bet_type === 'not_combo'">Market name <app-ordering-arrow [column]="'market'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>

                      <!-- <th *ngIf="params.bet_type === 'multibets'">Market</th> -->

                      <th *ngIf="params.bet_type === 'multibets'">Event date <app-ordering-arrow [column]="'event_date'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      
                      <th *ngIf="params.bet_type === 'not_combo'">Outcome <app-ordering-arrow [column]="'outcome'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th *ngIf="params.bet_type === 'not_combo'">Schedule at <app-ordering-arrow [column]="'event_date'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Currency <app-ordering-arrow [column]="'currency_code'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>

                      <th>Stake <app-ordering-arrow [column]="'stake'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>	
                      <!--<th *ngIf="params.bet_type === 'not_combo'">Voucher Stake</th>	-->
                      
                      <th *ngIf="params.bet_type === 'not_combo'">Odds <app-ordering-arrow [column]="'odds'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th> 
                      <th *ngIf="params.bet_type === 'not_combo'">Total Stake </th>	
                      <th *ngIf="params.bet_type === 'multibets'">Overall Odds <app-ordering-arrow [column]="'overall_odds'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>	

                      <th *ngIf="params.bet_type === 'not_combo'">Posible Win Amount </th>	
                      <th *ngIf="params.bet_type === 'not_combo'">Winning </th>	
                      
                      <th>Status <app-ordering-arrow [column]="'status'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>	

                      <th *ngIf="params.bet_type === 'multibets'">Possible Win Amount </th>
                      <th *ngIf="params.bet_type === 'multibets'">Won Amount <app-ordering-arrow [column]="'win_amount'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th *ngIf="params.bet_type === 'multibets'">Action </th>
                      <!--<th >Revenue </th>-->

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let report of reports | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                      
                      <td> {{ report?.betslip?.bet?.bet_id || 'NA' }} </td>
                      <td> {{ report.created_at | date: 'dd-MM-YYYY HH:mm' || 'NA' }} </td>
                      <td> <a [routerLink]="(this.permissionService.checkPermission('players','R')) ? ['/players/details', report?.user?.id] : null" [queryParams]="(this.permissionService.checkPermission('players','R')) ? { tab: 'sport-betting', bet_report: 'bet_report' } : null" > {{ report.user?.email || 'NA' }} </a> </td>
                      
                      <!-- <td> {{ report.user?.sign_in_ip || 'NA' }} </td> -->

                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report?.betslip?.bet?.event?.sport?.name_en || 'NA' }} </td>
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report?.betslip?.bet?.event?.league?.name_en || 'NA' }} </td>
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report?.betslip?.bet?.match || 'NA' }} </td>
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report?.betslip?.bet?.market || 'NA' }} </td>

                      <!-- <td *ngIf="params.bet_type === 'multibets'"> {{ report?.betslip?.bet?.market || 'NA' }} </td> -->

                      <td *ngIf="params.bet_type === 'multibets'"> {{ report?.betslip?.bet?.start_date | date:'dd-MM-YYYY HH:mm' || 'EVENT DATE' }} </td>

                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report?.betslip?.bet?.name || 'NA' }} </td>
                      
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report?.betslip?.bet?.start_date | date:'dd-MM-YYYY HH:mm' || 'NA' }} </td>

                      <td> {{ report.user?.wallet?.currency?.code || 'NA' }} </td>

                      <td> {{ report?.betslip?.stake || 'NA' }} </td>

                      <!--<td *ngIf="params.bet_type === 'not_combo'"> {{ report.phone || 'Voucher Stake' }} </td>-->
                      
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report?.betslip?.bet?.price || 'NA' }} </td>
                      <!-- <td *ngIf="params.bet_type === 'not_combo'"> {{ report?.amount || 'Total stack' }} </td> -->
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ winningPrice(report?.betslip?.bet?.price , report?.betslip?.stake ) || 0 }} </td>
                      <td *ngIf="params.bet_type === 'multibets'"> {{ report?.betslip?.multi_price || 'NA' }} </td>
                      
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ !report?.betslip?.bet?.settlement_status ? winningPrice(report?.betslip?.bet?.price , report?.betslip?.stake ) : 0 }} </td>
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report?.betslip?.bet?.settlement_status == 2 ? winningPrice(report?.betslip?.bet?.price , report?.betslip?.stake ) : 0 }} </td>
                      
                      <td> {{ report?.betslip?.bet?.settlement_status | bet_settlement_status }} </td>
                      
                      <td *ngIf="params.bet_type === 'multibets'"> {{ !report?.betslip?.bet?.settlement_status ? (report?.betslip?.possible_win_amount | number: '1.2-2') : 0 }} </td>

                      <td *ngIf="params.bet_type === 'multibets'"> {{ report?.betslip?.bet?.settlement_status == 2 ? (report?.betslip?.possible_win_amount | number: '1.2-2') : 0 }} </td>
                      <td *ngIf="params.bet_type === 'multibets'"> <a (click)="selectReport(report)" href="javascript:void(0);" data-toggle="modal" data-target="#modal-details"> Details </a> </td>
                      <!--<td>-->
                        <!--<span [ngClass]="{'text-danger': getRevenue(report) < 0}">{{getRevenue(report) |number:'1.2-3'}}</span>-->
                      <!--</td>-->
                    </tr>

                    <tr *ngIf="reports && reports.length === 0"> <td [attr.colspan]="params.bet_type === 'not_combo' ? 17 : 12" class="tnodata"> No Bet Reports Found </td> </tr>

                  </tbody>
                </table>
                </div>
              </div>
              
              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  

  <div class="modal fade bd-example-modal-xl" id="modal-details" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Combination Information  </h4>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <small class="ml-2 mt-2"> Created At - {{ report?.created_at | date: 'dd-MM-YYYY HH:mm' || 'NA' }}  </small>
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
     
          <div class="row">
            
            <div class="col-md-12">

                <div class="card-body table-responsive">

                  <table class="table table-bordered">

                  <tr>
                    <th>Bet Settlement Id</th>
                    <td> {{ report?.betslip?.bet?.bet_id || 'NA' }} </td>
                    <th>Win Amount</th>
                    <td> {{ report?.betslip?.possible_win_amount || 'NA' }} </td>
                  </tr>

                    <tr>
                      <th>Stake</th>
                      <td> {{ report?.betslip?.stake || 'NA' }} </td>
                      <th>Status</th>
                      <td> {{ report?.betslip?.bet?.settlement_status | bet_settlement_status }} </td>
                    </tr>

                    <tr>
                      <th>Odds</th>
                      <td> {{ report?.betslip?.multi_price || 'NA' }} </td>
                      <th>Email</th>
                      <td>
                        <a data-dismiss="modal" [routerLink]="(this.permissionService.checkPermission('players','R')) ? ['/players/details', report?.user?.id] : null" [queryParams]="(this.permissionService.checkPermission('players','R')) ? { tab: 'sport-betting', bet_report: 'bet_report' } : null" > {{ report?.user?.email || 'NA' }} </a>
                    </tr>

                  </table>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="card-body">
            <div class="text-center"><strong> Bet Details </strong></div>

              <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Bet ID</th>
                    <th>Sport</th>
                    <th>Tournament</th>
                    <th>Match</th>
                    <th>Event date</th>
                    <th>Market</th>
                    <th>Outcome</th>
                    <th>Stake</th>
                    <th>Odds</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody *ngIf="report && report.betslip && report.betslip.bets && report.betslip.bets.length > 0">
                  <tr *ngFor="let bet of report.betslip.bets;">
                    <td> {{ bet.bet_id || 'NA' }} </td>
                    <td> {{ bet?.event?.sport?.name_en || 'NA' }} </td>
                    <td> {{ bet?.event?.league?.name_en || 'NA' }} </td>
                    <td> {{ bet?.match || 'NA' }} </td>
                    <td> {{ bet?.start_date | date:'dd-MM-YYYY HH:mm' || 'NA' }} </td>
                    <td> {{ bet?.market || 'NA' }} </td>
                    <td> {{ bet?.name || 'NA' }} </td>
                    <td> {{ report?.betslip?.stake || 'NA' }} </td>
                    <td> {{ bet?.price || 'NA' }} </td>
                    <td> {{ bet.settlement_status | bet_settlement_status }} </td>
                  </tr>
                  <tr *ngIf="report.betslip.bets.length === 0"> <td colspan="10" class="tnodata"> No Bets Found </td> </tr>
                </tbody>
              </table>

              </div>

            </div>

          </div>

          </div>
      </div>
    </div>
  </div>

