<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Reset Event" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->


    <section class="content">
        <div class="container-fluid">

          <div class="row">

            <div class="col-md-12">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> Reset Event </h3>
                </div>
                <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
                  <div class="card-body">
                    
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="fixture_id">Fixture Id <span class="text-danger">*</span></label>
                                <input type="text" formControlName="fixture_id" class="form-control" id="fixture_id" placeholder="Enter Fixture Id, seperated"/>
                                <div class="invalid-feedback" *ngIf="submitted && f.fixture_id.errors">
                                  <div *ngIf="f.fixture_id.errors.required">Fixture Id is required</div>
                                </div>
                              </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="status">Status <span class="text-danger">*</span></label>
                                <select class="form-control" formControlName="status" id="status">
                                  <option value=""> Select Status </option>
                                  <option *ngFor="let s of status" [value]="s.value"> {{ s.name }} </option>
                                </select>
                                <div class="invalid-feedback" *ngIf="submitted && f.status.errors">
                                  <div *ngIf="f.status.errors.required">Status Id is required</div>
                                </div>
                              </div>
                        </div>

                    </div>                    

                  </div>
  
                  <div class="card-footer">
                    <button type="submit" [disabled]="( ( resetEventTime < 15 ) ? true : false ) || eventLoader" class="btn btn-primary">
                      <span *ngIf="eventLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Reset Event </button>
                  </div>
                </form>
              </div>
            </div>

            <!-- <div class="col-md-12">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> Reset Event </h3>
                </div>
                  <div class="card-body">

                    <button type="submit" (click)="onSubmit()" [disabled]="( ( resetEventTime < 15 ) ? true : false ) || eventLoader" class="btn btn-primary">
                      <span *ngIf="eventLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Reset Event</button>
                  </div>
  
              </div>
            </div> -->

          </div>
          <!-- /.row -->

        </div><!-- /.container-fluid -->
      </section>


  </div>
