.btnCommon{
  margin-bottom: 2px;
  margin-top: 2px;
}

.chart-loader {
  width: 20%;
}


.rectangle-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.selected-users-container {
  display: flex;
  flex-wrap: wrap;
}

.user-item {
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
}

.chart-loader {
  width: 20%;
}