<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Sub-admins" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

      <section class="content">
        <div class="container-fluid">

          <div class="row">

            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Sub-admins</h3>
                  <div class="card-tools">

                    <button *ngIf="allSelectedSubAdmins.length" class="btn btn-primary ml-sm-2 mb-2 mb-sm-0 btn-sm" type="button"
                    (click)="openBulkEditModal()">
                    <i class="fas fa-edit"></i> Bulk Sub Admin Edit
                    </button>
                    &nbsp;

                    <!--<button type="button" class="btn btn-info fnt-12" (click)="exportAsXLSX()"> CSV <i class="fa fa-download"></i> </button>-->
                    <!-- &nbsp;
                    <a [routerLink]="['/sub-admins/tree', admin?.tenant_id , subAdminParentID]" class="btn btn-success fnt-12"> Sub Admin Tree </a> -->
                    <ng-container *ngIf="this.permissionService.checkPermission('sub_admin','C')">
                      <a [routerLink]="['/sub-admins', admin?.tenant_id , 0]" class="btn btn-success fnt-12"> Create New </a>
                    </ng-container>

                  </div> 
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                  <div class="row">
                    
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="search">Search</label>
                        <input type="text" class="form-control" id="search" [(ngModel)]="subAdminParams.search" placeholder="Search Email, Sub-admin Name, First Name, Last Name"/>
                      </div>
                    </div>     

                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="size">Size</label>
                      <select class="form-control" id="size" [(ngModel)]="subAdminParams.size">
                        <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                      </select>
                      </div>
                    </div>
                    
                    <div class="col-md-4 mb-22">
                      <button [disabled] = "isLoader" type="button" class="mgt btn btn-success fnt-12" (click)="filterSubAdmins()"><i class="fa fa-search"></i> Search </button>
                      <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning fnt-12 ml-2" (click)="subAdminResetFilter()"> Reset Filter </button>
                      <button [disabled] = "isLoader" type="button" class="mgt btn btn-default fnt-12 ml-2" (click)="getSubAdmins()"> <i class="fa fa-refresh"></i> </button>
                    </div>

                  </div>

                  <div class="row" *ngIf="allSelectedSubAdmins.length > 0">
                    <div class="col">
                      <div class="form-group">
                        <label for="size2">Selected Sub Admins</label>
                        <div *ngIf="allSelectedSubAdmins.length > 0" class="rectangle-container">
                          <div class="selected-users-container">
                            <div *ngFor="let user of allSelectedSubAdmins" class="user-item">
                              <button (click)="removeplayer(user.id)" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              {{ user.agent_name }}</div>
                          
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <ng-container *ngIf="!isLoader; else loader">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th *ngIf="(subAdmins && subAdmins.length > 0) && this.permissionService.checkPermission('sub_admin','U')"><input type="checkbox"
                          name="checkbox" [id]="this.subAdminP"
                          [checked]="this.selectedSubAdmins.has(this.subAdminP) && this.selectedSubAdmins.get(this.subAdminP).length == subAdmins.length"
                          (change)="toggleAll($event)">
                        </th>
                        <th style="width: 10px">ID<app-ordering-arrow [column]="'id'" [params]="subAdminParams" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                        <th>Email<app-ordering-arrow [column]="'email'" [params]="subAdminParams" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                        <th>Sub-admin Name<app-ordering-arrow [column]="'agent_name'" [params]="subAdminParams" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                        <th>Full name</th>
                        <th>Phone number<app-ordering-arrow [column]="'phone'" [params]="subAdminParams" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                        <!--<th>Phone verified</th>-->
                        <th>Roles</th>
                        <th>Status</th>
                        <th>Kyc Regulated?</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of subAdmins | paginate: { itemsPerPage: subAdminParams.size, currentPage: subAdminP, totalItems: subAdminTotal, id: 'subadminpid' }">
                        <td *ngIf="this.permissionService.checkPermission('sub_admin','U')"><input type="checkbox" name="checkbox" [id]="user?.agent_name"
                          (change)="selectSubAdmin(user,$event)"
                          [checked]="isSubAdminChecked(user)">
                        </td>
                        <td> {{ user.id }} </td>
                        <td><a [routerLink]="['/sub-admins/details', admin?.tenant_id, user.id]"> {{ user.email }} </a></td>
                        <td>{{ user.agent_name }}</td>
                        <td>{{ user.first_name + ' ' + user.last_name }}</td>
                        <td>{{ user.phone }}</td>
                        <!--<td>{{ user.phone_verified }}</td>-->
                        <td> 
                          <!--<ng-container *ngFor="let role of getRoles(user?.roles || user?.rolesids)"> {{ getRole(role) }}  </ng-container>-->
                          {{ user.roles }}
                        </td>

                        <td><span [ngClass]="user.active ? 'text-success':'text-danger'">{{ user.active ? 'Active' : 'Deactive' }}</span></td>
                        <td><span [ngClass]="user.kyc_regulated ? 'text-success':'text-danger'">{{ user.kyc_regulated ? 'Yes' : 'No' }}</span></td>

                        <td>
                          <ng-container *ngIf="this.permissionService.checkPermission('sub_admin','U')">
                            <a class="btn btn-warning fnt-12 btnCommon" [routerLink]="['/sub-admins', admin?.tenant_id, user.id]"> <i class="fa fa-edit"></i> </a>
                            &nbsp;
                          </ng-container>
                          <a class="btn btn-info fnt-12 btnCommon" [routerLink]="['/sub-admins/details', admin?.tenant_id, user.id]"> <i class="fa fa-eye"></i> </a>
                          &nbsp;

                          <ng-container *ngIf="this.permissionService.checkPermission('sub_admin','T')">
                            <ng-container *ngIf="user.active; else activeUser">
                              <button type="button" (click)="deactiveSubadminStatus(user)" class="btn btn-danger fnt-12 btnCommon"> <i class="fa fa-remove"></i> </button>
                            </ng-container>
                            <ng-template #activeUser>
                              <button type="button" (click)="activeSubadminStatus(user)" class="btn btn-success fnt-12 btnCommon"> <i class="fa fa-check"></i> </button>
                            </ng-template>
                          </ng-container>

                          <!-- &nbsp;
                          <a class="btn btn-info fnt-12 btnCommon" [routerLink]="['/sub-admins/tree', admin?.tenant_id, user.id]"> <i class="fa fa-sitemap"></i> </a> -->
                        </td>

                      </tr>
                      <tr *ngIf="firstTimeApiCall && subAdmins && subAdmins.length === 0"> <td colspan="10" class="tnodata"> No Admins Found </td> </tr>
                      <tr *ngIf="!firstTimeApiCall"> <td colspan="10" class="tnodata"> Click Search to Load Data </td> </tr>
                    </tbody>
                  </table>
                  </div>
                  <pagination-controls id="subadminpid" (pageChange)="subAdminPageChanged($event)" (pageChange)="subAdminP = $event"></pagination-controls>
                  </ng-container>
                </div>


              </div>
              <!-- /.card -->

            </div>

          </div>

        </div><!-- /.container-fluid -->
      </section>

  </div>

  <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>

  <!-- Modal -->
<div class="modal fade" id="bulkEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bulk Edit</h5>
        <button type="button" class="close" (click) = "closeBulkEditModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="bulkEditForm" class="container">
          <div class="form-group mt-3">
            <label for="whitelistOption">Active/Inactive:</label>
            <div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="activeOption" [value]="'active'" formControlName="isActive">
                <label class="form-check-label" for="activeOption">Active</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inactiveOption" [value]="'inactive'" formControlName="isActive">
                <label class="form-check-label" for="inactiveOption">Inactive</label>
              </div>
            </div>
            <div class="invalid-feedback" *ngIf="formSubmitted && bulkFormControls.isActive.errors">
              <div *ngIf="bulkFormControls.isActive.errors.required">Status is required</div>
            </div>
          </div>
          
          <div class="form-group mt-3">
            <label for="whitelistOption">Enable IP Whitelist:</label>
            <div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="globalOption" value="global" formControlName="whitelistOption">
                <label class="form-check-label" for="globalOption">Global</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="manualOption" value="manual" formControlName="whitelistOption">
                <label class="form-check-label" for="manualOption">Manual</label>
              </div>
            </div>
            <div class="invalid-feedback" *ngIf="formSubmitted && bulkFormControls.whitelistOption.errors">
              <div *ngIf="bulkFormControls.whitelistOption.errors.required">Whitelist Option is required</div>
            </div>
          </div>

          <div *ngIf="bulkEditForm.get('whitelistOption').value === 'global'" class="mt-3">
            <p>Global IP Address: {{this.globalIpAddress || 'Not Set'}}, 
              <a class="link-primary" (click)="openTenantCredentials()"> Click Here to Update</a>
            </p>
          </div>

          <div *ngIf="bulkEditForm.get('whitelistOption').value === 'manual'" class="mt-3">
            <div *ngFor="let ip of ips.controls; let i = index" class="input-group mb-2">
              <input type="text" class="form-control" placeholder="Enter IP Address" [formControl]="getIpFormControl(i)">
              <div class="input-group-append">
                <button type="button" class="btn btn-danger" (click)="removeIP(i)">X</button>
              </div>
              <div class="invalid-feedback" *ngIf="formSubmitted && ips.at(i).invalid">
                <div *ngIf="ips.at(i).hasError('required')">IP is required.</div>
              </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="addIP()">Add New IP</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click) = "closeBulkEditModal()" class="btn btn-secondary">Close</button>
        <button type="submit" (click) = "onSubmit()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>