<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Tip Report" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="pull-left">
                        <h3 class="card-title">Tip Report Filter</h3>
                    </div>
                    <div class="pull-right">
                        <div class="">

                            <ng-container *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">

                                <select  select2 id="tenant_id" (onSelect)="tenantFilter($event)" [(ngModel)]="params.tenant_id" style="width: 325px;" data-placeholder="Select Tenant">
                                    <option [value]="0">All Tenants</option>
                                    <option *ngFor="let tenants of tenantsList" [value]="tenants.id">{{tenants.name}}</option>
                                </select><span>&nbsp;</span>
                                <span *ngIf="hideShow">
                                <select  class="select2custom" select2 id="owner_id" (onSelect)="filterSelectOwner($event)" [(ngModel)]="params.owner_id" style="width: 325px" data-placeholder="Select Owner">
                                    <!-- <option value="">Select Owner</option> -->
                                    <option *ngFor="let tenants of tenantsOwnerList let i = index " [attr.selected]="!i"  [value]="tenants.id">{{tenants.agent_name}}</option>
                                </select><span>&nbsp;</span>
                              </span>

                            </ng-container>

                            <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;" data-placeholder="Select Time Zone">
                              <option value="">Select Time Zone</option>
                                <option *ngFor="let zone of TIMEZONE" [value]="zone.zonename">{{zone.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
              <!-- /.card-header -->
              <div class="card-body">
  
                <div class="row">
                  

                  
                  <div class="col-md-2" *ngIf="false">
                    <div class="form-group">
                      <select class="form-control" id="player_type" (change)="filter($event)" [(ngModel)]="params.player_type">
                      <option value="">Select Agents Type</option>
                      <option value="all">All Organization Agents</option>
                      <option value="direct">Only Direct Agents</option>
                    </select>
                    </div>
                  </div>
                  <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
                    <div class="col-md-2"  *ngIf="hideShow">
                        <div class="form-group">
                            <select class="form-control" select2 id="agent_id"  title="Select Agent" (onSelect)="filterSelectAgent($event)" [(ngModel)]="params.agent_id" data-placeholder="Select Agent">
                                <!-- <option value="">Select Agent</option> -->
                                <option *ngFor="let adminUser of userList" [value]="adminUser.id">{{adminUser.first_name}} </option>
                            </select>
                        </div>
                    </div>
                  </ng-container>

                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" title="Select Currency" data-placeholder="Select Currency"
                                    id="currency" (change)="filter($event.target)" [(ngModel)]="params.currency">
                                <option value="">Select Currency</option>
                                <option *ngFor="let currency of currencies" [value]="currency.code"> {{ currency.code }} </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" id="time_date_period" (change)="filter($event,true)" [(ngModel)]="params.time_type">
                                <option disabled value="">Select Time Period</option>
                                <option value="today">Today</option>
                                <option value="yesterday">Yesterday</option>
                                <option value="weekly">This Week</option>
                                <option value="monthly">This Month</option>
                                <!-- <option value="yearly">This Year</option> -->
                                <option value="custom">Custom Date</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" *ngIf="params.time_type=='custom'">
                        <div class="form-group">
                            <input autocomplete="off" readonly data-placeholder="Search Time Period" placeholder="Search Time Period" type="text" class="form-control float-right" id="time_period" [format]="format" daterangetime_picker (onSelect)="selectDateRange($event)" />
                        </div>
                    </div>
                  
                  <div class="col-md-2" id="dbuttons">
                    <button [disabled] = "!repLoader" type="button" class="mgt btn btn-success mt-0" (click)="submitFilter()"><i class="fa fa-search"></i> Search</button>
                    <button [disabled] = "!repLoader" type="button" class="mgt btn btn-warning mt-0 ml-2" (click)="resetFilter()"> Reset Filter </button>
                      <button [disabled] = "!repLoader" type="button" class="mgt btn btn-default mt-0 ml-2" (click)="getReport()"> <i class="fa fa-refresh"></i> </button>
                       <!-- <button type="button" id="dbuttons" class="mgt btn btn-info mt-0" (click)="download()"> Export as CSV </button> -->
                &nbsp; </div>
                </div>
                  <div class="pull-left">
                      <h5 *ngIf="tenantBaseCurrency != ''">Total Tip Amount (in {{tenantBaseCurrency}}): <span [ngStyle]="{'color': tip < 0 ? 'red' : '' }"> {{ tip | number: '1.2-2' }} </span> </h5>
                      <h5>Total Tip Count:  <span [ngStyle]="{'color': tipCount < 0 ? 'red' : '' }"> {{ tipCount | number: '1.2-2' }} </span> </h5>
                  </div>
                  <div class="pull-right" *ngIf="zone"> Time Zone- {{zone}}</div>
              </div>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card" *ngIf="repLoader; else loader">
              <div class="card-body">
                  <div class="table-responsive" *ngIf="firstTimeApiCall && reports && reports.length != 0">
                    <table datatable [params]="dataTableParams" id="example1" class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Player Name  </th>
                          <th>Agent Name  </th>
                          <th>Currency  </th>
                          <th>Tip Amount  </th>
                          <th>Transactions Count </th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr *ngFor="let transaction of reports | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }"> -->
                          <tr *ngFor="let transaction of reports">

                            <td> {{ (transaction.player_name.buckets[0] ? transaction.player_name.buckets[0].key : '-')}}</td>
                            <td> {{ transaction.key.split('-') && transaction.key.split('-')[0]}}</td>
                            <td> {{ transaction.key.split('-') && transaction.key.split('-')[3]}}</td>
                          <td> {{ transaction.tip_amount.value| number}} </td>
                          <td> {{ transaction.doc_count || '' }} </td>

                        </tr>
                        <tr *ngIf="reports && reports.length === 0"> <td colspan="11" class="tnodata"> No Player Reports Found </td> </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="table-responsive" *ngIf="firstTimeApiCall && reports && reports.length === 0">
                      <table class="table table-bordered">
                          <thead>
                          <tr>
                              <th>Player Name  </th>
                              <th>Agent Name  </th>
                              <th>Currency  </th>
                              <th>Tip Amount  </th>
                              <th>Transactions Count </th>
                          </tr>
                          </thead>
                          <tbody>
                          <!-- <tr *ngFor="let transaction of reports | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }"> -->
                          <tr > <td colspan="11" class="tnodata"> No Player Reports Found </td> </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="table-responsive" *ngIf="!firstTimeApiCall">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Player Name  </th>
                            <th>Agent Name  </th>
                            <th>Currency  </th>
                            <th>Tip Amount  </th>
                            <th>Transactions Count </th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- <tr *ngFor="let transaction of reports | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }"> -->
                        <tr > <td colspan="11" class="tnodata"> Click Search to Load Data </td> </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              
              <!-- <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls> -->
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>


<ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>

</ng-template>

