<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Banner" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->


  <section class="content">
      <div class="container-fluid">

        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"> {{ title }} Banner </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="tenantForm" (ngSubmit)="onSubmit()">
                <div class="card-body">
                  
                  <div class="row">

                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="name">Name <span class="text-danger">*</span></label>
                              <input class="form-control" maxlength="40" id="name" placeholder="Enter Name" formControlName="name" />
                              <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                                  <div *ngIf="f.name.errors.required">Name is required</div>
                              </div>
                          </div>

                      </div>

                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="redirect_url">Redirect url</label>
                                  <input class="form-control" maxlength="100" placeholder="Enter Redirect Url" formControlName="redirect_url"  />
                                  <div class="invalid-feedback" *ngIf="submitted && f.redirect_url.errors">
                                      <!-- <div *ngIf="f.redirect_url.errors.required">Redirect Url is required</div> -->
                                      <div *ngIf="f.redirect_url.errors.pattern">Redirect Url must be valid</div>
                                  </div>
                              </div>
                          </div>
                  </div>


                  <div class="row">
                      <div class="col-md-6">

                                <div class="form-group">
                                  <label for="exampleInputFile">Logo <span *ngIf="bannerId == 0" class="text-danger">*</span></label>
                                  <div class="input-group">
                                    <div class="custom-file">
                                      <input (change)="selectImage(file.files)"  #file formControlName="logo" accept="image/png,image/jpg,image/jpeg,video/mp4" type="file" class="custom-file-input" id="exampleInputFile">
                                      <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                  </div>
                                  <div class="invalid-feedback" *ngIf="submitted && f.logo.errors">
                                    <div *ngIf="f.logo.errors.required">File is required</div>
                                    <div *ngIf="f.logo.errors.requiredFileType">File must be {{ f.banner_type.value || 'Image/Video' }}</div>
                                  </div>
                                  <a *ngIf="bannerId > 0" [href]="banner?.image_url" target="_blank"><span class="text-success">View here</span></a>
                                </div>
                          <!-- Image Preview -->
                          <div class="imagePreview mb-5" >
                              <img [src]="imageURL" class="imagePreview" *ngIf="imageURL && imageURL !== '' && f.banner_type.value =='image'">
                              <video [src]="imageURL" *ngIf="imageURL && imageURL !== '' && f.banner_type.value =='video'"  height="200" controls></video>
                          </div>
                      </div>

                      <div class="col-md-6 ">
                          <div class="form-group">
                              <label for="banner_type">Type <span class="text-danger">*</span></label>
                              <select formControlName="banner_type" (change)="selectType($event)" class="form-control" id="banner_type">
                                <option value="image">image</option>
                                <option value="video">video</option>
                              </select>
                              <div class="invalid-feedback" *ngIf="submitted && f.banner_type.errors">
                                  <div *ngIf="f.banner_type.errors.required">Type is required</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="game_name">Game Name </label>
                            <input class="form-control" maxlength="40" id="game_name" placeholder="Enter Game Name" formControlName="game_name" />
                            <!-- <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div> -->
                        </div>

                    </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="open_table">Table Name</label>
                                <input class="form-control" maxlength="100" id="open_table" placeholder="Enter Table Name" formControlName="open_table"  />
                                <!-- <div class="invalid-feedback" *ngIf="submitted && f.redirect_url.errors">
                                    <div *ngIf="f.name.errors.required">Open table is required</div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                              <label for="provider_name">Provider Name</label>
                              <input class="form-control" maxlength="100" id="provider_name" placeholder="Enter Provider Name" formControlName="provider_name"  />
                              <!-- <div class="invalid-feedback" *ngIf="submitted && f.redirect_url.errors">
                                  <div *ngIf="f.name.errors.required">Provider Name is required</div>
                              </div> -->
                          </div>
                      </div>
                </div>

                </div>
                  <div class="row">
                  <div class="icheck-primary d-inline" style="margin-left: 28px; padding-top: 21px;">
                    <input type="checkbox" formControlName="enabled" id="checkboxPrimary1">
                    <label for="checkboxPrimary1">
                      Enabled
                    </label>
                  </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" [disabled]="tenantLoader" class="btn btn-primary">
                    <span *ngIf="tenantLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
                    &nbsp;
                  <a routerLink="/tenants/banners" class="btn btn-warning"> Cancel </a>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </section>


</div>
