<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="FAQS" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->


    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"> FAQS</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form [formGroup]="faqForm" (ngSubmit)="onSubmit()">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="title">Question <span class="text-danger">*</span></label>
                                            <textarea cols="40" rows="5" class="form-control" id="question"
                                                placeholder="Enter question" formControlName="question"></textarea>
                                            <!-- <input type="text" formControlName="question" class="form-control"
                                                id="question" placeholder="Enter question" /> -->
                                            <div class="invalid-feedback" *ngIf="submitted && f.question.errors">
                                                <div *ngIf="f.question.errors.required">Question is required</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="card card-primary card-outline card-outline-tabs">
                                            <div class="card-header p-0 border-bottom-0">
                                                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">

                                                    <li class="nav-item" *ngFor="let item of answer ; let i = index">
                                                        <a class="nav-link {{i == 0 ? 'active': ''}}"
                                                            id="custom-tabs-four-settings-tab{{i}}" data-toggle="pill"
                                                            href="#custom-tabs-four-settings{{i}}" role="tab"
                                                            aria-selected="true">{{item.type}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card-body">
                                                <div class="tab-content" id="custom-tabs-four-tabContent"
                                                    formArrayName="answer">

                                                    <ng-container *ngFor="let item of answer; let i = index">
                                                        <div class="tab-pane fade  {{i == 0 ? 'active show': ''}}"
                                                            id="custom-tabs-four-settings{{i}}" role="tabpanel">
                                                            <label for="{{item.type}}">answer ( {{item.type}} )<span
                                                                    class="text-danger">*</span></label>
                                                            <ckeditor id="editor{{i}}" [formControlName]="item.type">
                                                            </ckeditor>
                                                            <div class="invalid-feedback"
                                                                *ngIf="submitted && f.answer.controls[item.type].errors">
                                                                <div
                                                                    *ngIf="f.answer.controls[item.type].errors.required">
                                                                    answer is required</div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-12" >
                                        <div class="form-group">
                                          <label for="category">Category <span class="text-danger">*</span></label>
                                            <!-- <ng-container *ngIf="this.admin && this.admin.roles && this.admin.roles.length > 0">
                                                ( <ng-container *ngFor="let role of this.admin.roles let i = index;"> {{ role }}
                                                <ng-container *ngIf="this.admin.roles.length - 1 > i">, </ng-container>
                                                  </ng-container> )
                                            </ng-container> -->
                                          <select select2 (onSelect)="changeCategory($event)" class="form-control" id="category" data-placeholder="Select a Category" style="width: 100%;">
                                            <option value="">Select a category</option>
                                            <option *ngFor="let faqCategory of faqCategories" [value]="faqCategory.id">{{ faqCategory.name }}</option>
                                          </select>
                  
                                          <div class="invalid-feedback" *ngIf="submitted && f.category_id.errors">
                                              <div *ngIf="f.category_id.errors.required">Category is required</div>
                                          </div>
                                      </div>
                                      </div>

                                    <div class="col-md-12" *ngIf = "this.permissionService.checkPermission('faq_management','T')">
                                        <div class="form-group">
                                            <label for="slug">Active / Inactive </label>
                                            <div
                                                class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                <input type="checkbox" class="custom-control-input"
                                                    formControlName="active" id="customSwitch3">
                                                <label class="custom-control-label" for="customSwitch3"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="featured">Featured</label>
                                            <div
                                                class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                <input type="checkbox" class="custom-control-input"
                                                    formControlName="featured" id="customSwitch4">
                                                <label class="custom-control-label" for="customSwitch4"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" [disabled]="faqLoader" class="btn btn-primary">
                                    <span *ngIf="faqLoader" class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span> Submit
                                </button>
                                &nbsp;
                                <a routerLink="/tenants/faqs" class="btn btn-warning"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>
            <!-- /.row -->



        </div><!-- /.container-fluid -->
    </section>


</div>