<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Manage Promo Code Details" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->


  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"> {{title}} </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="promoForm" (ngSubmit)="onSubmit()">
              <div class="card-body">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="promo_name">Promo Name <span class="text-danger">*</span></label>
                      <input type="text" formControlName="promo_name" class="form-control" id="promo_name"
                        placeholder="Enter Promo Name" />
                      <div class="invalid-feedback" *ngIf="submitted && f.promo_name.errors">
                        <div *ngIf="f.promo_name.errors.required">Promo Name is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="code">Promo Code <span class="text-danger">*</span></label>
                      <input type="text" formControlName="code" oninput="this.value = this.value.toUpperCase()" (paste)="(false)" (keypress)="removeSpace($event)" class="form-control" id="code"
                        placeholder="Enter Promo code" />
                      <div class="invalid-feedback" *ngIf="submitted && f.code.errors">
                        <div *ngIf="f.code.errors.required">Promo Code is required</div>
                        <div *ngIf="f.code.errors.minlength">Promo Code length should be 8 character</div>
                        <div *ngIf="f.code.errors.maxlength">Promo Code length should be 8 character</div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="promo_code_used_in">Platform <small>(Where this promo code will show)</small> <span class="text-danger">*</span></label>
                      <input type="text" formControlName="promo_code_used_in" class="form-control" id="promo_code_used_in"
                        placeholder="Enter Platform" />
                      <div class="invalid-feedback" *ngIf="submitted && f.promo_code_used_in.errors">
                        <div *ngIf="f.promo_code_used_in.errors.required">Platform Name is required</div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="description">Description <span class="text-danger">*</span></label>
                      <textarea type="text" cols="30" rows="1" formControlName="description" class="form-control" id="description"
                        placeholder="Enter Description"></textarea>
                      <div class="invalid-feedback" *ngIf="submitted && f.description.errors">
                        <div *ngIf="f.description.errors.required">Description is required</div>
                      </div>
                    </div>
                    
                  </div>
                  
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="valid_from">Valid From <span class="text-danger">*</span></label>
                      <input type="date" formControlName="valid_from" autocomplete="new-valid-from" (keydown)="false" (change)="updateValidTill($event)" min="{{minDate   | date: 'yyyy-MM-dd'}}" class="form-control" id="valid_from"
                        placeholder="Enter Valid From" />
                      <div class="invalid-feedback" *ngIf="submitted && f.valid_from.errors">
                        <div *ngIf="f.valid_from.errors.required">Valid From is required</div>
                      </div>
                    </div>
                    
                  </div>
                  
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="valid_till">Valid Till <span class="text-danger">*</span></label>
                      <input type="date" formControlName="valid_till" (keydown)="false"  min="{{maxDate   | date: 'yyyy-MM-dd'}}" class="form-control" id="valid_till"
                        placeholder="Enter Valid Till" />
                      <div class="invalid-feedback" *ngIf="submitted && f.valid_till.errors">
                        <div *ngIf="f.valid_till.errors.required">Valid Till is required</div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="bonus_amount">Bonus Amount <span class="text-danger">*</span></label>
                      <input type="number" formControlName="bonus_amount" class="form-control" id="bonus_amount"
                        placeholder="Enter Bonus Amount" />
                      <div class="invalid-feedback" *ngIf="submitted && f.bonus_amount.errors">
                        <div *ngIf="f.bonus_amount.errors.required">Bonus Amount is required</div>
                        <div *ngIf="f.bonus_amount.errors.min">Minimum bonus amount is 1.</div>
                      </div>

                      
                    </div>
                    
                  </div>
                  
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="promo_code_bonus_type">Bonus Type <span class="text-danger">*</span></label>
                      <div>
                        <label class="radio-inline mr-3">
                          <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="promo_code_bonus_type_flat" value="0" formControlName="promo_code_bonus_type">
                            <label for="promo_code_bonus_type_flat" class="custom-control-label">Flat</label>
                          </div>
                        </label>
                        <label class="radio-inline">
                          <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="promo_code_bonus_type_upto" value="1" formControlName="promo_code_bonus_type">
                            <label for="promo_code_bonus_type_upto" class="custom-control-label">Upto</label>
                          </div>
                        </label>
                      </div>
                      <div class="invalid-feedback" *ngIf="submitted && f.promo_code_bonus_type.errors">
                        <div *ngIf="f.promo_code_bonus_type.errors.required">Bonus Type is required</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="promo_code_bonus_type">Wallet Type <span class="text-danger">*</span></label>
                      <div>
                        <label class="radio-inline mr-3">
                          <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="wallet_type_cash" value="0" formControlName="wallet_type">
                            <label for="wallet_type_cash" class="custom-control-label">Cash</label>
                          </div>
                        </label>
                        <label class="radio-inline">
                          <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="wallet_type_non_cash" value="1" formControlName="wallet_type">
                            <label for="wallet_type_non_cash" class="custom-control-label">Non cash</label>
                          </div>
                        </label>
                      </div>
                      <div class="invalid-feedback" *ngIf="submitted && f.wallet_type.errors">
                        <div *ngIf="f.wallet_type.errors.required">Wallet Type is required</div>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="status">Active / Inactive <span class="text-danger">*</span></label>
                      <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" formControlName="status" id="customSwitch3">
                        <label class="custom-control-label" for="customSwitch3">You can {{(promo.status ? 'deactivate' : 'active')}} it, if you {{(promo.status ? "don't" : '')}} want to publish.</label>
                      </div>
                      </div>
                  </div>
                </div>





              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" [disabled]="promoLoader" class="btn btn-primary">
                  <span *ngIf="promoLoader" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span> Submit
                </button>
                &nbsp;
                <a routerLink="/promo-code/list" class="btn btn-warning"> Cancel </a>
              </div>
            </form>
          </div>
          <!-- /.card -->

        </div>
      </div>
      <!-- /.row -->



    </div><!-- /.container-fluid -->
  </section>


</div>
