table td{
  white-space: nowrap;
}
.custom-width-sub-head{
  width: 15%;
  text-align: center;
}
.custom-width-head{
  width: 55%;
  text-align: center;
}

.custom_tr_td td:not(:first-child){
  text-align: center;
}

.table-wrapper{
  max-width: 20em;
  overflow-x: auto;
}

.break {
  max-width: 300px; 
  word-wrap: break-word;
  white-space: unset!important;
}
