<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Tenants" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tenants</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Tenant Name</th>
                      <!--<th>Domain</th>-->
                      <th>Tenant/Domain URL</th>
                      <th>Status</th>
                      <th style="width: 40px">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ tenant?.id }}</td>
                      <td> {{ tenant?.name }} </td>
                      <!--<td>{{ tenant?.domain }}</td>-->
                      <td><a [href]="'http://'+tenant?.domain" target="_blank"> {{ tenant?.domain }} </a></td>
                      <td> {{ tenant?.active ? 'Active' : 'In-Active' }} </td>
                      <td><a class="btn btn-warning fnt-12" [routerLink]="['/super-admin/tenants', tenant?.id]"> Edit </a></td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <!-- /.card -->

          </div>


                      <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Admin Owner</h3>
                  <!-- <a [routerLink]="['/agents', id, 0]" [queryParams]="{ admin: 'true' }" [state]="{ tenant: tenant }" class="fnt-12 f-right btn btn-success"> Create New </a> -->
                  <a [routerLink]="['/agents', id, 0]" [state]="{ tenant: tenant }" class="fnt-12 f-right btn btn-success"> Create New </a>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 10px">ID</th>
                        <th>Email</th>
                        <th>Full name</th>
                        <th>Agent Name</th>
                        <th>Phone number</th>
                        <th>Phone verified</th>
                        <th>Roles</th>
                        <th>Status</th>
                        <th>Kyc Regulated?</th>
                        <th>Created At</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users">
                        <td> {{ user.id }} </td>
                        <td><a [routerLink]="['/agents/details', id, user.id]"> {{ user.email }} </a></td>
                        <td>{{ user.agent_name }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.phone_verified }}</td>
                        <td>
                          <ng-container *ngFor="let role of getRoles(user.rolesids); let i = index;"> {{ getRole(role) }} <ng-container *ngIf="getRoles(user.rolesids).length - 1 > i">, </ng-container> </ng-container>
                        </td>
                        <td>{{ user.active ? 'Active' : 'In-Active' }}</td>
                        <td><span [ngClass]="user.kyc_regulated ? 'text-success':'text-danger'">{{ user.kyc_regulated ? 'Yes' : 'No' }}</span></td>
                        <td>{{user.created_at | date}}</td>

                        <td>
                          <!-- <a class="btn btn-warning fnt-12" [routerLink]="['/agents', id, user.id]" [queryParams]="{ admin: 'true' }" [state]="{ tenant: tenant }"> Edit </a> -->
                          <a class="btn btn-warning fnt-12" [routerLink]="['/agents', id, user.id]" [state]="{ tenant: tenant }"> Edit </a>
                          &nbsp;
                          <a class="btn btn-info fnt-12 btnCommon" [routerLink]="['/agents/tree', user?.tenant_id, user.id]"> <i class="fa fa-sitemap"></i> </a>

                        </td>
                      </tr>

                      <tr *ngIf="users && users.length === 0"> <td colspan="10" class="tnodata"> No Admins Found </td> </tr>
                    </tbody>
                  </table>
                </div>

              </div>
              <!-- /.card -->

            </div>


        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <section class="content">
        <div class="container-fluid">

          <div class="row">

            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Tenant Credentials</h3>
                  <a *ngIf="remainingCredentials && remainingCredentials.length > 0" [routerLink]="['/tenants/credentials', 0]" [state]="{ tenant: tenant, remcreds: remainingCredentials }" class="fnt-12 f-right btn btn-success">Create New</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 10px">ID</th>
                        <th>Key</th>
                        <th class="break">Value</th>
                        <th>Description</th>
                        <th style="width: 40px">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let credential of credentials">
                        <td>{{ credential.id }}</td>
                        <td>{{ credential.key }}</td>
                        <td class="break">{{ credential.value }}</td>
                        <td>{{ credential.description }}</td>
                        <td><a *ngIf="!NoEditOptionForTenantCredentails.includes(credential.key) else noEdit" class="btn btn-warning fnt-12" [routerLink]="['/tenants/credentials', credential.id]"
                          [state]="{credential: credential, tenant: tenant, remcreds: remainingCredentials }"> Edit </a>
                          <ng-template #noEdit>NA</ng-template>
                        </td>
                      </tr>

                      <tr *ngIf="credentials && credentials.length === 0"> <td colspan="5" class="tnodata"> No Credentials Found </td> </tr>

                    </tbody>
                  </table>
                </div>

              </div>
              <!-- /.card -->

            </div>

          </div>

        </div><!-- /.container-fluid -->
      </section>
    
    
    
      <section class="content">
        <div class="container-fluid">

          <div class="row">

            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Tenant Payment Providers</h3>
                  <a *ngIf="remainingPaymentProvider && remainingPaymentProvider.length > 0" [routerLink]="['/tenants/payment-providers', 0]" [state]="{ tenant: tenant, remprods: remainingPaymentProvider }" class="fnt-12 f-right btn btn-success">Create New</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body" style="overflow: auto;">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 10px">ID</th>
                        <th>Payment Provider Name</th>
                        <th>Payment Provider Type</th>
                        <th>Provider Setup Credentials</th>
                        <th>Supported Currencies</th>
                        <th *ngIf="paymentGatewayCategoriesEnable">Vip Level</th>
                        <th>Minimum Deposit Limit</th>
                        <th>Maximum Deposit Limit</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th style="width: 40px">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let pp of paymentProviders">
                        <td>{{ pp.id }}</td>
                        <td>{{ pp.provider_name }}</td>
                        <td>{{ pp.provider_type | titlecase }}</td>
                        <td style="max-width: 20em">
                          <div class="table-responsive">
                            <table style="padding: 0px 18px;width: 100%;">
                              <tr>
                                <th>S.N.</th>
                                <th>Provider Key Name</th>
                                <th>Provider Key Value</th>
                              </tr>
                              <tr *ngFor="let item of pp.key_values | keyvalue ;let i =index">
                                   <td>{{i+1}}</td> 
                                   <td>{{item.key}}</td> 
                                   <td>{{item.value | hideChars}}</td>
                              </tr>
                            </table>
                          </div>
                        </td>
                        <td>
                          <ul *ngIf="pp.currencyList.length > 0 ; else empty" style="padding: 0px 18px;">
                            <li *ngFor="let item of pp.currencyList">
                                {{item.name}}
                            </li>
                          </ul>
    
                          <ng-template #empty>--</ng-template>
                        </td>
                        
                        <td *ngIf="paymentGatewayCategoriesEnable">
                          <ng-container *ngIf="pp.vip_level; else empty" >
                            <ul *ngIf= "jsonParse(pp?.vip_level).length > 0 ; else empty" style="padding: 0px 18px;">
                              <li *ngFor="let item of jsonParse(pp.vip_level)">
                                Level {{item}}
                              </li>
                            </ul>
                          </ng-container>
    
                        <ng-template #empty>--</ng-template>
                        </td>
                        <td>{{ pp.min_deposit_limit || 'NA' }}</td>
                        <td>{{ pp.max_deposit_limit || 'NA' }}</td>
                        <td *ngIf="pp.active == true">
                          <span class="badge badge-success">Active</span>
                        </td>
                        <td *ngIf="pp.active != true">
                            <span class="badge badge-danger">In-Active</span>
                        </td>
                      <td>{{ pp?.created_at | date }}</td>
                        <td>
                          <ng-container *ngIf="!pp.disabledByAdmin && pp.provider_active; else notActive">
                            <a class="btn btn-warning fnt-12" [routerLink]="['/tenants/payment-providers', pp.id]"
                              [state]="{paymentProviders: pp, tenant: tenant, remprods: remainingPaymentProvider }"> <i class="fa fa-edit"></i>
                            </a>
                            &nbsp;
                            <ng-container *ngIf="pp.active; else activeProvider">
                              <button type="button" (click)="deactiveProviderStatus(pp)" class="btn btn-danger fnt-12 btnCommon"> <i
                                  class="fa fa-remove"></i> </button>
                            </ng-container>
                            <ng-template #activeProvider>
                              <button type="button" (click)="activeProviderStatus(pp)" class="btn btn-success fnt-12 btnCommon"> <i
                                  class="fa fa-check"></i> </button>
                            </ng-template>&nbsp;
                          </ng-container>
                          <ng-template #notActive>
                            <span class="badge badge-info">Disabled by super admin</span>
                          </ng-template>       
                        </td>
                      </tr>

                      <tr *ngIf="paymentProviders && paymentProviders.length === 0"> <td colspan="5" class="tnodata"> No Payment Provider Found </td> </tr>

                    </tbody>
                  </table>
                </div>

              </div>
              <!-- /.card -->

            </div>

          </div>

        </div><!-- /.container-fluid -->
      </section>

  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Tenant Configurations </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Allowed Currencies</td>
                  <td>
                    <ng-container *ngFor="let conf of configurationsCurrencies; let i = index;"> {{ conf.name }}<ng-container *ngIf="configurationsCurrencies.length - 1 > i">, </ng-container></ng-container>
                  </td>
                </tr>
                <tr>
                  <td>Assigned Casino Providers</td>
                  <td>
                    <ng-container *ngFor="let provider of setting?.assigned_providers_values; let i  = index"> {{ provider.provider_name }}<ng-container *ngIf="setting?.assigned_providers_values.length - 1 > i">, </ng-container></ng-container>
                  </td>
                </tr>
                <tr>
                  <td>Sub Agent Module Permission</td>
                  <td>
                    <ng-container *ngIf="setting?.allowed_modules?.includes('subAgent')"> Yes</ng-container>
                    <ng-container *ngIf="!setting?.allowed_modules?.includes('subAgent')"> No</ng-container>
                  </td>
                </tr>
               
                <tr>
                  <td>Self Funding Module Permission</td>
                  <td>
                    <ng-container *ngIf="setting?.allowed_modules?.includes('selfFunding')"> Yes</ng-container>
                    <ng-container *ngIf="!setting?.allowed_modules?.includes('selfFunding')"> No</ng-container>
                  </td>
                </tr>

                <tr>
                  <td>Player Commission Interval</td>
                  <td>
                    <form [formGroup]="intervalForm" class="form-inline">
                      <div class="form-group">
                        <div class="form-check form-check-inline">
                          <input (click)="updatePlayerCommissionInterval('daily')" class="form-check-input" type="radio" id="daily" formControlName="interval" [value]="'daily'">
                          <label class="form-check-label" for="daily">Daily</label>
                        </div>
                        
                        <div class="form-check form-check-inline">
                          <input (click)="updatePlayerCommissionInterval('weekly')" class="form-check-input" type="radio" id="weekly" formControlName="interval" [value]="'weekly'">
                          <label class="form-check-label" for="weekly">Weekly</label>
                        </div>
                        
                        <!-- <div class="form-check form-check-inline">
                          <input (click)="updatePlayerCommissionInterval('monthly')" class="form-check-input" type="radio" id="monthly" formControlName="interval" [value]="'monthly'">
                          <label class="form-check-label" for="monthly">Monthly</label>
                        </div> -->
                      </div>
                    </form>   
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
          <!-- /.card -->

        </div>

      </div>

    </div><!-- /.container-fluid -->
  </section>


  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Tenant Menu Setting </h3>
            </div>
            <div class="icheck-primary d-inline ml-4" *ngFor="let menus of menu; let i = index;;">
              <input type="checkbox" (click)="addMenu($event,menus.selectValue,i)" [id]="menus.id"
                     [(ngModel)]="menus.selectValue" [name]="menus.name" value="{{menus.selectValue}}" [checked]="menus.selectValue">
              <label [for]="menus.id">
                {{menus.name}}
              </label>
            </div>
            <!-- /.card-header -->
            <p class="ml-4 "> Note: On every update on menu items by Superadmin, Admin has to arrange the order at least for once.</p>
          </div>
          <!-- /.card -->

        </div>

      </div>

    </div><!-- /.container-fluid -->
  </section>


  <section class="content" *ngIf="false">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Tenant Sports Setting </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Event Liability</th>
                  <th>Max Single_bet</th>
                  <th>Min Bet</th>
                  <th>Max Multiple Bet</th>
                  <!--<th>Max Bet On Event</th>-->
                  <th>Deposit Limit</th>
                  <th>Max Win Amount</th>
                  <th>Max Odd</th>
                  <th>Disabled</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sportsSettinglisting of sportsSetting">
                  <td>{{sportsSettinglisting.event_liability |number}}</td>
                  <td>{{sportsSettinglisting.max_single_bet|number}}</td>
                  <td>{{sportsSettinglisting.min_bet|number}}</td>
                  <td>{{sportsSettinglisting.max_multiple_bet|number}}</td>
                  <!--<td>{{sportsSettinglisting.max_bet_on_event|number}}</td>-->
                  <td>{{sportsSettinglisting.deposit_limit|number}}</td>
                  <td>{{sportsSettinglisting.max_win_amount|number}}</td>
                  <td>{{sportsSettinglisting.max_odd|number}}</td>
                  <td>
                    <span [ngClass]="sportsSettinglisting.bet_disabled ? 'text-danger' : 'text-success'">
                      {{sportsSettinglisting.bet_disabled ? 'Disabled' : 'Enabled'}}
                    </span>
                  </td>
                  <td><a [routerLink]="['/tenants/sport-settings', sportsSettinglisting.tenant_id, sportsSettinglisting.id]" class="fnt-12 btn btn-success"> <i class="fa fa-edit"></i> Edit </a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.card -->
        </div>

      </div>

    </div><!-- /.container-fluid -->
  </section>

  <section class="content" *ngIf="false">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Tenant Sports </h3>
              <!--<a [routerLink]="['/agents', id, 0]"  [queryParams]="{ admin: 'true' }" [state]="{ tenant: tenant }" class="fnt-12 f-right btn btn-success"> <i class="fa fa-plus"></i> Add More </a>-->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Sport Id</th>
                  <th>SportName</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sportslist of sports | paginate: { itemsPerPage: 10, currentPage: p, totalItems: sports.length} ">
                  <td>{{sportslist.sport_id}}</td>
                  <td>{{sportslist.name_en}}</td>
                  <td>
                    <span *ngIf="sportslist.is_deleted" class="text-danger"> Disable</span>
                    <span *ngIf="!sportslist.is_deleted" class="text-success"> Enable</span></td>
                </tr>
                </tbody>
              </table>
            </div>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>



          </div>
          <!-- /.card -->

        </div>
      </div>

    </div><!-- /.container-fluid -->
  </section>
  
  
  
  
  <section class="content" *ngIf="tenantRegistrationFieldsconfiguration">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">User Registration fields </h3>
            </div>
            <!-- /.card-header -->
            <form [formGroup]="tenantRegistrationFields" (ngSubmit)="onSubmit()">

            <div class="card-body">
              <table class="table table-bordered" formGroupName="phaseExecutions">
                <thead>
                <tr>
                  <th class="custom-width-head">Field Name </th>
                  <th class="custom-width-sub-head">Hide</th>
                  <th class="custom-width-sub-head">Show As Optional</th>
                  <th class="custom-width-sub-head">Show As Required</th>
                </tr>
                </thead>
                <tbody formArrayName="PRE">

                 
                    <tr *ngFor="let keys of configuration_keys.controls; let i=index"
                    [formGroupName]="i" class="custom_tr_td">

                      <td>{{getControlByName(i).replaceAll('_', ' ') | titlecase}}</td>
  
                      <td>
                         <div class="icheck-primary d-inline">
                            <input type="radio"  formControlName="{{getControlByName(i)}}" id="{{getControlByName(i)}}_0" name="{{getControlByName(i)}}" value="0" [value]="0">
                            <label for="{{getControlByName(i)}}_0"></label>
                          </div>
                      </td>

                      <td>
                        <div class="icheck-primary d-inline">
                          <input type="radio"  formControlName="{{getControlByName(i)}}" id="{{getControlByName(i)}}_1" name="{{getControlByName(i)}}" value="1" [value]="1">
                          <label for="{{getControlByName(i)}}_1"></label>
                        </div>
                      </td>

                      <td>
                        <div class="icheck-primary d-inline">
                          <input type="radio"  formControlName="{{getControlByName(i)}}" id="{{getControlByName(i)}}_2" name="{{getControlByName(i)}}" value="2" [value]="2">
                          <label for="{{getControlByName(i)}}_2"></label>
                        </div>
                      </td>

                      <!-- <div class="invalid-feedback" *ngIf="submitted  && getProviderFormArr(i).controls[getControlByName(i)].hasError(
                              'required'
                            )">
                          <div>{{getControlByName(i)}} is required</div>
                        </div> -->
  
                    </tr>
                  

                </tbody>
              </table>

              <div class="row">
                <div class="col-sm-12 mt-3">
                  <button type="submit" [disabled]="adminLoader" class="btn btn-info">
                    <span *ngIf="adminLoader" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span> Submit</button>
                </div>
              </div>
            </div>
            </form>


          </div>
          <!-- /.card -->

        </div>
      </div>

    </div><!-- /.container-fluid -->
  </section>

  <!-- Tenant Permission -->
  <section class="content">
    <div class="container-fluid">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title"> Tenant permissions </h3>
            </div>
            
              <form [formGroup]="tenantPermissionForm" (ngSubmit)="submitPermission()">
                <!-- /.card-header -->
                <div class = "permission-wrapper">
                  <div class="card-body">
                    <div class="col-md-12">
                        <div class="form-group clearfix">
                          <div class="icheck-primary d-inline">
                            <input type="checkbox" id="checkboxPrimary1" (change)="toggleAllPermissions($event)" [checked]="compareTenantPermissionObjects()">
                            <label for="checkboxPrimary1">Select All permissions</label>
                          </div>
                        </div>
                    </div>
                    
                    <!-- <ng-container *ngFor="let header of permissions | keyvalue">
                      <div class="per-data" *ngIf="isEmptyPermission(header.value)">
                        <p>{{ header.key | capitalize}}</p>
                        <div class="permission-group">
                          <span *ngFor="let permission of getPermissionsFromValue(header.value)" class="permission-cells text-white"
                            [ngClass]="{active: isPermissionSelected(header.key, permission)}"
                            (click)="togglePermission(header.key, permission)">
                            {{getLabel(permission)}}
                          </span>
                        </div>
                      </div>
                    </ng-container> -->
                    <ng-container *ngFor="let header of keyArr">
                      <div class="per-data" *ngIf="isEmptyPermission(permissions[header])">
                        <p>{{ header | capitalize}}</p>
                        <div class="permission-group">
                          <span *ngFor="let permission of getPermissionsFromValue(permissions[header])" class="permission-cells text-white"
                            [ngClass]="{active: isPermissionSelected(header, permission)}"
                            (click)="togglePermission(header, permission)">
                            {{getLabel(permission)}}
                          </span>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <!-- /.card-body -->
                  <div class="invalid-feedback" *ngIf="tenantPermissionFormSubmitted && f.permission.errors">
                    <div *ngIf="f.permission.errors.required">{{f.permission.errors.required}}</div>
                  </div>
              </div>
            <div class="card-footer" >
              <button type="submit" [disabled]="tenantPermissionLoader" class="btn btn-primary"> <span *ngIf="tenantPermissionLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
              &nbsp;
            </div>
          </form>
          </div>

    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <permission-role-list [tenant]="tenant"></permission-role-list>
    </div>
  </section>

  </div>
