<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Player Financial Report" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="pull-left">
                  <h3 class="card-title">Player Financial Report Filter</h3>
                </div>
                <div class="pull-right">
                  <div class="">

                    <ng-container *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">

                      <select  select2 id="tenant_id" (onSelect)="tenantFilter($event)" [(ngModel)]="params.tenant_id" style="width: 325px;" data-placeholder="Select Tenant">
                        <option [value]="0">All Tenants</option>
                        <option *ngFor="let tenants of tenantsList" [value]="tenants.id">{{tenants.name}}</option>
                      </select><span>&nbsp;</span>
                      <span *ngIf="hideShow">
                      <select  class="select2custom" select2 id="owner_id" (onSelect)="filterSelectOwner($event)" [(ngModel)]="params.owner_id" style="width: 325px" data-placeholder="Select Owner">
                        <!-- <option value="">Select Owner</option> -->
                        <option *ngFor="let tenants of tenantsOwnerList let i = index " [attr.selected]="!i"  [value]="tenants.id">{{tenants.agent_name}}</option>
                      </select><span>&nbsp;</span>
                    </span>
                    </ng-container>

                    <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;" data-placeholder="Select Time Zone">
                      <option value="">Select Time Zone</option>
                      <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                      <option *ngFor="let zone of TIMEZONE" [value]="zone.zonename">{{zone.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
  
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <!--<label for="search">Search</label>-->
                      <input type="text" class="form-control" id="search" (keyup)="filter($event)" [(ngModel)]="params.search" placeholder="Search Player ID / Player Name / Phone / Txn ID" title="Search Player ID / Player Name / Txn ID"/>
                    </div>
                  </div>

                  <div class="col-md-2" *ngIf="false">
                    <div class="form-group">
                      <select class="form-control" id="isDirectPlayer" (change)="filter($event)" title="All Organization Players" [(ngModel)]="params.isDirectPlayer">
                        <option value="all">All Organization Players</option>
                        <option value="direct">Only Direct Players</option>
                      </select>
                    </div>
                  </div>

                  <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
                    <div class="col-md-2" *ngIf="hideShow">
                      <div class="form-group">
                        <select class="form-control" select2 id="agent_id"  title="Select Agent" (onSelect)="filterSelectAgent($event)" [(ngModel)]="params.agent_id" data-placeholder="Select Agent">
                          <!-- <option value="">Select Agent</option> -->
                          <option *ngFor="let adminUser of userList" [value]="adminUser.id">{{adminUser.first_name}} {{adminUser.last_name}}</option>
                        </select>
                      </div>
                    </div>
                  </ng-container>

                  <div class="col-md-1.5">
                    <div class="form-group">
                      <select class="form-control" title="Select Currency" data-placeholder="Select Currency"
                              id="currency" (change)="filter($event)" [(ngModel)]="params.currency">
                        <option value="">Select Currency</option>
                        <option *ngFor="let currency of currencies" [value]="currency.code"> {{ currency.code }} </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <!--<label for="action_type">Action Type</label>-->
                      <select class="form-control" id="action_type" data-placeholder="Action Type" (change)="filter($event)" [(ngModel)]="params.action_type">
                        <option value="">Select Action Type</option>
                        <option value="deposit">Deposit</option>
                        <option value="deposit_bonus_claim">Deposit bonus claim</option>
                        <option value="withdraw">Withdraw</option>
                        <option value="withdraw_cancel">Withdraw cancel</option>
                        <option value="deposit_cash_admin">Deposit by admin in cash</option>
                        <option value="deposit_non_cash_admin">Deposit by admin in non cash</option>
                        <option value="deposit_manual_user">Deposit by user manual in cash</option>
                        <option value="deposit_gateway_user">Deposit by user gateway in cash</option>
                        <option value="withdraw_cash_admin">Withdraw by admin in cash</option>
                        <option value="withdraw_non_cash_admin">Withdraw by admin in non cash</option>
                        <option value="withdraw_cash_manual_user">Withdraw by user manual in cash</option>
                        <option value="withdraw_gateway_user">Withdraw by user gateway in cash</option>
                    </select>
                    </div>
                  </div>

                  <!--<div class="col-md-2">
                    <div class="form-group">
                      &lt;!&ndash;<label for="status">Status</label>&ndash;&gt;
                      <select class="form-control" id="status" data-placeholder="Status" (change)="filter($event)" [(ngModel)]="params.status">
                        <option value="">Select Status</option>
                        <option value="success">Success</option>
                        <option value="failed">Failed</option>
                        <option value="pending">Pending</option>
                    </select>
                    </div>
                  </div>-->
                  <div class="col-md-2">
                    <div class="form-group">
                      <select class="form-control" id="time_date_period" (change)="filter($event,true)" [(ngModel)]="params.time_type">
                        <option disabled value="">Select Time Period</option>
                        <option value="today">Today</option>
                        <option value="yesterday">Yesterday</option>
                        <option value="weekly">This Week</option>
                        <option value="monthly">This Month</option>
                        <!-- <option value="yearly">This Year</option> -->
                        <option value="custom">Custom Date</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2" *ngIf="params.time_type=='custom'">
                    <div class="form-group">
                      <input autocomplete="off" readonly data-placeholder="Search Time Period" placeholder="Search Time Period" title="Search Time Period" type="text"
                             class="form-control float-right" id="time_period" [format]="format" daterangetime_picker (onSelect)="selectDateRange($event)" />
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <!--<label for="size">Size</label>-->
                      <select class="form-control" id="size" (change)="filter($event)" [(ngModel)]="params.size">
                        <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                    </select>
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-success mt-0" (click)="submitFilter()"><i class="fa fa-search"></i> Search</button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning mt-0 ml-2"  (click)="resetFilter()"> Reset Filter </button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-default mt-0 ml-2  mr-2" (click)="getReport()"> <i class="fa fa-refresh"></i> </button>
                    <ng-container *ngIf="this.permissionService.checkPermission('player_financial_report','export')">
                      <button type="button" *ngIf="reports.length > 0" class="mgt btn btn-info" style="margin-top: 0px;margin-left: 2px;" (click)="download()"> Export as CSV </button>
                    </ng-container>
                  </div>
                </div>

                <div class="row" *ngIf="tenantBaseCurrency != ''">
                  <div class="col-md-4">
                    <h5>Total Deposit (In {{tenantBaseCurrency}}): {{totalDeposit |number :'1.0-2'}}</h5>
                    <h5>Total Withdraw (In {{tenantBaseCurrency}}): {{totalWithdraw |number :'1.0-2'}}</h5>
                    <h5>Total Withdraw Cancel (In {{tenantBaseCurrency}}): {{totalWithdrawCancel |number :'1.0-2'}}</h5>
                  </div>
                </div>

              </div>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <ng-container *ngIf="!isLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">Player Financial Report</h3>
                <!--<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small> Showing {{pageCurrentTotal}} to {{ pageNextTotal }} of {{total}} entries</small></span>-->

                <div class="pull-right" *ngIf="zone"> Time Zone- {{zone}}</div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8"><span>Showing {{pageCurrentTotal}} to {{ pageNextTotal }} of {{total}} entries</span>
                  </div>
                  <div class="col-md-4">
                    <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
                  </div>
                  <!--Total Record-{{total}}-->
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered">
                  <thead>
                    <tr>
                      
                      <th>Player ID <app-ordering-arrow [column]="'player_details.player_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Player Name <app-ordering-arrow [column]="'player_details.player_name'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Agent Name <app-ordering-arrow [column]="'player_details.agent_name'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Creation Date <app-ordering-arrow [column]="'created_at'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Action Type <app-ordering-arrow [column]="'transaction_type'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Amount <app-ordering-arrow [column]="'amount'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Currency <app-ordering-arrow [column]="'player_details.currency'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Balance Before <app-ordering-arrow [column]="'player_details.before_balance'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>After Balance <app-ordering-arrow [column]="'player_details.before_balance'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Transfer Method <app-ordering-arrow [column]="'transfer_method'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Status <app-ordering-arrow [column]="'status'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Description <app-ordering-arrow [column]="'description'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Transaction ID <app-ordering-arrow [column]="'transaction_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                      <th>Internal Tracking ID <app-ordering-arrow [column]="'internal_tracking_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                   	
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let transaction of reports | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                      
                      <td> {{ transaction._source.player_details && transaction._source.player_details.player_id || '--' }} </td>
                      <!--<td> <a [routerLink]="['/players/details', transaction?._source?.player_details?.player_id]">
                        {{ transaction._source.player_details && transaction._source.player_details.player_name || '&#45;&#45;' }}
                        </a> </td>-->

                      <td>
                        <span *ngIf="transaction._source &&
                                                transaction._source.player_details.player_name">
                                                <a href="javascript:void(0);" title="Click to Search"
                                                   (click)="selectAgent(transaction._source.player_details.player_name)">
                                                {{ transaction._source.player_details &&
                                                transaction._source.player_details.player_name || '' }}
                                                </a>
                                            </span>
                      </td>
                      <!--<td>  <a [routerLink]="['/agents/details', transaction?._source?.tenant_id, transaction?._source?.player_details?.parent_id]"> -->
                          <!--{{ transaction._source.player_details && transaction._source.player_details.agent_name || '&#45;&#45;' }}-->
                        <!--</a> </td>-->
                      <td>
                        <span *ngIf="transaction._source &&
                                                transaction._source.player_details.agent_name">
                                                <a href="javascript:void(0);" title="Click to Search"
                                                   (click)="selectAgent(transaction._source.player_details.agent_name)">
                                                {{ transaction._source.player_details &&
                                                transaction._source.player_details.agent_name || '' }}
                                                </a>
                                            </span>
                      </td>
                      <td> {{ transaction._source.created_at | date: 'dd-MM-YYYY HH:mm:ss' || '--' }} </td>
                      <td> {{ transaction._source.transaction_type || 'NA' }} </td>
                      <td> {{ transaction._source.amount | number: '1.2-2' || '--' }} </td>
                      <td> {{ transaction._source.player_details && transaction._source.player_details.currency || '--' }} </td>
                      <td> {{ transaction._source.player_details && transaction._source.player_details.before_balance | number: '1.2-2' || '--' }} </td>
                      <td> {{ transaction._source.player_details && transaction._source.player_details.after_balance | number: '1.2-2' || '--' }} </td>
                      <td> {{ transaction._source && transaction._source.transfer_method || '--' }} </td>
                      <td> {{ transaction._source && transaction._source.status || '--' }} </td>
                      <td> {{ transaction._source && transaction._source.description || '--' }} </td>
                      <td> {{ transaction._source && transaction._source.transaction_id || '--' }} </td>
                      <td> {{ transaction._source && transaction._source.internal_tracking_id || '--' }} </td>

                      <!--<td> {{ transaction.actionee_id || 'NA' }} </td>-->

                    </tr>
                    <tr *ngIf="firstTimeApiCall && reports && reports.length === 0"> <td colspan="14" class="tnodata"> No  Reports Found </td> </tr>
                    <tr *ngIf="!firstTimeApiCall"> <td colspan="14" class="tnodata"> Click Search to Load Data. </td> </tr>
                  </tbody>
                </table>
                
                </div>

              <!--<pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>-->
              <div class="row mt-1">
                <div class="col-md-8"><span>Showing {{pageCurrentTotal}} to {{ pageNextTotal }} of {{total}} entries</span>
                </div>
                <div class="col-md-4">
                  <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
                </div>
                <!--Total Record-{{total}}-->
              </div>
              </div>
              </ng-container>

            </div>
            <!-- /.card -->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>
  
