<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Permission Role" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">

              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> {{ breadcrumbs[breadcrumbs.length-1].title }} Permission Role </h3>
                </div>
                <form [formGroup]="permissionRoleForm" (ngSubmit)="onSubmit()">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="role_name">Role Name <span class="text-danger">*</span></label>
                          <input type="text" maxlength="30" formControlName="role_name" class="form-control" id="role_name" placeholder="Enter Role Name"/>
                          <div class="invalid-feedback" *ngIf="submitted && f.role_name.errors">
                            <div *ngIf="f.role_name.errors.required">Role Name is required</div>
                            <div *ngIf="f.role_name.errors.maxlength">Role Name should not be greater than 30 char</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tenant_id">Tenant<span class="text-danger">*</span></label>
                          <select formControlName="tenant_id" class="form-control" id="tenant_id"  data-placeholder="Select a tenant" style="width: 100%;">
                            <option disabled [value]="">Select a tenant</option>
                            <option *ngFor="let tenant of tenants" [value]="tenant.id">{{ tenant.name }}</option>
                          </select>
                          <div class="invalid-feedback" *ngIf="submitted && f.tenant_id.errors">
                              <div *ngIf="f.tenant_id.errors.required">Tenant is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="role_type">Role Type<span class="text-danger">*</span></label>
                          <select formControlName="role_type" class="form-control" id="role_type"  data-placeholder="Select a Role Type" style="width: 100%;">
                            <option disabled [value]="">Select a role type</option>
                            <option *ngFor="let role of roles" [value]="role.value">{{ role.name }}</option>
                          </select>
                          <div class="invalid-feedback" *ngIf="submitted && f.role_type.errors">
                              <div *ngIf="f.role_type.errors.required">Role type is required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="container-fluid">
                    <div class="card card-outline">
                      <div class="card-header">
                        <label class="card-title">Permissions<span class="text-danger">*</span></label>
                      </div>
                      <!-- /.card-header -->
                      <div class = "permission-wrapper">
                        <div class="card-body">
                          <div *ngIf = "!compareTenantPermissionObjects(this.permissions, this.initialPermissions)" class="col-md-12">
                            <div class="form-group clearfix">
                              <div class="icheck-primary d-inline">
                                <input type="checkbox" id="checkboxPrimary1" (change)="toggleAllPermissions($event)" [checked]="compareTenantPermissionObjects(this.selectedPermissions,this.permissions)">
                                <label for="checkboxPrimary1">Select All permissions</label>
                              </div>
                            </div>
                          </div>
                          <!-- <ng-container *ngFor="let header of permissions | keyvalue">
                            <div class="per-data" *ngIf="isEmptyPermission(header.value)">
                              <p>{{ header.key | capitalize}}</p>
                              <div class="permission-group">
                                <span *ngFor="let permission of getPermissionsFromValue(header.value)" class="permission-cells text-white"
                                  [ngClass]="{active: isPermissionSelected(header.key, permission)}"
                                  (click)="togglePermission(header.key, permission)">
                                  {{getLabel(permission)}}
                                </span>
                              </div>
                            </div>
                          </ng-container> -->
                          <ng-container *ngFor="let header of keyArr">
                            <div class="per-data" *ngIf="isEmptyPermission(permissions[header])">
                              <p>{{ header | capitalize}}</p>
                              <div class="permission-group">
                                <span *ngFor="let permission of getPermissionsFromValue(permissions[header])" class="permission-cells text-white"
                                  [ngClass]="{active: isPermissionSelected(header, permission)}"
                                  (click)="togglePermission(header, permission)">
                                  {{getLabel(permission)}}
                                </span>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                      <!-- /.card-body -->
                      <div class="invalid-feedback" *ngIf="submitted && f.permission.errors">
                        <div *ngIf="f.permission.errors.required">{{f.permission.errors.required}}</div>
                      </div>
                    </div>
                  </div><!-- /.container-fluid -->
                  <div class="card-footer" >
                    <button type="submit" [disabled]="permissionRoleLoader" class="btn btn-primary"> <span *ngIf="permissionRoleLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
                    &nbsp;
                    <a [routerLink]="['/super-admin/tenants/details',tenantId]" class="btn btn-warning"> Cancel </a>
                  </div>
                </form>
              </div>

        </div>
      </section>


  </div>
