<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Tenants" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->


    <section class="content">
        <div class="container-fluid">

          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> {{ breadcrumbs[breadcrumbs.length-1].title }} Tenant </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="tenantForm" (ngSubmit)="onSubmit()">
                  <div class="card-body">
                    
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="language">Language <span class="text-danger">*</span></label>
                                <select class="form-control" [attr.disabled]="true"  select2 (onSelect)="selectLanguage($event)" id="language" data-placeholder="Select a Language" style="width: 100%;">
                                  <option *ngFor="let languag of languages" [value]="languag.id"> {{ languag.name }} </option>
                                </select>
                                <div class="invalid-feedback" *ngIf="submitted && f.language.errors">
                                    <div *ngIf="f.language.errors.required">Language is required</div>
                                </div>
                            </div>

                        </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="layout">Layout <span class="text-danger">*</span></label>
                                    <select class="form-control" id="layout" select2 (onSelect)="selectLayout($event)" data-placeholder="Select a Layout" style="width: 100%;">
                                      <option *ngFor="let layout of layouts" [value]="layout.id"> {{ layout.name }} </option>
                                    </select>
                                    <div class="invalid-feedback" *ngIf="submitted && f.layout.errors">
                                        <div *ngIf="f.layout.errors.required">Layout is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                  <label for="name">Whatsapp Number</label>
                                  <input type="text" formControlName="whatsappNumber" (keypress)="numberOnly($event)" class="form-control" id="whatsappNumber"
                                        placeholder="Enter Whatsapp Number"/>
                                  <div class="invalid-feedback" *ngIf="submitted && f.whatsappNumber.errors">
                                      <div *ngIf="f.whatsappNumber.errors.min || f.whatsappNumber.errors.max">Phone Number is invalid</div>
                                  </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                  <label for="theme">Theme <span class="text-danger">*</span></label>
                                  <select *ngIf="themes && themes.length > 0" class="form-control" id="theme" select2 (onSelect)="selectTheme($event)" data-placeholder="Select a Theme" style="width: 100%;">
                                    
                                    <option *ngFor="let theme of themes" [value]="theme.name"> {{ theme.name }} </option>
                                    <option value="Custom">Custom</option>
  
                                  </select>
                                  <div class="invalid-feedback" *ngIf="submitted && f.theme.errors">
                                      <div *ngIf="f.theme.errors.required">Theme is required</div>
                                  </div>
                              </div>
                          </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="exampleInputFile">Logo</label>
                                    <div class="input-group">
                                      <div class="custom-file">
                                        <input (change)="selectImage(file.files,'logo')" #file formControlName="logo" accept="image/*" type="file" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                      </div>
                                      <!-- <div class="input-group-append">
                                        <span class="input-group-text">Upload</span>
                                      </div> -->
                                    </div>
                                    <div class="invalid-feedback" *ngIf="submitted && f.logo.errors">
                                      <div *ngIf="f.logo.errors.required">Logo is required</div>
                                      <div *ngIf="f.logo.errors.requiredFileType">Logo must be image</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6" *ngIf="imgURL">
                                      <img [src]="imgURL" class="imshow" id="tenantLogo"/>
                                    <!-- <ng-container *ngIf="selectLogoBool ; else sfilesrc">
                                      <img [src]="imgURL" class="imshow" id="tenantLogo"/>
                                    </ng-container>
                                    <ng-template #sfilesrc>
                                      <img [src]="IMGSRC+imgURL" class="imshow" id="tenantLogo"/>
                                    </ng-template> -->
                                </div>
                              </div>
                            
                        </div>

                       

                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile1">Fav Icon</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input (change)="selectImage(fabFile.files,'fab')" #fabFile
                                                   formControlName="fabLogo" accept="image/*" type="file"
                                                   class="custom-file-input" id="exampleInputFile1">
                                            <label class="custom-file-label" for="exampleInputFile1">Choose
                                                file</label>
                                        </div>
                                        <!-- <div class="input-group-append">
                                            <span class="input-group-text">Upload</span>
                                        </div> -->
                                    </div>
                                    <div class="invalid-feedback" *ngIf="submitted && f.fabLogo.errors">
                                        <div *ngIf="f.fabLogo.errors.required">Fav Icon is required</div>
                                        <div *ngIf="f.fabLogo.errors.requiredFileType">Fav Icon must be image</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="fabImgURL">
                                <img [src]="fabImgURL" class="imshow" id="tenantFabLogo"/>
                            </div>
      
                        </div>
                        </div>
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile1">Registration Popup Side Image</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input (change)="selectImage(signupPopupFile.files,'signupPopup')" #signupPopupFile
                                                   formControlName="signupPopup" accept="image/*" type="file"
                                                   class="custom-file-input" id="exampleInputFile1">
                                            <label class="custom-file-label" for="exampleInputFile1">Choose
                                                file</label>
                                        </div>
                                        <!-- <div class="input-group-append">
                                            <span class="input-group-text">Upload</span>
                                        </div> -->
                                    </div>
                                    <div class="invalid-feedback" *ngIf="submitted && f.signupPopup.errors">
                                        <div *ngIf="f.signupPopup.errors.required">Image is required</div>
                                        <div *ngIf="f.signupPopup.errors.requiredFileType">This Image must be image</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="signUpPopURL">
                                <img [src]="signUpPopURL" class="imshow" id="tenantSignupPopup"/>
                            </div>
      
                        </div>
                        </div>
                    </div>

                    


                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <ng-container *ngIf = "this.permissionService.checkPermission('tenant_theme_settings','U')">
                      <button type="submit" [disabled]="tenantLoader" class="btn btn-primary">
                        <span *ngIf="tenantLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
                    </ng-container>
                  </div>
                </form>
              </div>
              <!-- /.card -->
  
            </div>
          </div>
          <!-- /.row -->

          <app-theme [theme]="theme" [selectedLayout] = "selectedLayout" (changeTheme)="changeTheme($event)"></app-theme>

        </div><!-- /.container-fluid -->
      </section>


  </div>
