<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- <app-breadcrumb title="CHANGE PASSWORD" >
    </app-breadcrumb> -->
    <!-- /.content-header -->
    <section class="content">
      <div class="container-fluid">
        <div class="row" style="height: calc(100vh - 204px);">
          <div class="col-md-4 mx-auto align-self-center">
            <div class="card">
              <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    
                <div class="card-body row">
                  <div class="col-md-12">
                    <div class="form-group">
                    <label for="name">Old Password <span class="text-danger">*</span></label>
                    <div class="input-group">
                      <input [type]="hideShowOldPass ? 'text' : 'password'" class="form-control"  maxlength="30" id="old_password" placeholder="Enter old Password"
                        formControlName="old_password" />
                        <div class="input-group-text p-0">
                          <button class="btn btn-default" type="button" (click)="hideShowOldPass = hideShowOldPass ? false : true"> <i [ngClass]="hideShowOldPass ? 'fa fa-eye-slash' : 'fa fa-eye'"></i> </button> 
                        </div>
                      </div>
                      <div class="invalid-feedback" *ngIf="submitted && f.old_password.errors">
                        <div *ngIf="f.old_password.errors.required">Old Password is required</div>
                        <div *ngIf="f.old_password.errors.pattern">Password must be 1 upper case, 1 lower case and 1 special char min 8 char.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="name">New Password <span class="text-danger">*</span></label>
                      <div class="input-group">
                      <input [type]="hideShowNewPass ? 'text' : 'password'" class="form-control"  maxlength="30" id="new_password" placeholder="Enter New Password"
                        formControlName="new_password" />
                        <div class="input-group-text p-0">
                          <button class="btn btn-default" type="button" (click)="hideShowNewPass = hideShowNewPass ? false : true"> <i [ngClass]="hideShowNewPass ? 'fa fa-eye-slash' : 'fa fa-eye'"></i> </button> 
                        </div>
                      </div>
                      <div class="invalid-feedback" *ngIf="submitted && f.new_password.errors">
                        <div *ngIf="f.new_password.errors.required">New Password is required</div>
                        <div *ngIf="f.new_password.errors.pattern">Password must be 1 upper case, 1 lower case and 1 special char min 8 char.</div>
                        
                      </div>
                    </div>
  
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="name">Confirm Password <span class="text-danger">*</span></label>
                      <div class="input-group">
                      <input [type]="hideShowConfirmPass ? 'text' : 'password'" class="form-control"  maxlength="30" id="confirm_password" placeholder="Enter Confirm Password"
                        formControlName="confirm_password" />
                        <div class="input-group-text p-0">
                          <button class="btn btn-default" type="button" (click)="hideShowConfirmPass = hideShowConfirmPass ? false : true"> <i [ngClass]="hideShowConfirmPass ? 'fa fa-eye-slash' : 'fa fa-eye'"></i> </button> 
                        </div>
                      </div>
                      <div class="invalid-feedback" *ngIf="submitted && f.confirm_password.errors">
                        <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirm_password.errors.mustMatch">New password and Confirm Password must match.</div>
                        <div *ngIf="f.confirm_password.errors.pattern">Password must be 1 upper case, 1 lower case and 1 special char min 8 char.</div>

                      </div>
                    </div>
  
                  </div>
                </div>
                <div class="card-footer">
  
                  <ng-container>
                    <button type="submit" [disabled]="userRoleLoader" class="btn btn-primary">
                      <span *ngIf="userRoleLoader" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true">
                      </span>
                      Submit
                    </button>
                    &nbsp;
                  </ng-container>
                  <a [routerLink]="['/']" class="btn btn-warning">
                    Cancel
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
  
  
  </div>