<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Themes" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      
      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Themes</h3>
              <a class="btn btn-success f-right fnt-12" routerLink="/super-admin/themes/0"> Create New </a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">ID</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let theme of themes | paginate: { itemsPerPage: 10, currentPage: p }">
                    
                    <td> {{ theme.id }} </td>
                    <td> {{ theme.name }} </td>
                    
                    <td>
                      <a [routerLink]="['/super-admin/themes', theme.id]" class="fnt-12 btn btn-warning"> Edit </a> &nbsp;
                      <!-- <button type="button" (click)="delete(theme)" class="fnt-12 btn btn-danger"> Delete </button> -->
                    </td>
                  </tr>
                  <tr *ngIf="themes && themes.length === 0"> <td colspan="3" class="tnodata"> No Themes Found </td> </tr>
                </tbody>
              </table>
            </div>
            </div>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            
          </div>
          <!-- /.card -->

        </div>

      </div>
      
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
