<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Transfer Fund" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">

          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> Transfer Fund </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
                  <div class="card-body">

                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="target_type"> <span *ngIf="type=='Withdraw'">Withdraw From </span><span *ngIf="type!='Withdraw'">Transfer To </span> <span class="text-danger">*</span></label>
                          <select formControlName="target_type" (change)="changeType($event)" class="form-control" id="target_type">
                            <option *ngIf="this.permissionService.checkPermission('agents','R')" value="AdminUser"> {{ superAdminAuthService.superAdminTokenValue && this.superAdminAuthService.superAdminTokenValue.length > 0 ? 'Owner' : 'Agent' }} </option>
                            <option *ngIf="adminAuthService.adminTokenValue && adminAuthService.adminTokenValue.length > 0 && this.permissionService.checkPermission('players','R')" value="User">User</option>
                            <option *ngIf="adminAuthService.adminTokenValue && adminAuthService.adminTokenValue.length > 0 && !isAgent && type =='deposit' && isSubAdmin && isSelfFundingEnable" value="self">Self</option>
                          </select>
                          <div class="invalid-feedback" *ngIf="submitted && f.target_type.errors">
                            <div *ngIf="f.target_type.errors.required"><span *ngIf="type=='Withdraw'">Source </span><span *ngIf="type!='Withdraw'">Target </span> Type is required</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="target_email"> <span *ngIf="type=='Withdraw'">Source </span><span *ngIf="type!='Withdraw'">Target </span> {{ (this.f.target_type.value=='User')?'Username': 'Email' }} <span class="text-danger">*</span></label>

                          <select class="form-control" [placeholder]="'Search '+((f.target_type.value == 'AdminUser' && superAdminAuthService.superAdminTokenValue &&  superAdminAuthService.superAdminTokenValue.length > 0) ?'Owner': (f.target_type.value == 'User' ? 'User' : (f.target_type.value == 'Self' ? '' : 'Agent')))" search_select2 [url]="searchLeaguesUrl" (onSelect)="selectEmail($event)" id="target_email"></select>

                          <div class="invalid-feedback" *ngIf="submitted && f.target_email.errors">
                            <div *ngIf="f.target_email.errors.required"><span *ngIf="type=='Withdraw'">Source </span><span *ngIf="type!='Withdraw'">Target </span> Email is required</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3" *ngIf="f.target_email.value && wallets && wallets.length > 0">
                        <div class="form-group">
                          <label for="target_currency_id"> <span *ngIf="type=='Withdraw'">Source </span><span *ngIf="type!='Withdraw'">Target </span> Currency Id  <span class="text-danger">*</span></label>
                          <select formControlName="target_currency_id" (change)="selectUserWallete($event)" class="form-control" id="target_currency_id">
                            <option value="" > Select Currency </option>
                            <ng-container *ngIf="superAdminAuthService.superAdminTokenValue &&  superAdminAuthService.superAdminTokenValue.length > 0">
                              <option *ngFor="let wallet of wallets" [hidden]="wallet.currency_name != 'EUR'" [value]="wallet.id">{{wallet.currency_name}}</option>
                            </ng-container>
                           
                            <ng-container *ngIf="adminAuthService.adminTokenValue && adminAuthService.adminTokenValue.length > 0">
                              <option *ngFor="let wallet of wallets" [value]="wallet.id">{{wallet.currency_name}}</option>
                            </ng-container>
                           
                          </select>
                          <div class="invalid-feedback" *ngIf="submitted && f.target_currency_id.errors">
                            <div *ngIf="f.target_currency_id.errors.required"><span *ngIf="type=='Withdraw'">Source </span><span *ngIf="type!='Withdraw'">Target </span> Currency Id is required</div>
                          </div>
                        </div>
                      </div>

                    </div>

                      <div class="form-group">
                        <label for="amount">Amount <span class="text-danger">*</span> <span *ngIf="targetWallete && targetWallete.amount" class="text-success"> Transfer From ( {{ targetWallete.amount }} )</span> </label>
                        <input type="number" (keyup)="chAmount($event)" formControlName="amount" class="form-control" maxlength="15" id="amount" placeholder="Enter Amount"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.amount.errors">
                          <div *ngIf="f.amount.errors.required">Amount Rate is required</div>
                          <div *ngIf="f.amount.errors.min">Amount cannot be less than 1</div>
                        </div>
                      </div>
                    <ng-container *ngIf="!superAdminAuthService.superAdminTokenValue && !isSelfTransfer">
                        <div class="form-group">
                          <label for="source_currency_id"> <span *ngIf="type=='Withdraw'"> Target</span><span *ngIf="type!='Withdraw'"> Source </span> Currency Id <span class="text-danger">*</span></label>
                          <select formControlName="source_currency_id" (change)="selectAdminWallete($event)" class="form-control" id="source_currency_id">
                            <option value="" disabled> Select Currency </option>
                            <option *ngFor="let currency of currencies" [value]="currency.id">{{currency.currency_name}}</option>
                          </select>
                          <div class="invalid-feedback" *ngIf="submitted && f.source_currency_id.errors">
                            <div *ngIf="f.source_currency_id.errors.required"><span *ngIf="type=='Withdraw'"> Source </span><span *ngIf="type!='Withdraw'">Target </span> Currency Id is required</div>
                          </div>
                        </div>
                    </ng-container>

                      <div class="form-group">
                        <label for="comment">Comment <span class="text-danger">*</span></label>
                        <input type="text" formControlName="comment" class="form-control" id="comment" placeholder="Enter Comment"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.comment.errors">
                          <div *ngIf="f.comment.errors.required">Comment is required</div>
                        </div>
                      </div>

                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer" >
                    <button type="submit" [disabled]="transferLoader" class="btn btn-primary"> <span *ngIf="transferLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
                    &nbsp;

                    <a [routerLink]="queryParams && queryParams?.owner_type == 'AdminUser' ? ['/agents/details', queryParams?.tenant_id, queryParams?.owner_id] : queryParams?.owner_type == 'User' ? ['/players/details', queryParams?.owner_id] : ['/transactions']" class="btn btn-warning"> Cancel </a>

                  </div>
                </form>
              </div>
              <!-- /.card -->

            </div>
          </div>
          <!-- /.row -->

        </div><!-- /.container-fluid -->
      </section>


  </div>
