<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Site Maintenance" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Site Maintenance</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body" class="body-scroll">

                <div class="row" style="margin: 30px;">
                  <div class="col-5 col-sm-3">
                    <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab"
                        aria-controls="vert-tabs-home" aria-selected="true">Maintenance Mode</a>
                    </div>
                  </div>
                  <div class="col-7 col-sm-9">
                    <div class="tab-content" id="vert-tabs-tabContent">
                      <div class="tab-pane active show  text-left fade" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
                        <form [formGroup]="mModeForm" (ngSubmit)="onSubmit()">
                          <div class="card-body">
                            <div class="form-group">
                              <label for="exampleInputEmail1"> Title* 
                                <small>
                                  <i class="fa fa-info-circle c1" title="This title will be visible on maintenance page"></i>
                                </small>
                              </label>
                              <input type="text" formControlName="title" class="form-control" id="exampleInputEmail1" placeholder="Enter Title">
                              <div class="invalid-feedback" *ngIf="submitted && f.title.errors">
                                <div *ngIf="f.title.errors.required">Title is required</div>
                              </div>
                            </div>
                            <div class="form-group">
                              <hr class="style-two">
                              <label for="exampleInputPassword1">Announcement Title 
                                <small>
                                  <i class="fa fa-info-circle c1" title="This title is used to inform users about maintenance"></i>
                                </small>
                              </label>
                              <input type="text" formControlName="announcement_title" class="form-control" id="exampleInputPassword1" placeholder="Enter Announcement Title">
                            </div>
                            
                            <div class="form-group">
                              <label for="">Do you want the announcement tile to be appear on website?</label><br>
                              <div class="icheck-primary d-inline ml-2">
                                <input formControlName="active" type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label for="exampleCheck1">Yes</label>
                                </div>
                            </div>

                            <div class="form-group">
                              <hr class="style-two">
                              <label for="">When you activate it, the site will go on maintenance mode until you deactivate it.</label><br>
                              <div class="icheck-primary d-inline ml-2">
                              <input  type="checkbox" formControlName="site_down" value="" name="todo1" id="todoCheck1">
                                <label for="todoCheck1">Site Down</label>
                                </div>
                            </div>
                          </div>
                          <ng-container *ngIf="this.permissionService.checkPermission('site_maintenance','U')">
                            <div class="card-footer">
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                          </ng-container>
                        </form>
                      </div>
                      
                    </div>
                  </div>
                </div>


              </div>
              
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
