
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Social Media Settings" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Social Media</h3>
                <ng-container >
                    <a (click)="createPageForm()" data-toggle="modal" data-target="#modal-page" class="btn btn-success fnt-12 f-right"> Create New </a>
                  </ng-container>
                <!--<a class="btn btn-success f-right fnt-12" routerLink="/super-admin/menu/0"> Create New </a>-->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Name</th>
                      <th>Image</th>
                      <th>Redirect URL</th>
                      <th>Status</th>
                      <th>Updated At</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let socialMedia of socialMedias | paginate: { itemsPerPage: 10, currentPage: p }">
  
                      <td> {{ socialMedia?.id }} </td>
                      <td> {{ socialMedia?.name }} </td>
                      <td>
                        <img src="{{ socialMedia?.image }}" onError= "this.src='assets/dist/img/No-image-found.jpg'" width="100px" height="100px" alt="No image found">
                      </td>
                      <td> {{ socialMedia?.redirect_url }} </td>
                      <td><span [ngClass]="socialMedia.status ? 'text-success':'text-danger'">{{ socialMedia.status ? 'Active' : 'Deactive' }}</span></td>
                      <td> {{ socialMedia?.updated_at | date: 'dd-MM-YYYY HH:mm:ss' || '-'}} </td>
                      <td>
                        <button type="button" data-toggle="modal" data-target="#modal-page" (click)="selectSocialMedia(socialMedia)" class="fnt-12 btn btn-warning"> <i class="fa fa-edit"></i> </button>&nbsp;
                        <!-- <button data-toggle="modal" data-target="#modal-provider" (click)="setMenuId(menuRecord)"  class="fnt-12 btn btn-info"> <i class="fa fa-upload"></i> </button> -->
                        <ng-container >
                          <ng-container *ngIf="socialMedia?.status; else activeUser">
                            <button type="button" (click)="deactiveSocialMediaStatus(socialMedia)" class="btn btn-danger fnt-12 btnCommon"> <i class="fa fa-remove"></i> </button>
                          </ng-container>
                          <ng-template #activeUser>
                            <button type="button" (click)="activeSocialMediaStatus(socialMedia)" class="btn btn-success fnt-12 btnCommon"> <i class="fa fa-check"></i> </button>
                          </ng-template>
                        </ng-container>
                      </td>
                    </tr>
                    <tr *ngIf="socialMedias && socialMedias.length === 0"> <td colspan="6" class="tnodata"> No social media found </td> </tr>
  
                  </tbody>
                </table>
              </div>
              </div>
  
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <div class="modal fade" id="modal-page" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Social Media </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <form [formGroup]="socialMediaForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          
              <div class="form-group">
                <label for="name">Name <span class="text-danger">*</span></label>
                <input formControlName="name" type="text" maxlength="50" class="form-control" placeholder="Enter name" id="name"/>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
              </div>

              <div class="form-group">
                <label for="redirect_url">Redirect Url<span class="text-danger">*</span></label>
                <input formControlName="redirect_url" type="text" maxlength="50" class="form-control" placeholder="Enter redirect url" id="name"/>
                <div *ngIf="submitted && f.redirect_url.errors" class="invalid-feedback">
                  <div *ngIf="f.redirect_url.errors.required">Redirect url is required</div>
                  <div *ngIf="f.redirect_url.errors.pattern">Redirect Url must be valid</div>
              </div>
              </div>

              <div class="form-group">
                <label for="exampleInputFile">Image <span 
                  class="text-danger">*</span></label>
                <div class="input-group">
                  <div class="custom-file">
                    <input (change)="selectImage(logo_file.files)" #logo_file formControlName="image"
                      accept="svg+xml/png/jpg/jpeg" type="file" class="custom-file-input"
                      id="exampleInputFile">
                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                  </div>
    
                </div>
                <div class="invalid-feedback" *ngIf="submitted && f.image.errors">
                  <div *ngIf="f.image.errors.required">File is required</div>
                    <div *ngIf="f.image.errors?.dimension">
                      Icon should be less then 30 x 30 size
                    </div>
                </div>

                <div class="col-md-12" *ngIf="imgURL">
                  <img [src]="imgURL" class="imshow" />
                </div>
              </div>


            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="tenantLoader" class="btn btn-primary">
                <span *ngIf="tenantLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Save changes </button>
            </div>

          </form>

      </div>
    </div>
  </div>
  