<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Mail Configuration" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->


  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-8">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"> Update Mail Credentials </h3>
            </div>
            <form [formGroup]="mailConfigurationForm" (ngSubmit)="onSubmit()">
              <div class="card-body">

                <div formGroupName="phaseExecutions">
                  <div formArrayName="PRE">
                    <div *ngFor="let keys of configuration_keys.controls; let i=index" class="mb-3 form-group row"
                      [formGroupName]="i">

                      <label for="{{getControlByName(i)}}" class="col-md-2">{{getControlByName(i)}}</label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" formControlName="{{getControlByName(i)}}"
                          id="{{getControlByName(i)}}" placeholder="{{getControlByName(i)}}">

                        <div class="invalid-feedback" *ngIf="submitted  && getProviderFormArr(i).controls[getControlByName(i)].hasError(
                              'required'
                            )">
                          <div>{{getControlByName(i)}} is required</div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>

                <div class="form-group row">
                  <div class="offset-sm-2 col-sm-10">
                    <button type="submit" [disabled]="adminLoader" class="btn btn-info">
                      <span *ngIf="adminLoader" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span> Submit</button>
                  </div>
                </div>


              </div>


            </form>
          </div>
        </div>



      </div>
      <!-- /.row -->

    </div><!-- /.container-fluid -->
  </section>


</div>
