<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Game Transaction Report" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-left">
                                <h3 class="card-title">Game Transaction Report Filter</h3>
                            </div>
                            <div class="pull-right">
                                <div class="">
                                    <ng-container
                                            *ngIf="superAdminAuthService.superAdminTokenValue &&
                                            superAdminAuthService.superAdminTokenValue.length > 0">

                                        <select select2 id="tenant_id" (onSelect)="tenantFilter($event)"
                                                [(ngModel)]="params.tenant_id" style="width: 325px;"
                                                data-placeholder="Select Tenant">
                                            <option [value]="0">All Tenants</option>
                                            <option *ngFor="let tenants of tenantsList" [value]="tenants.id">
                                                {{tenants.name}}
                                            </option>
                                        </select>
                                        <span>&nbsp;</span>
                                        <span *ngIf="hideShow">
                                            <select class="select2custom" select2 id="owner_id"
                                                    (onSelect)="filterSelectOwner($event)" [(ngModel)]="params.owner_id"
                                                    style="width: 325px" data-placeholder="Select Owner">
                                                <!-- <option value="">Select Owner</option> -->
                                                <option *ngFor="let tenants of tenantsOwnerList ; let i = index" [attr.selected]="!i"  [value]="tenants.id">
                                                    {{tenants.agent_name}}
                                                </option>
                                            </select><span>&nbsp;</span>
                                        </span>

                                    </ng-container>

                                    <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;" data-placeholder="Select Time Zone">
                                        <option value="">Select Time Zone</option>
                                        <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                                        <option *ngFor="let zone of TIMEZONE" [value]="zone.zonename">{{zone.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="search" (keyup)="filter($event)"
                                               [(ngModel)]="params.search" placeholder="Search Player ID / PlayerName / Phone / Round ID / Agent Name"/>
                                    </div>
                                </div>

                                <div class="col-md-2" *ngIf="false">
                                    <div class="form-group">
                                        <select class="form-control" id="player_type" (change)="filter($event)"
                                                [(ngModel)]="params.player_type">
                                            <option value="">Select Player Type</option>
                                            <option value="all">All Organization Players</option>
                                            <option value="direct">Only Direct Players</option>
                                        </select>
                                    </div>
                                </div>
                                <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
                                    <div class="col-md-2" *ngIf="hideShow">
                                        <div class="form-group">
                                            <select class="form-control" select2 id="agent_id"  title="Select Agent" (onSelect)="filterSelectAgent($event)" [(ngModel)]="params.agent_id" data-placeholder="Select Agent">
                                                <!-- <option value="">Select Agent</option> -->
                                                <option *ngFor="let adminUser of userList" [value]="adminUser.id">{{adminUser.first_name}} {{adminUser.last_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </ng-container>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <select class="form-control" title="Select Currency" data-placeholder="Select Currency"
                                                id="currency" (change)="filter($event)" [(ngModel)]="params.currency">
                                            <option value="">Select Currency</option>
                                            <option *ngFor="let currency of currencies" [value]="currency.code"> {{ currency.code }} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <!--<label for="action_type">Action Type</label>-->
                                        <select class="form-control" id="action_type" (change)="filter($event)"
                                                [(ngModel)]="params.action_type">
                                            <option value="">Select Action Type</option>
                                            <option value="bet">Bet</option>
                                            <option value="bet_non_cash">Bet non cash</option>
                                            <option value="refund">Refund</option>
                                            <option value="refund_non_cash">Refund non cash</option>
                                            <option value="tip">Tip</option>
                                            <option value="tip_non_cash">Tip non cash</option>
                                            <option value="win">Win</option>
                                            <option value="win_non_cash">Return non cash</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2" *ngIf="false">
                                    <div class="form-group">
                                        <!--<label for="internal_error_code">Internal Error Code</label>-->
                                        <select class="form-control" id="internal_error_code" (change)="filter($event)"
                                                [(ngModel)]="params.internal_error_code">
                                            <option value="">Select Internal Error Code</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <!--<label for="game_provider">Game Provider</label>-->
                                        <select class="form-control" id="game_provider" (change)="filter($event)"
                                                [(ngModel)]="params.game_provider">
                                            <option value="">Select Game Provider</option>
                                            <option *ngFor="let game of gameProvider" [value]="game.key"> {{ game.key }} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2" *ngIf="params.game_provider">
                                    <div class="form-group">
                                        <select class="form-control" id="game_type" (change)="filter($event)"
                                                data-placeholder="Select Game Type"
                                                [(ngModel)]="params.game_type">
                                            <option value="">Select Game Type</option>
                                            <option *ngFor="let game of gameType" [value]="game.key"> {{ game.name }} </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-2">
                                    <div class="form-group">
                                        <!--<label for="time_period">Time Period</label>-->
                                        <select class="form-control" id="time_date_period" (change)="filter($event,true)"
                                                [(ngModel)]="params.time_type">
                                            <option disabled value="">Select Time Period</option>
                                            <option value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="weekly">This Week</option>
                                            <option value="monthly">This Month</option>
                                            <!-- <option value="yearly">This Year</option> -->
                                            <option value="custom">Custom Date</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2" *ngIf="params.time_type=='custom'">
                                    <div class="form-group">
                                        <input autocomplete="off" readonly data-placeholder="Search Time Period" placeholder="Search Time Period" title="Search Time Period" type="text"
                                               class="form-control float-right" id="time_period" [format]="format" daterangetime_picker (onSelect)="selectDateRange($event)" />
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <!--<label for="size">Size</label>-->
                                        <select class="form-control" id="size" (change)="filter($event)" data-placeholder="Size" title="Record Size"
                                                [(ngModel)]="params.size">
                                            <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">
                                                {{pageSize.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col" id="dbuttons">
                                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-success mt-0" (click)="submitFilter()"><i class="fa fa-search"></i> Search</button>
                                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning mt-0 ml-2" (click)="resetFilter()" style="margin-top: 0px;"> Reset Filter</button>
                                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-default mt-0 ml-2" (click)="getReport()"> <i class="fa fa-refresh"></i> </button>
                                    <ng-container *ngIf="this.permissionService.checkPermission('game_transaction_report','export')">
                                        <button type="button" *ngIf="reports.length > 0" class="mgt btn btn-info mt-0 ml-2" (click)="download()"> Export as CSV </button>
                                    </ng-container>
                                </div>
                            </div>
                            <ng-container *ngIf="tenant_base_currency != ''">
                              <h5>Total Bet (in {{tenant_base_currency}}): {{bet| number}}</h5>
                              <h5>Total Refund (in {{tenant_base_currency}}): {{totalRefund| number}}</h5>
                              <h5>Total Win (in {{tenant_base_currency}}): {{win| number}}</h5>
                              <h5>Total Tip (in {{tenant_base_currency}}): {{tip| number}}</h5>
                            </ng-container>
                            
                        </div>

                    </div>
                    <!-- /.card -->

                </div>

            </div>

        </div><!-- /.container-fluid -->
    </section>
 

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <ng-container *ngIf="!isLoader; else loader">
                        <div class="card-header">
                            <h3 class="card-title">Game Transaction Report</h3>
                            <!--<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small> Showing {{pageCurrentTotal}} to {{ pageNextTotal }} of {{total}} entries</small></span>-->

                            <div class="pull-right" *ngIf="zone"> Time Zone- {{zone}}</div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-8"><span>Showing {{pageCurrentTotal}} to {{ pageNextTotal }} of {{total}} entries</span>
                                </div>
                                <div class="col-md-4">
                                    <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
                                </div>
                                <!--Total Record-{{total}}-->
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 10px">Player ID <app-ordering-arrow [column]="'player_details.player_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th>Player Name <app-ordering-arrow [column]="'player_details.player_name'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th>Game Provider <app-ordering-arrow [column]="'game_provider'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th>RoundID <app-ordering-arrow [column]="'round_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th>Agent Name <app-ordering-arrow [column]="'player_details.agent_name'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th style="width: 30px">Creation Date <app-ordering-arrow [column]="'created_at'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th>Game Type <app-ordering-arrow [column]="'game_type'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th>Currency <app-ordering-arrow [column]="'player_details.currency'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th>Action Type <app-ordering-arrow [column]="'transaction_type'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th>amount <app-ordering-arrow [column]="'amount'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th>Non Cash amount </th>
                                    <th>Balance Before <app-ordering-arrow [column]="'player_details.before_balance'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th>After Balance <app-ordering-arrow [column]="'player_details.after_balance'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th>Transaction ID <app-ordering-arrow [column]="'transaction_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <!--<th>Internal Tracking ID <app-ordering-arrow [column]="'internal_tracking_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>-->
                                    <th>GP Error Code <app-ordering-arrow [column]="'gp_error_code'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th>Internal Error Code <app-ordering-arrow [column]="'internal_error_code'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th>Internal Error Description <app-ordering-arrow [column]="'internal_error_description'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>
                                    <th>Details </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let transaction of reports | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">

                                    <td> {{ transaction._source.player_details && transaction._source.player_details.player_id || '' }}</td>
                                    <td>
                                       <!-- <a [routerLink]="['/players/details', transaction?._source?.player_details?.player_id]">
                                            {{ transaction._source.player_details && transaction._source.player_details.player_name || '&#45;&#45;' }}
                                        </a>-->

                                        <span *ngIf="transaction._source &&
                                                transaction._source.player_details.player_name">
                                                <a href="javascript:void(0);" title="Click to Search"
                                                   (click)="selectAgent(transaction._source.player_details.player_name)">
                                                {{ transaction._source.player_details &&
                                                transaction._source.player_details.player_name || '' }}
                                                </a>
                                            </span>


                                    </td>
                                    <td> {{ transaction._source.game_provider && transaction._source.game_provider || '' }}</td>
                                    <td>
                                        <span *ngIf="transaction._source &&
                                                transaction._source.round_id_s">
                                                <a href="javascript:void(0);" title="Click to Search"
                                                   (click)="selectAgent(transaction._source.round_id_s)">
                                                {{ transaction._source.player_details &&
                                                transaction._source.round_id_s || '' }}
                                                </a>
                                            </span>

                                    </td>
                                    <td>
                                         <!--<a [routerLink]="['/agents/details', transaction?._source?.tenant_id, transaction?._source?.player_details?.parent_id]">
                                            {{ transaction._source.player_details && transaction._source.player_details.agent_name || '&#45;&#45;' }}
                                        </a>-->


                                        <span *ngIf="transaction._source &&
                                                transaction._source.player_details.agent_name">
                                                <a href="javascript:void(0);" title="Click to Search"
                                                   (click)="selectAgent(transaction._source.player_details.agent_name)">
                                                {{ transaction._source.player_details &&
                                                transaction._source.player_details.agent_name || '' }}
                                                </a>
                                            </span>
                                    </td>
                                    <td> {{ transaction._source.created_at && transaction._source.created_at || '' }}</td>
                                    <td> {{ transaction._source.game_type && transaction._source.game_type || '' }}</td>
                                    <td> {{ transaction._source.player_details && transaction._source.player_details.currency || '' }}</td>
                                    <td> {{ transaction._source.player_details && transaction._source.transaction_type || '' }}</td>
                                    <td> {{ transaction._source && transaction._source.amount | number: '1.2-2' }}</td>
                                    <td> {{ '0.00' }}</td>
                                    <td> {{ transaction._source.player_details && transaction._source.player_details.before_balance | number: '1.2-2' || '' }}</td>
                                    <td> {{ transaction._source.player_details && transaction._source.player_details.after_balance | number: '1.2-2' || '' }}</td>
                                    <td> {{ transaction._source.transaction_id || '' }}</td>
                                    <td> {{ transaction._source.internal_tracking_id || '' }}</td>
                                    <td> {{ transaction._source.gp_error_code || '' }}</td>
                                    <!--<td> {{ transaction._source.internal_error_code}}</td>-->
                                    <td> {{ transaction._source.internal_error_description || '' }}</td>
                                    <td>
                                        <a  *ngIf="transaction._source.player_details && transaction._source.transaction_type == 'win' && transaction._source.game_provider != 'Evolution' && checkForEzugi(transaction._source); else notAvailable"
                                            href="javascript:void(0);" (click)="getDetails(transaction._source)" data-toggle="modal" data-target="#modal-details"> Details </a>
                                          
                                            <ng-template #notAvailable>
                                                <p>N/A</p>
                                            </ng-template>
                                            
                                    </td>

                                </tr>
                                <tr *ngIf="firstTimeApiCall && reports && reports.length === 0">
                                    <td colspan="19" class="tnodata"> No Player Reports Found</td>
                                </tr>
                                <tr *ngIf="!firstTimeApiCall">
                                    <td colspan="19" class="tnodata"> Click Search to Load Data</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>


                       <!-- <pagination-controls (pageChange)="pageChanged($event)"
                                             (pageChange)="p = $event"></pagination-controls>-->
                        <div class="row mt-1">
                            <div class="col-md-8"><span>Showing {{pageCurrentTotal}} to {{ pageNextTotal }} of {{total}} entries</span>
                            </div>
                            <div class="col-md-4">
                                <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
                            </div>
                            <!--Total Record-{{total}}-->
                        </div>
                        </div>
                        </ng-container>
                    </div>
                    <!-- /.card -->

                </div>

            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


  <div class="modal fade bd-example-modal-xl" id="modal-details" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Game Information  </h4>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>


        <div class="modal-body">
            <ng-container *ngIf="!gameDetailsLoader; else loader">
                <ng-container [ngSwitch]="this.selectedTransactionGameProvider">
                    <ng-container *ngSwitchCase="'Ezugi'">
                        <div *ngIf="gameDetails.length > 0; else noInfo" [innerHTML]="gameDetails | safeHtml"></div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'st8'">
                        <div *ngIf="gameDetails.length > 0; else noInfo">
                            <iframe [src]="gameDetails | safeUrl" style="width: 100%;min-height: 600px; padding-left:10em" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Spribe'">
                        <div *ngIf="gameDetails.length > 0; else noInfo">
                            <iframe [src]="gameDetails | safeUrl" style="width: 100%;min-height: 600px; padding-left: 20px" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <div class="text-center">
                            <h3>No Game Information Found</h3>
                        </div>
                    </ng-container>
                </ng-container>
                
                <ng-template #noInfo>
                <div class="text-center">
                    <h3>No Game Information Found</h3>
                </div>
                </ng-template>
            </ng-container>
            
        </div>

      </div>
    </div>
  </div>

  <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>


