<div class="content-wrapper">
  <app-breadcrumb title="Player Commission" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="pull-left">
                <h3 class="card-title">Players Commission</h3>
              </div>
              <div class="pull-right">
                <button *ngIf="size" [disabled]="statusLoader" class="btn btn-primary ml-sm-2 mb-2 mb-sm-0 btn-sm" type="button"
                  (click)="bulkStatusUpdate(1)">
                  <i class="fas fa-plus-circle"></i> Bulk Approve
                  <span class="badge badge-light">{{this.size}}</span>
                  <span class="sr-only">{{this.size}} commission</span>
                </button>
                <button *ngIf="size" [disabled]="statusLoader" class="btn btn-danger ml-sm-2 mr-2 mb-2 mb-sm-0 btn-sm" type="button"
                  (click)="bulkStatusUpdate(2)">
                  <i class="fas fa-minus-circle"></i> Bulk Reject
                  <span class="badge badge-light">{{this.size}}</span>
                  <span class="sr-only">{{this.size}} commission</span>
                </button>
                <ng-container *ngIf="this.permissionService.checkPermission('players_commission','T')">
                  <a [routerLink]="['/players-commission/jobs']" class="btn btn-info ml-sm-2 mr-2 mb-2 mb-sm-0 btn-sm">
                    <i class="fas fa-list"></i> Job List
                  </a>
                </ng-container>

              </div>
            </div>
            <div class="card-body">

              <div class="row">

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="search2">
                      Search <i data-toggle="tooltip" title="Search Email, User Name, Phone Number"
                        class="fas fa-info-circle"></i>
                    </label>
                    <input type="text" class="form-control" id="search2" [(ngModel)]="playerCommissionParams.search"
                      placeholder="Search Email, User Name, Phone Number" />
                  </div>
                </div>
                <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="agent">
                        Agent
                      </label>
                        <select class="form-control" select2 id="agent_id"  title="Select Agent" (onSelect)="filterSelectAgent($event)" [(ngModel)]="playerCommissionParams.agent_id" data-placeholder="Select Agent">
                            <option *ngFor="let adminUser of userList" [value]="adminUser.id"> {{adminUser.first_name}}</option>
                        </select>
                    </div>
                  </div>
                </ng-container>

                <ng-container>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="agent">
                        Interval Type
                      </label>
                        <select class="form-control" select2 id="interval_type"  title="Select Interval" (onSelect)="filterSelectInterval($event)" [(ngModel)]="playerCommissionParams.interval_type" data-placeholder="Select Interval">
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <!-- <option value="monthly">Monthly</option> -->

                        </select>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="playerCommissionParams.interval_type == 'weekly'">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="agent">
                        Week
                      </label>
                        <select class="form-control" select2 id="week_id"  title="Select Week" (onSelect)="filterSelectWeek($event)" [(ngModel)]="playerCommissionParams.week_id" data-placeholder="Select Week">
                            <option *ngFor="let week of weekList" [value]="week.id">Week {{week.week_count}} ({{week.start_date}} - {{week.end_date}})</option>
                        </select>
                    </div>
                  </div>
                </ng-container>
                <!-- <ng-container *ngIf="playerCommissionParams.interval_type == 'monthly'">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="agent">
                        Month
                      </label>
                        <select  class="form-control" select2 id="month_id"  title="Select Month" (onSelect)="filterSelectMonth($event)" [(ngModel)]="playerCommissionParams.month_id" data-placeholder="Select Month">
                            <option *ngFor="let month of monthList" [value]="month.id">Month {{month.month_count}} ({{month.start_date}} - {{month.end_date}})</option>
                        </select>
                    </div>
                  </div>
                </ng-container> -->

                <div class="col-md-3" *ngIf="playerCommissionParams.interval_type == 'daily'">
                  <div class="form-group">
                    <label for="status">Date Time Range</label>
                    <input autocomplete="off" class="form-control" data-placeholder="Search Time Period"
                      placeholder="Search Time Period" type="text" id="time_period" [format]="format"
                      [maxDate]="maxSelectableDateTime" daterangetime_picker (onSelect)="setTimePeriod($event)" />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" [(ngModel)]="playerCommissionParams.status">
                      <option value="">All</option>
                      <option value="1">Approve</option>
                      <option value="2">Reject</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="size2">Size</label>
                    <select class="form-control" id="size2" [(ngModel)]="playerCommissionParams.size">
                      <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4 mb-2 d-flex align-items-center mt-4">
                  
                  <button [disabled]="isLoader" type="button" class="btn btn-success fnt-12"
                    (click)="filterPlayersCommission()"><i class="fa fa-search"> Search</i>
                  </button>
                  <button [disabled]="isLoader" type="button" class="btn btn-warning fnt-12 ml-2"
                    (click)="playerCommissionResetFilter()"> Reset Filter
                  </button>
                  <button [disabled]="isLoader" type="button" class="btn btn-default fnt-12 ml-2"
                    (click)="getPlayersCommission()"> <i class="fa fa-refresh"></i> </button>


                    <div class="div" *ngIf="(playersCommission && (playersCommission.length > 0) && (totalPending > 0))">
                      <button [disabled]="statusLoader" class="btn btn-danger ml-sm-2 mr-2 mb-2 mb-sm-0 btn-sm f-right" type="button"
                      (click)="bulkStatusAllUpdate(2)">
                      <i class="fas fa-minus-circle"></i> Bulk Reject All
                    </button>
                    <button [disabled]="statusLoader" class="btn btn-primary ml-sm-2 mb-2 mb-sm-0 btn-sm f-right" type="button"
                    (click)="bulkStatusAllUpdate(1)">
                      <i class="fas fa-plus-circle"></i> Bulk Approve All
                    </button>
                    </div>
                </div>

              </div>
              <div class="row mgt" *ngIf="userNames.size > 0">
                <div class="col">
                  <div class="form-group">
                    <label for="size2">Selected Users</label>
                    <div *ngIf="userNames.size > 0" class="rectangle-container">
                      <div class="selected-users-container">
                        <div *ngFor="let user of userNames | keyvalue" class="user-item">
                          <button (click)="removeplayer(user.value.id)" type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          {{ user.value.user?.user_name }}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mgt" *ngIf="!isLoader; else loader">
                <pagination-controls  id="playerpid" (pageChange)="playerCommissionPageChanged($event)"
                  (pageChange)="playerCommissionP = $event" style="margin-left: -49px;"></pagination-controls>
                Total Record {{playerCommissionTotal}}
                <div *ngIf="(playersCommission && playersCommission.length > 0) && this.permissionService.checkPermission('players_commission','export')" class="col">
                  <button type="button" class="btn btn-info f-right fnt-12" (click)="exportAsXLSX()"><i
                      class="fa fa-download"></i> CSV </button>
                  <!-- <p *ngIf="(playersCommission && playersCommission.length > 0)" class="mr-2 f-right mt-2">*Selected Players Commission would be unchecked on any filter change.</p> -->
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <ng-container *ngIf="this.permissionService.checkPermission('players_commission','T')">
                          <th *ngIf="(playersCommission && playersCommission.length > 0)"><input type="checkbox"
                              name="checkbox" [id]="this.playerCommissionP"
                              [checked]="this.selectedPlayerCommission.has(this.playerCommissionP) && this.selectedPlayerCommission.get(this.playerCommissionP).length == perPageTotalPending"
                              (change)="toggleAll($event)">
                          </th>
                        </ng-container>
                        <th>ID</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                        <th>NGR</th>
                        <th>Commission %</th>
                        <th>Commission Amount</th>
                        <th>Interval Type</th>
                        <th>Date Range</th>
                        <ng-container *ngIf="this.permissionService.checkPermission('players_commission','T')">
                          <th>Action</th>
                        </ng-container>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let user of playersCommission | paginate: { itemsPerPage: playerCommissionParams.size, currentPage: playerCommissionP, totalItems: playerCommissionTotal, id: 'playerpid' }">
                        <ng-container *ngIf="this.permissionService.checkPermission('players_commission','T')">
                          <td><input type="checkbox" name="checkbox" [id]="user?.user?.user_name"
                              [disabled]="user.status != 0"
                              (change)="selectUser(user,$event)"
                              [checked]="selectedPlayerCommission.has(this.playerCommissionP) && isIdPresent(selectedPlayerCommission.get(this.playerCommissionP),user.id)">
                          </td>
                        </ng-container>
                        <td>{{user.id}}</td>
                        <td><a [routerLink]="['/players/details', user.user_id]" class="text-break">{{
                            user.user.user_name}}</a></td>
                        <td class="text-break">{{ user.user.email || '-' }}</td>
                        <td>{{ user.user.phone || '-' }}</td>
                        <td>
                          <ng-container [ngSwitch]="user.status">
                            <span class="text-success" *ngSwitchCase="1">Approved</span>
                            <span class="text-danger" *ngSwitchCase="2">Rejected</span>
                            <span class="text-info" *ngSwitchCase="0">Pending</span>
                            <span class="text-info" *ngSwitchDefault>Pending</span>
                          </ng-container>
                        </td>
                        <td>{{ user.ngr || '-' }}</td>
                        <td>{{ user.commission_percentage || '-' }}</td>
                        <td>{{ user.commission_amount || '-' }}</td>
                        <td>{{ user.interval_type || '-' }}</td>
                        <td>{{ user.actioned_at || '-' }}</td>
                        <ng-container *ngIf="this.permissionService.checkPermission('players_commission','T')">
                          <td>
                              <ng-container *ngIf="user.status == 0; else noAction">
                                <button [disabled]="statusLoader" type="button" (click)="updatePlayerCommissionStatus(user, 1)"
                                  class="btn btn-success fnt-12">
                                  <i class="fa fa-check"></i> Approve </button>
                                &nbsp;
                                <button [disabled]="statusLoader" type="button" (click)="updatePlayerCommissionStatus(user, 2)"
                                  class="btn btn-danger fnt-12">
                                  <i class="fa fa-remove"></i> Reject </button>
                              </ng-container>
                              <ng-template #noAction>
                                NA
                              </ng-template>
                          </td>
                        </ng-container>
                      </tr>
                      <tr *ngIf="firstTimeApiCall && playersCommission && playersCommission.length === 0">
                        <td
                          [attr.colspan]="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) ? 11 : 10"
                          class="tnodata"> No Players Commission Found </td>
                      </tr>
                      <tr *ngIf="!firstTimeApiCall">
                        <td
                          [attr.colspan]="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) ? 11 : 10"
                          class="tnodata"> Click Search to Load Data </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <pagination-controls id="playerpid" (pageChange)="playerCommissionPageChanged($event)"
                  (pageChange)="playerCommissionP = $event" style="margin-left: -49px;"></pagination-controls>
                Total Record {{playerCommissionTotal}}
              </div>
            </div>
          </div>
          <!-- /.card -->

        </div>

      </div>

    </div><!-- /.container-fluid -->
  </section>

</div>

<ng-template #loader>

  <img class="chart-loader" src="./assets/dist/gif/loader.gif" />

</ng-template>