<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Bet Transactions" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="pull-left"><h3 class="card-title">Tenants Filter</h3></div>
              <div class="pull-right">
                <ng-container *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">

                  <select  select2 id="tenant_id" (onSelect)="tenantFilter($event)" [(ngModel)]="params.tenant_id" style="width: 325px;" data-placeholder="Select Tenant">
                      <option [value]="0">All Tenants</option>
                      <option *ngFor="let tenant of tenants" [value]="tenant.id">{{tenant.name}}</option>
                  </select><span>&nbsp;</span>

              </ng-container>

                <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;" data-placeholder="Select Time Zone">
                  <option value="">Select Time Zone</option>
                  <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                  <option *ngFor="let zone of TIMEZONE"  [value]="zone.zonename">{{zone.name}}</option>
                </select>
              </div>

            </div>
            <!-- /.card-header -->
            <div class="card-body">

              <div class="row">
                
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="search">Search</label>
                    <input type="text" class="form-control fnt-14" id="search" [(ngModel)]="params.search" placeholder="Search ID,Amount,Market Id"/>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="emailsearch">Email Search</label>
                    <input type="text" class="form-control fnt-14" id="emailsearch" [(ngModel)]="params.emailsearch" placeholder="Search Email "/>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="currency">Currency</label>
                    <select class="form-control" id="currency" [(ngModel)]="params.currency_id">
                    <option value="" >Select Currency</option>

                    <option *ngFor="let currency of currencies" [value]="currency.id">{{ currency.code }}</option>

                  </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="action_type">Action Type</label>
                    <select class="form-control" id="action_type" [(ngModel)]="params.action_type">
                    <option value="">Select Action Type</option>
                    <option value="1">Bet Placement</option>
                      <option value="6">Deposit Bonus Claim</option>
                      <option value="7">Deposit Bonus Pending</option>
                      <option value="8">Deposit Bonus Cancel</option>
                      <!--<option value="3">Cashout</option>-->
                      <option value="5">Lost By Resettlement</option>
                      <option value="4">Refund</option>
                      <option value="2">Won</option>

                    <!--<option *ngFor="let transactionType of transactionTypes" [value]="transactionType.value"> {{ transactionType.name }} </option>-->
                  </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="time_period">Time Period</label>
                    <input autocomplete="off" type="text" class="form-control float-right"  readonly id="time_period" [format]="format" daterangetime_picker (onSelect)="selectDateRange($event)" placeholder="Search Time Period"/>
                  </div>
                </div>

                <div class="col-md-1">
                  <div class="form-group">
                    <label for="size">Size</label>
                    <select class="form-control" id="size" [(ngModel)]="params.size">
                      <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                  </select>
                  </div>
                </div>
                
                <div class="col-md-2">
                  <button [disabled] = "isLoader" type="button" (click)="filter($event)" class="mgt btn btn-success fnt-12 "><i class="fa fa-search"></i>
                    Search </button>
                  <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning fnt-12 ml-1" (click)="resetFilter()"> Reset Filter </button>
                  <button [disabled] = "isLoader" type="button" title="Refresh List" class="mgt btn btn-default fnt-12 ml-1" (click)="getTransactions()"> <i class="fa fa-refresh"></i></button>
                </div>
              </div>


            </div>

          </div>
          <!-- /.card -->

        </div>

      </div>

    </div><!-- /.container-fluid -->
  </section>


  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      
      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <ng-container *ngIf="!isLoader; else loader">
            <div class="card-header">
              <h3 class="card-title">Bet Transactions</h3>
              <!--<a class="btn btn-success f-right fnt-12 mrgl" routerLink="/transactions/transfer-fund"> Transfer Fund </a>-->
              <ng-container *ngIf="this.permissionService.checkPermission('sport_transactions','export')">
                <button type="button" *ngIf="total" class="btn btn-info f-right fnt-12" (click)="exportAsXLSX()"> CSV <i class="fa fa-download"></i> </button>
              </ng-container>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                Total -{{total||0}}
                <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">ID<app-ordering-arrow [column]="'_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                    <!--<th>Player Email</th>-->
                    <th>Created at<app-ordering-arrow [column]="'created_at'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                    <th>Bet Ids</th>
                    <th>Market Id<app-ordering-arrow [column]="'market_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                    <th>Team Name<app-ordering-arrow [column]="'runner_name'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                    <th>Journal Entry<app-ordering-arrow [column]="'journal_entry'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                    <th> Wallet </th>
                    <th> Currency </th>
                    <th> From Before Balance </th>
                    <th> From After Balance</th>
                    <!-- <th>From wallet</th> -->
                    <!-- <th>From currency</th> -->
                    <!-- <th>To wallet</th> -->
                    <!-- <th>To currency</th> -->
                    <th>To Before Balance </th>
                    <th>To After Balance</th>
                    <th>Amount</th>
                    <th>Conversion rate</th>
                    <th>Action Type</th>
                    <th>Comments</th>
                    <th>Action by</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                    
                    <td> {{ transaction._id || '-' }} </td>

                    <td> {{ transaction._source.created_at || '-' }} </td>
                    <td> 

                       <ng-container *ngIf="transaction?._source?.betslip_id && transaction?._source?.betslip_details?.bets.length > 1; else betIdsLink">
                         <a class="btn btn-info" href="javascript:void(0);" (click)="setTransaction(transaction)" data-toggle="modal" data-target="#modal-betids">
                           View Bet Ids
                           <!-- {{ transaction._source?.betslip_details?.bets[0]?.bet_id || 'View Bet Ids' }} -->
                         </a>
                      </ng-container>
                      
                      <ng-template #betIdsLink>
                        {{ (transaction?._source?.betslip_id ? transaction._source?.betslip_details?.bets[0]?.bet_id :'') || '--' }}
                      </ng-template>
                    
                      <!-- <ng-container *ngFor="let bet of transaction._source?.betslip_details?.bets; let i = index;">  
                        {{ bet?.bet_id }} <ng-container *ngIf="i < transaction._source?.betslip_details?.bets.length - 1">, </ng-container>
                      </ng-container> -->
                    
                    </td>

                    <td> {{ transaction._source.market_id || '-' }} </td>
                    <td> {{ transaction._source.runner_name || '-' }} </td>
                    <td> {{ transaction._source.journal_entry || '-' }} </td>

                    <td>
                      <ng-container *ngIf="transaction._source.source_wallet; else targetWallet">

                        {{ (transaction._source.source_wallet && transaction._source.source_wallet ? transaction._source.source_wallet?.email:'') || ''}}
                        {{ transaction._source.source_wallet?.first_name ||'-' }}
                        {{ transaction._source.source_wallet?.last_name || '-' }}

                      </ng-container>

                      <ng-template #targetWallet>
                        {{ transaction._source.target_wallet !=null && transaction._source.target_wallet?transaction._source.target_wallet?.email:'' ||''}}
                        {{ transaction._source?.target_wallet && transaction._source.target_wallet?.first_name ||'-' }}
                        {{ transaction._source?.target_wallet && transaction._source.target_wallet?.last_name || '-' }}
                      </ng-template>
                    </td>

                    <td> {{ transaction._source.source_currency || transaction._source.target_currency }} </td>

                    <!-- <td>
                      <div *ngIf="transaction._source.target_wallet">
                        {{ transaction._source.target_wallet !=null && transaction._source.target_wallet?transaction._source.target_wallet.email:'' ||''}}
                        {{ transaction._source.target_wallet && transaction._source.target_wallet.first_name ||'-' }}
                        {{ transaction._source.target_wallet && transaction._source.target_wallet.last_name || '-' }}
                      </div>
                      <div *ngIf="!transaction._source.target_wallet">-- </div>
                    </td> -->

                    <!-- <td> {{ transaction._source.target_currency || '-'}} </td> -->

                    <td> 
                      <ng-container *ngIf="transaction._source.source_wallet; else beforeAmount">
                        {{ (transaction._source.source_wallet?.before_balance + transaction._source.source_wallet?.non_cash_before_balance) | number: '1.2-2'|| '0.00' }}
                      </ng-container>
                      
                      <ng-template #beforeAmount>
                        {{ '0.00' }}
                      </ng-template>
                    </td>
                    
                    <td> 
                       <ng-container *ngIf="transaction._source?.source_wallet; else afterAmount">
                        {{ (transaction._source.source_wallet?.after_balance + transaction._source.source_wallet?.non_cash_after_balance) | number: '1.2-2'|| '0.00' }}
                      </ng-container>
                      
                      <ng-template #afterAmount>
                        {{ '0.00' }}
                      </ng-template>

                    </td>

                    <td>
                      <ng-container *ngIf="transaction._source?.target_wallet; else beforeTargetAmount">
                        {{ (transaction._source.target_wallet?.before_balance + transaction._source.target_wallet?.non_cash_before_balance) | number: '1.2-2'|| '0.00' }}
                      </ng-container>

                      <ng-template #beforeTargetAmount>
                        {{ '0.00' }}
                      </ng-template>
                    </td>

                    <td>
                       <ng-container *ngIf="transaction._source?.target_wallet; else afterTargetAmount">
                        {{ (transaction._source.target_wallet?.after_balance + transaction._source.target_wallet?.non_cash_after_balance) | number: '1.2-2'|| '0.00' }}
                      </ng-container>

                      <ng-template #afterTargetAmount>
                        {{ '0.00' }}
                      </ng-template>
                      
                    </td>

                    <td> {{calAmountNoncash(transaction._source?.amount , transaction._source?.non_cash_amount) | number: '1.2-2' || '-' }} </td>
                    <td> {{ transaction._source.conversion_rate| number: '1.2-4' || '-' }} </td>
                    <td> {{ getActionTypeName(transaction._source.payment_for) }} </td>
                    <td> {{ transaction._source.description || '-' }} </td>
                    
                    <td> 
                      <a [routerLink]="(this.permissionService.checkPermission('players','R')) ? ['/players/details', transaction._source?.user_id] : null">
                        {{ transaction._source.user_id ||''}}-{{ transaction._source.player_details.email  ||''}} {{ transaction._source.player_details.first_name  ||''}}
                        {{ transaction._source.player_details.last_name  ||''}}
                      </a>
                    </td>
                    
                  </tr>
                  <tr *ngIf="firstTimeApiCall && transactions && transactions.length === 0"> <td colspan="17" class="tnodata"> No Transactions Found </td> </tr>
                  <tr *ngIf="!firstTimeApiCall"> <td colspan="17" class="tnodata"> Click Search to Load Data </td> </tr>
                </tbody>
              </table>
              </div>
            </div>
            
            <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
            </ng-container>
            
          </div>
          <!-- /.card -->

        </div>

      </div>
      
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>




<div class="modal fade" id="modal-betids" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Bet Ids </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <ng-container *ngFor="let bet of transaction?._source?.betslip_details?.bets; let i = index;">  
            {{ bet?.bet_id }} <ng-container *ngIf="i < transaction._source?.betslip_details?.bets.length - 1">, </ng-container>
          </ng-container>
        </div>

      </div>
    </div>
  </div>

  <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>
