<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Super Admin Profile" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" id="overviewl" href="#overview"
                    data-toggle="tab">Overview</a></li>
                <li class="nav-item" *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager'"><a
                    class="nav-link" id="financiall" href="#financial" data-toggle="tab">Financial</a></li>
                <!-- <li class="nav-item"><a class="nav-link" id="settingsl" href="#settings" data-toggle="tab">Settings</a></li> -->
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="overview">

                  <table class="table table-bordered">

                    <tbody>
                      <tr>
                        <th> Id </th>
                        <td>{{ admin?.id }}</td>
                      </tr>

                      <tr>
                        <th> First Name </th>
                        <td> {{ admin?.first_name }} </td>
                      </tr>

                      <tr>
                        <th> Last Name </th>
                        <td> {{ admin?.last_name }} </td>
                      </tr>

                      <tr>
                        <th> Email </th>
                        <td> {{ admin?.email }} </td>
                      </tr>

                      <tr>
                        <th>Created at</th>
                        <td>{{ admin?.created_at | date:'dd-MM-YYYY' }}</td>
                      </tr>
                      <tr>
                        <th>Updated at</th>
                        <td>{{ admin?.updated_at | date:'dd-MM-YYYY' }}</td>
                      </tr>

                      <tr>
                        <th>Actions</th>
                        <td>
                          <a [routerLink]="['/super-admin/admins', superAdminAuthService.superAdminUserValue?.id,1]"
                            *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager'"
                            class="btn btn-warning fnt-12">Edit</a>
                        </td>
                      </tr>
                    </tbody>

                  </table>

                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="financial">

                  <div class="row">

                    <div class="col-md-12">

                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Wallet</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <th>ID</th>
                                <td> {{ txn?.wallets?.id ?? 'N/A' }} </td>


                                <th>Currencies</th>
                                <td> {{ txn?.wallets?.name ?? 'N/A' }} </td>
                              </tr>
                               
                              <tr>
                                <th>Amount</th>
                                <td>{{ (txn?.wallets?.amount ? (txn?.wallets?.amount ?? 'N/A' |number : '1.0-2') : 'N/A')}}</td>

                                <th>Last deposited amount</th>
                                <td>{{ txn?.last_deposited_amount ?? 'N/A' }}</td>
                              </tr>
                              
                              <tr>
                                <th>Updated at</th>
                                <td> {{ (txn?.wallets?.updated_at ? (txn?.wallets?.updated_at | date:'dd-MM-YYYY h:m:s') : 'N/A')}} </td>



                                <th>Actions</th>
                                <td *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager'">
                                  <button class="btn btn-success fnt-12" type="button"
                                    data-toggle="modal" data-target="#modal-ncb"> Deposit </button>
                                </td>
                              </tr>

                              
                            </tbody>
                          </table>

                        </div>

                      </div>
                    </div>




                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Transaction List <b>( <span>Total Transaction: {{total}}</span> )</b> </h3>
                        </div>
                       

                          <div class="card-body">

                            <div class="row">
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label for="size">Transaction Type</label>
                                <select class="form-control" id="type" (change)="filter($event)" [(ngModel)]="params_list.type">
                                  <option value="all"> All </option>
                                  <option value="1"> Deposit </option>
                                  <option value="2"> Debit </option>
                                  <option value="3"> Tenant Withdrawal</option>
                                </select>
                                </div>
                              </div>
            
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label for="name">Search By Email, Name</label>
                                  <input type="text" class="form-control" id="name" (keyup)="filter($event)" [(ngModel)]="params_list.name" placeholder="Search By Email, Name"/>
                                </div>
                              </div>
             
                              <div class="col-md-3">
                                <button type="button" class="mgt btn btn-warning fnt-12" (click)="resetFilter()"> Reset Filter </button>
                              </div>
                              
                            </div>
                            
            
                          </div>
                    
                        <!-- /.card-header -->
                        <div class="card-body">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th style="width: 10px">ID</th>
                                <th>Date</th>
                                <th>Transaction Type</th>
                                <th>From Wallet</th>
                                <th>To Wallet</th>
                                <th>Amount</th>
                                <th>Transfer Type</th>
                                <th>Comment</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let txn of txnList | paginate: { itemsPerPage: params_list.size, currentPage: p, totalItems: total }">
                                <td>{{ txn.id }}</td>
                                <td> {{ txn.created_at | date:'medium' }}</td>
                                <td [ngStyle]="{'color': txn.type == 'Debit' ? 'red' : 'green'}" >  {{ txn.type }}</td>
                                <td> {{ txn.source_wallet_name || txn.source_wallet_name_admin || txn.source_wallet_name_super_admin || '-' }} </td>
                                <td> {{ txn.target_wallet_name || txn.target_wallet_name_admin || txn.target_wallet_name_super_admin ||'-' }} </td>
            
                                <td [ngStyle]="{'color': txn.type == 'Debit' ? 'red' : 'green'}" > 
                                  <span *ngIf="txn.type == 'Debit'"> - </span>
                                  <span *ngIf="txn.type != 'Debit'"> + </span>
                                   {{ txn.amount }}
                                </td>
                                <td>{{ txn.transfer_type || "N/A" }}</td>
                                <td>{{ txn.comments || "N/A" }}</td>
                                <!-- <td> {{ admin.parent_type }}</td> -->
                              </tr>
          
                              <tr *ngIf="txnList && txnList.length === 0"> <td colspan="8" class="tnodata"> No Transaction Found </td> </tr>
          
                            </tbody>
                          </table>
                        </div>
          
                        <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
          
                      </div>
                      <!-- /.card -->
          
                    </div>



                    <!-- /.card -->

                   
                  </div>

                </div>

                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>

      </div>

    </div>
  </section>


</div>






<div class="modal fade" id="modal-ncb" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Deposit Amount </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <form [formGroup]="awdForm" (ngSubmit)="onDASubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="amount">Enter Amount <span class="text-danger">*</span></label>
            <input formControlName="amount" (keypress)="numberOnly($event)" type="number" placeholder="Enter Non Cash Amount"
              class="form-control" id="amount" />
            <div *ngIf="awdSubmitted && awd.amount.errors" class="invalid-feedback">
              <div *ngIf="awd.amount.errors.required">Amount is required</div>
              <div *ngIf="awd.amount.errors.min">Amount cannot be less than 1</div>
            </div>
          </div>

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" [disabled]="awdLoader" class="btn btn-success" >
            <span *ngIf="awdLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Process </button>
        </div>

      </form>

    </div>
  </div>
</div>



