<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Promo Code Details" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  
  <section class="content">
    <div class="container-fluid">
      <a routerLink="/promo-code/list" class="btn btn-info mb-3"><i class="fa fa-arrow-alt-circle-left"></i> Back</a>
      
      <div class="row">
        <!-- left column -->
        <div class="col-md-4">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"> Promo Code Details </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <!-- <h3>Promo Code Details</h3><br> -->
                  <table class="table table-light table-bordered">
                    <tbody>
                      <tr>
                        <th>Promo Name:</th>
                        <td>{{promo.promo_name || 'NAN'}}</td>
                      </tr>
                      <tr>
                        <th>Promo Code:</th>
                        <td>{{promo.code || 'NAN'}}</td>
                      </tr>
                      <tr>
                        <th>Platform:</th>
                        <td>{{promo.promo_code_used_in || 'NAN'}}</td>
                      </tr>

                      <tr>
                        <th>description:</th>
                        <td>{{promo.description || 'NAN'}}</td>
                      </tr>
                      <tr>
                        <th>Valid From:</th>
                        <td>{{promo.valid_from | date}}</td>
                      </tr>
                      <tr>
                        <th>Valid Till:</th>
                        <td>{{promo.valid_till | date}}</td>
                      </tr>

                      <tr>
                        <th>Bonus Type:</th>
                        <td>{{ (promo.promo_code_bonus_type == 0 ? 'Flat' : 'Upto')}}</td>
                      </tr>
                      <tr>
                        <th>Wallet Type:</th>
                        <td>{{ (promo.wallet_type == 0 ? 'Cash' : 'Non cash')}}</td>
                      </tr>
                      <tr>
                        <th>Bonus Amount:</th>
                        <td>{{promo.bonus_amount}}</td>
                      </tr>
                      <tr>
                        <th>Status:</th>
                        <td>{{(promo.status == true ? 'Active' : 'Deactivate')}}</td>
                      </tr>

                      <tr>
                        <th>Total Number of Usages:</th>
                        <td>{{ promo.total_usage || 0}}</td>
                      </tr>
                      <tr>
                        <th>Total Bonus Amount From This Code Till Now:</th>
                        <td>{{promo.total_number_of_bonus_till_now || 0}}</td>
                      </tr>
                      <tr>
                        <th>Created At:</th>
                        <td>{{promo.created_at | date}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>


              </div>

            </div>
          </div>
          <!-- /.card -->

        </div>


        <div class="col-md-8">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"> Here is the list of users who have used this promo code.</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <!-- <h3>Promo Code Details</h3><br> -->
                  <table class="table table-bordered">
                      <thead>
                       <tr>
                        <th>ID</th>
                        <th>User Name</th>
                        <th>Status</th>
                        <th>Bonus Amount</th>
                        <th>Used at</th>
                       </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let item of promo.users | paginate: { itemsPerPage: params.size, currentPage: pageId, totalItems: total, id: 'playerpid' }">
                            <td>{{item.id}}</td>
                            <td><a target="{{(this.permissionService.checkPermission('players','R')) ? '_blank' : '_self'}}" [routerLink]="(this.permissionService.checkPermission('players','R')) ? ['/players/details', item.user_id] : null">{{item.user_name}}</a></td>
                            <td>{{item.status | titlecase}}</td>
                            <td>{{item.bonus_amount}}</td>
                            <td>{{item.claimed_at | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                        </tr>
                        <tr *ngIf=" promo.users  &&  promo.users.length === 0"> <td colspan="5" class="tnodata"> No Data Found </td> </tr>



                      </tbody>
                  </table>
                </div>

                <pagination-controls id="playerpid" (pageChange)="onPageChanged($event)" (pageChange)="pageId = $event" style="margin-left: -49px;"></pagination-controls>
                Total Record {{total}}
              </div>

            </div>
          </div>
          <!-- /.card -->

        </div>
      </div>
      <!-- /.row -->



    </div><!-- /.container-fluid -->
  </section>


</div>
