<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Tournaments" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tournaments Filter</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
  
                <div class="row">

                  <div class="col-md-2" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">
                    <div class="form-group">
                      <label for="sport_id">Tenant</label>
                      <select class="form-control" id="tenant_id" select2 (onSelect)="tenantFilter($event)">
                      <option *ngFor="let tenant of allTenants" [value]="tenant.id">{{tenant.name}}</option>
                    </select>
                    </div>
                  </div>

                	<div class="col-md-2">
                    <div class="form-group">
                      <label for="sport_id">Sport</label>
                      <select class="form-control" select2 id="sport_id" (onSelect)="sportFilter($event)">
                        <option value="">All</option>
                        <option *ngFor="let sport of sports" [value]="sport.id">{{sport.name_en}}</option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="search">Name</label>
                      <input type="text" class="form-control" id="search" [(ngModel)]="params.search" placeholder="Search by Name"/>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="country">Country</label>
                      <select class="form-control" select2 (onSelect)="selectCountry($event)" id="country">
                        <option value="">All</option>
                        <option *ngFor="let country of countries" [value]="country.id"> {{ country.name_en }} </option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="enabled">Enabled</label>
                      <select class="form-control" id="enabled" [(ngModel)]="params.enabled">
                      <option value="">All</option>
                      <option value="enable">Enabled</option>
                      <option value="disable">Disabled</option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="size">Size</label>
                      <select class="form-control" id="size" [(ngModel)]="params.size">
                        <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                    </select>
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-success" (click)="filter($event)"><i class="fas fa-search"></i> Search</button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning ml-2" (click)="resetFilter()"> Reset Filter </button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-default ml-2" (click)="getTournament()"> <i class="fa fa-refresh"></i> </button>
                  </div>
                </div>

              </div>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <ng-container *ngIf="!isLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">Tournaments</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>League ID</th>
                      <th>Name</th>
                      <!-- <th>Display Name</th> -->
                      <th>Country Name</th>
                      <th>Sport</th>
                      <!-- <th>Rank</th>  -->
                      <th>Enabled</th>  
                      <!-- <th>Top League</th>  -->
                      <!-- <th>Actions</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tournament of tournaments | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                      
                      <td> {{ tournament?.id || 'NA' }} </td>
                      <td> {{ tournament?.league_id || 'NA' }} </td>
                      <td> {{ tournament?.name_en || 'NA' }} </td>
                      <!-- <td> {{ tournament.display_name || 'NA' }} </td> -->
                      <td> {{ tournament?.country?.name_en || 'NA' }} </td>
                      <td> {{ tournament?.sport?.name_en || 'NA' }} </td>
                      <!-- <td> {{ tournament.rank || 'NA' }} </td> -->
                     <td>
                        <!-- <span [ngClass]="tournament.blocked?.id ? 'text-danger':'text-success'">
                        {{ tournament.blocked?.id ? 'Disabled' : 'Enabled' }}
                       </span> -->

                       <!-- <ng-container *ngIf="adminAuthService.adminRoleValue === 'owner'; else showEnStatus">

                          <ng-container *ngIf="tournament.blocked?.id; else activeUser">
                            <button type="button" (click)="updateTournamentStatus(tournament, 1)" class="btn btn-danger fnt-12"> <i class="fa fa-remove"></i> </button>
                          </ng-container>
                          <ng-template #activeUser>
                            <button type="button" (click)="updateTournamentStatus(tournament, 0)" class="btn btn-success fnt-12"> <i class="fa fa-check"></i> </button>
                          </ng-template>
                          &nbsp;
                        </ng-container>

                        <ng-template #showEnStatus>
                          <span [ngClass]="tournament.blocked?.id ? 'text-danger':'text-success'">
                            {{ tournament.blocked?.id ? 'Disabled' : 'Enabled' }}
                          </span>
                        </ng-template> -->
                        <span [ngClass]="tournament?.blocked?.id ? 'text-danger':'text-success'">
                          {{ tournament?.blocked?.id ? 'Disabled' : 'Enabled' }}
                        </span>
                      </td>
                     <!--  <td> 
                        <span [ngClass]="tournament.top_league ? 'text-success':'text-danger'">
                          {{ tournament.top_league ? 'Yes' : 'No' }}
                         </span>
                      </td> -->
                      <!-- <td> -->

                        <!-- <ng-container *ngIf="adminAuthService.adminRoleValue === 'owner'">

                          <ng-container *ngIf="tournament.blocked?.id; else activeUser">
                            <button type="button" (click)="updateTournamentStatus(tournament, 1)" class="btn btn-success fnt-12"> Enabled </button>
                          </ng-container>
                          <ng-template #activeUser>
                            <button type="button" (click)="updateTournamentStatus(tournament, 0)" class="btn btn-danger fnt-12">  Disabled </button>
                          </ng-template>
                          &nbsp;
                        </ng-container> -->

                        <!-- <span *ngIf="superAdminAuthService.superAdminTokenValue==''">
                            <ng-container *ngIf="tournament.is_deleted; else activeUser">
                              <button type="button" (click)="updateTournamentStatus(tournament, 'disable')" class="btn btn-danger fnt-12"> <i class="fa fa-remove"></i> Disabled </button>
                            </ng-container>
                            <ng-template #activeUser>
                              <button type="button" (click)="updateTournamentStatus(tournament, 'enable')" class="btn btn-success fnt-12"> <i class="fa fa-check"></i> Enabled </button>
                            </ng-template>
                        &nbsp;</span> -->

                        <!-- <button class="btn btn-info" data-toggle="modal" data-target="#modal-tournament-details" (click)="tournamentDetails(tournament)" type="button">  <i class="fa fa-eye"></i> </button>
                        &nbsp; -->

                        <!-- <a class="btn btn-info" [routerLink]="['/sports/matches']" [state]="{ league_id : tournament.id, league_name: tournament.name_en, tenant_id: params.tenant_id }"> Matches ({{ tournament?.events_count }}) </a>

                      </td> -->

                    </tr>
                    <tr *ngIf="firstTimeApiCall && tournaments && tournaments.length === 0"> <td colspan="7" class="tnodata"> No Tournaments Found </td> </tr>
                    <tr *ngIf="!firstTimeApiCall"> <td colspan="7" class="tnodata"> Click Search to Load Data </td> </tr>
                  </tbody>
                </table>
              </div>
              </div>
              
              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>

              </ng-container>
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  

  <div class="modal fade" id="modal-tournament" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Tournament </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <form [formGroup]="tournamentForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          
              <div class="form-group">
                <label for="display_name">Display Name <span class="text-danger">*</span></label>
                <input formControlName="display_name" type="text" maxlength="30" class="form-control" placeholder="Enter Display Name" id="display_name"/>
                <div *ngIf="submitted && f.display_name.errors" class="invalid-feedback">
                  <div *ngIf="f.display_name.errors.required">Display Name is required</div>
              </div>
              </div>

              <div class="form-group">
                <label for="rank">Rank <span class="text-danger">*</span></label>
                <input formControlName="rank" type="number" maxlength="30" class="form-control" placeholder="Enter Rank" id="rank"/>
                <div *ngIf="submitted && f.rank.errors" class="invalid-feedback">
                  <div *ngIf="f.rank.errors.required">Rank is required</div>
                  <div *ngIf="f.rank.errors.min">Rank cannot be less than 1</div>
              </div>
              </div>
              
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="tournamentLoader" class="btn btn-primary">
                <span *ngIf="tournamentLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Save changes </button>
            </div>

          </form>

      </div>
    </div>
  </div>


    <div class="modal fade" id="modal-tournament-details" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Tournament </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          
           <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">information</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th> Name </th>
                      <td> {{ tournament?.name_en }} </td>
                    </tr>
                    <!-- <tr>
                      <th> Display Name </th>
                      <td> -- </td>
                    </tr> -->
                    <tr *ngIf="adminAuthService.adminTokenValue && adminAuthService.adminTokenValue.length > 0">
                      <th>Enabled</th>
                      <td>
                        <span [ngClass]="tournament?.blocked?.id ? 'text-danger':'text-success'">
                        {{ tournament?.blocked?.id ? 'Disabled' : 'Enabled' }}
                       </span>
                      </td>
                    </tr>
                    <tr>
                      <th>Country name</th>
                      <td> {{ tournament?.country?.name_en }} </td>
                    </tr>
                    <!-- <tr>
                      <th>Tounnament Type</th>
                      <td>--</td>
                    </tr>
                    <tr>
                      <th>Rank</th>
                      <td> -- </td>
                    </tr> -->
                  </tbody>
                </table>
              <br/>
              
              </div>
              

            </div>
            <!-- /.card -->

          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Statistics</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th>Number of Matches</th>
                      <td> {{ tournament?.events_count }} </td>
                      <td>
                        <a [routerLink]="['/sports/matches', tournament?.id]" data-dismiss="modal"> View </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <!-- /.card -->

          </div>

        </div>
              
        </div>
        
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>