<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Permission Role" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Permission Role Filter</h3>
            </div>
            <div class="card-body">

              <div class="row">

                <div class="col-md-2">
                    <div class="form-group">
                      <label for="search">Search Role Name</label>
                      <input type="text" class="form-control fnt-14" id="search" [(ngModel)]="params.search_role_name" placeholder="Search Role Name"/>
                    </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="tenant">Role Type</label>
                    <select class="form-control" id="role_type" [(ngModel)]="params.role_type">
                      <option value=""> All </option>
                      <option *ngFor="let role of roles" [value]="role.value"> {{ role.name }} </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <button [disabled] = "isLoader" type="button" class="mgt btn btn-success fnt-12" (click)="filter($event)"> <i class="fa fa-search"></i> Search
                  </button>
                  <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning fnt-12 ml-1" (click)="resetFilter()"> Reset Filter
                  </button>
                  <button [disabled] = "isLoader" type="button" title="Refresh List" class="mgt btn btn-default fnt-12 ml-1"
                    (click)="getPermissionRole()"> <i class="fa fa-refresh"></i></button>
                </div>
              </div>


            </div>

          </div>

        </div>

      </div>

    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      
      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Permission Role</h3>
              <ng-container *ngIf="this.permissionService.checkPermission('permission_role','C')">
                <a class="btn btn-success f-right fnt-12" routerLink="/permissionRole/0"> Create New </a>
              </ng-container>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">ID</th>
                    <th>Permission Role Name</th>
                    <th>Permission Role Type</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let permissionRole of permissionRoles | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                    
                    <td> {{ permissionRole.id }} </td>
                    <td> {{ permissionRole.role_name }} </td>
                    <td> {{ getPermissionRoleType(permissionRole.role_type) }} </td>
                    <td>
                      <ng-container *ngIf="this.permissionService.checkPermission('permission_role','U')">
                        <a [routerLink]="['/permissionRole', permissionRole.id]" class="fnt-12 btn btn-warning"> <i class="fas fa-edit"></i> </a> &nbsp;
                      </ng-container>
                      <a [routerLink]="['/permissionRole/details', permissionRole.id]" class="fnt-12 btn btn-primary"> <i class="fas fa-eye"> </i></a> &nbsp;
                      
                      <!-- <button type="button" (click)="delete(theme)" class="fnt-12 btn btn-danger"> Delete </button> -->
                    </td>
                  </tr>
                  <tr *ngIf="firstTimeApiCall && permissionRoles && permissionRoles.length === 0"> <td colspan="3" class="tnodata"> No Permission Role Found </td> </tr>
                  <tr *ngIf="!firstTimeApiCall"> <td colspan="3" class="tnodata"> Click Search to Load Data </td> </tr>
                </tbody>
              </table>
            </div>
            </div>

            <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
            
          </div>
          <!-- /.card -->

        </div>

      </div>
      
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
