<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Casino Providers" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
    
      <section class="content">
        <div class="container-fluid">

          <div class="row">

            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title"> Casino Providers </h3>
                  <a data-toggle="modal" data-target="#modal-provider" (click)="createProviderForm()" class="btn btn-success fnt-12 f-right"> Create New </a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Create Date</th>
                        <th>Update Date</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let provider of providers | paginate: { itemsPerPage: 10, currentPage: p }" class="todo-list ui-sortable" [id]="provider.id">
                        
                        <td> {{ provider.id }} </td>
                        <td> <a (click)="selectProvider(provider)" href="javascript:void(0);" data-toggle="modal" data-target="#modal-provider-details">{{ provider.name }} </a></td>
                        <td> {{ provider.created_at | date:'dd-MM-YYYY' }} </td>
                        <td> {{ provider.updated_at | date:'dd-MM-YYYY' }} </td>

                        <td> 
                          <button data-toggle="modal" data-target="#modal-provider" (click)="updateProvider(provider)" class="fnt-12 btn btn-warning"> Edit </button>
                          &nbsp;
                          <!-- <button type="button" (click)="deleteProvider(provider)" class="btn btn-danger fnt-12"> Delete </button> -->
                        </td>
                      </tr>

                      <tr *ngIf="providers && providers.length === 0"> <td colspan="5" class="tnodata"> No Casino Providers Found </td> </tr>

                    </tbody>
                  </table>
                </div>
                </div>

                <pagination-controls (pageChange)="p = $event"></pagination-controls>

              </div>
              <!-- /.card -->

            </div>

          </div>

        </div><!-- /.container-fluid -->
      </section>
      

  </div>



  <div class="modal fade" id="modal-provider-details" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Provider </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Id</th>
              <td> {{ provider?.id }} </td>
            </tr>
            <tr>
              <th>Name</th>
              <td> {{ provider?.name }} </td>
            </tr>
            <tr>
              <th>Created Date</th>
              <td> {{ provider?.created_at | date:'dd-MM-YYYY' }} </td>
            </tr>
            <tr>
              <th>Updated Date</th>
              <td> {{ provider?.updated_at | date:'dd-MM-YYYY' }} </td>
            </tr>
            <tr>
              <th>Action</th>
              <td> 
                <button data-toggle="modal" data-dismiss="modal" data-target="#modal-provider" (click)="updateProvider(provider)" class="fnt-12 btn btn-warning"> Edit </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>



  
  <div class="modal fade" id="modal-provider" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Provider <span class="text-danger">*</span></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <form [formGroup]="providerForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          
          <div class="form-group">
            <label for="name">Name <span class="text-danger">*</span></label>
            <input formControlName="name" type="text" maxlength="30" class="form-control" placeholder="Enter Name" id="name"/>
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
          </div>
              
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="providerLoader" class="btn btn-primary">
                <span *ngIf="providerLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Save changes </button>
            </div>

          </form>

      </div>
    </div>
  </div>
