<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Payment-Providers" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Filter</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

              <div class="row">

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="size">Size</label>
                    <select class="form-control" id="size" [(ngModel)]="params.size">
                      <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="search">Search By Payment Providers</label>
                    <input type="text" class="form-control" id="search" [(ngModel)]="params.search" placeholder="Search By Payment Providers"/>
                  </div>
                </div>

               
                <div class="col-md-3">
                  <button type="button" class="mgt btn btn-success fnt-12" (click)="filter($event)"> <i class="fa fa-search"></i> Search</button>
                  <button type="button" class="mgt btn btn-warning fnt-12 ml-2" (click)="resetFilter()"> Reset Filter </button>
                </div>
                
              </div>
              

            </div>

          </div>
          <!-- /.card -->

        </div>

      </div>

    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Payment Providers List </h3>
              <a *ngIf="!superAdminAuthService?.superAdminUserValue?.parent_id" class="btn btn-success f-right fnt-12" routerLink="/super-admin/payment-providers/0"> Create New </a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">ID</th>
                    <th>Payment Provider Name</th>
                    <th>Provider Type</th>
                    <th>Provider Keys</th>
                    <th>Currencies</th>
                    <th>Status</th>
                    <th>Created Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let providers of paymentProviders | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                    <td>{{ providers.id }}</td>
                    <td>  {{ providers.provider_name }}  </td>
                    <td>  {{ providers.provider_type | titlecase }}  </td>
                    <td>
                      
                          <ol style="padding: 0px 18px;">
                            <li *ngFor="let item of providers.keys">
                                {{item}}
                            </li>
                          </ol>
                        
                  
                    </td>
                    <td>
                      
                      <ul *ngIf="providers.currencyList.length > 0 ; else empty" style="padding: 0px 18px;">
                        <li *ngFor="let item of providers.currencyList">
                            {{item.name}}
                        </li>
                      </ul>

                      <ng-template #empty>--</ng-template>
                    
              
                    </td>
                    <td *ngIf="providers.active == true">
                        <span class="badge badge-success">Active</span>
                    </td>
                    <td *ngIf="providers.active != true">
                        <span class="badge badge-danger">In-Active</span>
                    </td>
                    <td>{{ providers?.created_at | date }}</td>
                   

                    <td>
                      <a  class="btn btn-warning fnt-12" [routerLink]="['/super-admin/payment-providers', providers.id]"> <i class="fas fa-edit"></i> </a>

                      &nbsp;
                      <ng-container *ngIf="providers.active; else activeProvider">
                        <button type="button" (click)="deactiveProviderStatus(providers)" class="btn btn-danger fnt-12 btnCommon"> <i class="fa fa-remove"></i> </button>
                      </ng-container>
                      <ng-template #activeProvider>
                        <button type="button" (click)="activeProviderStatus(providers)" class="btn btn-success fnt-12 btnCommon"> <i class="fa fa-check"></i> </button>
                      </ng-template>


                    </td>
                  </tr>

                  <tr *ngIf="firstTimeApiCall && paymentProviders && paymentProviders.length === 0"> <td colspan="8" class="tnodata"> No Payment Providers Found </td> </tr>
                  <tr *ngIf="!firstTimeApiCall"> <td colspan="8" class="tnodata"> Click Search to Load Data </td> </tr>
                </tbody>
              </table>
            </div>
            </div>

            <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>

          </div>
          <!-- /.card -->

        </div>

      </div>

    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
