<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Deposit" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Deposit</h3>
                <ng-container *ngIf = "this.permissionService.checkPermission('deposit_bonus','C')">
                  <a class="btn btn-success f-right" routerLink="/bonus/deposit/0"> Create New </a>
                </ng-container>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Kind</th>
                      <th>Code</th>
                      <th style="width: 20px">Minimum Deposit Amount</th>
                      <th style="width: 20px">Maximum Deposit Amount</th>
                      <th>Percentage</th>
                      <th>Currency</th>
                      <th>Maximum Bonus</th>
                      <th>Enabled</th>
                      <th>Rollbar Multiplier</th>
                      <th>Max Rollbar Per bet</th>
                      <th>Valid From</th>
                      <th>Valid Upto</th>	
                      <th style="width: 20px">Rollbar Validity in days</th>	
                      <th>Promotion Title</th>	
                      <th >Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let deposite of deposites | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                      
                      <td> {{ deposite.id || 'NA' }} </td>
                      <td> {{ deposite.kind == 'deposit' ? 'Deposit for Casino' : 'Deposit for Sport' }} </td>
                      <td> {{ deposite.code || 'NA' }} </td>
                      <td> {{ deposite.min_deposit }} </td>
                      <td> {{ deposite.max_deposit }} </td>
                      <td> {{ deposite.percentage || 'NA' }} </td>
                      <td> {{ deposite.currency_name || 'NA' }} </td>
                      <td> {{ deposite.max_bonus }} </td>
                      <!-- <td> 
                        <span [ngClass]="deposite?.enabled ? 'text-success':'text-danger'">
                        {{ deposite?.enabled ? 'Yes' : 'No' }}
                       </span> 
                      </td> -->
                      <td> 
                        <span [ngClass]="deposite.enabled ? 'text-success':'text-danger'">
                          {{ deposite.enabled ? 'Enabled' : 'Disabled' }}
                        </span>
                      </td>
                      <td> {{ deposite.rollover_multiplier }} </td>
                      <td> {{ deposite.max_rollover_per_bet }} </td>
                      <td> {{ deposite.valid_from | date: 'dd-MM-YYYY' || 'NA' }} </td>
                      <td> {{ deposite.valid_upto | date: 'dd-MM-YYYY' || 'NA' }} </td>
                      <td> {{ deposite.valid_for_days }} </td>
                      <td> {{ deposite.promotion_title }} </td>
                      <td style="width: 11%">
                          <button type="button" (click)="selectDeposite(deposite)" class="btn mrb-5 btn-info fnt-12" data-toggle="modal" data-target="#modal-details"> <i class="fa fa-eye"></i> </button>&nbsp;
                          <ng-container *ngIf = "this.permissionService.checkPermission('deposit_bonus','U')">
                            <button *ngIf="deposite.total_used == 0" class="btn btn-warning mrb-5 fnt-12" [routerLink]="['/bonus/deposit', deposite.id]"> <i class="fa fa-edit"></i> </button>&nbsp;
                          </ng-container>
                          <ng-container *ngIf = "this.permissionService.checkPermission('deposit_bonus','D')">
                            <button *ngIf="deposite.total_used == 0" type="button" (click)="deleteDeposite(deposite)" class="btn mrb-5 btn-danger fnt-12" > <i class="fa fa-trash"></i> </button>
                          </ng-container>
                          <ng-container *ngIf = "this.permissionService.checkPermission('deposit_bonus','T')">
                            <ng-container *ngIf="deposite.enabled; else activeJoin">
                              <button type="button" (click)="changeJoinStatua(deposite, true)" class="btn mrb-5 btn-danger fnt-12" > <i class="fa fa-remove"></i></button>
                            </ng-container>
                            <ng-template #activeJoin>
                              <button type="button" (click)="changeJoinStatua(deposite, false)" class="btn mrb-5 btn-success fnt-12" > <i class="fa fa-check"></i></button>
                            </ng-template>
                          </ng-container>
                      </td>
                      
                    </tr>
                    <tr *ngIf="deposites && deposites.length === 0"> <td colspan="15" class="tnodata"> No Deposites Found </td> </tr>
                  </tbody>
                </table>
              </div>
              </div>
              
              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  

  <div class="modal fade" id="modal-details" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Deposit </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

          <table class="table table-bordered">
            <tbody>

              <tr>
                <th>Id</th>
                <td> {{ deposite?.id }} </td>
              </tr>
              <tr>
                  <th>Kind</th>
                  <td> {{ deposite?.kind == 'deposit' ? 'Deposit for Casino' : 'Deposit for Sport' }} </td>
              </tr>
              <tr>
                  <th>Code</th>
                  <td> {{ deposite?.code }} </td>
              </tr>
              <tr>
                  <th>Vip Levels</th>
                  <td> {{ getVipLvps(deposite?.vip_levels) }} </td>
              </tr>
              <tr>
                  <th>Minimum Deposit Amount</th>
                  <td> {{ deposite?.min_deposit }} </td>
              </tr>
              <tr>
                  <th>Maximum Deposit Amount</th>
                  <td> {{ deposite?.max_deposit }} </td>
              </tr>
              <tr>
                  <th>Percentage</th>
                  <td> {{ deposite?.percentage }} </td>
              </tr>
              <tr>
                  <th>Currency</th>
                  <td> {{ deposite?.currency_name }} </td>
              </tr>
              <tr>
                  <th>Maximum Bonus</th>
                  <td> {{ deposite?.max_bonus }} </td>
              </tr>
              <tr>
                  <th>Rollbar Multiplier</th>
                  <td> {{ deposite?.rollover_multiplier }} </td>
              </tr>
              <tr>
                  <th>Max Rollbar Per bet</th>
                  <td> {{ deposite?.max_rollover_per_bet }} </td>
              </tr>
              <tr>
                  <th>Enabled	</th>
                  <td> 
                    <span [ngClass]="deposite?.enabled ? 'text-success':'text-danger'">
                      {{ deposite?.enabled ? 'Yes' : 'No' }}
                    </span> 
                  </td>
              </tr>
              <tr>
                  <th>Rollbar Validity in days	</th>
                  <td> {{ deposite?.valid_for_days }} </td>
              </tr>
              <tr>
                  <th>Valid From</th>
                  <td> {{ deposite?.valid_from | date: 'dd-MM-YYYY' }} </td>
              </tr>
              <tr>
                  <th>Valid Upto</th>
                  <td> {{ deposite?.valid_upto | date: 'dd-MM-YYYY' }} </td>
              </tr>
              <tr>
                  <th>Promotion Title</th>
                  <td> {{ deposite?.promotion_title }} </td>
              </tr>
              <tr>
                  <th>Promotion Image</th>
                  <td> <img [src]="deposite?.image" width="100"/> </td>
              </tr>

            </tbody>
          </table>

      </div>
    </div>
  </div>

