<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="User Details: {{player?.user_name}} {{ (player?.email ? '(' + player?.email + ')' : '') }}"
    [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" id="overviewl" href="#overview"
                    data-toggle="tab">Overview</a></li>
                    <li class="nav-item" *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager'"><a
                      class="nav-link" id="financiall" href="#financial" data-toggle="tab">Financial</a></li>
                      <li class="nav-item"><a class="nav-link" id="settingsl" href="#settings"
                        data-toggle="tab">Settings</a></li>
                        <ng-container *ngIf="this.permissionService.checkPermission('bet_report','R')">
                          <li class="nav-item" *ngIf="(checkAdmin) && sportMenuCheck"><a class="nav-link" id="sport-bettingl"
                              href="#sport-betting" data-toggle="tab">Sport Betting</a></li>
                        </ng-container>
                        <ng-container *ngIf="this.permissionService.checkPermission('casino_transactions','R')">
                          <li class="nav-item"><a class="nav-link" id="casino-transactionl"
                              href="#casino-transaction" data-toggle="tab">Account Summary</a></li>
                        </ng-container>
                        <li class="nav-item"><a class="nav-link" id="user_login_historyl" href="#user_login_history"
                          data-toggle="tab">User Login History</a></li>
                        <li *ngIf = "this.permissionService.checkPermission('player_bank_details','R')" class="nav-item"><a class="nav-link" id="bank_detailsl" href="#bank_details"
                          data-toggle="tab">Bank Details</a></li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="overview">
                  <div class="table-responsive">
                  <table class="table table-bordered">

                    <tbody>
                      <tr>
                        <th> Id </th>
                        <td>{{ player?.id }}</td>
                      </tr>

                      <tr>
                        <th> User Name </th>
                        <td> {{ player?.user_name }} </td>
                      </tr>

                      <tr>
                        <th> Nick Name </th>
                        <td> {{ player?.nick_name || 'N/A' }} </td>
                      </tr>

                      <tr>
                        <th> Email </th>
                        <td> {{ player?.email || 'N/A' }} </td>
                      </tr>
                      <tr>
                        <th>Email verified</th>
                        <td>
                          <span [ngClass]="player?.email_verified ? 'text-success' : 'text-danger'"> {{
                            player?.email_verified ? 'Yes' : 'No' }} </span>
                        </td>
                      </tr>
                      <tr>
                        <th>Full name</th>
                        <td>{{ player?.first_name + ' ' + player?.last_name }}</td>
                      </tr>
                      <tr>
                        <th>Date of birth</th>
                        <td>{{ player?.date_of_birth | date:'dd-MM-YYYY' || 'N/A' }}</td>
                      </tr>
                      <tr>
                        <th>Phone number</th>
                        <td>{{ player?.phone || 'N/A' }}</td>
                      </tr>
                      <tr>
                        <th>Phone verified</th>
                        <td>
                          <span [ngClass]="player?.phone_verified ? 'text-success' : 'text-danger'"> {{
                            player?.phone_verified ? 'Yes' : 'No' }} </span>
                        </td>
                      </tr>
                      <tr>
                        <th>Country code</th>
                        <td>{{ player?.country_code || 'N/A' }}</td>
                      </tr>
                      <tr>
                        <th>Agent</th>
                        <td>
                          <a [routerLink]="(this.permissionService.checkPermission('agents','R')) ? ['/agents/details', player?.tenant_id, player?.parent_id] : null"> {{
                            player?.parent_email }} </a>
                        </td>
                      </tr>
                      <tr>
                        <th>VIP Level</th>
                        <td>{{ player?.vip_level }}</td>
                      </tr>
                      <tr>
                        <th>Status</th>
                        <td>
                          <span [ngClass]="player?.active ? 'text-success':'text-danger'">{{ player?.active ? 'Active' :
                            'Deactive' }}</span>
                        </td>
                      </tr>

                      <tr>
                        <th>KYC Done?</th>
                        <td><span [ngClass]="player?.kyc_done ? 'text-success':'text-danger'">{{ player?.kyc_done ?
                            'Yes' : 'No' }}</span></td>
                      </tr>

                      <tr>
                        <th>Created at</th>
                        <td>{{ player?.created_at | date:'dd-MM-YYYY' }}</td>
                      </tr>
                      <tr>
                        <th>Updated at</th>
                        <td>{{ player?.updated_at | date:'dd-MM-YYYY' }}</td>
                      </tr>
                      <tr>
                        <th>Last Login Date</th>
                        <td> {{ player?.last_login_date | date:'dd-MM-YYYY' }} </td>
                      </tr>
                      <tr>
                        <th>City</th>
                        <td> {{ player?.city || 'N/A' }}</td>
                      </tr>
                      <tr>
                        <th>Zip Code</th>
                        <td> {{ player?.zip_code || 'N/A' }}</td>
                      </tr>
                      <!-- <tr>
                        <th>Sign In Ip's</th>
                        <td>
                          <table>
                            <tr>
                              <th>User IP</th>
                              <th>Device Id</th>
                              <th>Device Model</th>
                              <th>Device Type</th>
                              <th>Login Time</th>

                            </tr>
                            <ng-container *ngIf="player?.sign_in_ip;else noData">
                              <tr *ngFor="let ip of player?.sign_in_ip">
                                <td> {{ip.userIpAddress}}</td>
                                <td> {{ip.deviceId}}</td>
                                <td> {{ip.deviceModel}}</td>
                                <td> {{ip.deviceType}}</td>
                                <td>{{ip.time|date:'d-M-Y h:mm a'}}</td>

                              </tr>
                            </ng-container>
                            <ng-template #noData>
                              <tr id="nooData" class="text-center">
                                <td colspan="5">No Device Info available</td>
                              </tr>
                            </ng-template>




                          </table>
                        </td>
                      </tr> -->
                      <ng-container *ngIf = "this.permissionService.checkPermission('players','U')">
                        <tr>
                          <th>Actions</th>
                          <td>
                            <a [routerLink]="['/players', player?.id]"
                              *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager'"
                              class="btn btn-warning fnt-12">Edit</a>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>

                  </table>
                </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="sport-betting">
                  <ng-container *ngIf="this.permissionService.checkPermission('bet_report','R')">
                    <app-sport-betting [playerId]="playerId"></app-sport-betting>
                  </ng-container>
                </div>

                <div class="tab-pane" id="casino-transaction">
                  <ng-container *ngIf="this.permissionService.checkPermission('casino_transactions','R')">
                    <app-list-clone [playerId]="playerId"> </app-list-clone>
                  </ng-container>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="financial">

                  <div class="row">

                    <div class="col-md-6">

                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Wallet</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <div class="table-responsive">
                          <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <th>ID</th>
                                <td> {{ player?.wallet_id }} </td>
                              </tr>
                              <tr>
                                <th>Currencies</th>
                                <td> {{ player?.currency_code }} </td>
                              </tr>
                              <tr>
                                <td>Available Balance</td>
                                <td>{{ player?.amount |number : '1.0-2' || '-'}}</td>
                              </tr>
                              <tr>
                                <td>Last deposited amount</td>
                                <td>{{ player?.last_deposited_amount }}</td>
                              </tr>
                              <tr>
                                <td>Updated at</td>
                                <td> {{ player?.wallet_updated_at | date:'dd-MM-YYYY h:m:s'}} </td>
                              </tr>
                              <ng-container *ngIf = "this.permissionService.checkPermission('fund_transfer_deposit','C') || this.permissionService.checkPermission('fund_transfer_withdraw','C')">

                                <tr
                                  *ngIf="(adminAuthService.adminTokenValue && adminAuthService.adminTokenValue.length > 0)">
                                  <td>Actions</td>
                                  <td style="display: flex;"
                                    *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager' && player?.user_name; else noEmail">
                                    <ng-container *ngIf = "this.permissionService.checkPermission('fund_transfer_deposit','C')">
                                      <a class="btn btn-success fnt-12"
                                        [routerLink]="['/transactions/transfer-fund']"
                                        [queryParams]="{ owner_id: player?.id, email: player?.user_name, owner_type: 'User', type: 'Deposit'}">
                                        Deposit </a>
                                    </ng-container>
                                    &nbsp;
                                    <ng-container *ngIf = "this.permissionService.checkPermission('fund_transfer_withdraw','C')">
                                      <button type="button" class="btn btn-danger fnt-12"
                                        [disabled]="amountCheck" [routerLink]="['/transactions/transfer-fund']"
                                        [queryParams]="{ owner_id: player?.id, email: player?.user_name, owner_type: 'User', type: 'Withdraw'}">
                                        Withdraw </button>
                                    </ng-container>
                                  </td>

                                  <ng-template #noEmail>
                                    <td class="text-red">
                                      <i class="fa fa-warning"></i> This user has not updated any email. Because of
                                      this, you cannot transfer funds to this user.
                                    </td>
                                  </ng-template>

                                </tr>
                            </ng-container>


                            </tbody>
                          </table>
                        </div>
                        </div>

                      </div>
                    </div>
                    <!-- /.card -->

                    <div class="col-md-6">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Non Cash Bonus</h3>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                          <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <th>ID</th>
                                <td> {{ player?.wallet_id }} </td>
                              </tr>
                              <tr>
                                <th>Currencies</th>
                                <td> {{ player?.currency_code }} </td>
                              </tr>
                              <tr>
                                <td>Available Balance</td>
                                <td>{{ player?.non_cash_amount |number : '1.0-2' || '-'}}</td>
                              </tr>
                              <tr>
                                <td>Last deposited Bonus</td>
                                <td>{{ player?.nocash_bonus_last_amount }}</td>
                              </tr>
                              <ng-container *ngIf = "this.permissionService.checkPermission('fund_transfer_deposit','C') || this.permissionService.checkPermission('fund_transfer_withdraw','C')">
                                <tr
                                  *ngIf="(adminAuthService.adminTokenValue && adminAuthService.adminTokenValue.length > 0)">
                                  <td>Actions</td>
                                  <td style="display: flex;"
                                    *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager' && player?.user_name else noEmailForNoCase">
                                    <ng-container *ngIf = "this.permissionService.checkPermission('fund_transfer_deposit','C')">
                                      <button class="btn btn-success fnt-12" type="button"
                                        (click)="deposit()" data-toggle="modal" data-target="#modal-ncb"> Deposit
                                      </button>
                                    </ng-container>
                                    &nbsp;
                                    <ng-container *ngIf = "this.permissionService.checkPermission('fund_transfer_withdraw','C')">
                                      <button class="btn btn-danger fnt-12"
                                        [disabled]=" non_cash_amountCheck " type="button" (click)="withdraw()"
                                        data-toggle="modal" data-target="#modal-ncb"> Withdraw</button>
                                    </ng-container>
                                  </td>

                                  <ng-template #noEmailForNoCase>
                                    <td class="text-red">
                                      <i class="fa fa-warning"></i> This user has not updated any email. Because of
                                      this, you cannot transfer funds to this user.
                                    </td>
                                  </ng-template>
                                </tr>
                            </ng-container>


                            </tbody>
                          </table>
                        </div>

                        </div>

                      </div>
                    </div>

                  </div>

                </div>

                <div class="tab-pane" id="settings">

                  <section class="content">
                    <div class="container-fluid">

                      <div class="row">

                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header">
                              <h3 class="card-title">Player Settings</h3>
                              <!-- <button class="btn btn-success fnt-12 f-right" data-toggle="modal" data-target="#modal-setting" (click)="createNew()"> Create New </button> -->
                            </div>

                            <div class="card-body">
                             <div class="table-responsive">
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>Type</th>
                                    <th>value</th>
                                    <th>Updated At</th>
                                    <ng-container *ngIf = "this.permissionService.checkPermission('players','U')">
                                      <th style="width: 140px">Action</th>
                                    </ng-container>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of playerSettingKeys">
                                    <td>{{item.name}}</td>
                                    <td>{{(item.value ? item.value : 'Not set')}}</td>
                                    <td>{{(item.updatedAt | date : 'dd-mm-YYYY h:mm a') ?? 'NA'}}</td>
                                    <ng-container *ngIf = "this.permissionService.checkPermission('players','U')">
                                    <td style="width: 140px">
                                      <button type="button"
                                        (click)="updatePlayerSetting(item.key,'Update',item.value,'update',item.id)"
                                        class="btn btn-info fnt-12"> <i class="fa fa-edit"></i> </button>&nbsp;&nbsp;
                                      <button type="button" [attr.disabled]="item.id == 0 || !item.value ? true : null"
                                        (click)="updatePlayerSetting(item.key,'Reset',item.value,'reset',item.id)"
                                        class="btn btn-danger fnt-12"> <i class="fa fa-refresh"></i> </button>
                                    </td>
                                    </ng-container>
                                  </tr>

                                </tbody>
                              </table>
                            </div>
                            </div>

                          </div>

                        </div>

                      </div>

                    </div>
                  </section>

                  <section class="content">
                    <div class="container-fluid">

                      <div class="row">

                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header">
                              <h3 class="card-title">Player Commission Percentage</h3>


                            </div>

                            <div class="card-body">
                              <form [formGroup]="commissionForm" (ngSubmit)="submitCommissionForm()">
                                <label>
                                  <input type="radio" formControlName="option" value="none"> None
                                </label><br>
                                <label>
                                  <input type="radio" formControlName="option" value="5"> 5%
                                </label><br>
                                <label>
                                  <input type="radio" formControlName="option" value="10"> 10%
                                </label><br>
                                <label>
                                  <input type="radio" formControlName="option" value="custom"> Custom
                                </label><br>
                                <div class=" col-md-2 form-group" *ngIf="commissionForm.get('option')?.value === 'custom'">
                                  <label for="customValue">Enter Custom Value:</label>
                                  <input type="number" formControlName="customValue" class="form-control" id="customValue" [placeholder]=" 'Enter percentage upto ' + this.maxCommissionValue">
                                  <div class="invalid-feedback" *ngIf="commissionLoader && commissionForm.get('customValue').errors">
                                    <div *ngIf="commissionForm.get('customValue').errors.required">Commission percentage is required</div>
                                    <div *ngIf="commissionForm.get('customValue').errors.min">Commission percentage should be greater or equal to 0</div>
                                    <div *ngIf="commissionForm.get('customValue').errors.max">Commission percentage should be less than {{this.maxCommissionValue}} </div>
                                  </div>
                                </div>

                                <button class="btn btn-primary" type="submit">Submit</button>
                              </form>
                              
                            </div>

                          </div>

                        </div>

                      </div>

                    </div>
                  </section>

                  <section class="content">
                    <div class="container-fluid">

                      <div class="row">

                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header">
                              <h3 class="card-title">Player Self Exclusion</h3>


                            </div>

                            <div class="card-body">
                              <div class="table-responsive">

                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>Key</th>
                                    <th>value</th>
                                    <ng-container *ngIf = "this.permissionService.checkPermission('players','U')">
                                      <th> Action </th>
                                    </ng-container>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Self Exclusion</td>
                                    <td>{{(player?.self_exclusion ? player?.self_exclusion : 'Not set')}}</td>
                                    <ng-container *ngIf = "this.permissionService.checkPermission('players','U')">
                                      <td style="width: 140px">
                                        <!-- <button type="button" (click)="updatePlayerSetting(item.key,'Update',item.value,'update',item.id)" class="btn btn-info fnt-12"> <i class="fa fa-edit"></i> </button>&nbsp;&nbsp; -->
                                        <button type="button" [attr.disabled]="!player?.self_exclusion ? true : null"
                                          (click)="playerSelfExclusion()" class="btn btn-danger fnt-12"> <i
                                            class="fa fa-refresh" title="Reset self exclusion"></i> </button>
                                      </td>
                                    </ng-container>
                                  </tr>

                                </tbody>
                              </table>
                            </div>
                            </div>

                          </div>

                        </div>

                      </div>

                    </div>
                  </section>


                  <section class="content">
                    <div class="container-fluid">

                      <div class="row">

                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header">
                              <h3 class="card-title">Player documents</h3>

                              <div class="f-right icheck-primary d-inline">
                                <input type="checkbox" [(ngModel)]="kyc_done" (change)="changeKyc()"
                                  id="checkboxPrimary1">
                                <label for="checkboxPrimary1">
                                  KYC DONE?
                                </label>
                              </div>

                            </div>

                            <div class="card-body">

                              <div class="table-responsive">
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th style="width: 10px">ID</th>
                                    <th>Document name</th>
                                    <th>View Document</th>
                                    <th>Verified?</th>
                                    <th>Status</th>
                                    <th>Reason</th>
                                    <th>Uploaded At</th>
                                    <ng-container *ngIf = "this.permissionService.checkPermission('players','T')">
                                      <th> Action </th>
                                    </ng-container>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let document of player?.user_documents">
                                    <td> {{ document.id }} </td>
                                    <td> {{ document.document_name }} </td>
                                    <td> <a [href]="document.document_url" target="_blank"> View here </a> </td>
                                    <td> <span [ngClass]="document.is_verified ? 'text-success' : 'text-danger'"> {{
                                        document.is_verified ? 'Yes' : 'No' }} </span></td>
                                    <td>
                                      <ng-container [ngSwitch]="document.status">
                                        <button class="btn btn-info fnt-12" *ngSwitchCase="'pending'">{{ document.status
                                          }}</button>
                                        <button class="btn btn-success fnt-12" *ngSwitchCase="'approved'">{{
                                          document.status }}</button>
                                        <button class="btn btn-danger fnt-12" *ngSwitchCase="'rejected'">{{
                                          document.status }}</button>
                                        <button class="btn btn-info fnt-12" *ngSwitchDefault>{{ document.status
                                          }}</button>
                                      </ng-container>
                                    </td>
                                    <td>{{ document.reason || '--' }}</td>
                                    <td>{{ document.updated_at | date: 'dd-MM-YYYY' }}</td>
                                    <ng-container *ngIf = "this.permissionService.checkPermission('players','T')">
                                      <td>
                                        
                                        <ng-container *ngIf="document.status == 'pending'; else docStatus">
                                          <button class="btn btn-success fnt-12"
                                            (click)="updatePlayerDocStatus(document, 'approved')" type="button"> Approve
                                          </button>
                                          &nbsp;
                                          <button class="btn btn-danger fnt-12" data-toggle="modal"
                                            data-target="#modal-rej" (click)="setPlayerDoc(document)" type="button">
                                            Reject </button>
                                        </ng-container>
                                        <ng-template #docStatus>
                                          <ng-container [ngSwitch]="document.status">
                                            <span class="text-success" *ngSwitchCase="'approved'">{{ document.status
                                              }}</span>
                                            <span class="text-danger" *ngSwitchCase="'rejected'">{{ document.status
                                              }}</span>
                                            <span class="text-info" *ngSwitchDefault>{{ document.status }}</span>
                                          </ng-container>
                                        </ng-template>
                                      </td>
                                    </ng-container>
                                  </tr>

                                  <tr *ngIf="player?.user_documents && player?.user_documents.length === 0">
                                    <td colspan="9" class="tnodata"> No Player Documents Found </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            </div>

                          </div>

                        </div>

                      </div>

                    </div>
                  </section>

                </div>
                <div class="tab-pane" id="user_login_history">
                  <div class="row" *ngIf="!isLoader">
                  
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th >Ip</th>
                            <th>Network</th>
                            <th>Version</th>
                            <th>Device Id</th>
                            <th>Device Type</th>
                            <th>Device Model</th>
                            <th>Sign In Count</th>
                            <th>Last Login Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let history of playerLoginHistory | paginate: { itemsPerPage: userLoginHistoryParams.size, currentPage: playerP, totalItems: playerLoginHistoryTotal, id: 'playerhistorypid' }">
      
                            <td>{{ history?.ip }}</td>
                            <td>{{ history?.network }}</td>
                            <td>{{ history?.version }}</td>
                            <td> {{ history?.device_id }}  </td>
                            <td> {{ history?.device_type }}  </td>
                            <td> {{ history?.device_model }}  </td>
                            <td> {{ history?.sign_in_count }}  </td>
                            <td> {{ history?.last_login_date | date:'dd-MM-YYYY' }}  </td>
                          </tr>
                          <tr *ngIf="playerLoginHistory && playerLoginHistory.length === 0">
                            <td
                              [attr.colspan]="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) ? 11 : 10"
                              class="tnodata"> No Player's History Found </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <pagination-controls id="playerhistorypid" (pageChange)="playerPageChanged($event)"
                      (pageChange)="playerP = $event" style="margin-left: -49px;"></pagination-controls>
                    Total Record {{playerLoginHistoryTotal}}
                  </div>
                </div>

                <div class="tab-pane" id="bank_details">
                  <div class="row" *ngIf="!isLoader">
                    <div class="card-header ml-auto px-0">
                      <a *ngIf = "this.permissionService.checkPermission('player_bank_details','C')" (click)="createBank()" data-toggle="modal" data-target="#modal-page" class="btn btn-success f-right fnt-12"> Create New</a>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th style="width: 10px">ID</th>
                            <th>Bank Name</th>
                            <th>IFSC Code</th>
                            <th>Account Number</th>
                            <th>Account Holder Name</th>
                            <th>Active</th>
                            <th>Created Date</th>
                            <ng-container *ngIf = "this.permissionService.checkPermission('player_bank_details','U')">
                              <th>Action</th>
                            </ng-container>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let bank of bankDetails | paginate: { itemsPerPage: bankDetailsParams.size, currentPage: bankDetailsP, totalItems: bankDetailsTotal, id: 'bankdetailspid' }">
      
                            <td>#{{ bank.id }}</td>
                            <td>  {{ bank.bank_name || 'NA' }}</td>
                            <td>{{ bank.bank_ifsc_code || 'NA' }}</td>
                            <td>{{ bank.account_number || 'NA' | hideChars }}</td>
                            <td>{{ bank.name || 'NA' }}</td>
                            <td *ngIf="bank.status == 'active'"><label class='badge badge-success'>Active</label></td>
                            <td *ngIf="bank.status == 'inactive'"><label class='badge badge-danger'>In-Active</label></td>
                            <td> {{ bank.created_at | date }}</td>
                            <td style="display: flex;" *ngIf = "this.permissionService.checkPermission('player_bank_details','U')">
                              <a  class="btn btn-info fnt-12" data-toggle="modal" data-target="#modal-page" (click)="selectBank(bank)"> <i class="fas fa-edit"></i> </a>&nbsp;&nbsp;
                            </td>
                          </tr>
                          <tr *ngIf="bankDetails && bankDetails.length === 0">
                            <td
                              [attr.colspan]="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) ? 11 : 10"
                              class="tnodata"> No Bank Details Found </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <pagination-controls id="bankdetailspid" (pageChange)="bankDetailsPageChanged($event)"
                      (pageChange)="bankDetailsP = $event" style="margin-left: -49px;"></pagination-controls>
                    Total Record {{bankDetailsTotal}}
                  </div>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>

      </div>

    </div>
  </section>


</div>



<!-- <div class="modal fade" id="modal-setting" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Settings </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">

              <div class="form-group">
                <label for="skey">Key <span class="text-danger">*</span></label>
                <select formControlName="key" id="skey" class="form-control">
                  <option *ngFor="let key of keys" [value]="key.value"> {{ key.name }} </option>
                </select>
                <div *ngIf="submitted && f.key.errors" class="invalid-feedback">
                  <div *ngIf="f.key.errors.required">key is required</div>
              </div>
              </div>

              <div class="form-group">
                <label for="svalue">Value <span class="text-danger">*</span></label>
                <input formControlName="value" type="number" placeholder="Enter Value" class="form-control" id="svalue"/>
                <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
                  <div *ngIf="f.value.errors.required">Value is required</div>
                  <div *ngIf="f.value.errors.min">Value cannot be less than 1</div>
              </div>
              </div>

              <div class="form-group">
                <label for="duration">Duration <span class="text-danger">*</span></label>
                <input formControlName="duration" type="number" class="form-control" placeholder="Enter Duration" id="duration"/>
                <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                  <div *ngIf="f.duration.errors.required">Duration is required</div>
                  <div *ngIf="f.duration.errors.min">Duration cannot be less than 1</div>
              </div>
              </div>

              <div class="form-group">
                <label for="description">Description <span class="text-danger">*</span></label>
                <input formControlName="description" type="text" maxlength="200" class="form-control" placeholder="Enter Description" id="description"/>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">Description is required</div>
              </div>
              </div>

            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="settingLoader" class="btn btn-primary">
                <span *ngIf="settingLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Save changes </button>
            </div>

          </form>

      </div>
    </div>
  </div> -->



<div class="modal fade" id="modal-ncb" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Non Cash Bonus </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <form [formGroup]="ncbForm" (ngSubmit)="onNCBSubmit()">
        <div class="modal-body">

          <div class="form-group">
            <label for="non_cash_amount">Enter Non Cash Amount <span class="text-danger">*</span></label>
            <input formControlName="non_cash_amount" type="number" placeholder="Enter Non Cash Amount"
              class="form-control" id="non_cash_amount" />
            <div *ngIf="ncbSubmitted && ncb.non_cash_amount.errors" class="invalid-feedback">
              <div *ngIf="ncb.non_cash_amount.errors.required">Non Cash Amount is required</div>
              <div *ngIf="ncb.non_cash_amount.errors.min">Non Cash Amount cannot be less than 1</div>
            </div>
          </div>

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" [disabled]="ncbLoader" class="btn"
            [ngClass]="{ 'btn-success' : ncbType === 'Deposit', 'btn-danger' : ncbType === 'Withdraw'}">
            <span *ngIf="ncbLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> {{
            ncbType || 'Save changes' }} </button>
        </div>

      </form>

    </div>
  </div>
</div>



<div class="modal fade" id="modal-rej" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Are you sure you want to reject this document? </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <form [formGroup]="rejForm" (ngSubmit)="onSubmitPlayerDoc()">
        <div class="modal-body">

          <div class="form-group">
            <label for="reason">Reason <span class="text-danger">*</span></label>
            <textarea id="reason" class="form-control" formControlName="reason"></textarea>
            <div *ngIf="rejSubmitted && rejf.reason.errors" class="invalid-feedback">
              <div *ngIf="rejf.reason.errors.required">Reason is required</div>
            </div>
          </div>

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" [disabled]="rejLoader" class="btn btn-danger">
            <span *ngIf="rejLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Yes, Do it! </button>
        </div>

      </form>

    </div>
  </div>
</div>


<div class="modal fade" id="modal-page" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Bank Detail </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <form [formGroup]="bankForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">
        
            <div class="form-group">
              <label for="bank_name">Bank name <span class="text-danger">*</span></label>
              <input formControlName="bank_name" type="text" maxlength="20" class="form-control" placeholder="Enter name" id="bank_name"/>
              <div *ngIf="submitted && b.bank_name.errors" class="invalid-feedback">
                <div *ngIf="b.bank_name.errors.required">Bank name is required</div>
                <div *ngIf="b.bank_name.errors.pattern">Bank name must be valid</div>
            </div>
            </div>

            <div class="form-group">
              <label for="ifsc_code">Ifsc code<span class="text-danger">*</span></label>
              <input formControlName="ifsc_code" type="text" maxlength="50" class="form-control" placeholder="Enter Ifsc code" id="name"/>
              <div *ngIf="submitted && b.ifsc_code.errors" class="invalid-feedback">
                <div *ngIf="b.ifsc_code.errors.required">Ifsc code is required</div>
                <div *ngIf="b.ifsc_code.errors.pattern">Ifsc code must be valid</div>
              </div>
            </div>
            <div class="form-group">
              <label for="account_number">Account number<span class="text-danger">*</span></label>
              <input formControlName="account_number" type="number" maxlength="40" class="form-control" placeholder="Enter account number" id="name"/>
              <div *ngIf="submitted && b.account_number.errors" class="invalid-feedback">
                <div *ngIf="b.account_number.errors.required">Account number is required</div>
                <div *ngIf="b.account_number.errors.pattern">Account number must be valid</div>
            </div>
            </div>
            <div class="form-group">
              <label for="account_holder_name">Account holder name<span class="text-danger">*</span></label>
              <input formControlName="account_holder_name" type="text" maxlength="50" class="form-control" placeholder="Enter account holder name" id="name"/>
              <div *ngIf="submitted && b.account_holder_name.errors" class="invalid-feedback">
                <div *ngIf="b.account_holder_name.errors.required">Account holder name is required</div>
                <div *ngIf="b.account_holder_name.errors.pattern">Account holder name must be valid</div>
            </div>
            </div>

              <div class="form-group">
                <label for="slug">Active / Inactive <span class="text-danger">*</span></label>
                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                  <input type="checkbox" class="custom-control-input" formControlName="active" id="customSwitch3">
                  <label class="custom-control-label" for="customSwitch3"> </label>
                </div>
                </div>

          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" [disabled]="bankLoader" class="btn btn-primary">
              <span *ngIf="bankLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Save changes </button>
          </div>

        </form>

    </div>
  </div>
</div>
