<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Countries" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Countries Filter</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="sport_id">Sports List</label>
                      <select class="form-control" data-placeholder="Select Countries List" select2 id="location_id" (onSelect)="sportFilter($event)">
                        <option value="">All</option>
                        <optgroup label="Sports">
                          <option *ngFor="let list of sports" [value]="list.location_id">{{list.name_en}}</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="sport_id">Countries List</label>
                      <select class="form-control" data-placeholder="Select Countries List" select2 id="sport_id" (onSelect)="CountriesFilter($event)">
                        <option value="">All</option>
                        <!--<optgroup label="Countries">-->
                        	<option *ngFor="let list of countriesAllList" [value]="list.location_id">{{list.name_en}}</option>
            					  <!--</optgroup>-->
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="size">Size</label>
                      <select class="form-control" id="size" (change)="filter($event)" [(ngModel)]="params.size">
                        <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                    </select>
                    </div>
                  </div>
                  
                  <div class="col-md-2">
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning" (click)="resetFilter()"> Reset Filter </button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-default ml-2" (click)="getCountries()"> <i class="fa fa-refresh"></i> </button>
                  </div>
                </div>

              </div>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <ng-container *ngIf="!isLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">Countries</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Location Id</th>
                      <th>Name</th>
                      <!-- <th>UID</th>
                      <th>Rank</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let country of countries | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                      
                      <td> {{ country.id || 'NA' }} </td>
                      <td> {{ country.location_id || 'NA' }} </td>
                      <td> {{ country.name_en || 'NA' }} </td>
                      <!-- <td> {{ country.uid || 'NA' }} </td>
                      <td> {{ country.rank || 'NA' }} </td> -->

                    </tr>
                    <tr *ngIf="firstTimeApiCall && countries && countries.length === 0"> <td colspan="3" class="tnodata"> No Countries Found </td> </tr>
                    <tr *ngIf="!firstTimeApiCall"> <td colspan="3" class="tnodata"> Click Search to Load Data </td> </tr>
                  </tbody>
                </table>
              </div>
              
              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
              </ng-container>
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>