<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  <app-breadcrumb title="Active Unique Players" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12">

          <div class="card">

            <!-- /.card-header -->

            <div class="card-body">
              <div class="row">

                <ng-container
                  *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0; else adminOptions">

                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="tenant_id">Tenant</label>
                      <select class="form-control" id="tenant_id" (change)="filter($event)"
                        [(ngModel)]="params.tenant_id">
                        <option
                        *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0"
                        value="0">All Tenants</option>
                        <option *ngFor="let tenants of tenantsList" [value]="tenants.id">{{tenants.name}}</option>
                      </select>
                    </div>
                  </div>

                </ng-container>


                <ng-template #adminOptions>

                  <div class="col-md-2" *ngIf="this.permissionService.checkPermission('agents','R')">
                    <div class="form-group">
                      <label for="agent_id">Agent</label>
                      <select class="form-control" id="agent_id" select2 (onSelect)="filterSelectAgent($event)" [(ngModel)]="params.agent_id">
                        <option *ngFor="let adminUser of userList" [value]="adminUser.id">{{adminUser.first_name}}
                          {{adminUser.last_name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-2" *ngIf="false">
                    <div class="form-group">
                      <label for="player_type">Player Type</label>
                      <select class="form-control" id="player_type" (change)="filter($event)"
                        [(ngModel)]="params.player_type">
                        <option value="all">All Organization Players</option>
                        <option value="direct">Only Direct Players</option>
                      </select>
                    </div>
                  </div>

                </ng-template>


                <div class="col-md-5 mgt">
                  <button (click)="setTimePeriod('today')" class="btn"
                    [ngClass]="params.time_period == 'today' ? 'btn-success':'btn-default'" type="button"> Today
                  </button> &nbsp;
                  <button (click)="setTimePeriod('weekly')" class="btn"
                    [ngClass]="params.time_period == 'weekly' ? 'btn-success':'btn-default'" type="button"> This Week
                  </button> &nbsp;
                  <button (click)="setTimePeriod('monthly')" class="btn"
                    [ngClass]="params.time_period == 'monthly' ? 'btn-success':'btn-default'" type="button"> This Month
                  </button> &nbsp;
                  <button (click)="setTimePeriod('lastMonth')" class="btn"
                  [ngClass]="params.time_period == 'lastMonth' ? 'btn-success':'btn-default'" type="button"> Last Month
                  </button> &nbsp;
                  <!-- <button (click)="setTimePeriod('yearly')" class="btn"
                    [ngClass]="params.time_period == 'yearly' ? 'btn-success':'btn-default'" type="button"> This Year
                  </button> -->

                </div>

                <div class="col-md-3 mgt">
                  <strong class="f-right"> {{ dates.start_date }} UTC - {{ dates.end_date }} UTC </strong>
                </div>


              </div>
              <div class="row">
                <button type="button" class="btn btn-default ml-2" (click)="getData()"> <i class="fa fa-refresh"></i>
                </button>
                <button style="margin-left: 15px;" type="button" class="mgt btn btn-warning mt-0" (click)="resetFilter()"> Reset Filter </button>
              </div>
            </div>

          </div>


        </div>


      </div>
      <!-- /.row -->

    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->




  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-3">
          <div class="card">

            <div class="card-header">
              <h3 class="card-title">Total active unique players
                ( <ng-container [ngSwitch]="params.time_period">
                  <ng-container *ngSwitchCase="'today'">Today</ng-container>
                  <ng-container *ngSwitchCase="'weekly'">This Week </ng-container>
                  <ng-container *ngSwitchCase="'lastMonth'">Last Month </ng-container>
                  <ng-container *ngSwitchCase="'monthly'">This Month </ng-container>
                  <ng-container *ngSwitchCase="'yearly'">This Year</ng-container>
                  <ng-container *ngSwitchDefault>Today</ng-container>
                </ng-container> )
              </h3>
            </div>

            <div class="card-footer">

              <div class="row">
                <div class="col-sm-12 col-12">
                  <div class="description-block border-right">
                    <h3 class="f-left"> {{betCount}} </h3>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- /.card -->

        </div>


        <div class="col-md-9">
          <div class="card">

            <div class="card-header">
              <h3 class="card-title">List of active unique players
                ( <ng-container [ngSwitch]="params.time_period">
                  <ng-container *ngSwitchCase="'today'">Today</ng-container>
                  <ng-container *ngSwitchCase="'weekly'">This Week </ng-container>
                  <ng-container *ngSwitchCase="'lastMonth'">Last Month </ng-container>
                  <ng-container *ngSwitchCase="'monthly'">This Month </ng-container>
                  <ng-container *ngSwitchCase="'yearly'">This Year</ng-container>
                  <ng-container *ngSwitchDefault>Today</ng-container>
                </ng-container> )
              </h3>
            </div>

            <div class="card-body">

              <div class="row">
                <div class="col-md-12 col-12">
                  <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th>User Name</th>
                          <th>Email</th>
                          <th>Total Bet Amount</th>
                          <th>Total Bet Count</th>
                          <th>Agent Name</th>
                          <!-- <th>Bet Amount</th> -->
                        </tr>


                        <tr *ngFor="let bl of betList | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total } ">
                          
                          <td>{{ bl.user_name }}</td>
                          <td>{{ bl.email }}</td>
                          <td>{{ bl.total_bet_amount | number: '1.2-2' }}</td>
                          <td>{{ bl.total_bets}}</td>
                          <td>{{ bl.agent_name }}</td>
                          
                        </tr>
                         
                        <tr class=" text-center" *ngIf="!betList.length">
                          <td colspan="6">
                            <p>No Players Found</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>

          </div>
          <!-- /.card -->

        </div>

      </div>

    </div>
  </section>


</div>


<ng-template #chartLoader>

  <img class="chart-loader" src="./assets/dist/gif/loader.gif" />

</ng-template>
