<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="CMS Pages" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->


  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"> CMS Pages</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="cmsForm" (ngSubmit)="onSubmit()">
              <div class="card-body">

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="title">Title <span class="text-danger">*</span></label>
                      <input type="text" formControlName="title" class="form-control" id="title"
                        placeholder="Enter Title" />
                      <div class="invalid-feedback" *ngIf="submitted && f.title.errors">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="slug">Slug <span class="text-danger">*</span></label>
                      <input type="text" formControlName="slug" (paste)="(false)" (keypress)="removeSpace($event)" class="form-control" id="slug"
                        placeholder="Enter Slug" />
                      <div class="invalid-feedback" *ngIf="submitted && f.slug.errors">
                        <div *ngIf="f.slug.errors.required">Slug is required</div>
                      </div>
                    </div>
                    
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="slug">Active / Inactive <span class="text-danger">*</span></label>
                      <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" formControlName="active" id="customSwitch3">
                        <label class="custom-control-label" for="customSwitch3">You can {{(cms.active ? 'deactivate' : 'active')}} it, if you {{(cms.active ? "don't" : '')}} want to publish.</label>
                      </div>
                      </div>
                  </div>


                  <div class="col-md-12">
                    <div class="card card-primary card-outline card-outline-tabs">
                      <div class="card-header p-0 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                         
                          <li class="nav-item" *ngFor="let item of content ; let i = index">
                            <a class="nav-link {{i == 0 ? 'active': ''}}" id="custom-tabs-four-settings-tab{{i}}" data-toggle="pill"
                              href="#custom-tabs-four-settings{{i}}" role="tab" 
                              aria-selected="true">{{item.type}}</a>
                          </li>
                        </ul>
                      </div>
                      <div class="card-body">
                        <div class="tab-content" id="custom-tabs-four-tabContent" formArrayName="content">
                          
                         <ng-container *ngFor="let item of content; let i = index">
                          <div class="tab-pane fade  {{i == 0 ? 'active show': ''}}"   id="custom-tabs-four-settings{{i}}" role="tabpanel"
                         >
                          <label for="{{item.type}}">Content ( {{item.type}} )<span class="text-danger">*</span></label>
                          <ckeditor id="editor{{i}}" [formControlName]="item.type"></ckeditor>
                          <div class="invalid-feedback" *ngIf="submitted && f.content.controls[item.type].errors">
                            <div *ngIf="f.content.controls[item.type].errors.required">Content is required</div>
                          </div>
                        </div>
                         </ng-container>
                        </div>
                      </div>

                    </div>
                  </div>


                  <div class="col-md-12">
                    <hr>
                      <div class="form-group clearfix">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" id="checkboxPrimary1" (change)="userWarning($event)" formControlName="enable_flag">
                          <label for="checkboxPrimary1">Enable / Disable CMS Page For Registration Page <span class="text-danger">*</span></label>
                        </div>
                      </div>
                  </div>
                </div>





              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" [disabled]="cmsLoader" class="btn btn-primary">
                  <span *ngIf="cmsLoader" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span> Submit
                </button>
                &nbsp;
                <a routerLink="/cms" class="btn btn-warning"> Cancel </a>
              </div>
            </form>
          </div>
          <!-- /.card -->

        </div>
      </div>
      <!-- /.row -->



    </div><!-- /.container-fluid -->
  </section>


</div>
