
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="{{title}}" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->


  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"> {{title}} Payment Provider </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="providerForm" (ngSubmit)="onSubmit()">
              <div class="card-body">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="provider_name">Provider Name <span class="text-danger">*</span></label>
                      <input type="text" formControlName="provider_name" class="form-control" id="provider_name"
                        placeholder="Enter First Name" />
                      <div class="invalid-feedback" *ngIf="submitted && f.provider_name.errors">
                        <div *ngIf="f.provider_name.errors.required">Provider Name is required</div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="provider_type">Provider Type <span class="text-danger">*</span></label>
                      <select formControlName="provider_type" class="form-control" id="provider_type">
                            <option *ngFor="let item of providerType" value="{{item.value}}">{{item.name}}</option>
                          
                      </select>
                      <div class="invalid-feedback" *ngIf="submitted && f.provider_type.errors">
                        <div *ngIf="f.provider_type.errors.required">Provider Type is required</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group itemcrs">
                        <label for="currencies">Select Currencies <span class="text-danger">*</span></label>
                        <select class="form-control" select2 (onSelect)="selectCurrencies($event)" multiple="true"
                                id="currencies" multiple="multiple"
                                data-placeholder="Select a Currencies" style="width: 100%;">
                            <option *ngFor="let currency of currencies" [value]="currency.id"> {{
                                currency.name }}
                            </option>
                        </select>

                        <div class="invalid-feedback" *ngIf="submitted && f.currencies.errors">
                            <div *ngIf="f.currencies.errors.required">Currency is required</div>
                        </div>
                    </div>

                </div>
                 
                  <!-- <div class="col-md-12">
                    <div class="form-group">
                      <label for="provider_logo">Payment Provider Logo <span class="text-danger">*</span></label>
                      <input type="file" formControlName="provider_logo" class="form-control" id="provider_logo"
                         />
                      <div class="invalid-feedback" *ngIf="submitted && f.provider_logo.errors">
                        <div *ngIf="f.provider_logo.errors.required">Provider Logo is required</div>
                      </div>
                    </div>
                  </div> -->


                  <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInputFile">Payment Provider Logo <span *ngIf="id == 0"
                                                                 class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input (change)="selectImage(file.files)" #file
                                       formControlName="logo" accept="image/*" type="file"
                                       class="custom-file-input" id="exampleInputFile">
                                <label class="custom-file-label" for="exampleInputFile">Choose
                                    file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                            </div>
                        </div>
                        <div class="invalid-feedback" *ngIf="submitted && f.logo.errors">
                            <div *ngIf="f.logo.errors.required">Logo is required</div>
                            <div *ngIf="f.logo.errors.requiredFileType">Logo must be image</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="imgURL">
                    <img [src]="imgURL" class="imshow" id="tenantLogo"/>
                </div>

                </div>


                <div class="row" formGroupName="phaseExecutions">
                  <div class="col-md-12">
                    <div class="form-group" formArrayName="PRE">
                      <label for="provider_name">Provider Keys <span class="text-danger">* </span><br> <small> <i class="fa fa-info"> </i> Enter keys without spaces, you can use underscores to define keys.</small></label><br>

                      <div *ngFor="let provider of provider_keys.controls; let i=index" class="mb-3"
                        [formGroupName]="i">
                        <div class="col-md-12">
                          <label for="provider_keys">Provider Keys {{i + 1}}</label>
                          <div class="input-group">
                            <input type="text" (keypress)="removeSpace($event)" formControlName="provider_keys" class="form-control"
                              placeholder="Enter Provider Keys {{i + 1}}" />
                            <div class="invalid-feedback" *ngIf="submitted  && getProviderFormArr(i).controls['provider_keys'].hasError(
                              'required'
                            )">
                              <div>This Key is required</div>
                            </div>

                            <div class="input-group-append">
                              <span class="input-group-text bg-danger" id="basic-addon2" (click)="removeProvider(i)"
                                *ngIf="i != 0"><i class="fa fa-times"> </i></span>

                            </div>
                          </div>
                        </div>
                      </div>

                      <div>
                        <span (click)="addNewKey()" class="btn btn-primary btn-sm">Add New Provider Key <i
                            class="fa fa-plus"></i></span>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row">


                  <div class="col-md-12">
                    <hr>


                    <div class="col-md-2" class="icheck-primary d-inline">
                      <input type="checkbox" formControlName="status" id="checkboxPrimary1">
                      <label for="checkboxPrimary1">
                        Active
                      </label>
                    </div>


                  </div>


                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" [disabled]="adminLoader" class="btn btn-primary">
                  <span *ngIf="adminLoader" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span> Submit
                </button>
                &nbsp;
                <a routerLink="/super-admin/payment-providers" class="btn btn-warning"> Cancel </a>
              </div>
            </form>
          </div>
          <!-- /.card -->

        </div>
      </div>
      <!-- /.row -->



    </div><!-- /.container-fluid -->
  </section>


</div>
