<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Tenants" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->


    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"> {{ breadcrumbs[breadcrumbs.length-1].title }} Tenant </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form [formGroup]="tenantForm" (ngSubmit)="onSubmit()">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Name <span class="text-danger">*</span></label>
                                            <input type="text" formControlName="name" class="form-control" id="name"
                                                   placeholder="Enter Name"/>
                                            <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                                                <div *ngIf="f.name.errors.required">Name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="domain">Domain <span class="text-danger">*</span></label>
                                            <input type="text" formControlName="domain" class="form-control" id="domain"
                                                   placeholder="Enter Domain"/>
                                            <div class="invalid-feedback" *ngIf="submitted && f.domain.errors">
                                                <div *ngIf="f.domain.errors.required">Domain is required</div>
                                                <div *ngIf="f.domain.errors.pattern">Domain must be valid</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="language">Language <span class="text-danger">*</span></label>
                                            <select class="form-control" [attr.disabled]="true" select2 (onSelect)="selectLanguage($event)"
                                                    id="language" data-placeholder="Select a Language"
                                                    style="width: 100%;">
                                                <option *ngFor="let languag of languages" [value]="languag.id"> {{
                                                    languag.name }}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="submitted && f.language.errors">
                                                <div *ngIf="f.language.errors.required">Language is required</div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="layout">Layout <span class="text-danger">*</span></label>
                                            <select class="form-control" id="layout" select2
                                                    (onSelect)="selectLayout($event)" data-placeholder="Select a Layout"
                                                    style="width: 100%;">
                                                <option *ngFor="let layout of layouts" [value]="layout.id"> {{
                                                    layout.name }}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="submitted && f.layout.errors">
                                                <div *ngIf="f.layout.errors.required">Layout is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group itemcrs">
                                            <label for="currencies">Allowed currencies <span *ngIf="id == 0"
                                                                                             class="text-danger">*</span>
                                                <ng-container
                                                        *ngIf="this.tenantRecords && this.tenantRecords.configurations && this.tenantRecords.configurations.length > 0">
                                                    (
                                                    <ng-container
                                                            *ngFor="let currency of this.tenantRecords?.configurations; let i = index;">
                                                        {{ currency.code }}
                                                        <ng-container
                                                                *ngIf="tenantRecords.configurations.length - 1 > i">,
                                                        </ng-container>
                                                    </ng-container>
                                                    )
                                                </ng-container>

                                            </label>
                                            <select class="form-control" select2 (onSelect)="selectCurrencies($event)"
                                                    id="currencies" multiple="multiple"
                                                    data-placeholder="Select a Currencies" style="width: 100%;">
                                                <option *ngFor="let currency of currencies" [value]="currency.id"> {{
                                                    currency.name }}
                                                </option>
                                            </select>

                                            <div class="invalid-feedback" *ngIf="submitted && f.currencies.errors">
                                                <div *ngIf="f.currencies.errors.required">Currencies is required</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="theme">Theme <span class="text-danger">*</span></label>
                                            <select *ngIf="themes && themes.length > 0" class="form-control" id="theme"
                                                    select2 (onSelect)="selectTheme($event)"
                                                    data-placeholder="Select a Theme" style="width: 100%;">

                                                <option *ngFor="let theme of themes" [value]="theme.name"> {{ theme.name
                                                    }}
                                                </option>
                                                <option value="Custom">Custom</option>

                                            </select>
                                            <div class="invalid-feedback" *ngIf="submitted && f.theme.errors">
                                                <div *ngIf="f.theme.errors.required">Theme is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="name">Whatsapp Number</label>
                                        <input type="text" formControlName="whatsappNumber" class="form-control" id="whatsappNumber"
                                               placeholder="Enter Whatsapp Number"/>
                                            <div class="invalid-feedback" *ngIf="submitted && f.whatsappNumber.errors">
                                                <div *ngIf="f.whatsappNumber.errors.min || f.whatsappNumber.errors.max">Whatsapp Number is invalid</div>
                                            </div>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="name">Powered By</label>
                                        <input type="text" formControlName="poweredBy" class="form-control" id="poweredBy"
                                               placeholder="Enter Powered By"/>
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-6">
                                    <hr>
                                    <div class="form-group">
                                      <label for="loginMethod">User Login Type <span class="text-danger">*</span></label>
                                      <div>
                                        <!-- <label class="radio-inline mr-3">
                                          <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="loginMethodEmail" value="2" formControlName="loginMethod">
                                            <label for="loginMethodEmail" class="custom-control-label">Email Base Login</label>
                                          </div>
                                        </label> -->
                                        <!-- <label class="radio-inline">
                                          <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="loginMethodMobile" value="1" formControlName="loginMethod">
                                            <label for="loginMethodMobile" class="custom-control-label">Mobile Base Login</label>
                                          </div>
                                        </label> -->

                                        <div class="icheck-primary d-inline">
                                          <input type="checkbox" formControlName="loginMethod" id="loginMethodMobile">
                                          <label for="loginMethodMobile">
                                            Mobile Base Login
                                          </label>
                                        </div>

                                      </div>
                                      <!-- <div class="invalid-feedback" *ngIf="submitted && f.loginMethod.errors">
                                        <div *ngIf="f.loginMethod.errors.required">User Login Type is required</div>
                                      </div> -->
                                    </div>
                                  </div>
                                
                                  <div class="col-md-6">
                                    <hr>
                                    <div class="form-group">
                                      <label for="smsGateway">Select SMS Gateway <span class="text-danger">*</span></label>
                                      <div>
                                        <label class="radio-inline mr-3">
                                          <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="Twilio" value="Twilio" formControlName="smsGateway">
                                            <label for="Twilio" class="custom-control-label">Twilio SMS Gateway</label>
                                          </div>
                                        </label>
                                        <label class="radio-inline mr-3">
                                          <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="Fast2SMS" value="Fast2SMS"
                                              formControlName="smsGateway">
                                            <label for="Fast2SMS" class="custom-control-label">Fast2SMS SMS Gateway</label>
                                          </div>
                                        </label>
                                        <label class="radio-inline">
                                          <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="WhatsappSMS" value="WhatsappSMS"
                                              formControlName="smsGateway">
                                            <label for="WhatsappSMS" class="custom-control-label">Whatsapp SMS Gateway</label>
                                          </div>
                                        </label>
                                      </div>
                                      <div class="invalid-feedback" *ngIf="submitted && f.smsGateway.errors">
                                        <div *ngIf="f.smsGateway.errors.required">SMS Gateway is required</div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <hr>
                                    <div class="form-group">
                                      <label for="forgotPasswordOption">Select Forgot Password Option <span class="text-danger">*</span></label>
                                      <div>
                                        <label class="radio-inline mr-3">
                                          <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="email" value="email" formControlName="forgotPasswordOption">
                                            <label for="email" class="custom-control-label">Email Based OTP</label>
                                          </div>
                                        </label>
                                        <label class="radio-inline mr-3">
                                          <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="mobile" value="mobile"
                                              formControlName="forgotPasswordOption">
                                            <label for="mobile" class="custom-control-label">Mobile Based OTP</label>
                                          </div>
                                        </label>
                                      </div>
                                      <div class="invalid-feedback" *ngIf="submitted && f.forgotPasswordOption.errors">
                                        <div *ngIf="f.forgotPasswordOption.errors.required">Forgot Password Option is required</div>
                                      </div>
                                    </div>
                                  </div>
                                  <hr>
                                </div>

                                <div class="row">
                                  <div class="col-md-12">
                                    <hr>
                                    <label>Choose Casino Game Provider <span class="text-danger">*</span></label>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group clearfix" *ngFor="let provider of allGameProviders; let i = index">
                                          <div class="icheck-primary d-inline">
                                            <input type="checkbox" (change)="onCheckChange($event,'assignedProvider')" [checked]="(assignValueArray?.includes(provider.id))" formGroupName="assignedProvider" value="{{provider.id}}" id="checkboxPrimary{{i}}">
                                            <label for="checkboxPrimary{{i}}">
                                              {{provider.name}}
                                            </label>
                                          </div>
                                        </div>
                                        <div class="invalid-feedback" *ngIf="submitted && f.assignedProvider.errors">
                                          <div *ngIf="f.assignedProvider.errors.required">Casino Provider is required</div>
                                        </div>
                                      </div>
                                      
                                    </div>
                                    <hr>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-12">
                                    <hr>
                                    <label>Choose payment provider <span class="text-danger">*</span></label>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group clearfix" *ngFor="let paymentProvider of paymentProviders; let i = index">
                                          <div class="icheck-primary d-inline">
                                            <input type="checkbox" (change)="onCheckChange($event,'assignedPaymentProvider')" [checked]="(assignPaymentArray?.includes(paymentProvider.id))" formGroupName="assignedPaymentProvider" value="{{paymentProvider.id}}" id="checkboxPayment{{i}}">
                                            <label for="checkboxPayment{{i}}">
                                              {{paymentProvider.provider_name}}
                                            </label>
                                          </div>
                                        </div>
                                        <div class="invalid-feedback" *ngIf="submitted && f.assignedPaymentProvider.errors">
                                          <div *ngIf="f.assignedPaymentProvider.errors.required">Payment provider is required</div>
                                        </div>
                                      </div>
                                      
                                    </div>
                                    <hr>
                                  </div>
                                </div>


                                <div class="row">
                                  <div class="col-md-12">
                                    <label>Allowed Module</label>
                                    <div class="row">
                                      <div class="col-md-12" *ngIf="id <= 0">
                                        <div class="form-group clearfix">
                                          <div class="icheck-primary d-inline">
                                            <input type="checkbox" (change)="onCheckChange($event,'allowedModules')" [checked]="(assignModulesValue?.includes('subAgent'))" formGroupName="allowedModules" value="subAgent" id="subAgentModule">
                                            <label for="subAgentModule">
                                              Sub Agent Module
                                            </label>
                                          </div>
                                        </div>
                                      </div>
                                      
                                      <div class="col-md-12">
                                        <div class="form-group clearfix">
                                          <div class="icheck-primary d-inline">
                                            <input type="checkbox" (change)="onCheckChange($event,'allowedModules')" [checked]="(assignModulesValue?.includes('requiredKycForGame'))" formGroupName="allowedModules" value="requiredKycForGame" id="requiredKycForGameModule">
                                            <label for="requiredKycForGameModule">
                                              Required Kyc For Game Play
                                            </label>
                                          </div>
                                        </div>
                                      </div>
                                      
                                      <div class="col-md-12">
                                        <div class="form-group clearfix">
                                          <div class="icheck-primary d-inline">
                                            <input type="checkbox" (change)="onCheckChange($event,'allowedModules')" [checked]="(assignModulesValue?.includes('requiredKycForWithdrawal'))" formGroupName="allowedModules" value="requiredKycForWithdrawal" id="requiredKycForWithdrawalModule">
                                            <label for="requiredKycForWithdrawalModule">
                                              Required Kyc For Withdrawal Request
                                            </label>
                                          </div>
                                        </div>
                                      </div>
                                      
                                      <div class="col-md-12">
                                        <div class="form-group clearfix">
                                          <div class="icheck-primary d-inline">
                                            <input type="checkbox" (change)="onCheckChange($event,'allowedModules')" [checked]="(assignModulesValue?.includes('selfFunding'))" formGroupName="allowedModules" value="selfFunding" id="selfFundingModule">
                                            <label for="selfFundingModule">
                                              Self Funding Module
                                            </label>
                                          </div>
                                        </div>
                                      </div>
                                      
                                      <div class="col-md-12">
                                        <div class="form-group clearfix">
                                          <div class="icheck-primary d-inline">
                                            <input type="checkbox" (change)="onCheckChange($event,'allowedModules')" [checked]="(assignModulesValue?.includes('primaryCurrencyDataEnable'))" formGroupName="allowedModules" value="primaryCurrencyDataEnable" id="primaryCurrencyDataEnableModule">
                                            <label for="primaryCurrencyDataEnableModule">
                                              Primary Currency Reports Enable (EUR)
                                            </label>
                                          </div>
                                        </div>
                                      </div>

                                        <div class="col-md-12">
                                            <div class="form-group clearfix">
                                                <div class="icheck-primary d-inline">
                                                    <input type="checkbox" (change)="onCheckChange($event,'allowedModules')" [checked]="(assignModulesValue?.includes('bulkDeposit'))" formGroupName="allowedModules" value="bulkDeposit" id="bulkDepositModule">
                                                    <label for="bulkDepositModule">
                                                        Bulk Deposit
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group clearfix">
                                                <div class="icheck-primary d-inline">
                                                    <input type="checkbox" (change)="onCheckChange($event,'allowedModules')" [checked]="(assignModulesValue?.includes('bulkWithdraw'))" formGroupName="allowedModules" value="bulkWithdraw" id="bulkWithdrawModule">
                                                    <label for="bulkWithdrawModule">
                                                        Bulk Withdraw
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="form-group clearfix">
                                              <div class="icheck-primary d-inline">
                                                  <input type="checkbox" (change)="onCheckChange($event,'allowedModules')" [checked]="(assignModulesValue?.includes('bulkEdit'))" formGroupName="allowedModules" value="bulkEdit" id="bulkEditModule">
                                                  <label for="bulkEditModule">
                                                      Bulk Edit
                                                  </label>
                                              </div>
                                          </div>
                                      </div>

                                        <div *ngIf = "(doesFormArrayContainControl('assignedProvider','Evolution') || doesFormArrayContainControl('assignedProvider','Ezugi'))" class="col-md-12">
                                          <div class="form-group clearfix">
                                              <div class="icheck-primary d-inline">
                                                  <input type="checkbox" (change)="onCheckChange($event,'allowedModules')" [checked]="(assignModulesValue?.includes('ezugiGamesLiveUpdates'))" formGroupName="allowedModules" value="ezugiGamesLiveUpdates" id="ezugiGamesLiveUpdates">
                                                  <label for="ezugiGamesLiveUpdates">
                                                    Ezugi Games Live Updates
                                                  </label>
                                              </div>
                                          </div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="form-group clearfix">
                                              <div class="icheck-primary d-inline">
                                                  <input type="checkbox" (change)="onCheckChange($event,'allowedModules')" [checked]="(assignModulesValue?.includes('paymentGatewayCategoriesEnable'))" formGroupName="allowedModules" value="paymentGatewayCategoriesEnable" id="paymentGatewayCategoriesEnable">
                                                  <label for="paymentGatewayCategoriesEnable">
                                                    Payment Gateway Categories Enable
                                                  </label>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                                    <hr>
                                  </div>
                                </div>


                               

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Logo <span *ngIf="id == 0"
                                                                                     class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input (change)="selectImage(file.files,'logo')" #file
                                                           formControlName="logo" accept="image/*" type="file"
                                                           class="custom-file-input" id="exampleInputFile">
                                                    <label class="custom-file-label" for="exampleInputFile">Choose
                                                        file</label>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">Upload</span>
                                                </div>
                                            </div>
                                            <div class="invalid-feedback" *ngIf="submitted && f.logo.errors">
                                                <div *ngIf="f.logo.errors.required">Logo is required</div>
                                                <div *ngIf="f.logo.errors.requiredFileType">Logo must be image</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" *ngIf="imgURL">
                                        <img [src]="imgURL" class="imshow" id="tenantLogo"/>
                                    </div>

                                </div>


                                <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="exampleInputFile1">Fav Icon <span *ngIf="id == 0"
                                                                                   class="text-danger">*</span></label>
                                          <div class="input-group">
                                              <div class="custom-file">
                                                  <input (change)="selectImage(fabFile.files,'fab')" #fabFile
                                                         formControlName="fabLogo" accept="image/*" type="file"
                                                         class="custom-file-input" id="exampleInputFile1">
                                                  <label class="custom-file-label" for="exampleInputFile1">Choose
                                                      file</label>
                                              </div>
                                              <div class="input-group-append">
                                                  <span class="input-group-text">Upload</span>
                                              </div>
                                          </div>
                                          <div class="invalid-feedback" *ngIf="submitted && f.fabLogo.errors">
                                              <div *ngIf="f.fabLogo.errors.required">Fav Icon is required</div>
                                              <div *ngIf="f.fabLogo.errors.requiredFileType">Fav Icon must be image</div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6" *ngIf="fabImgURL">
                                      <img [src]="fabImgURL" class="imshow" id="tenantFabLogo"/>
                                  </div>

                              </div>


                                <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="exampleInputFile1">Registration Popup Side Image<span *ngIf="id == 0"
                                                                                   class="text-danger">*</span></label>
                                          <div class="input-group">
                                              <div class="custom-file">
                                                <input (change)="selectImage(signupPopupFile.files,'signupPopup')" #signupPopupFile
                                                formControlName="signupPopup" accept="image/*" type="file"
                                                class="custom-file-input" id="exampleInputFile1">
                                                   <label class="custom-file-label" for="exampleInputFile1">Choose
                                                    file</label>
                                              </div>
                                              <div class="input-group-append">
                                                  <span class="input-group-text">Upload</span>
                                              </div>
                                          </div>
                                          <div class="invalid-feedback" *ngIf="submitted && f.signupPopup.errors">
                                            <div *ngIf="f.signupPopup.errors.required">Image is required</div>
                                            <div *ngIf="f.signupPopup.errors.requiredFileType">This Image must be image</div>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6" *ngIf="signUpPopURL">
                                    <img [src]="signUpPopURL" class="imshow" id="tenantSignupPopup"/>
                                </div>

                              </div>
                                <div class="col-md-12">

                                <div class="col-md-2"  class="icheck-primary d-inline">
                                    <input type="checkbox" formControlName="status" id="checkboxPrimary">
                                    <label for="checkboxPrimary">
                                        Active
                                    </label>
                                </div>


                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" [disabled]="tenantLoader" class="btn btn-primary">
                                    <span *ngIf="tenantLoader" class="spinner-border spinner-border-sm" role="status"
                                          aria-hidden="true"></span> Submit
                                </button>
                                &nbsp;
                                <a routerLink="/super-admin/tenants" class="btn btn-warning"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>
            <!-- /.row -->

            <app-theme [theme]="theme" [selectedLayout] = "selectedLayout" (changeTheme)="changeTheme($event)"></app-theme>

        </div><!-- /.container-fluid -->
    </section>


</div>
