<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Markets" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Markets Filter</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
  
                <div class="row">

          				<div class="col-md-2">
                    <div class="form-group">
                      <label for="sport_kind">Sport Kind</label>
                      <select class="form-control" id="sport_kind" (change)="filter($event)" [(ngModel)]="params.sport_kind">
                      <option value="0">Sport</option>
                      <option value="1">Esport</option>
                    </select>
                    </div>
                  </div>

                	<div class="col-md-2">
                    <div class="form-group">
                      <label for="sport_id">Sport</label>
                      <select class="form-control" id="sport_id" select2 id="sport_id" (onSelect)="sportFilter($event)">
                        <option *ngFor="let sport of sports" [value]="sport.id">{{sport.name_en}}</option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="search">Name</label>
                      <input type="text" class="form-control" id="search" (keyup)="filter($event)" [(ngModel)]="params.search" placeholder="Search by Name"/>
                    </div>
                  </div>

                  

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="size">Size</label>
                      <select class="form-control" id="size" (change)="filter($event)" [(ngModel)]="params.size">
                        <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                    </select>
                    </div>
                  </div>
                  
                  <div class="col-md-2">
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning" (click)="resetFilter()"> Reset Filter </button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-default ml-2" (click)="getMarkets()"> <i class="fa fa-refresh"></i> </button>
                  </div>
                </div>

              </div>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <ng-container *ngIf="!isLoader; else loader">
                <div class="card-header">
                  <h3 class="card-title">Markets</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 10px">ID</th>
                        <th>Market ID</th>
                        <!-- <th>Type</th> -->
                        <th>Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let market of markets | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                        
                        <td> {{ market.id || 'NA' }} </td>
                        <td> {{ market.market_id || 'NA' }} </td>
                        <!-- <td> {{ market.type || 'NA' }} </td> -->
                        <td> {{ market.name_en || 'NA' }} </td>

                      </tr>
                      <tr *ngIf="firstTimeApiCall && markets && markets.length === 0"> <td colspan="3" class="tnodata"> No Markets Found </td> </tr>
                      <tr *ngIf="!firstTimeApiCall"> <td colspan="3" class="tnodata"> Click Search to Load Data </td> </tr>
                    </tbody>
                  </table>
                </div>
                
                <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>

              </ng-container>
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>