<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="superAdminAuthService.superAdminTokenValue ? '/super-admin' : '/'" class="brand-link">
    <img src="./assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light"> {{ (adminAuthService?.tenantDataValue?.name) || (superAdminAuthService?.superAdminUserValue?.first_name + ' ' + superAdminAuthService?.superAdminUserValue?.last_name) || '' }} </span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img [src]="adminAuthService.adminTokenValue.length > 0 ? adminAuthService?.tenantDataValue?.logo_url : './assets/dist/img/user2-160x160.jpg'" class="img" width="50" height="50" alt="User Image">
      </div>
      <div class="info">
        <a href="javascript:void(0);" class="d-block" title="{{adminAuthService?.adminUserValue?.email +' | '+ adminAuthService?.adminUserValue?.tenant?.domain}}">
          {{ superAdminAuthService?.superAdminUserValue?.first_name || adminAuthService?.tenantDataValue?.domain || '' | truncate_string: 20 }} <br/> {{ adminAuthService?.adminUserValue?.email || '' | truncate_string: 20 }}
          {{ superAdminAuthService?.superAdminUserValue?.last_name }}
        </a>
      </div>
    </div>

    <div class="form-inline" data-title="Currencies!" data-intro="All Currencies with amount" *ngIf="adminAuthService?.adminTokenValue && adminAuthService.adminTokenValue.length > 0 && adminAuthService?.adminUserValue">
      <div class="input-group" data-widget="sidebar-search">

        <ul class="wallets" *ngIf="layoutService.sidebarToggle | async">
          <li *ngFor="let w of this.adminAuthService?.walletData?.value"> {{ numDigit(w.amount, 2) + ' ' + w.currency_name }} </li>
        </ul>

      </div>
    </div>
   
   
    <div class="form-inline" data-title="Currencies!" data-intro="All Currencies with amount" *ngIf="superAdminAuthService?.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 && superAdminAuthService?.superAdminUserValue">
      <div class="input-group" data-widget="sidebar-search">

        <ul class="wallets" *ngIf="layoutService.sidebarToggle | async">
          <li *ngFor="let w of this.superAdminAuthService?.walletData?.value"> {{ numDigit(w.amount, 2) + ' ' + w.currency_name }} </li>
        </ul>

      </div>
    </div>

    <!-- SidebarSearch Form -->
    <!-- <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div> -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <ng-container *ngIf="checkPermission('dashboard','R')">
          <li class="nav-item" data-title="Dashboard!" *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager'" data-intro="All charts and details">
              <a [routerLinkActiveOptions]="{exact:
                true}" routerLinkActive="active" [routerLink]="superAdminAuthService.superAdminTokenValue ? '/super-admin' : '/'" class="nav-link">
                  <i class="nav-icon fas fa-th-large"></i>
                  <p>
                      Dashboards
                  </p>
              </a>
          </li>
        </ng-container>

    <ng-container *ngIf="superAdminAuthService.superAdminTokenValue; else adminTemp">
      <link rel="icon" type="image/x-icon" href="./assets/dist/img/s_logo.ico">

      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/super-admin/tenants" class="nav-link">
            <i class="nav-icon fas fa-globe"></i>
            <p>
                Tenants
            </p>
        </a>
      </li>
      
      
      <li class="nav-item" *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager'">
        <a routerLinkActive="active" routerLink="/super-admin/payment-providers" class="nav-link">
            <i class="nav-icon fas fa-bank"></i>
            <p>
                Payment Providers
            </p>
        </a>
      </li>

      <li class="nav-item" *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager'">
        <a routerLinkActive="active" routerLink="/super-admin/themes"  class="nav-link">
            <i class="nav-icon fas fa-paint-brush"></i>
            <p>
                Themes
            </p>
        </a>
      </li>
      <li class="nav-item" *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager'">
        <a routerLinkActive="active" routerLink="/super-admin/currencies" class="nav-link">
          <i class="nav-icon fas fa-money"></i>
          <p>
            Currencies
          </p>
        </a>
      </li>
      <li class="nav-item" *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager'">
        <a routerLinkActive="active" routerLink="/super-admin/menu" class="nav-link">
          <i class="nav-icon fas fa-list"></i>
          <p>
            Menu Master
          </p>
        </a>
      </li>
      <li class="nav-item" *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager'">
        <a href="javascript:void(0);" class="nav-link nav-main-item">
          <i class="nav-icon fas fa-dollar"></i>
          <p>
            Transactions
            <i class="fas fa-angle-left right"></i>
            <!-- <span class="badge badge-info right">6</span> -->
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/transactions/list" class="nav-link">
              <i class="far fas fa-dollar nav-icon"></i>
              <p>Casino Transactions</p>
            </a>
          </li>
          <li class="nav-item" >
            <a routerLinkActive="active" routerLink="/transactions/bet-transactions" class="nav-link">
              <i class="fa fa-dollar nav-icon"></i>
              <p> Sport Transactions</p>
            </a>
          </li>
        </ul>
      </li>


      <li class="nav-item" *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager'">
        <a href="javascript:void(0);" class="nav-link nav-main-item">
          <i class="nav-icon fas fa-braille"></i>
          <p>
            Casino Management
            <i class="fas fa-angle-left right"></i>
            <!-- <span class="badge badge-info right">6</span> -->
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/super-admin/casino/providers" class="nav-link">
              <i class="far fa-user-circle nav-icon"></i>
              <p>Casino Providers</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/super-admin/casino/games" class="nav-link">
              <i class="fa fa-gamepad nav-icon"></i>
              <p> Casino Games</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/super-admin/casino/tables" class="nav-link">
              <i class="fa fa-gamepad nav-icon"></i>
              <p> Casino Tables</p>
            </a>
          </li>
        </ul>
      </li>


      <li class="nav-item" data-title="Admins!" data-intro="Admin and Manager List" *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager'">
        <a [routerLinkActiveOptions]="{exact:
          true}" routerLinkActive="active" routerLink="/super-admin/admins" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
                Managers
            </p>
        </a>
     </li>


      <li class="nav-item" *ngIf = "superAdminAuthService.superAdminUserValue?.role != 'manager'" >
        <a href="javascript:void(0);" class="nav-link nav-main-item">
          <i class="nav-icon fas fa-cogs"></i>
          <p>
            Settings
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item" *ngIf = "sportMenuCheck && superAdminAuthService.superAdminUserValue?.role != 'manager'" >
            <a routerLinkActive="active" routerLink="/super-admin/settings/reset-event" class="nav-link">
              <i class="fas fa-trash-restore nav-icon"></i>
              <p>Reset Event</p>
            </a>
          </li>

          <li class="nav-item" *ngIf = "superAdminAuthService.superAdminUserValue?.role != 'manager'" >
            <a routerLinkActive="active" routerLink="/super-admin/settings/mail-configuration" class="nav-link">
              <i class="fas fa-list nav-icon"></i>
              <p>Mail Configuration</p>
            </a>
          </li>
          <li class="nav-item" *ngIf = "superAdminAuthService.superAdminUserValue?.role != 'manager'" >
            <a routerLinkActive="active" routerLink="/super-admin/settings/request-res-log" class="nav-link">
              <i class="fas fa-list nav-icon"></i>
              <p>Logs</p>
            </a>
          </li>
          <li class="nav-item" *ngIf = "superAdminAuthService.superAdminUserValue?.role != 'manager'" >
            <a routerLinkActive="active" routerLink="/super-admin/settings/old-request-res-log" class="nav-link">
              <i class="fas fa-list nav-icon"></i>
              <p>Old Logs</p>
            </a>
          </li>
          <li class="nav-item" *ngIf = "superAdminAuthService.superAdminUserValue?.role != 'manager'" >
            <a routerLinkActive="active" routerLink="/super-admin/settings/queue-logs" class="nav-link">
              <i class="fas fa-list nav-icon"></i>
              <p>Queue Logs</p>
            </a>
          </li>
        </ul>
      </li>

    </ng-container>

    <ng-template #adminTemp>
            <ng-container *ngIf="checkPermission('agents','R')">
        <li class="nav-item" data-title="Agents!" data-intro="Agents listing">
          <a routerLinkActive="active" routerLink="/agents" class="nav-link">
              <i class="nav-icon fa fa-sitemap"></i>
              <p>
                  Agents
              </p>
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="checkPermission('sub_admin','R')">
        <li class="nav-item" data-title="Tenant Sub-admins!" data-intro="Agents listing">
          <a routerLinkActive="active" routerLink="/sub-admins" class="nav-link">
              <i class="nav-icon fa fa-sitemap"></i>
              <p>
                Tenant Sub-admin
              </p>
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="checkPermission('cms','R')">
        <li class="nav-item" data-title="Agents!" data-intro="Agents listing">
          <a routerLinkActive="active" routerLink="/cms" class="nav-link">
              <i class="nav-icon fa fa-file"></i>
              <p>
                  CMS Pages
              </p>
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="checkPermission('tenant_credentials','R') || checkPermission('tenant_payment_providers','R') || checkPermission('tenant_registration_fields','R') || checkPermission('tenant_theme_settings','R') || checkPermission('tenant_configurations','R') || checkPermission('tenant_banners','R') || checkPermission('tenant_menu_setting','R') || checkPermission('tenant_sport_setting','R')">
        <li class="nav-item" data-title="Tenant Settings!" data-intro="Tenant Credentials / Configurations / Banners / Betting Limits Setting / ">
          <a href="javascript:void(0);" class="nav-link nav-main-item">
            <i class="nav-icon fa fa-gears"></i>
            <p>
              Tenant Settings
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <ng-container *ngIf="checkPermission('tenant_credentials','R')">
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/tenants/credentials" class="nav-link">
                  <i class="fa fa-lock nav-icon"></i>
                  <p> Tenant Credentials </p>
                </a>
              </li>
            </ng-container>
            <ng-container *ngIf="checkPermission('tenant_payment_providers','R')">
              <li class="nav-item" *ngIf="!isCurrencyHide">
                <a routerLinkActive="active" routerLink="/tenants/payment-providers" class="nav-link">
                  <i class="fa fa-list nav-icon"></i>
                  <p> Payment Providers </p>
                </a>
              </li>
            </ng-container>
            <ng-container *ngIf="checkPermission('tenant_registration_fields','R')">
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/tenants/registration-fields" class="nav-link">
                  <i class="fa fa-cog nav-icon"></i>
                  <p> Registration Fields settings </p>
                </a>
              </li>
            </ng-container>
            <ng-container *ngIf="checkPermission('tenant_theme_settings','R')">
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/tenants/theme-settings" class="nav-link">
                  <i class="fa fa-paint-brush nav-icon"></i>
                  <p> Theme Setting </p>
                </a>
              </li>
            </ng-container>
            <ng-container *ngIf="checkPermission('tenant_theme_settings','R')">
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/tenants/social-media-settings" class="nav-link">
                  <i class="nav-icon fas fa-user-cog"></i>
                  <p> Social Media</p>
                </a>
              </li>
            </ng-container>
            <ng-container *ngIf="checkPermission('faq_management','R') || checkPermission('faq_categories','R')">
              <li class="nav-item" data-title="Players!" data-intro="Players listing">
                <a href="javascript:void(0);"  class="nav-link nav-main-item">
                    <i class="nav-icon fa fa-question-circle"></i>
                    <p>
                        Faq
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item" *ngIf="checkPermission('faq_categories','R')">
                    <a routerLinkActive="active" routerLink="/tenants/faq/categories" class="nav-link">
                      <i class="fa fa-list nav-icon"></i>
                      <p>Categories</p>
                    </a>
                  </li>
                  <li class="nav-item" *ngIf="checkPermission('faq_management','R')">
                    <a routerLinkActive="active" routerLink="/tenants/faqs" class="nav-link">
                      <i class="nav-icon fa fa-list"></i>
                      <p> FAQ Listing</p>
                    </a>
                  </li>
              </ul>
              </li>
            </ng-container>
            <ng-container *ngIf="checkPermission('tenant_configurations','R')">
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/tenants/configurations" class="nav-link">
                  <i class="fa fa-cog nav-icon"></i>
                  <p> Tenant Configurations </p>
                </a>
              </li>
            </ng-container>
            <ng-container *ngIf="checkPermission('tenant_banners','R')">
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/tenants/banners" class="nav-link">
                  <i class="fa fa-image nav-icon"></i>
                  <p> Banners </p>
                </a>
              </li>
            </ng-container>
            <ng-container *ngIf="checkPermission('tenant_menu_setting','R')">
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/tenants/menu-setting" class="nav-link">
                  <i class="fa fa-list nav-icon"></i>
                  <p> Menu Setting </p>
                </a>
              </li>
            </ng-container>
            <ng-container *ngIf="checkPermission('tenant_sport_setting','R')">
              <li class="nav-item" *ngIf="false && adminAuthService.adminRoleValue === 'owner' && adminAuthService?.adminUserValue?.tenant_id && adminAuthService?.tenantDataValue?.tenant_sports_bet_setting_id && sportMenuCheck">
                <a routerLinkActive="active" [routerLink]="['/tenants/sport-settings', adminAuthService?.adminUserValue?.tenant_id, adminAuthService?.tenantDataValue?.tenant_sports_bet_setting_id]" class="nav-link">
                  <i class="fa fa-cog nav-icon"></i>
                  <p> Betting Limits </p>
                </a>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
      <ng-container *ngIf="checkPermission('players','R') || checkPermission('players_commission','R')">
        <li class="nav-item" data-title="Players!" data-intro="Players listing">
          <a href="javascript:void(0);"  class="nav-link nav-main-item">
              <i class="nav-icon fa fa-users"></i>
              <p>
                  Players
                  <i class="fas fa-angle-left right"></i>
              </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" *ngIf="checkPermission('players','R')">
              <a routerLinkActive="active" routerLink="/players" class="nav-link">
                <i class="fa fa-list nav-icon"></i>
                <p>Players Listing</p>
              </a>
            </li>
            <li class="nav-item" >
              <a routerLinkActive="active" *ngIf="checkPermission('players_commission','R')"  routerLink="/players-commission" class="nav-link">
                <i class="fa fa-percent nav-icon"></i>
                <p>Player Commission</p>
              </a>
            </li>
        </ul>
        </li>
      </ng-container>

      <ng-container *ngIf="checkPermission('casino_transactions','R') || checkPermission('sport_transactions','R')">
        <li class="nav-item"  data-title="Transactions!" data-intro="Transactions listing ( Casino / Sport )">
          <a href="javascript:void(0);" [style.display] = "(checkSuperAdmin || (casinoMenuCheck || sportMenuCheck))?'block': 'none'" class="nav-link nav-main-item">
              <i class="nav-icon fas fa-exchange-alt"></i>
            <p>
              Transactions
              <i class="fas fa-angle-left right"></i>
              <!-- <span class="badge badge-info right">6</span> -->
            </p>
          </a>
          <ul class="nav nav-treeview">
              <li class="nav-item" *ngIf="(checkSuperAdmin) || (casinoMenuCheck && checkPermission('casino_transactions','R'))">
                <a routerLinkActive="active" routerLink="/transactions/list" class="nav-link">
                  <i class="far fas fa-dollar nav-icon"></i>
                  <p>Casino Transactions</p>
                </a>
              </li>
              <li class="nav-item" >
                <a routerLinkActive="active" *ngIf="(checkAdmin) && (sportMenuCheck && checkPermission('sport_transactions','R'))"  routerLink="/transactions/bet-transactions" class="nav-link">
                  <i class="fa fa-futbol nav-icon"></i>
                  <p> Sport Transactions</p>
                </a>
              </li>
          </ul>
        </li>
      </ng-container>

        <ng-container *ngIf="checkPermission('bank_details','R') || checkPermission('deposit_requests','R')">
          <li class="nav-item" *ngIf="!isCurrencyHide"  data-title="payment!" data-intro="Payment ( Manual Deposit / Withdrawal )">
            <a href="javascript:void(0);" [style.display] = "(checkSuperAdmin || (casinoMenuCheck || sportMenuCheck))?'block': 'none'" class="nav-link nav-main-item">
                <i class="nav-icon fas fa-dollar"></i>
              <p>
                Payment
                <i class="fas fa-angle-left right"></i>
                <!-- <span class="badge badge-info right">6</span> -->
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" *ngIf="checkPermission('bank_details','R')">
                <a routerLinkActive="active" routerLink="/bank/list" class="nav-link">
                  <i class="far fas fa-bank nav-icon"></i>
                  <p>Add Bank Details <br><small class="small-manual">Manual Deposit</small></p>
                </a>
              </li>

              <li *ngIf="checkPermission('deposit_requests','R')" class="nav-item">
                <a routerLinkActive="active" routerLink="/deposit-requests" class="nav-link">
                  <i class="far fas fa-dollar nav-icon"></i>
                  <p>Deposit Requests</p>
                </a>
              </li>
            </ul>
          </li>
        </ng-container>
        
        <ng-container *ngIf="checkPermission('withdrawal_request','R')">
          <li class="nav-item" *ngIf="!isCurrencyHide"  data-title="withdrawal!" data-intro="Withdrawal ( Verified / Unverified )">
            <a href="javascript:void(0);" class="nav-link nav-main-item">
                <i class="nav-icon fas fa-dollar"></i>
              <p>
                Withdrawal
                <i class="fas fa-angle-left right"></i>
                <!-- <span class="badge badge-info right">6</span> -->
              </p>
            </a>
            <ul class="nav nav-treeview">


              <li class="nav-item" data-title="Unverified Withdraw Requests!" data-intro="Unverified Withdraw Requests listing">
                <a routerLinkActive="active" routerLink="/withdraw-requests/rejected" class="nav-link">
                    <i class="nav-icon fa fa-list-alt"></i>
                    <p>
                      Rejected Withdrawals
                    </p>
                </a>
              </li>


              <li class="nav-item" data-title="Unverified Withdraw Requests!" data-intro="Unverified Withdraw Requests listing">
                <a routerLinkActive="active" routerLink="/withdraw-requests/unverified" class="nav-link">
                    <i class="nav-icon fa fa-list-alt"></i>
                    <p>
                      Pending Withdrawals
                    </p>
                </a>
              </li>

              <li class="nav-item" data-title="Verified Withdraw Requests!" data-intro="Verified Withdraw Requests listing">
                <a routerLinkActive="active" routerLink="/withdraw-requests/verified" class="nav-link">
                    <i class="nav-icon fa fa-list-alt"></i>
                    <p>
                      Verified Withdrawals
                    </p>
                </a>
              </li>


            </ul>
          </li>
        </ng-container>

      <!-- <li *ngIf="!isAgent && !isDepositAdmin" class="nav-item" data-title="Withdraw Requests!" data-intro="Withdraw Requests listing">
        <a routerLinkActive="active" routerLink="/withdraw-requests" class="nav-link">
            <i class="nav-icon fa fa-list-alt"></i>
            <p>
              Withdraw Requests
            </p>
        </a>
      </li> -->
      <ng-container *ngIf="checkPermission('notifications','R')">
        <li *ngIf="adminAuthService.adminTokenValue && adminAuthService.adminTokenValue.length > 0" class="nav-item" data-title="Notifications!" data-intro="Notifications listing">
          <a routerLinkActive="active" routerLink="/notifications" class="nav-link">
              <i class="nav-icon fa fa-bell"></i>
              <p>
                Notifications
              </p>
          </a>
        </li>
      </ng-container>

      <ng-container *ngIf="checkPermission('site_maintenance','R') || checkPermission('permission_role','R') || checkPermission('site_seo_management','R')">
        <li class="nav-item" *ngIf="adminAuthService.adminTokenValue && adminAuthService.adminTokenValue.length > 0"  data-title="payment!" data-intro="Maintenance Mode">
          <a href="javascript:void(0);" class="nav-link nav-main-item">
              <i class="nav-icon fas fa-dollar"></i>
            <p>
              Settings
              <i class="fas fa-angle-left right"></i>
              <!-- <span class="badge badge-info right">6</span> -->
            </p>
          </a>
          <ul class="nav nav-treeview">
            <ng-container *ngIf="checkPermission('site_maintenance','R')">
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/site-maintenance" class="nav-link">
                  <i class="far fas fa-bank nav-icon"></i>
                  <p>Site Maintenance</p>
                </a>
              </li>
            </ng-container>
            <ng-container *ngIf="checkPermission('permission_role','R')">
            <li class="nav-item">
              <a routerLinkActive="active" routerLink="/permissionRole" class="nav-link">
                <i class="far fas fa-user-shield nav-icon"></i>
                <p>Permission Role</p>
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="checkPermission('site_seo_management','R')">
            <li class="nav-item">
              <a routerLinkActive="active" routerLink="/meta" class="nav-link">
                <i class="far fas fa-ad nav-icon"></i>
                <p>Site SEO management</p>
              </a>
            </li>
          </ng-container>
          </ul>
        </li>
      </ng-container>

      <ng-container *ngIf="checkPermission('casino_management','R')">
        <li class="nav-item" data-title="Casino Management!"  data-intro="Casino Management ( Pages / Menus /  Items )">
          <a href="javascript:void(0);" [style.display] = "casinoMenuCheck == false?'none': 'block'" class="nav-link nav-main-item">
            <i class="nav-icon fas fa-braille"></i>
            <p>
              Casino Managements
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLinkActive="active" routerLink="/casino/pages-menu" class="nav-link">
                <i class="fa fa-file nav-icon"></i>
                <p>Pages</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLinkActive="active" routerLink="/casino/menus" class="nav-link">
                <i class="fa fa-tasks nav-icon"></i>
                <p> Casino Menus</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLinkActive="active" routerLink="/casino/items" class="nav-link">
                <i class="fa fa-gamepad nav-icon"></i>
                <p> Casino Tables</p>
              </a>
            </li>
          </ul>
        </li>
      </ng-container>

      <ng-container *ngIf="checkPermission('deposit_bonus','R') || checkPermission('losing_bonus','R') || checkPermission('joining_bonus','R') || checkPermission('promo_code','R')">
        <li class="nav-item" data-title="Bonus!" data-intro="Bonus listing ( Deposit / Losing / Joining / Promo codes)">
          <a href="javascript:void(0);" class="nav-link nav-main-item">
            <i class="nav-icon fa fa-gift"></i>
            <p>
              Bonus
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <ng-container *ngIf="checkPermission('deposit_bonus','R')">
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/bonus/deposit-list" class="nav-link">
                  <i class="fa fa-money nav-icon"></i>
                  <p>Deposit</p>
                </a>
              </li>
            </ng-container>
            <ng-container *ngIf="checkPermission('losing_bonus','R')">
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/bonus/losing-list" class="nav-link">
                  <i class="fa fa-money nav-icon"></i>
                  <p> Losing</p>
                </a>
              </li>
            </ng-container>
            <ng-container *ngIf="checkPermission('joining_bonus','R')">
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/bonus/joining-list" class="nav-link">
                  <i class="fa fa-handshake-o  nav-icon"></i>
                  <p> Joining</p>
                </a>
              </li>
            </ng-container>
            <ng-container *ngIf="checkPermission('promo_code','R')">
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/promo-code/list" class="nav-link">
                  <i class="fa fa-gift  nav-icon"></i>
                  <p> Promo Code</p>
                </a>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>

    </ng-template>
        <li class="nav-item" data-title="Reports!" data-intro="Reports listing" *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 && superAdminAuthService.superAdminUserValue?.role != 'manager') || (checkPermission('casino_agent_revenue_report','R') || checkPermission('sport_agent_revenue_report','R') || checkPermission('bonus_status_per_player_report','R') || checkPermission('game_transaction_report','R') || checkPermission('player_financial_report','R') || checkPermission('player_ncb_report','R') || checkPermission('player_report','R') || checkPermission('sport_player_revenue_report','R') || checkPermission('casino_player_revenue_report','R') || checkPermission('tip_report','R') || checkPermission('unified_transaction_report','R'))">
          <a href="javascript:void(0);" [style.display] = "(checkSuperAdmin  || (casinoMenuCheck || sportMenuCheck))?'block': 'none'" class="nav-link nav-main-item">
            <i class="nav-icon fas fa-bar-chart"></i>
            <p>
              Reports
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
              <li class="nav-item" *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || checkPermission('casino_agent_revenue_report','R') || checkPermission('sport_agent_revenue_report','R')">
                <a href="javascript:void(0);" [style.display] = "(checkSuperAdmin ||  (casinoMenuCheck || sportMenuCheck))?'block': 'none'" class="nav-link nav-main-item">
                  <i class="nav-icon fas fa-bar-chart"></i>
                  <p>
                    Agent Revenue Report
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item" *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || checkPermission('casino_agent_revenue_report','R')">
                      <a routerLinkActive="active" *ngIf="(checkSuperAdmin) || casinoMenuCheck" routerLink="/reports/agent-revenue-report" class="nav-link">
                        <i class="far fa-bar-chart nav-icon"></i>
                        <p>Casino Agent Revenue Report</p>
                      </a>
                    </li>
                    <li class="nav-item" *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || checkPermission('sport_agent_revenue_report','R')">
                      <a routerLinkActive="active" *ngIf="(checkAdmin) && sportMenuCheck" routerLink="/reports/sport-agent-revenue-report" class="nav-link">
                        <i class="far fa-bar-chart nav-icon"></i>
                        <p>Sport Agent Revenue Report</p>
                      </a>
                    </li>
                </ul>
              </li>

           

              <li class="nav-item" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 || checkPermission('bonus_status_per_player_report','R')">
                <a routerLinkActive="active"  *ngIf="(checkSuperAdmin) || casinoMenuCheck" routerLink="/reports/bonus-status-per-player-report" class="nav-link">
                  <i class="far fa-bar-chart nav-icon"></i>
                  <p>Bonus Status Per Player Report (Casino Data Only)</p>
                </a>
              </li>

              <li class="nav-item" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 || checkPermission('game_transaction_report','R')">
                <a routerLinkActive="active"  *ngIf="(checkSuperAdmin) || casinoMenuCheck" routerLink="/reports/game-transaction-report" class="nav-link">
                  <i class="far fa-bar-chart nav-icon"></i>
                  <p>Game Transaction Report (Casino Data Only)</p>
                </a>
              </li>

              <li class="nav-item" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 || checkPermission('player_financial_report','R')">
                <a routerLinkActive="active"  *ngIf="(checkSuperAdmin) || casinoMenuCheck" routerLink="/reports/player-financial-report" class="nav-link">
                  <i class="far fa-bar-chart nav-icon"></i>
                  <p>Player Financial Report (Casino Data Only)</p>
                </a>
              </li>
  
              <li class="nav-item" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 || checkPermission('player_ncb_report','R')">
                <a routerLinkActive="active"  *ngIf="(checkSuperAdmin) || casinoMenuCheck" routerLink="/reports/player-ncb-report" class="nav-link">
                  <i class="far fa-bar-chart nav-icon"></i>
                  <p>Player NCB Report (Casino Data Only)</p>
                </a>
              </li>
  
              <li class="nav-item" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 || checkPermission('player_report','R')">
                <a routerLinkActive="active"  *ngIf="(checkSuperAdmin) || casinoMenuCheck" routerLink="/reports/player-report" class="nav-link">
                  <i class="far fa-bar-chart nav-icon"></i>
                  <p>Player Report (Casino Data Only)</p>
                </a>
              </li>
  
              <li class="nav-item" *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || checkPermission('casino_player_revenue_report','R') || checkPermission('sport_player_revenue_report','R')">
                <a href="javascript:void(0);" [style.display] = "(checkSuperAdmin || (casinoMenuCheck || sportMenuCheck))?'block': 'none'" class="nav-link nav-main-item">
                  <i class="nav-icon fas fa-bar-chart"></i>
                  <p>
                    Player Revenue Report
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item" *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || checkPermission('casino_player_revenue_report','R')">
                      <a routerLinkActive="active"  *ngIf="(checkSuperAdmin) || casinoMenuCheck" routerLink="/reports/player-revenue-report" class="nav-link">
                        <i class="far fa-bar-chart nav-icon"></i>
                        <p>Casino Player Revenue Report</p>
                      </a>
                    </li>
                    <li class="nav-item" *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || checkPermission('sport_player_revenue_report','R')">
                      <a routerLinkActive="active" *ngIf="(checkAdmin) && sportMenuCheck" routerLink="/reports/sport-player-revenue-report" class="nav-link">
                        <i class="far fa-bar-chart nav-icon"></i>
                        <p>Sport Player Revenue Report</p>
                      </a>
                    </li>

                </ul>
              </li>
  
              <li class="nav-item" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 || checkPermission('tip_report','R')">
                <a routerLinkActive="active" *ngIf="(checkSuperAdmin) || casinoMenuCheck" routerLink="/reports/tip-report" class="nav-link">
                  <i class="far fa-bar-chart nav-icon"></i>
                  <p>Tip Report (Casino Data Only)</p>
                </a>
              </li>
            <!-- <li class="nav-item" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 || adminReportPermission('player_revenue_report')">
              <a routerLinkActive="active" routerLink="/reports/player-revenue-report" class="nav-link">
                <i class="far fa-bar-chart nav-icon"></i>
                <p>Player Revenue Report</p>
              </a>
            </li> -->
  
            <!-- <li class="nav-item" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 || adminReportPermission('agent_revenue_report')">
              <a routerLinkActive="active" routerLink="/reports/agent-revenue-report" class="nav-link">
                <i class="far fa-bar-chart nav-icon"></i>
                <p>Agent Revenue Report</p>
              </a>
            </li> -->
  
              <li class="nav-item" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 || checkPermission('unified_transaction_report','R')">
                <a routerLinkActive="active"  *ngIf="(checkSuperAdmin) || casinoMenuCheck" routerLink="/reports/unified-report" class="nav-link">
                  <i class="far fa-bar-chart nav-icon"></i>
                  <p>Unified Transaction Report (Casino Data Only)</p>
                </a>
              </li>

              <li class="nav-item" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 || checkPermission('ggr_report','R')">
                <a routerLinkActive="active"  *ngIf="(checkSuperAdmin) || casinoMenuCheck" routerLink="/reports/ggr-report" class="nav-link">
                  <i class="far fa-bar-chart nav-icon"></i>
                  <p>GGR Report</p>
                </a>
              </li>
          </ul>
        </li>


    <ng-container *ngIf="checkPermission('sports_book','R')">
      <li data-title="Sports Book!"  data-intro="Sports Book listing" class="nav-item user-panel-Custom ">
        <a href="javascript:void(0)" *ngIf="(checkSuperAdmin) || checkAdmin && (adminAuthService?.tenantDataValue?.menuList?.includes('Exchange') || adminAuthService?.tenantDataValue?.menuList?.includes('Live Bets'))" class="nav-link nav-main-item " >

          <i class="nav-icon fa fa-book"></i>
          <p>
            Sports Book
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a [routerLinkActiveOptions]="{exact: true}"  routerLinkActive="active" routerLink="/sports" class="nav-link">
              <i class="fa fa-baseball-ball nav-icon"></i>
              <p>Sports</p>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a routerLinkActive="active" routerLink="/sports/countries" class="nav-link">
              <i class="fa fa-flag nav-icon"></i>
              <p> Countries </p>
            </a>
          </li> -->
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/sports/tournaments" class="nav-link">
              <i class="fa fa-chess nav-icon"></i>
              <p> Tournaments </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/sports/matches" class="nav-link">
              <i class="fa fa-equals nav-icon"></i>
              <p> Matches </p>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a routerLinkActive="active" routerLink="/sports/markets" class="nav-link">
              <i class="fa fa-map-marked nav-icon"></i>
              <p> Markets </p>
            </a>
          </li>

          <li class="nav-item" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">
            <a routerLinkActive="active" routerLink="/sports/bet-settlement" class="nav-link">
              <i class="fa fa-equals nav-icon"></i>
              <p> Bet Settlement </p>
            </a>
          </li> -->

        </ul>
      </li>
    </ng-container>

    <ng-container *ngIf="checkPermission('bet_report','R')">
      <li class="nav-item user-panel-Custom">
        <a href="javascript:void(0);" *ngIf="(checkSuperAdmin) || checkAdmin && (adminAuthService?.tenantDataValue?.menuList?.includes('Exchange') || adminAuthService?.tenantDataValue?.menuList?.includes('Live Bets'))" class="nav-link nav-main-item">
          <i class="nav-icon fa fa-bar-chart"></i>
          <p>
            Sports Book Report
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/reports/bet-report" class="nav-link">
              <i class="fa fa-bar-chart nav-icon"></i>
              <p>Bet Report</p>
            </a>
          </li>
        </ul>
      </li>
    </ng-container>


      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
