.wallets{
    color: #fff;
    // margin-left: 20px;
    list-style-type: none;
}
.user-panel-Custom {
    border-bottom: 1px solid #4f5962;
    border-top: 1px solid #4f5962;
}
.small-manual{
  position: relative;
    top: -11px;
    left: 28px;
    font-weight: bold;
}
