<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Bonus Losing" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->


    <section class="content">
        <div class="container-fluid">

          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> {{ title }} Bonus Losing </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="bonusForm" (ngSubmit)="onSubmit()">
                  <div class="card-body">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="code">Code <span class="text-danger">*</span></label>
                                <input type="text" formControlName="code" class="form-control" id="code" maxlength="20" placeholder="Enter Code"/>
                                <div class="invalid-feedback" *ngIf="submitted && f.code.errors">
                                  <div *ngIf="f.code.errors.required">Code is required</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="currency_id">Currency <span class="text-danger">*</span></label>
                            <select class="form-control" formControlName="currency_id" id="currency_id">
                              <option value="" disabled> Select Currency </option>
                              <option *ngFor="let currency of currencies" [value]="currency.id"> {{ currency.name }} </option>
                            </select>
    
                            <div class="invalid-feedback" *ngIf="submitted && f.currency_id.errors">
                                <div *ngIf="f.currency_id.errors.required">Currency is required</div>
                            </div>
                          </div>
                        </div>
                    </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="claim_days">Claim days <span class="text-danger">*</span></label>
                      <input type="number" formControlName="claim_days" class="form-control" id="claim_days" maxlength="5" placeholder="Enter Claim days"/>
                      <div class="invalid-feedback" *ngIf="submitted && f.claim_days.errors">
                        <div *ngIf="f.claim_days.errors.required">Claim days is required</div>
                        <div *ngIf="f.claim_days.errors.min">Claim days cannot be less than 1</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="valid_from">Campaign period <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="time_period" autocomplete="off" readonly [timePicker]="true" [format]="format" daterange_picker (onSelect)="selectDateRange($event)" placeholder="Enter Campaign period"/>
                      <div class="invalid-feedback" *ngIf="submitted && (f.valid_from.errors || f.valid_upto.errors)">
                        <div *ngIf="f.valid_from.errors.required || f.valid_upto.errors.required">Campaign period is required</div>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="promotion_title">Promotion title <span class="text-danger">*</span></label>
                    <input type="text" formControlName="promotion_title" class="form-control" id="promotion_title" maxlength="30" placeholder="Enter Promotion title"/>
                    <div class="invalid-feedback" *ngIf="submitted && f.promotion_title.errors">
                      <div *ngIf="f.promotion_title.errors.required">Promotion title is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">

                  <div class="form-group">
                    <label for="vip_levels">Vip Levels <span class="text-danger">*</span></label>
                    <select class="form-control" select2 (onSelect)="selectVipLevel($event)" multiple id="vip_levels" data-placeholder="Select a Vips Level" style="width: 100%;">
                      <option *ngFor="let item of getNumArr(11); let i = index" [value]="i"> {{ i }} </option>
                    </select>

                    <div class="invalid-feedback" *ngIf="submitted && f.vip_levels.errors">
                        <div *ngIf="f.vip_levels.errors.required">Vip Levels is required</div>
                    </div>
                  </div>

                </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputFile">Image <span *ngIf="id == 0" class="text-danger">*</span></label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input (change)="selectImage(file.files)" #file formControlName="logo" accept="image/*" type="file" class="custom-file-input" id="exampleInputFile">
                      <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                    </div>
                  </div>
                  <div class="invalid-feedback" *ngIf="submitted && f.logo.errors">
                    <div *ngIf="f.logo.errors.required">Image is required</div>
                    <div *ngIf="f.logo.errors.requiredFileType">Image must be image</div>
                  </div>
                </div>
              </div>

                  <div class="col-md-6">
                    <img [src]="imgURL" class="imshow" id="tenantLogo"/>
                  </div>
          </div>

            <div class="row">
              <div class="col-md-12">
                <label>Terms & Conditions <span class="text-danger">*</span></label>
                
                <ckeditor formControlName="terms_and_conditions"></ckeditor>
                <div class="invalid-feedback" *ngIf="submitted && f.terms_and_conditions.errors">
                  <div *ngIf="f.terms_and_conditions.errors.required">Terms and conditions is required</div>
                </div>
                
              </div>
            </div>

            <br/>

            <div class="row mb-2">
              <div class="col-md-12">

                <div class="icheck-primary d-inline">
                  <input type="checkbox" formControlName="enabled" id="checkboxPrimary2">
                  <label for="checkboxPrimary2">
                    Enabled
                  </label>
                </div>
                
              </div>
            </div>

            <div formArrayName="tiers">
              <div  *ngFor="let faq of tiers.controls; let i=index">
                <div [formGroupName]="i" class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="field_{{i}}"> Min Losing Amount <span class="text-danger">*</span></label>
                    
                    <input type="number" class="form-control" placeholder="Enter Min Losing Amount" id="field_{{i}}" formControlName="min_losing_amount">
                    <div class="text-danger" *ngIf="submitted && f.tiers.controls[i].get('min_losing_amount').errors">
                      <div *ngIf="f.tiers.controls[i].get('min_losing_amount').errors.required"> Min Losing Amount is required </div>
                      <div *ngIf="f.tiers.controls[i].get('min_losing_amount').errors.min"> Min Losing Amount cannot be less than 1 </div>
                    </div>
                  </div>
                  </div>
          
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="field_2{{i}}"> Percentage <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" placeholder="Enter Percentage" id="field_2{{i}}" formControlName="percentage">
            
                    <div class="text-danger" *ngIf="submitted && f.tiers.controls[i].get('percentage').errors">
                      <div *ngIf="f.tiers.controls[i].get('percentage').errors.required"> Percentage is required </div>
                      <div *ngIf="f.tiers.controls[i].get('percentage').errors.min"> Percentage cannot be less than 1 </div>
                      <div *ngIf="f.tiers.controls[i].get('percentage').errors.max"> Percentage cannot be more than 99 </div>
                    </div>
            
                    </div>
                </div>
           
                <div class="col-md-4 pt-5" *ngIf="i > 0">
                  <button type="button" class="btn btn-danger" (click)="removeTier(i)"> <i class="fa fa-remove"></i>  Remove </button>
                </div>
          
                </div>
              </div>
            </div>
                    <button type="button" class="btn btn-warning" (click)="addTiers()"> <i class="fa fa-plus"></i> Add Bonus tiers </button>
  
          </div>

          
          <div class="card-footer">
                    <button type="submit" [disabled]="bonusLoader" class="btn btn-primary">
                      <span *ngIf="bonusLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
                      &nbsp;
                    <a routerLink="/bonus/losing-list" class="btn btn-warning"> Cancel </a>
                  </div>
                </form>
              </div>
              <!-- /.card -->
  
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>


  </div>
