<footer class="main-footer">
  <p class="text-center text-sm-left d-sm-inline">
    <strong>Copyright &copy; {{curentyear}}.</strong>
    All rights reserved.
  </p>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 2.0.0
    </div>
  </footer>