<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Faq Categories" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
      <div class="container-fluid">

        <div class="row">

        
        </div>

      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">



          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Faq Categories</h3>
                <a *ngIf = "this.permissionService.checkPermission('faq_categories','C')" class="btn btn-success f-right fnt-12" [routerLink]="['/tenants/faq/categories', 0]"> Create New </a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="search">Search</label>
                      <input type="text" class="form-control" id="search" [(ngModel)]="faqParams.search" placeholder="Search Name/Slug"/>
                    </div>
                  </div>     
        
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="size">Size</label>
                    <select class="form-control" id="size" [(ngModel)]="faqParams.size">
                      <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                    </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="status">Date Time Range</label>
                      <input autocomplete="off" class="form-control" data-placeholder="Search Time Period"
                        placeholder="Search Time Period" type="text" id="time_period" [format]="format"
                        daterangetime_picker (onSelect)="setTimePeriod($event)" />
                    </div>
                  </div>
                  <!-- <div class="col-md-2">
                    <div class="form-group">
                      <label for="created_at">Created At</label>
                      <select class="form-control" id="created_at"
                        [(ngModel)]="faqParams.created_at">
                        <option value="">Descending</option>
                        <option value="ASC">Ascending</option>
                      </select>
                    </div>
                  </div> -->
                  
                  <div class="col-md-4 mb-2">
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-success fnt-12" (click)="filterFaqs()"><i class="fas fa-search"></i> Search</button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning fnt-12 ml-2" (click)="faqResetFilter()"> Reset Filter </button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-default fnt-12 ml-2" (click)="getList()"> <i class="fa fa-refresh"></i> </button>
                  </div>
        
                </div>
                <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Name</th>
                      <th>Slug</th>
                      <th>Image</th>
                      <th>Status</th>
                      <!-- <th>Featured</th> -->
                      <th>Created Date</th>
                      <ng-container *ngIf = "this.permissionService.checkPermission('faq_categories','U') || this.permissionService.checkPermission('faq_categories','T')">
                        <th>Action</th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let faqCategory of faqCategories | paginate: { itemsPerPage: faqParams.size, currentPage: faqP, totalItems: total, id: 'faqpid' }">
                      <td>{{ faqCategory.id }}</td>
                      <td>  {{ faqCategory.name || 'NA' }}</td>
                      <td>  {{ faqCategory.slug || 'NA' }}</td>
                      <td>
                        <img src="{{ faqCategory?.image }}" onError= "this.src='assets/dist/img/No-image-found.jpg'" width="100px" height="100px" alt="No image found">
                      </td>
                      <td> <span [ngClass]="faqCategory.active ? 'text-success':'text-danger'">{{ faqCategory.active ? 'Active' :
                        'Deactive'
                        }}</span> </td>
                      <!-- <td *ngIf="faq.featured"><label class='badge badge-success'>Yes</label></td>
                      <td *ngIf="!faq.featured"><label class='badge badge-danger'>No</label></td> -->
                      <td> {{ faqCategory.created_at | date: 'dd-MM-YYYY HH:mm:ss' || '-' }}</td>
                     
                      <ng-container *ngIf = "this.permissionService.checkPermission('faq_categories','U') || this.permissionService.checkPermission('faq_categories','T')">
                      <td >
                        <a *ngIf = "this.permissionService.checkPermission('faq_categories','U')" class="btn btn-info fnt-12" [routerLink]="['/tenants/faq/categories', faqCategory.id]"> <i class="fas fa-edit"></i> </a>&nbsp;&nbsp;
                        <a *ngIf = "this.permissionService.checkPermission('faq_categories','D')" class="btn btn-danger fnt-12" (click)="deleteFaqCategory(faqCategory.id)"> <i class="fas fa-trash"></i> </a>&nbsp;&nbsp;
                        <ng-container *ngIf = "this.permissionService.checkPermission('faq_categories','T')">
                          <a  *ngIf="faqCategory.active" (click)="updateFaqCategoryStatus(faqCategory.id,false)" class="btn btn-success fnt-12" title="Disable"> <i class="fas fa-times"></i> </a>
                          <a  *ngIf="!faqCategory.active" (click)="updateFaqCategoryStatus(faqCategory.id,true)" class="btn btn-danger fnt-12" title="Enable"> <i class="fas fa-check"></i> </a>
                        </ng-container>
                      </td>
                      </ng-container>
                    </tr>

                    <tr *ngIf="faqCategories && faqCategories.length === 0"> <td colspan="7" class="tnodata"> No Data Found </td> </tr>

                  </tbody>
                </table>
                <pagination-controls id="faqpid" (pageChange)="faqPageChanged($event)"
                (pageChange)="faqP = $event" style="margin-left: -49px;"></pagination-controls>
              Total Record {{total}}
              </div>
              </div>

            </div>
            <!-- /.card -->

          </div>

        </div>

<!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
