<div class="f-right pointer">
  
  <ng-container *ngIf="params.sort_by == column && params.order == 'asc'; else descOrderTemp">
    <img src="./assets/dist/svg/arrow_upward_black.svg" title="asc" />
    <img (click)="setOrder('desc')" src="./assets/dist/svg/arrow_downward_grey.svg" title="desc" />
  </ng-container>

  <ng-template #descOrderTemp>
    <ng-container *ngIf="params.sort_by == column && params.order == 'desc'; else orderTemp">
      <img (click)="setOrder('asc')" title="asc" src="./assets/dist/svg/arrow_upward_grey.svg"/>
      <img src="./assets/dist/svg/arrow_downward_black.svg" title="desc" />
    </ng-container>
  </ng-template>

  <ng-template #orderTemp>
    <img (click)="setOrder('asc')"  title="asc" src="./assets/dist/svg/arrow_upward_grey.svg"/>
    <img (click)="setOrder('desc')" title="desc" src="./assets/dist/svg/arrow_downward_grey.svg"/>
  </ng-template>

</div>
