<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Bank List" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
      <div class="container-fluid">

        <div class="row">

        
        </div>

      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Bank List <br><small>Total records: {{total}}</small></h3>
                <ng-container *ngIf = "this.permissionService.checkPermission('bank_details','C')">
                  <a class="btn btn-success f-right fnt-12" routerLink="/bank/0"> Add New Bank </a>
                </ng-container>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Bank Name</th>
                      <th>IFSC Code</th>
                      <th>Account Number</th>
                      <th>Account Holder Name</th>
                      <th>Last Updated By</th>
                      <th>Active</th>
                      <th>Created Date</th>
                      <th>Updated Date</th>
                      <ng-container *ngIf = "this.permissionService.checkPermission('bank_details','U') || this.permissionService.checkPermission('bank_details','T')">
                       <th>Action</th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bank of list">
                      <td>#{{ bank.id }}</td>
                      <td>  {{ bank.bank_name || 'NA' }}</td>
                      <td>{{ bank.bank_ifsc_code || 'NA' }}</td>
                      <td>{{ bank.account_number || 'NA' | hideChars }}</td>
                      <td>{{ bank.account_holder_name || 'NA' }}</td>
                      <td>{{ bank.first_name + ' ' + bank.last_name || 'NA' }}</td>
                      <td *ngIf="bank.status"><label class='badge badge-success'>Yes</label></td>
                      <td *ngIf="!bank.status"><label class='badge badge-danger'>No</label></td>
                      <td> {{ bank.created_at | date }}</td>
                      <td> {{ bank.updated_at | date }}</td>
                     
                      <ng-container *ngIf = "this.permissionService.checkPermission('bank_details','U') || this.permissionService.checkPermission('bank_details','T')">
                        <td style="display: flex; min-width: 100px; justify-content: center;">
                          <ng-container *ngIf = "this.permissionService.checkPermission('bank_details','U')">
                            <a  class="btn btn-info fnt-12" [routerLink]="['/bank', bank.id]"> <i class="fas fa-edit"></i> </a>&nbsp;&nbsp;
                          </ng-container>
                          <ng-container *ngIf = "this.permissionService.checkPermission('bank_details','T')">
                            <a  *ngIf="bank.status" (click)="updateBankStatus(bank.id,false)" class="btn btn-success fnt-12" title="Disable"> <i class="fas fa-times"></i> </a>
                            <a  *ngIf="!bank.status" (click)="updateBankStatus(bank.id,true)" class="btn btn-danger fnt-12" title="Enable"> <i class="fas fa-check"></i> </a>
                          </ng-container>
                        </td>
                      </ng-container>
                    </tr>

                    <tr *ngIf="list && list.length === 0"> <td colspan="10" class="tnodata"> No Data Found </td> </tr>

                  </tbody>
                </table>
              </div>
              </div>

            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
