<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Sports" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Sports Filter</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
  
                <div class="row">

                  <div class="col-md-2" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">
                    <div class="form-group">
                      <label for="sport_id">Tenant</label>
                      <select class="form-control" id="tenant_id" select2 (onSelect)="tenantFilter($event)">
                      <option *ngFor="let tenant of allTenants" [value]="tenant.id">{{tenant.name}}</option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="search">Search</label>
                      <input type="text" class="form-control" id="search" [(ngModel)]="params.search"
                             placeholder="Search by Sport Name"/>
                    </div>
                  </div>

                  <!--<div class="col-md-2">
                    <div class="form-group">
                      <label for="kind">Kind</label>
                      <select class="form-control" id="kind" (change)="filter($event)" [(ngModel)]="params.kind">
                      <option value="">All</option>
                      <option value="sport">Sport</option>
                      <option value="esport">Esport</option>
                    </select>
                    </div>
                  </div>-->

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="enabled">Enabled</label>
                      <select class="form-control" id="enabled" [(ngModel)]="params.enabled">
                      <option value="">All</option>
                      <option value="disable">Enabled</option>
                      <option value="enable">Disabled</option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="size">Size</label>
                      <select class="form-control" id="size" [(ngModel)]="params.size">
                        <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                    </select>
                    </div>
                  </div>
                  
                  <div class="col-md-2">
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-success" (click)="filter($event)"><i class="fas fa-search"></i> Search</button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning ml-2" (click)="resetFilter()"> Reset Filter </button>
                  </div>
                </div>

              </div>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Sports</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Sport ID</th>
                      <th>Name</th>
                      <!-- <th>Rank</th>
                      <th>Status</th>
                      <th>Acronym</th>	
                    -->
                      <th>Enabled</th>	
                      <th>Actions</th> 
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let sport of sports | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                      
                      <td> {{ sport.id || 'NA' }} </td>
                      <td> {{ sport.sport_id || 'NA' }} </td>
                      <td> {{ sport.name_en || 'NA' }} </td>
                      <!-- <td> {{ sport.rank || 'NA' }} </td>
                      <td>
                        <span [ngClass]="sport.status ? 'text-success':'text-danger'">
                        {{ sport.status ? 'Yes' : 'No' }}
                       </span> 
                      </td>
                      <td> {{ sport.Acronym || 'NA' }} </td>
                    -->
                      <td> 
                        <span [ngClass]="sport.is_deleted ? 'text-danger' : 'text-success' ">
                          {{ sport.is_deleted ? 'Disabled' :'Enabled' }}
                        </span> 
                        <!-- <ng-container *ngIf="adminAuthService.adminRoleValue === 'owner'; else showEnStatus">

                          <ng-container *ngIf="sport.is_deleted; else activeUser">
                            <button type="button" (click)="updateSportStatus(sport, 'enable')" class="btn btn-danger fnt-12"> <i class="fa fa-remove"></i> </button>
                          </ng-container>
                          <ng-template #activeUser>
                            <button type="button" (click)="updateSportStatus(sport, 'disable')" class="btn btn-success fnt-12"> <i class="fa fa-check"></i> </button>
                          </ng-template>
                          &nbsp;
                        </ng-container>

                        <ng-template #showEnStatus>
                          <span [ngClass]="sport.is_deleted ? 'text-danger' : 'text-success' ">
                            {{ sport.is_deleted ? 'Disabled' :'Enabled' }}
                          </span> 
                        </ng-template> -->

                        <!-- <span [ngClass]="sport.is_deleted ? 'text-danger' : 'text-success' ">
                        {{ sport.is_deleted ? 'Disabled' :'Enabled' }}
                       </span>  -->
                      </td>
                      <td>
                        <!-- <span *ngIf="superAdminAuthService.superAdminTokenValue==''">
                          <ng-container *ngIf="!sport.is_deleted; else activeUser">
                            <button type="button" (click)="updateSportStatus(sport, 'disable')" class="btn btn-danger fnt-12"> <i class="fa fa-remove"></i> </button>
                          </ng-container>
                          <ng-template #activeUser>
                            <button type="button" (click)="updateSportStatus(sport, 'enable')" class="btn btn-success fnt-12"> <i class="fa fa-check"></i> </button>
                          </ng-template>
                        &nbsp;</span> -->
                        <button class="btn btn-info" data-toggle="modal" data-target="#modal-sport-details" (click)="sportDetails(sport)" type="button">  <i class="fa fa-eye"></i> </button>

                      </td> 

                    </tr>
                    <tr *ngIf="firstTimeApiCall && sports && sports.length === 0">
                      <td colspan="5" class="tnodata"> No Sports Found </td>
                    </tr>
                    <tr *ngIf="!firstTimeApiCall">
                      <td colspan="5" class="tnodata"> Click Search to Load Data </td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
              
              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  




    <div class="modal fade" id="modal-sport-details" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Sport </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          
           <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">information</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                  <tr>
                    <th> sport ID </th>
                    <td> {{ sport?.sport_id }} </td>
                  </tr>
                    <tr>
                      <th> Name </th>
                      <td> {{ sport?.name_en }} </td>
                    </tr>
                    <tr>
                      <th>Enabled</th>
                      <td> 
                        <span [ngClass]="sport?.is_deleted ? 'text-danger':'text-success'">
                        {{ sport?.is_deleted ? 'Disabled':'Enabled' }}
                       </span>
                      </td>
                    </tr>
                    <!-- <tr>
                      <th>Rank</th>
                      <td> -- </td>
                    </tr> -->
                  </tbody>
                </table>
              <br/>
              
              </div>
              

            </div>
            <!-- /.card -->

          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Statistics</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                    
                    <tr>
                      <th>Number Of Tournaments</th>
                      <td> {{ sport?.league || 0 }} </td>
                      <td *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 || !sport?.blocked?.id">
                        <a [routerLink]="['/sports/tournaments']" [queryParams]="{ sport_id: sport?.id, tenant_id: params.tenant_id }" data-dismiss="modal"> View </a>
                      </td>
                    </tr>
                    
                    <tr>
                      <th>Number Of Markets</th>
                      <td> {{ sport?.market || 0 }} </td>
                      <td *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 || !sport?.blocked?.id">
                        <a [routerLink]="['/sports/markets']" [queryParams]="{ sport_id: sport?.id, tenant_id: params.tenant_id }" data-dismiss="modal"> View </a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>

            </div>
            <!-- /.card -->

          </div>

        </div>
              
        </div>
        
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
