<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Currencies" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Currencies</h3>
              <a class="btn btn-success f-right  fnt-12 ml-1" routerLink="/super-admin/currencies/0"> Create New </a>
              <a class="btn btn-info f-right fnt-12 " routerLink="/super-admin/currencies/conversion-history"> Conversion History </a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">ID</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Exchange Rate</th>
                    <th>Internal Code</th>
                    <!-- <th>Primary</th> -->
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let currency of currencies | paginate: { itemsPerPage: 10, currentPage: p }">

                    <td> {{ currency.id }} </td>
                    <td> {{ currency.name }} <span class="text-success" *ngIf="currency.primary"> Active </span> </td>
                    <td> {{ currency.code }} </td>
                    <td> {{ currency.exchange_rate }} </td>
                    <td>{{ currency.internal_code }}</td>
                    <!-- <td>
                        <span class="text-danger" *ngIf="!currency.primary">Disable</span>
                        <span class="text-success" *ngIf="currency.primary"> Active</span>
                    </td> -->

                    <td>
                      <a [routerLink]="['/super-admin/currencies', currency.id]" class="fnt-12 btn btn-warning"> Edit </a> &nbsp;
                      <!-- <button type="button" (click)="delete(currency)" class="fnt-12 btn btn-danger"> Delete </button> -->
                    </td>
                  </tr>

                  <tr *ngIf="currencies && currencies.length === 0"> <td colspan="6" class="tnodata"> No Currencies Found </td> </tr>

                </tbody>
              </table>
            </div>
            </div>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            <div class="card-body">
              <strong>NOTE - EUR is primary currency. Any conversion from currency A to currency B will consider EUR as base.</strong><br/>
            e.g. Currency A amount * Exchange Rate of Currency A = Primary Currency(EUR) amount<br/>
            e.g. Currency A amount * (Exchange Rate of Currency A / Exchange Rate of Currency B) = Currency B amount
            </div>
          </div>
          <!-- /.card -->


        </div>

      </div>

    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
