<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Menu Setting" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

    <!-- /.content-header -->
    
      <section class="content">
        <div class="container-fluid">

          <div class="row">

            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title"> Menu Setting </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <ng-container *ngIf = "this.permissionService.checkPermission('tenant_menu_setting','U')">
                          <th *ngIf="!isTouchDevice">#</th>
                        </ng-container>
                        <th>Id</th>
                        <th>Menu Name</th>
                        <th>Menu Path</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let list of menuList" class="todo-list ui-sortable" [id]="list.id">
                        <ng-container *ngIf = "this.permissionService.checkPermission('tenant_menu_setting','U')">
                          <td *ngIf="!isTouchDevice">
                            <span class="handle ui-sortable-handle">
                              <i class="fas fa-ellipsis-v"></i>
                              <i class="fas fa-ellipsis-v"></i>
                            </span>
                          </td>
                        </ng-container>

                          <td> {{ list.id }} </td>
                        <td> {{ list.menu_name }} </td>
                        <td> {{ list.menu_path }} </td>
                      </tr>

                      <tr *ngIf="menuList && menuList.length === 0"> <td colspan="3" class="tnodata"> No menu list found </td> </tr>

                    </tbody>
                  </table>
                </div>
                </div>
                <ng-container *ngIf = "this.permissionService.checkPermission('tenant_menu_setting','U')">
                  <p *ngIf="!isTouchDevice" class="ml-4">Admin:- On every update on menu items from Super admin, Admin has to rearrange the order at least for once</p>
                </ng-container>
              </div>
              <!-- /.card -->

            </div>

          </div>

        </div><!-- /.container-fluid -->
      </section>
  </div>
