<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="{{title}}" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <!--<div class="card-header">
                <h3 class="card-title">Withdraw Requests Filter</h3>
              </div>-->
              <!-- /.card-header -->
              <div class="card-header">
                <!-- <div class="pull-left"><h3 class="card-title">Deposit Request Filter</h3></div> -->
                <div class="pull-right">
                  <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;" data-placeholder="Select Time Zone">
                    <option value="">Select Time Zone</option>
                    <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                    <option *ngFor="let zone of TIMEZONE"  [value]="zone.zonename">{{zone.name}}</option>
                  </select>
                </div>
              </div>
              <div class="card-body">
  
                <div class="row">
                  
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="search">Search</label>
                      <input type="text" class="form-control" id="search" [(ngModel)]="params.search" placeholder="Search Account Holder Name / ID / Phone / Username"/>
                    </div>
                  </div>

                  <div class="col-md-2" *ngIf="type == 'verified'">
                    <div class="form-group">
                      <label for="status">status</label>
                      <select class="form-control" id="status" [(ngModel)]="params.status">
                      <option value="">Select Status</option>
                      <option *ngFor="let status of allStatus" [value]="status.value">{{status.name}}</option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2" *ngIf="type == 'verified'">
                    <div class="form-group">
                      <label for="size">Select Withdrawal Type</label>
                      <select class="form-control" id="withdrawal_type" [(ngModel)]="params.withdrawal_type">
                        <option *ngFor="let type of withdrawalType" [value]="type.value">{{type.name}}</option>
                    </select>
                    </div>
                  </div>
                 
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="size">Size</label>
                      <select class="form-control" id="size" [(ngModel)]="params.size">
                        <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                    </select>
                    </div>
                  </div>
  
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="time_period">Time Period</label>
                      <input type="text" class="form-control float-right" id="time_period" autocomplete="off" readonly [format]="format" daterangetime_picker (onSelect)="selectDateRange($event)" placeholder="Search Time Period"/>
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <div class="form-group">
                      <button [disabled] = "isLoader" type="button" class="mgt btn btn-success" (click)="filter($event)"><i class="fa fa-search"></i> Search </button>
                      <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning ml-2" (click)="resetFilter()"> Reset Filter </button>
                      <button [disabled] = "isLoader" type="button" class="mgt btn btn-default ml-2" (click)="getWithdrawals()"> <i class="fa fa-refresh"></i> </button>
                      <ng-container *ngIf="this.permissionService.checkPermission('withdrawal_request','export')">
                        <button type="button" *ngIf="withdRawreqs && withdRawreqs.length !== 0" class="mgt btn btn-info ml-2" (click)="exportAsXLSX()"> CSV <i class="fa fa-download"></i> </button>
                      </ng-container>                    
                    </div>
                  </div>

                  <div class="col-md-12">
                    <h4>Total Withdrawal Amount <small>(Based on filter)</small>: <i>{{totalWithdrwal || 0}}</i></h4>
                    
                  </div>
                </div>
  
  
              </div>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <ng-container *ngIf="!isLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">{{title}}</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="overflow-x: scroll;">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th style="width: 10px">ID<app-ordering-arrow [column]="'id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Username<app-ordering-arrow [column]="'user_name'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <!-- <th>Status</th> -->
                      <th>Bank Name<app-ordering-arrow [column]="'bank_name'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Account Holder Name</th>
                      <th>Account number<app-ordering-arrow [column]="'account_number'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>IFSC Code<app-ordering-arrow [column]="'ifsc_code'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Amount<app-ordering-arrow [column]="'amount'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Remark</th>
                      <th>Withdrawal Type</th>
                      <!-- <th>Phone Number</th> -->
                      <th>Requested At<app-ordering-arrow [column]="'created_at'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Actioned At<app-ordering-arrow [column]="'actioned_at'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <ng-container *ngIf = "this.permissionService.checkPermission('withdrawal_request','T')">
                        <th>Actions</th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let transaction of withdRawreqs | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total } ; let i  = index">
                  
                    <tr>
                      <td><i class="fa fa-plus-circle" (click)="toggleDetails(i)" style="cursor: pointer;"></i></td>
                      <td> {{ transaction.id || 'NA' }} </td>
                      <td>  <a [routerLink]="(this.permissionService.checkPermission('casino_transactions','R')) ? ['/transactions' ] : null" [state]="{ search: transaction.user_name, wallet_id: transaction.wallet_id }"> {{ transaction.user_name || 'NA' }} </a> </td>
                      <td> {{ transaction.bank_name || 'NA' }} </td>
                      <!-- <td> 
                       <span [ngClass]="transaction.status == 'rejected' || transaction.status == 'cancelled' ? 'text-danger' : transaction.status == 'pending' ? 'text-info' : 'text-success'"> {{ transaction.status | titlecase  }} </span>
                      </td> -->
                      <td> {{ transaction.name || 'NA' }} </td>
                      <td> {{ transaction.account_number || 'NA' }} </td>
                      <td> {{ transaction.ifsc_code || 'NA' }} </td>
                      <td> {{ transaction.amount || 'NA' }} </td>
                      <td> {{ transaction.remark || 'NA' }} </td>
                      <td>
                        <span [ngClass]="transaction.withdrawal_type == manual ? 'badge badge-info' : transaction.withdrawal_type == 'payment_gateway' ? 'badge badge-dark' : 'badge badge-success'">
                          {{transaction.withdrawal_type|titlecase }}
                        </span>
                         <!-- {{ (transaction.withdrawal_type |titlecase )|| 'NA'  }} -->
                         </td>
                      <!-- <td> {{ transaction.phone_number || 'NA' }} </td> -->
                      <td> {{ transaction.created_at  || 'NA' }} </td>
                      <td> {{ transaction.actioned_at  || 'NA' }} </td>
                      <ng-container *ngIf = "this.permissionService.checkPermission('withdrawal_request','T')">
                        <td>

                          <ng-container *ngIf="type === 'unverified'">
                            <ng-container *ngIf="(transaction.verify_status === 'unverified' && transaction.status === 'pending'); else editShowStatus">
                              <button class="btn btn-success fnt-12" (click)="updateVerifyWRStatus(transaction, 'verify')" type="button"> Verify </button>
                                &nbsp;
                              <button class="btn btn-danger fnt-12" data-toggle="modal" data-target="#modal-rej" (click)="updateWRStatus(transaction, 'rejected','unverified')" type="button"> Reject </button>
                            </ng-container>
                          </ng-container>
                          
                          
                          
                          <ng-container *ngIf="type === 'verified'">
                            <ng-container *ngIf="(transaction.status === 'pending'); else editShowStatus">
                              <button class="btn btn-success fnt-12" (click)="updateApproveStatus(transaction, 'approved')" type="button"> Approve </button>
                                &nbsp;
                              <button class="btn btn-danger fnt-12" data-toggle="modal" data-target="#modal-rej" (click)="updateWRStatus(transaction, 'rejected','verified')" type="button"> Reject </button>
                            </ng-container>
                          </ng-container>
                          
                          
                          <ng-container  *ngIf="type === 'rejected'">
                            <!-- <ng-container *ngIf="(transaction.status === 'pending'); else editShowStatus">
                              <button class="btn btn-success fnt-12" (click)="updateVerifyWRStatus(transaction, 'verify')" type="button"> Approve </button>
                            </ng-container> -->
                            <span class="text-danger"> {{ transaction.status.replaceAll('_',' ') | titlecase }}</span>
                            
                          </ng-container>
                        
                          
                          
                          <ng-template #editVerifyStatus>
                            <span [ngClass]="transaction.verify_status == 'rejected' || transaction.verify_status == 'cancelled' ? 'text-danger' : 'text-success'"> {{ transaction.verify_status | titlecase }} </span>
                          </ng-template>
                          
                          
                          <ng-template #editShowStatus>
                            <span [ngClass]="transaction.status == 'rejected' || transaction.status == 'cancelled' || transaction.status == 'rejected_by_gateway' || transaction.status == 'pending_by_gateway' ? 'text-danger' : 'text-success'"> {{ transaction.status.replaceAll('_',' ') | titlecase }} </span>
                          </ng-template>
                        </td>
                      </ng-container>
                      
                    </tr>
                  

                      <ng-container *ngIf="selectedItemIndex === i">
                          <!-- <tr class="trDisplay"> -->
                            <tr>
                              <th colspan="3"><b>Transaction Id</b></th>
                              <td colspan="2">{{(!transaction.payment_transaction_id || transaction.payment_transaction_id == 'null') ? '--' :  transaction.payment_transaction_id}}</td>
                            </tr>
                            <tr>
                              <th colspan="3"><b>FD Transaction Id</b></th>
                              <td colspan="2">{{(!transaction.fd_transaction_id || transaction.fd_transaction_id == 'null') ? '--' : transaction.fd_transaction_id}}</td>
                            </tr>
                            <tr>
                              <th colspan="3"><b>Payment Mode</b></th>
                              <td colspan="2">{{(!transaction.mode || transaction.mode == 'null') ? '--' : transaction.mode}}</td>
                            </tr>
                            <tr>
                              <th colspan="3" ><b>Tracking Transaction Id</b></th>
                              <td colspan="2">{{(!transaction.transaction_id || transaction.transaction_id == 'null') ? '--' : transaction.transaction_id}}</td>
                            </tr>
                            <!-- <tr>
                              <th colspan="3"><b>FD Transaction Id</b></th>
                              <td colspan="2">
                                {{(!transaction.fd_transaction_id || transaction.fd_transaction_id == 'null') ? '--' : transaction.fd_transaction_id}}
                              </td>
                            </tr>
                            <tr>
                              <th colspan="3"><b>Payment Mode</b></th>
                              <td colspan="2">
                                {{(!transaction.mode || transaction.mode == 'null') ? '--' : transaction.mode}}
                              
                              </td>
                            </tr>
                            <tr>
                              <th colspan="3" ><b>Tracking Transaction Id</b></th>
                              <td colspan="2">
                                {{(!transaction.transaction_id || transaction.transaction_id == 'null') ? '--' : transaction.transaction_id}}

                              </td>
                            </tr> -->
                            
                          <!-- </tr> -->
                        </ng-container>
                    </ng-container>

                    <tr *ngIf="firstTimeApiCall && withdRawreqs && withdRawreqs.length === 0"> <td colspan="11" class="tnodata"> No Withdraw Request Found </td> </tr>
                    <tr *ngIf="!firstTimeApiCall"> <td colspan="11" class="tnodata"> Click Search to Load Data </td> </tr>
                  </tbody>
                </table>
              </div>
              
              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
              </ng-container>
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>
  