<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Tenants" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tenants Filter</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="size">Size</label>
                    <select class="form-control" id="size" (change)="filter($event)" [(ngModel)]="params.size">
                      <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" (keyup)="filter($event)" [(ngModel)]="params.name" placeholder="Search Name"/>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="domain"> Domain </label>
                      <input type="text" class="form-control" id="domain" (keyup)="filter($event)" [(ngModel)]="params.domain" placeholder="Search Domain"/>
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <button type="button" class="mgt btn btn-warning fnt-12" (click)="resetFilter()"> Reset Filter </button>
                  </div>
                  
                </div>
                

              </div>

            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tenants Data</h3>
                <a class="btn btn-success f-right fnt-12" routerLink="/super-admin/tenants/0"> Create New </a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Tenant Name</th>
                      <!--<th></th>-->
                      <th>Tenant/Domain URL</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tenant of tenants | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                      <td>{{ tenant.id }}</td>
                      <td> <a [routerLink]="['/super-admin/tenants/details', tenant.id]"> {{ tenant.name }} </a> </td>
                      <!--<td>{{ tenant.domain }}</td>-->
                      <td><a href="https://{{tenant.domain}}" target="_blank"> {{ tenant.domain }} </a></td>
                      <td><span [ngClass]="tenant.active ? 'text-success':'text-danger'">{{ tenant.active ? 'Active' : 'In-Active' }}</span></td>

                      <td>
                        <a class="btn btn-warning fnt-12" [routerLink]="['/super-admin/tenants', tenant.id]"> <i class="fas fa-edit"></i> </a>
                        &nbsp;
                        <a class="btn btn-info fnt-12" [routerLink]="['/agents/tree', tenant.id, 0]"> <i class="fa fa-sitemap"></i> </a>
                      </td>
                    </tr>

                    <tr *ngIf="tenants && tenants.length === 0"> <td colspan="5" class="tnodata"> No Tenants Found </td> </tr>

                  </tbody>
                </table>
              </div>
              </div>

              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>

            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
