.custom-style {

    border: 1px solid #ced4da;
    padding: 8px;
    padding-left: 5px;
    border-radius: 5px;
    width: 350px;

}

// It will automatically applied to other tabs once loaded due to ng-deep
::ng-deep .select2.select2-container.select2-container--default {
    width: 100% !important;
}