<ng-container
  *ngIf="this.permissionService.checkPermission('dashboard','financial_activity') || this.permissionService.checkPermission('dashboard','gaming_activity') || this.permissionService.checkPermission('players','R') || this.permissionService.checkPermission('sports_book','R')">
  <section class="content">
    <div class="card">

      <!-- /.card-header -->

      <div class="card-body">
        <div class="row">

          <ng-container
            *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0; else adminOptions">

            <div class="col-md-4">
              <div class="form-group">
                <label for="tenant_id">Tenant</label>
                <select class="form-control" id="tenant_id" [(ngModel)]="params.tenant_id">
                  <option
                    *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0"
                    value="0">All Tenants</option>
                  <option *ngFor="let tenants of tenantsList" [value]="tenants.id">{{tenants.name}}</option>
                </select>
              </div>
            </div>

          </ng-container>


          <ng-template #adminOptions>
            <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="agent_id">Agent</label>
                  <div>
                    <select class="form-control agent" id="agent_id" select2 (onSelect)="filterSelectAgent($event)"
                      [(ngModel)]="params.agent_id" data-placeholder="Select Agent">
                      <option *ngFor="let adminUser of userList" [value]="adminUser.id">{{adminUser.first_name}}
                        {{adminUser.last_name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="col-md-4" *ngIf="false">
              <div class="form-group">
                <label for="player_type">Player Type</label>
                <select class="form-control" id="player_type" [(ngModel)]="params.player_type">
                  <option value="all">All Organization Players</option>
                  <option value="direct">Only Direct Players</option>
                </select>
              </div>
            </div>

          </ng-template>

          <div class="col-md-4 d-flex align-items-end">
            <div class="form-group">
              <!-- <label for="player_type">{{ dates.start_date }} - {{ dates.end_date }} </label> -->
              <div>
                <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;"
                data-placeholder="Select Time Zone">
                <option value="">Select Time Zone</option>
                <option *ngFor="let zone of TIMEZONE" [value]="zone.zonename">{{zone.name}}</option>
                </select>
              </div>
              <!-- <div *ngIf="zone">{{zone}}</div> -->
            </div>
          </div>


        </div>


        <div class="row" style="position: relative;">
          <div class="col-md-12 ">

            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('today')" class="btn"
              [ngClass]="params.time_period == 'today' ? 'btn-success':'btn-default'" type="button"> Today
            </button> &nbsp;
            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('yesterday')" class="btn"
              [ngClass]="params.time_period == 'yesterday' ? 'btn-success':'btn-default'" type="button"> Yesterday
            </button> &nbsp;
            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('weekly')" class="btn"
              [ngClass]="params.time_period == 'weekly' ? 'btn-success':'btn-default'" type="button"> This Week
            </button> &nbsp;

            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('monthly')" class="btn"
              [ngClass]="params.time_period == 'monthly' ? 'btn-success':'btn-default'" type="button"> This
              Month
            </button> &nbsp;
            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('lastMonth')" class="btn"
              [ngClass]="params.time_period == 'lastMonth' ? 'btn-success':'btn-default'" type="button"> Last Month
            </button> &nbsp;
            <!-- <button (click)="setTimePeriod('yearly')" class="btn"
                [ngClass]="params.time_period == 'yearly' ? 'btn-success':'btn-default'" type="button"> This Year
              </button>&nbsp; -->
            <button [disabled]="!loadDataBool" (click)="setTimePeriod('custom')" class="btn"
              [ngClass]="params.time_period == 'custom' ? 'btn-success':'btn-default'" type="button"> Custom
              Date
            </button>
            &nbsp;
            <input autocomplete="off" *ngIf="customDate" data-placeholder="Search Time Period"
              placeholder="Search Time Period" type="text" class="custom-style " id="time_period" [format]="format"
              daterangetime_picker (onSelect)="setTimePeriod('custom','',$event)" />

            &nbsp;

            <button data-title = 'Search' data-intro="Click Search Button to load Dashboard Data" [disabled]="!loadDataBool" type="button" class="btn btn-success mr-1" (click)="searchButton()"> <i
                class="fa fa-search"></i> Search </button>
            &nbsp;

            <button [disabled]="!loadDataBool" type="button" class="btn btn-warning mr-1" (click)="resetFilter()"> Reset
              Filter </button>
            &nbsp;
            <button [disabled]="!loadDataBool" type="button" class="btn btn-default" (click)="searchButton()"> <i
                class="fa fa-refresh"></i>
            </button>

          </div>
          <!--<div class="col-md-5 ">

            </div>-->
        </div>
      </div>

    </div>
  </section>
</ng-container>

<ng-container *ngIf = "this.service._finance$.value; else empty">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
  
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
  
              <ng-container *ngIf="loadDataBool;else chartLoader">
                <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                  [options]="depositChartOptionsLine" [callbackFunction]="chartCallback" [(update)]="updateFlag"
                  [oneToOne]="oneToOneFlag" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
              </ng-container>
  
            </div>
          </div>
        </div>
  
      </div>
      <!-- /.card -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <fieldset>
        <legend>Deposit</legend>
        <div class="row">
          <div class="col-md-3">
            <div class="card">
  
              <div class="card-header">
                <h3 class="card-title">Total Cash Deposit by Admin </h3>
              </div>
  
              <!-- /.card-header -->
  
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
  
                    <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let depDepositCashByAdmin of depositCashByAdmin.data">
  
                            <th>{{ depDepositCashByAdmin.name }}:</th>
                            <td>{{ depDepositCashByAdmin.total | number: '1.2-2'}}</td>
                            <td
                              *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                              (EUR {{ depDepositCashByAdmin.eur_total | number: '1.2-2'}}) </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
  
                  </div>
                </div>
              </div>
  
              <div class="card-footer"
                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <div class="description-block border-right">
                      <h3 class="f-left">
                        EUR {{depositCashByAdmin.eur_total}}
                        <!-- <ng-container *ngIf="depositCashByAdmin && depositCashByAdmin.length > 0"> {{
                          depositCashByAdmin[depositCashByAdmin.length-1].total | number: '1.2-2'}}
                        </ng-container> -->
                      </h3>
                      <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                          <span class="description-text">EUR</span> -->
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
  
              <div class="card-header">
                <h3 class="card-title">Total Non Cash Deposit by Admin</h3>
              </div>
  
              <!-- /.card-header -->
  
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
  
                    <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let depNonCashByAdmin of depositNonCashByAdmin.data ">
                            <th>{{ depNonCashByAdmin.name }}:</th>
                            <td>{{ depNonCashByAdmin.total | number: '1.2-2'}}</td>
                            <td
                              *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                              (EUR {{ depNonCashByAdmin.eur_total | number: '1.2-2'}}) </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
  
                  </div>
                </div>
              </div>
  
              <div class="card-footer"
                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <div class="description-block border-right">
                      <h3 class="f-left">
                        EUR {{depositNonCashByAdmin.eur_total}}
                        <!-- <ng-container *ngIf="depositNonCashByAdmin && depositNonCashByAdmin.length > 0"> {{
                          depositNonCashByAdmin[depositNonCashByAdmin.length-1].total | number:
                          '1.2-2'}} </ng-container> -->
                      </h3>
                      <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                          <span class="description-text">EUR</span> -->
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
  
              <div class="card-header">
                <h3 class="card-title">Total Manual Cash Deposit by User</h3>
              </div>
  
              <!-- /.card-header -->
  
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
  
                    <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let depManualCashUser of depositManualCashUser.data ">
                            <th>{{ depManualCashUser.name }}:</th>
                            <td>{{ depManualCashUser.total | number: '1.2-2'}}</td>
                            <td
                              *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                              (EUR {{ depManualCashUser.eur_total| number: '1.2-2' }}) </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
  
                  </div>
                </div>
              </div>
  
              <div class="card-footer"
                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <div class="description-block border-right">
                      <h3 class="f-left">
                        EUR {{depositManualCashUser.eur_total}}
                         <!-- <ng-container *ngIf="depositManualCashUser && depositManualCashUser.length > 0"> {{
                          depositManualCashUser[depositManualCashUser.length-1].total }}
                        </ng-container> -->
                      </h3>
                      <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                          <span class="description-text">EUR</span> -->
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
  
              <div class="card-header">
                <h3 class="card-title">Total Cash Deposit (Gateway) by User</h3>
              </div>
  
              <!-- /.card-header -->
  
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
  
                    <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let depAutoCashUser of depositAutoCashUser.data ">
                            <th>{{ depAutoCashUser.name }}:</th>
                            <td>{{ depAutoCashUser.total| number: '1.2-2' }}</td>
                            <td
                              *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                              (EUR {{ depAutoCashUser.eur_total | number: '1.2-2'}}) </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
  
                  </div>
                </div>
              </div>
  
              <div class="card-footer"
                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <div class="description-block border-right">
                      <h3 class="f-left">
                        EUR {{depositAutoCashUser.eur_total}}
                        <!-- <ng-container *ngIf="depositAutoCashUser && depositAutoCashUser.length > 0"> {{
                          depositAutoCashUser[depositAutoCashUser.length-1].total| number: '1.2-2'
                          }} </ng-container> -->
                      </h3>
                      <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                          <span class="description-text">EUR</span> -->
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </fieldset>
  
      <fieldset>
        <legend>Withdraw</legend>
        <div class="row">
          <div class="col-md-3">
            <div class="card">
  
              <div class="card-header">
                <h3 class="card-title">Total Cash Withdraw by Admin </h3>
              </div>
  
              <!-- /.card-header -->
  
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
  
                    <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let depwithdrawCashByAdmin of withdrawCashByAdmin.data">
                            <th>{{ depwithdrawCashByAdmin.name }}:</th>
                            <td>{{ depwithdrawCashByAdmin.total| number: '1.2-2' }}</td>
                            <td
                              *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                              (EUR {{ depwithdrawCashByAdmin.eur_total| number: '1.2-2' }}) </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
  
                  </div>
                </div>
              </div>
  
              <div class="card-footer"
                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <div class="description-block border-right">
                      <h3 class="f-left">
                        EUR {{withdrawCashByAdmin.eur_total}}
                         <!-- <ng-container *ngIf="withdrawCashByAdmin && withdrawCashByAdmin.length > 0"> {{
                          withdrawCashByAdmin[withdrawCashByAdmin.length-1].total| number: '1.2-2'
                          }} </ng-container> -->
                      </h3>
                      <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                          <span class="description-text">EUR</span> -->
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-3">
            <div class="card">
  
              <div class="card-header">
                <h3 class="card-title">Total Non Cash Withdraw by Admin</h3>
              </div>
  
              <!-- /.card-header -->
  
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
  
                    <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let depwithdrawNonCashByAdmin of withdrawNonCashByAdmin.data ">
                            <th>{{ depwithdrawNonCashByAdmin.name }}:</th>
                            <td>{{ depwithdrawNonCashByAdmin.total| number: '1.2-2' }}</td>
                            <td
                              *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                              (EUR {{ depwithdrawNonCashByAdmin.eur_total| number: '1.2-2' }}) </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
  
                  </div>
                </div>
              </div>
  
              <div class="card-footer"
                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <div class="description-block border-right">
                      <h3 class="f-left">
                        EUR {{withdrawNonCashByAdmin.eur_total}}
                         <!-- <ng-container *ngIf="withdrawNonCashByAdmin && withdrawNonCashByAdmin.length > 0"> {{
                          withdrawNonCashByAdmin[withdrawNonCashByAdmin.length-1].total| number:
                          '1.2-2' }} </ng-container> -->
                      </h3>
                      <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                          <span class="description-text">EUR</span> -->
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-3">
            <div class="card">
  
              <div class="card-header">
                <h3 class="card-title">Total Manual Cash Withdraw by User</h3>
              </div>
  
              <!-- /.card-header -->
  
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
  
                    <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let depwithdrawManualCashUser of withdrawManualCashUser.data ">
                            <th>{{ depwithdrawManualCashUser.name }}:</th>
                            <td>{{ depwithdrawManualCashUser.total | number: '1.2-2'}}</td>
                            <td
                              *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                              (EUR {{ depwithdrawManualCashUser.eur_total | number: '1.2-2'}}) </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
  
                  </div>
                </div>
              </div>
  
              <div class="card-footer"
                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <div class="description-block border-right">
                      <h3 class="f-left">
                        EUR {{withdrawManualCashUser.eur_total}}
                        <!-- <ng-container *ngIf="withdrawManualCashUser && withdrawManualCashUser.length > 0"> {{
                          withdrawManualCashUser[withdrawManualCashUser.length-1].total }}
                        </ng-container> -->
                      </h3>
                      <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                          <span class="description-text">EUR</span> -->
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-3">
            <div class="card">
  
              <div class="card-header">
                <h3 class="card-title">Total Cash(Gateway) Withdraw by User</h3>
              </div>
  
              <!-- /.card-header -->
  
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
  
                    <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let depwithdrawAutoCashUser of withdrawAutoCashUser.data ">
                            <th>{{ depwithdrawAutoCashUser.name }}:</th>
                            <td>{{ depwithdrawAutoCashUser.total| number: '1.2-2' }}</td>
                            <td
                              *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                              (EUR {{ depwithdrawAutoCashUser.eur_total | number: '1.2-2'}}) </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
  
                  </div>
                </div>
              </div>
  
              <div class="card-footer"
                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <div class="description-block border-right">
                      <h3 class="f-left">
                        EUR {{withdrawAutoCashUser.eur_total}}
                         <!-- <ng-container *ngIf="withdrawAutoCashUser && withdrawAutoCashUser.length > 0"> {{
                          withdrawAutoCashUser[withdrawAutoCashUser.length-1].total }}
                        </ng-container> -->
                      </h3>
                      <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                          <span class="description-text">EUR</span> -->
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
            <!-- /.card -->
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
  
            <div class="card-header">
              <h3 class="card-title">Total Deposit</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
  
                  <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let dep of depositData | slice:0: depositData.length-1">
                          <th>{{ dep.name }}:</th>
                          <td>{{ dep.total | number: '1.2-2'}}</td>
                          <td
                            *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                            (EUR {{ dep.eur_total| number: '1.2-2' }}) </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
  
                </div>
              </div>
            </div>
  
            <div class="card-footer"
              *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
              <div class="row">
                <div class="col-sm-12 col-12">
                  <div class="description-block border-right">
                    <h3 class="f-left">
                      EUR <ng-container *ngIf="depositData && depositData.length > 0"> {{
                        depositData[depositData.length-1].total }} </ng-container>
                    </h3>
                    <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                        <span class="description-text">EUR</span> -->
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <!-- /.card -->
        </div>
  
        <div class="col-md-4">
          <div class="card">
  
            <div class="card-header">
              <h3 class="card-title">Total Withdraw</h3>
            </div>
  
            <!-- /.card-header -->
  
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
  
                  <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let dep of withdraw?.data">
                          <th>{{ dep.name }}:</th>
                          <td>{{ dep.total| number: '1.2-2' }}</td>
                          <td
                            *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                            (EUR {{ dep.eur_total | number: '1.2-2'}}) </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
  
                </div>
              </div>
            </div>
  
            <div class="card-footer"
              *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
              <div class="row">
                <div class="col-sm-12 col-12">
                  <div class="description-block border-right">
                    <h3 class="f-left"> EUR {{ withdraw?.eur_total| number: '1.2-2' }} </h3>
                    <!-- <h5 class="description-header">{{ withdraw?.eur_total }}</h5>
                        <span class="description-text">EUR</span> -->
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-4">
          <div class="card">
  
            <div class="card-header">
              <h3 class="card-title">Balance Report
                ( <ng-container [ngSwitch]="params.time_period">
                  <ng-container *ngSwitchCase="'today'">Today</ng-container>
                  <ng-container *ngSwitchCase="'yesterday'">Yesterday</ng-container>
                  <ng-container *ngSwitchCase="'weekly'">This Week </ng-container>
                  <ng-container *ngSwitchCase="'lastMonth'">Last Month </ng-container>
                  <ng-container *ngSwitchCase="'monthly'">This Month </ng-container>
                  <ng-container *ngSwitchCase="'yearly'">This Year</ng-container>
                  <ng-container *ngSwitchDefault>Today</ng-container>
                </ng-container> )
              </h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let ren of balanceReport">
                          <th>{{ ren.name }}:</th>
                          <td> <span [ngStyle]="{'color': ren.revenue_total < 0 ? 'red' : '' }">
                              {{
                              ren.revenue_total | number: '1.2-2'}} </span> </td>
                          <td
                            *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                            <span [ngStyle]="{'color': ren.eur_revenue_total < 0 ? 'red' : '' }">
                              (EUR {{ ren.eur_revenue_total | number: '1.2-2'}}) </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
  
                </div>
              </div>
            </div>
            <div class="card-footer"
              *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
              <div class="row">
                <div class="col-sm-12 col-12">
                  <div class="description-block border-right">
                    <h3 class="f-left" [ngStyle]="{'color': balanceReportEUR < 0 ? 'red' : '' }">
                      EUR {{ balanceReportEUR| number: '1.2-2' }}
                    </h3>
  
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
        <!-- ==================== Client does not want this feature  ================= -->
        <!-- ==================== Client does not want this feature  ================= -->
        <!-- <div class="col-md-4">
      <div class="card">
  
        <div class="card-header">
          <h3 class="card-title">Revenue Report
            <span *ngIf="((checkSuperAdmin) || casinoMenuCheck) || (checkAdmin) && sportMenuCheck"> ( </span>
              <span *ngIf="(checkSuperAdmin) || casinoMenuCheck">Casino</span>
              <span *ngIf="((checkSuperAdmin) || casinoMenuCheck) && (checkAdmin) && sportMenuCheck"> + </span>
              <span *ngIf="(checkAdmin) && sportMenuCheck"> E-Sports</span>
              <span *ngIf="((checkSuperAdmin) || casinoMenuCheck) || (checkAdmin) && sportMenuCheck"> ) </span>
            <ng-container [ngSwitch]="params.time_period">
              <ng-container *ngSwitchCase="'today'">Today</ng-container>
              <ng-container *ngSwitchCase="'weekly'">This Week </ng-container>
              <ng-container *ngSwitchCase="'lastMonth'">Last Month</ng-container>
              <ng-container *ngSwitchCase="'monthly'">This Month </ng-container>
              <ng-container *ngSwitchCase="'yearly'">This Year</ng-container>
              <ng-container *ngSwitchDefault>Today</ng-container>
            </ng-container>
          </h3>
        </div>
        <div class="card-body">
        <div class="row">
          <div class="col-md-12">
  
            <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
              <table class="table">
                <tbody>
                <tr *ngFor="let cep of casinoEsportProfitData">
                  <th>{{ cep.name }}:</th>
                  <td> <span [ngStyle]="{'color': cep.total < 0 ? 'red' : '' }"> {{ cep.total }} </span> </td>
                  <td> <span [ngStyle]="{'color': cep.total_in_eur < 0 ? 'red' : '' }"> (EUR {{ cep.total_in_eur }}) </span> </td>
                </tr>
                </tbody>
              </table>
            </div>
  
          </div>
        </div>
      </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-12 col-12">
              <div class="description-block border-right">
                <h3 class="f-left" [ngStyle]="{'color': casinoEsportProfitGrandTotalInEur < 0 ? 'red' : '' }">
                  EUR {{ casinoEsportProfitGrandTotalInEur }}
                </h3>
  
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div> -->
      </div>
    </div>
  </div>
</ng-container>

<ng-template #empty>
    <ng-container *ngIf="loadDataBool else chartLoader">
      <div style="min-height: 500px;"></div>
    </ng-container>
</ng-template>

<ng-template #chartLoader>

  <img class="chart-loader" src="./assets/dist/gif/loader.gif" />

</ng-template>