fieldset {
  min-width: 0;
  padding: 12px;
  margin: 0px;
  border: 1px solid #00000024;
  margin-bottom: 17px;
  box-shadow: 0 0 0 rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}
legend {
  display: block;
  width: auto;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 19px;
  line-height: inherit;
  color: inherit;
  white-space: normal;
  /* margin-left: 9px; */
  padding: 0px 8px;
}

.custom-style{

  border: 1px solid #ced4da;
  padding: 8px;
  padding-left: 5px;
  border-radius: 5px;
  width: 350px;

}

.chart-loader {
  width: 20%;
}
