<div class="content-wrapper">
    <!-- Content Header (Page header) -->
  
    <app-breadcrumb title="Dashboard" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  
  
  
    <!-- Main content -->
    <ng-container
      *ngIf="this.permissionService.checkPermission('dashboard','financial_activity') || this.permissionService.checkPermission('dashboard','gaming_activity') || this.permissionService.checkPermission('players','R') || this.permissionService.checkPermission('sports_book','R')">
      <section class="content">
        <div class="container-fluid">
  
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
  
              <div class="card">
  
                <!-- /.card-header -->
  
                <div class="card-body">
                  <div class="row">
  
                    <ng-container
                      *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0; else adminOptions">
  
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="tenant_id">Tenant</label>
                          <select class="form-control" id="tenant_id" (change)="filter($event)"
                            [(ngModel)]="params.tenant_id">
                            <option
                              *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0"
                              value="0">All Tenants</option>
                            <option *ngFor="let tenants of tenantsList" [value]="tenants.id">{{tenants.name}}</option>
                          </select>
                        </div>
                      </div>
  
                    </ng-container>
  
  
                    <ng-template #adminOptions>
                      <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="agent_id">Agent</label>
                            <select class="form-control" id="agent_id" select2 (onSelect)="filterSelectAgent($event)"
                              [(ngModel)]="params.agent_id" data-placeholder="Select Agent">
                              <option *ngFor="let adminUser of userList" [value]="adminUser.id">{{adminUser.first_name}}
                                {{adminUser.last_name}}</option>
                            </select>
                          </div>
                        </div>
                      </ng-container>
  
                      <div class="col-md-4" *ngIf="false">
                        <div class="form-group">
                          <label for="player_type">Player Type</label>
                          <select class="form-control" id="player_type" (change)="filter($event)"
                            [(ngModel)]="params.player_type">
                            <option value="all">All Organization Players</option>
                            <option value="direct">Only Direct Players</option>
                          </select>
                        </div>
                      </div>
  
                    </ng-template>
  
                    <div class="col-md-4 d-flex align-items-end">
                      <div class="form-group">
                        <!-- <label for="player_type">{{ dates.start_date }} - {{ dates.end_date }} </label> -->
                        <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;"
                          data-placeholder="Select Time Zone">
                          <option value="">Select Time Zone</option>
                          <option *ngFor="let zone of TIMEZONE" [value]="zone.zonename">{{zone.name}}</option>
                        </select>
                        <!-- <div *ngIf="zone">{{zone}}</div> -->
                      </div>
                    </div>
  
  
                  </div>
  
  
                  <div class="row" style="position: relative;">
                    <div class="col-md-12 ">
  
                      <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('today')" class="btn"
                        [ngClass]="params.time_period == 'today' ? 'btn-success':'btn-default'" type="button"> Today
                      </button> &nbsp;
                      <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('yesterday')"
                        class="btn" [ngClass]="params.time_period == 'yesterday' ? 'btn-success':'btn-default'"
                        type="button"> Yesterday
                      </button> &nbsp;
                      <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('weekly')" class="btn"
                        [ngClass]="params.time_period == 'weekly' ? 'btn-success':'btn-default'" type="button"> This Week
                      </button> &nbsp;
  
                      <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('monthly')" class="btn"
                        [ngClass]="params.time_period == 'monthly' ? 'btn-success':'btn-default'" type="button"> This
                        Month
                      </button> &nbsp;
                      <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('lastMonth')"
                        class="btn" [ngClass]="params.time_period == 'lastMonth' ? 'btn-success':'btn-default'"
                        type="button"> Last Month
                      </button> &nbsp;
                      <!-- <button (click)="setTimePeriod('yearly')" class="btn"
                      [ngClass]="params.time_period == 'yearly' ? 'btn-success':'btn-default'" type="button"> This Year
                    </button>&nbsp; -->
                      <button [disabled]="!loadDataBool" (click)="setTimePeriod('custom')" class="btn"
                        [ngClass]="params.time_period == 'custom' ? 'btn-success':'btn-default'" type="button"> Custom
                        Date
                      </button>
                      &nbsp;
                      <input autocomplete="off" *ngIf="customDate" data-placeholder="Search Time Period"
                        placeholder="Search Time Period" type="text" class="custom-style " id="time_period"
                        [format]="format" daterangetime_picker (onSelect)="setTimePeriod('custom','',$event)" />
  
                      &nbsp;
  
                      <button [disabled]="!loadDataBool" type="button" class="btn btn-warning mr-1"
                      (click)="resetFilter()"> Reset Filter </button>
                      &nbsp;
                      <button [disabled]="!loadDataBool" type="button" class="btn btn-default" (click)="getData()"> <i
                          class="fa fa-refresh"></i>
                      </button>
  
                    </div>
                    <!--<div class="col-md-5 ">
  
                  </div>-->
                  </div>
                </div>
  
              </div>
  
  
            </div>
  
            <!--
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
  
                <div class="info-box-content">
                  <span class="info-box-text">Likes</span>
                  <span class="info-box-number">41,410</span>
                </div>
              </div>
            </div>
  
            <div class="clearfix hidden-md-up"></div>
  
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
  
                <div class="info-box-content">
                  <span class="info-box-text">Sales</span>
                  <span class="info-box-number">760</span>
                </div>
              </div>
            </div>
  
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
  
                <div class="info-box-content">
                  <span class="info-box-text">New Members</span>
                  <span class="info-box-number">2,000</span>
                </div>
              </div>
            </div>
        -->
  
          </div>
          <!-- /.row -->
  
        </div><!--/. container-fluid -->
      </section>
    </ng-container>
    <!-- /.content -->
  
  
  
    <ng-container
      *ngIf="this.permissionService.checkPermission('dashboard','financial_activity') || this.permissionService.checkPermission('dashboard','gaming_activity') || this.permissionService.checkPermission('players','R') || this.permissionService.checkPermission('sports_book','R')">
      <section class="content">
        <div class="container-fluid">
  
          <div class="row">
  
            <div class="col-md-12">
              <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" id="financial_activityl" href="#financial_activity"
                        data-toggle="tab">Financial Activity</a></li>
                    <ng-container *ngIf="this.permissionService.checkPermission('dashboard','gaming_activity')">
                      <li class="nav-item" *ngIf="(checkSuperAdmin) || casinoMenuCheck"><a class="nav-link" id="casinol"
                          href="#casino" data-toggle="tab">Casino</a></li>
                      <ng-container *ngIf="this.permissionService.checkPermission('sports_book','R')">
                        <li class="nav-item" *ngIf="checkSuperAdmin ||  (checkAdmin && sportMenuCheck) "><a
                            class="nav-link" id="sportl" href="#sport" data-toggle="tab">Sport Betting</a></li>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="this.permissionService.checkPermission('players','R')">
                        <li class="nav-item"><a class="nav-link" id="player_activityl" href="#player_activity"
                            data-toggle="tab">Player Activity</a></li>
                    </ng-container>
                  </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                  <div class="tab-content">
  
                    <div class="active tab-pane" id="financial_activity">
                      <div class="row">
                          <div class="col-md-12">
                            <div class="card">
  
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-12">
  
                                    <ng-container *ngIf="loadDataBool;else chartLoader">
                                      <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                                        [options]="depositChartOptionsLine" [callbackFunction]="chartCallback"
                                        [(update)]="updateFlag" [oneToOne]="oneToOneFlag"
                                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                                    </ng-container>
  
                                  </div>
                                </div>
                              </div>
  
                            </div>
                            <!-- /.card -->
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <fieldset>
                            <legend>Deposit</legend>
                            <div class="row">
                              <div class="col-md-3">
                                <div class="card">
        
                                  <div class="card-header">
                                    <h3 class="card-title">Total Cash Deposit by Admin </h3>
                                  </div>
        
                                  <!-- /.card-header -->
        
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-md-12">
        
                                        <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                          <table class="table">
                                            <tbody>
                                              <tr *ngFor="let depDepositCashByAdmin of depositCashByAdmin">
        
                                                <th>{{ depDepositCashByAdmin.name }}:</th>
                                                <td>{{ depDepositCashByAdmin.total | number: '1.2-2'}}</td>
                                                <td
                                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                                  (EUR {{ depDepositCashByAdmin.eur_total | number: '1.2-2'}}) </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
        
                                      </div>
                                    </div>
                                  </div>
        
                                  <div class="card-footer"
                                    *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                    <div class="row">
                                      <div class="col-sm-12 col-12">
                                        <div class="description-block border-right">
                                          <h3 class="f-left">
                                            EUR <ng-container
                                              *ngIf="depositCashByAdmin && depositCashByAdmin.length > 0"> {{
                                              depositCashByAdmin[depositCashByAdmin.length-1].total | number: '1.2-2'}}
                                            </ng-container>
                                          </h3>
                                          <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                                              <span class="description-text">EUR</span> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
        
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="card">
        
                                  <div class="card-header">
                                    <h3 class="card-title">Total Non Cash Deposit by Admin</h3>
                                  </div>
        
                                  <!-- /.card-header -->
        
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-md-12">
        
                                        <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                          <table class="table">
                                            <tbody>
                                              <tr *ngFor="let depNonCashByAdmin of depositNonCashByAdmin ">
                                                <th>{{ depNonCashByAdmin.name }}:</th>
                                                <td>{{ depNonCashByAdmin.total | number: '1.2-2'}}</td>
                                                <td
                                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                                  (EUR {{ depNonCashByAdmin.eur_total | number: '1.2-2'}}) </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
        
                                      </div>
                                    </div>
                                  </div>
        
                                  <div class="card-footer"
                                    *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                    <div class="row">
                                      <div class="col-sm-12 col-12">
                                        <div class="description-block border-right">
                                          <h3 class="f-left">
                                            EUR <ng-container
                                              *ngIf="depositNonCashByAdmin && depositNonCashByAdmin.length > 0"> {{
                                              depositNonCashByAdmin[depositNonCashByAdmin.length-1].total | number:
                                              '1.2-2'}} </ng-container>
                                          </h3>
                                          <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                                              <span class="description-text">EUR</span> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
        
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="card">
        
                                  <div class="card-header">
                                    <h3 class="card-title">Total Manual Cash Deposit by User</h3>
                                  </div>
        
                                  <!-- /.card-header -->
        
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-md-12">
        
                                        <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                          <table class="table">
                                            <tbody>
                                              <tr *ngFor="let depManualCashUser of depositManualCashUser ">
                                                <th>{{ depManualCashUser.name }}:</th>
                                                <td>{{ depManualCashUser.total | number: '1.2-2'}}</td>
                                                <td
                                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                                  (EUR {{ depManualCashUser.eur_total| number: '1.2-2' }}) </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
        
                                      </div>
                                    </div>
                                  </div>
        
                                  <div class="card-footer"
                                    *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                    <div class="row">
                                      <div class="col-sm-12 col-12">
                                        <div class="description-block border-right">
                                          <h3 class="f-left">
                                            EUR <ng-container
                                              *ngIf="depositManualCashUser && depositManualCashUser.length > 0"> {{
                                              depositManualCashUser[depositManualCashUser.length-1].total }}
                                            </ng-container>
                                          </h3>
                                          <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                                              <span class="description-text">EUR</span> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
        
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="card">
        
                                  <div class="card-header">
                                    <h3 class="card-title">Total Cash Deposit (Gateway) by User</h3>
                                  </div>
        
                                  <!-- /.card-header -->
        
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-md-12">
        
                                        <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                          <table class="table">
                                            <tbody>
                                              <tr *ngFor="let depAutoCashUser of depositAutoCashUser ">
                                                <th>{{ depAutoCashUser.name }}:</th>
                                                <td>{{ depAutoCashUser.total| number: '1.2-2' }}</td>
                                                <td
                                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                                  (EUR {{ depAutoCashUser.eur_total | number: '1.2-2'}}) </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
        
                                      </div>
                                    </div>
                                  </div>
        
                                  <div class="card-footer"
                                    *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                    <div class="row">
                                      <div class="col-sm-12 col-12">
                                        <div class="description-block border-right">
                                          <h3 class="f-left">
                                            EUR <ng-container
                                              *ngIf="depositAutoCashUser && depositAutoCashUser.length > 0"> {{
                                              depositAutoCashUser[depositAutoCashUser.length-1].total| number: '1.2-2'
                                              }} </ng-container>
                                          </h3>
                                          <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                                              <span class="description-text">EUR</span> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
        
                                </div>
                              </div>
                            </div>
                          </fieldset>
  
                          <fieldset>
                            <legend>Withdraw</legend>
                            <div class="row">
                              <div class="col-md-3">
                                <div class="card">
        
                                  <div class="card-header">
                                    <h3 class="card-title">Total Cash Withdraw by Admin </h3>
                                  </div>
        
                                  <!-- /.card-header -->
        
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-md-12">
        
                                        <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                          <table class="table">
                                            <tbody>
                                              <tr *ngFor="let depwithdrawCashByAdmin of withdrawCashByAdmin">
                                                <th>{{ depwithdrawCashByAdmin.name }}:</th>
                                                <td>{{ depwithdrawCashByAdmin.total| number: '1.2-2' }}</td>
                                                <td
                                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                                  (EUR {{ depwithdrawCashByAdmin.eur_total| number: '1.2-2' }}) </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
        
                                      </div>
                                    </div>
                                  </div>
        
                                  <div class="card-footer"
                                    *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                    <div class="row">
                                      <div class="col-sm-12 col-12">
                                        <div class="description-block border-right">
                                          <h3 class="f-left">
                                            EUR <ng-container
                                              *ngIf="withdrawCashByAdmin && withdrawCashByAdmin.length > 0"> {{
                                              withdrawCashByAdmin[withdrawCashByAdmin.length-1].total| number: '1.2-2'
                                              }} </ng-container>
                                          </h3>
                                          <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                                              <span class="description-text">EUR</span> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
        
                                </div>
                                <!-- /.card -->
                              </div>
                              <div class="col-md-3">
                                <div class="card">
        
                                  <div class="card-header">
                                    <h3 class="card-title">Total Non Cash Withdraw by Admin</h3>
                                  </div>
        
                                  <!-- /.card-header -->
        
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-md-12">
        
                                        <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                          <table class="table">
                                            <tbody>
                                              <tr *ngFor="let depwithdrawNonCashByAdmin of withdrawNonCashByAdmin ">
                                                <th>{{ depwithdrawNonCashByAdmin.name }}:</th>
                                                <td>{{ depwithdrawNonCashByAdmin.total| number: '1.2-2' }}</td>
                                                <td
                                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                                  (EUR {{ depwithdrawNonCashByAdmin.eur_total| number: '1.2-2' }}) </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
        
                                      </div>
                                    </div>
                                  </div>
        
                                  <div class="card-footer"
                                    *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                    <div class="row">
                                      <div class="col-sm-12 col-12">
                                        <div class="description-block border-right">
                                          <h3 class="f-left">
                                            EUR <ng-container
                                              *ngIf="withdrawNonCashByAdmin && withdrawNonCashByAdmin.length > 0"> {{
                                              withdrawNonCashByAdmin[withdrawNonCashByAdmin.length-1].total| number:
                                              '1.2-2' }} </ng-container>
                                          </h3>
                                          <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                                              <span class="description-text">EUR</span> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
        
                                </div>
                                <!-- /.card -->
                              </div>
                              <div class="col-md-3">
                                <div class="card">
        
                                  <div class="card-header">
                                    <h3 class="card-title">Total Manual Cash Withdraw by User</h3>
                                  </div>
        
                                  <!-- /.card-header -->
        
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-md-12">
        
                                        <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                          <table class="table">
                                            <tbody>
                                              <tr *ngFor="let depwithdrawManualCashUser of withdrawManualCashUser ">
                                                <th>{{ depwithdrawManualCashUser.name }}:</th>
                                                <td>{{ depwithdrawManualCashUser.total | number: '1.2-2'}}</td>
                                                <td
                                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                                  (EUR {{ depwithdrawManualCashUser.eur_total | number: '1.2-2'}}) </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
        
                                      </div>
                                    </div>
                                  </div>
        
                                  <div class="card-footer"
                                    *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                    <div class="row">
                                      <div class="col-sm-12 col-12">
                                        <div class="description-block border-right">
                                          <h3 class="f-left">
                                            EUR <ng-container
                                              *ngIf="withdrawManualCashUser && withdrawManualCashUser.length > 0"> {{
                                              withdrawManualCashUser[withdrawManualCashUser.length-1].total }}
                                            </ng-container>
                                          </h3>
                                          <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                                              <span class="description-text">EUR</span> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
        
                                </div>
                                <!-- /.card -->
                              </div>
                              <div class="col-md-3">
                                <div class="card">
        
                                  <div class="card-header">
                                    <h3 class="card-title">Total Cash(Gateway) Withdraw by User</h3>
                                  </div>
        
                                  <!-- /.card-header -->
        
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-md-12">
        
                                        <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                          <table class="table">
                                            <tbody>
                                              <tr *ngFor="let depwithdrawAutoCashUser of withdrawAutoCashUser ">
                                                <th>{{ depwithdrawAutoCashUser.name }}:</th>
                                                <td>{{ depwithdrawAutoCashUser.total| number: '1.2-2' }}</td>
                                                <td
                                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                                  (EUR {{ depwithdrawAutoCashUser.eur_total | number: '1.2-2'}}) </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
        
                                      </div>
                                    </div>
                                  </div>
        
                                  <div class="card-footer"
                                    *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                    <div class="row">
                                      <div class="col-sm-12 col-12">
                                        <div class="description-block border-right">
                                          <h3 class="f-left">
                                            EUR <ng-container
                                              *ngIf="withdrawAutoCashUser && withdrawAutoCashUser.length > 0"> {{
                                              withdrawAutoCashUser[withdrawAutoCashUser.length-1].total }}
                                            </ng-container>
                                          </h3>
                                          <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                                              <span class="description-text">EUR</span> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
        
                                </div>
                                <!-- /.card -->
                              </div>
                            </div>
                          </fieldset>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="card">
      
                                <div class="card-header">
                                  <h3 class="card-title">Total Deposit</h3>
                                </div>
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12">
      
                                      <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                        <table class="table">
                                          <tbody>
                                            <tr *ngFor="let dep of depositData | slice:0: depositData.length-1">
                                              <th>{{ dep.name }}:</th>
                                              <td>{{ dep.total | number: '1.2-2'}}</td>
                                              <td
                                                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                                (EUR {{ dep.eur_total| number: '1.2-2' }}) </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
      
                                    </div>
                                  </div>
                                </div>
      
                                <div class="card-footer"
                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                  <div class="row">
                                    <div class="col-sm-12 col-12">
                                      <div class="description-block border-right">
                                        <h3 class="f-left">
                                          EUR <ng-container *ngIf="depositData && depositData.length > 0"> {{
                                            depositData[depositData.length-1].total }} </ng-container>
                                        </h3>
                                        <!-- <h5 class="description-header" *ngIf="depositData && depositData.length > 0">{{ depositData[depositData.length-1].total }}</h5>
                                            <span class="description-text">EUR</span> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
      
                              </div>
                              <!-- /.card -->
                            </div>
      
                            <div class="col-md-4">
                              <div class="card">
      
                                <div class="card-header">
                                  <h3 class="card-title">Total Withdraw</h3>
                                </div>
      
                                <!-- /.card-header -->
      
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12">
      
                                      <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                        <table class="table">
                                          <tbody>
                                            <tr *ngFor="let dep of withdraw?.data">
                                              <th>{{ dep.name }}:</th>
                                              <td>{{ dep.total| number: '1.2-2' }}</td>
                                              <td
                                                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                                (EUR {{ dep.eur_total | number: '1.2-2'}}) </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
      
                                    </div>
                                  </div>
                                </div>
      
                                <div class="card-footer"
                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                  <div class="row">
                                    <div class="col-sm-12 col-12">
                                      <div class="description-block border-right">
                                        <h3 class="f-left"> EUR {{ withdraw?.eur_total| number: '1.2-2' }} </h3>
                                        <!-- <h5 class="description-header">{{ withdraw?.eur_total }}</h5>
                                            <span class="description-text">EUR</span> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
      
                              </div>
                              <!-- /.card -->
                            </div>
                            <div class="col-md-4">
                              <div class="card">
      
                                <div class="card-header">
                                  <h3 class="card-title">Balance Report
                                    ( <ng-container [ngSwitch]="params.time_period">
                                      <ng-container *ngSwitchCase="'today'">Today</ng-container>
                                      <ng-container *ngSwitchCase="'yesterday'">Yesterday</ng-container>
                                      <ng-container *ngSwitchCase="'weekly'">This Week </ng-container>
                                      <ng-container *ngSwitchCase="'lastMonth'">Last Month </ng-container>
                                      <ng-container *ngSwitchCase="'monthly'">This Month </ng-container>
                                      <ng-container *ngSwitchCase="'yearly'">This Year</ng-container>
                                      <ng-container *ngSwitchDefault>Today</ng-container>
                                    </ng-container> )
                                  </h3>
                                </div>
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                        <table class="table">
                                          <tbody>
                                            <tr *ngFor="let ren of balanceReport">
                                              <th>{{ ren.name }}:</th>
                                              <td> <span [ngStyle]="{'color': ren.revenue_total < 0 ? 'red' : '' }">
                                                  {{
                                                  ren.revenue_total | number: '1.2-2'}} </span> </td>
                                              <td
                                                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                                <span [ngStyle]="{'color': ren.eur_revenue_total < 0 ? 'red' : '' }">
                                                  (EUR {{ ren.eur_revenue_total | number: '1.2-2'}}) </span> </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
      
                                    </div>
                                  </div>
                                </div>
                                <div class="card-footer"
                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                  <div class="row">
                                    <div class="col-sm-12 col-12">
                                      <div class="description-block border-right">
                                        <h3 class="f-left" [ngStyle]="{'color': balanceReportEUR < 0 ? 'red' : '' }">
                                          EUR {{ balanceReportEUR }}
                                        </h3>
      
                                      </div>
                                    </div>
                                  </div>
                                </div>
      
                              </div>
                            </div>
                            <!-- ==================== Client does not want this feature  ================= -->
                            <!-- ==================== Client does not want this feature  ================= -->
                            <!-- <div class="col-md-4">
                          <div class="card">
      
                            <div class="card-header">
                              <h3 class="card-title">Revenue Report
                                <span *ngIf="((checkSuperAdmin) || casinoMenuCheck) || (checkAdmin) && sportMenuCheck"> ( </span>
                                  <span *ngIf="(checkSuperAdmin) || casinoMenuCheck">Casino</span>
                                  <span *ngIf="((checkSuperAdmin) || casinoMenuCheck) && (checkAdmin) && sportMenuCheck"> + </span>
                                  <span *ngIf="(checkAdmin) && sportMenuCheck"> E-Sports</span>
                                  <span *ngIf="((checkSuperAdmin) || casinoMenuCheck) || (checkAdmin) && sportMenuCheck"> ) </span>
                                <ng-container [ngSwitch]="params.time_period">
                                  <ng-container *ngSwitchCase="'today'">Today</ng-container>
                                  <ng-container *ngSwitchCase="'weekly'">This Week </ng-container>
                                  <ng-container *ngSwitchCase="'lastMonth'">Last Month</ng-container>
                                  <ng-container *ngSwitchCase="'monthly'">This Month </ng-container>
                                  <ng-container *ngSwitchCase="'yearly'">This Year</ng-container>
                                  <ng-container *ngSwitchDefault>Today</ng-container>
                                </ng-container>
                              </h3>
                            </div>
                            <div class="card-body">
                            <div class="row">
                              <div class="col-md-12">
      
                                <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                  <table class="table">
                                    <tbody>
                                    <tr *ngFor="let cep of casinoEsportProfitData">
                                      <th>{{ cep.name }}:</th>
                                      <td> <span [ngStyle]="{'color': cep.total < 0 ? 'red' : '' }"> {{ cep.total }} </span> </td>
                                      <td> <span [ngStyle]="{'color': cep.total_in_eur < 0 ? 'red' : '' }"> (EUR {{ cep.total_in_eur }}) </span> </td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
      
                              </div>
                            </div>
                          </div>
                            <div class="card-footer">
                              <div class="row">
                                <div class="col-sm-12 col-12">
                                  <div class="description-block border-right">
                                    <h3 class="f-left" [ngStyle]="{'color': casinoEsportProfitGrandTotalInEur < 0 ? 'red' : '' }">
                                      EUR {{ casinoEsportProfitGrandTotalInEur }}
                                    </h3>
      
                                  </div>
                                </div>
                              </div>
                            </div>
      
                          </div>
                        </div> -->
                          </div>
                        </div>
                      </div>
                      
                    </div>
  
                    <!-- /.tab-pane -->
                    <ng-container *ngIf="this.permissionService.checkPermission('dashboard','gaming_activity')">
                      <div class="tab-pane" id="casino">
  
                        <div class="row">
  
                          <div class="col-md-6">
                            <div class="card">
  
                              <!-- <div class="card-header"> -->
                              <!--<h3 class="card-title">GGR</h3>                -->
                              <!-- </div>               -->
                              <!-- /.card-header -->
  
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-12">
  
                                    <ng-container *ngIf="loadDataBool;else chartLoader">
                                      <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                                        [options]="ggrChartOptionsLine" [callbackFunction]="chartCallback"
                                        [(update)]="updateFlag" [oneToOne]="oneToOneFlag"
                                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                                    </ng-container>
  
                                  </div>
                                </div>
                              </div>
  
                            </div>
                            <!-- /.card -->
                          </div>
                          <!-- /.col -->
  
                          <div class="col-md-6">
                            <div class="card">
  
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-12">
  
                                    <ng-container *ngIf="loadDataBool;else chartLoader">
                                      <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                                        [options]="totalStakeChartOptionsLine" [callbackFunction]="chartCallback"
                                        [(update)]="updateFlag" [oneToOne]="oneToOneFlag"
                                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                                    </ng-container>
  
                                  </div>
                                </div>
                              </div>
  
                            </div>
                            <!-- /.card -->
                          </div>
  
                          <!-- /.col -->
                          
                        </div>
                        
                        <div class="row">
  
                          <div class="col-md-4">
                            <div class="card">
  
                              <div class="card-header">
                                <h3 class="card-title">Total Bet</h3>
                              </div>
  
                              <!-- /.card-header -->
  
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-12">
  
                                    <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                      <table class="table">
                                        <tbody>
                                          <tr *ngFor="let dep of stakeData | slice:0: stakeData.length-1">
                                            <th>{{ dep.name }}:</th>
                                            <td>{{ dep.total }}</td>
                                            <td
                                              *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                              (EUR {{ dep.eur_total }}) </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
  
                                  </div>
                                </div>
                              </div>
  
                              <div class="card-footer"
                                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                <div class="row">
                                  <div class="col-sm-12 col-12">
                                    <div class="description-block border-right">
                                      <h3 class="f-left">
                                        EUR <ng-container *ngIf="stakeData && stakeData.length > 0"> {{
                                          stakeData[stakeData.length-1].total }} </ng-container>
                                      </h3>
                                      <!-- <h5 class="description-header" *ngIf="stakeData && stakeData.length > 0">{{ stakeData[stakeData.length-1].total }}</h5>
                                          <span class="description-text">EUR</span> -->
                                    </div>
                                  </div>
                                </div>
                              </div>
  
                            </div>
                            <!-- /.card -->
                          </div>
  
  
  
                          <div class="col-md-4">
                            <div class="card">
  
                              <div class="card-header">
                                <h3 class="card-title">Total Win Amount</h3>
                              </div>
  
                              <!-- /.card-header -->
  
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-12">
  
                                    <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                      <table class="table">
                                        <tbody>
                                          <tr *ngFor="let dep of winAmountData?.data">
                                            <th>{{ dep.name }}:</th>
                                            <td>{{ dep.total }}</td>
                                            <td
                                              *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                              (EUR {{ dep.eur_total }}) </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
  
                                  </div>
                                </div>
                              </div>
  
                              <div class="card-footer"
                                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                <div class="row">
                                  <div class="col-sm-12 col-12">
                                    <div class="description-block border-right">
                                      <h3 class="f-left"> EUR {{ winAmountData?.eur_total }} </h3>
                                      <!-- <h5 class="description-header">{{ winAmountData?.eur_total }}</h5>
                                          <span class="description-text">EUR</span> -->
                                    </div>
                                  </div>
                                </div>
                              </div>
  
                            </div>
                            <!-- /.card -->
                          </div>
  
                          <div class="col-md-4">
                            <div class="card">
  
                              <div class="card-header">
                                <h3 class="card-title">GGR</h3>
                              </div>
  
                              <!-- /.card-header -->
  
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-12">
  
                                    <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                      <table class="table">
                                        <tbody>
                                          <tr *ngFor="let dep of ggrData | slice:0: ggrData.length-1">
                                            <th>{{ dep.name }}:</th>
                                            <td>{{ dep.total }}</td>
                                            <td
                                              *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                              (EUR {{ dep.eur_total }}) </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
  
                                  </div>
                                </div>
                              </div>
  
                              <div class="card-footer"
                                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                <div class="row">
                                  <div class="col-sm-12 col-12">
                                    <div class="description-block border-right">
                                      <h3 class="f-left">
                                        EUR <ng-container *ngIf="ggrData && ggrData.length > 0"> {{
                                          ggrData[ggrData.length-1].total }} </ng-container>
                                      </h3>
                                      <!-- <h5 class="description-header" *ngIf="ggrData && ggrData.length > 0">{{ ggrData[ggrData.length-1].total }}</h5> -->
                                      <!-- <span class="description-text eur_total">EUR
                                            <ng-container *ngIf="ggrData && ggrData.length > 0"> {{ ggrData[ggrData.length-1].total }} </ng-container>
                                          </span> -->
                                    </div>
                                  </div>
                                </div>
                              </div>
  
                            </div>
                            <!-- /.card -->
                          </div>
  
  
  
  
  
                        </div>
                        <!-- <div class="row">
  
  
                            
  
  
                            <div class="col-md-4">
                              <div class="card">
  
                                <div class="card-header">
                                  <h3 class="card-title">Revenue Report</h3>
                                </div>
  
                                
  
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12">
  
                                      <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                        <table class="table">
                                          <tbody>
                                          <tr>
                                            <th>Currency</th>
                                            <th>Total Debit</th>
                                            <th>Total Return</th>
                                            <th title="(Total IN Stack - Out Win) = Profit Amount ">Profit Amount</th>
                                          </tr>
                                            <tr *ngFor="let cs of casinoProfitData">
                                              <th>{{ cs.name }}:</th>
                                              <td> <span [ngStyle]="{'color': cs.total_in < 0 ? 'red' : '' }"> {{ cs.total_in }} </span> </td>
                                              <td> <span [ngStyle]="{'color': cs.total_out < 0 ? 'red' : '' }"> {{ cs.total_out }} </span> </td>
                                              <td>
                                                <span [ngStyle]="{'color': cs.grand_total < 0 ? 'red' : '' }"> {{ cs.grand_total }}  </span>
                                                <span [ngStyle]="{'color': cs.total_in_eur < 0 ? 'red' : '' }"> (EUR {{ cs.total_in_eur }})   </span>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
  
                                    </div>
                                  </div>
                                </div>
  
                                <div class="card-footer">
                                  <div class="row">
                                    <div class="col-sm-12 col-12">
                                      <div class="description-block border-right">
                                        <h3 class="f-left" [ngStyle]="{'color': casinoProfitGrandTotalInEur < 0 ? 'red' : '' }">
                                          EUR {{ casinoProfitGrandTotalInEur }}
                                        </h3>
                                      <h5 class="description-header" *ngIf="stakeData && stakeData.length > 0">{{ stakeData[stakeData.length-1].total }}</h5>
                                        <span class="description-text">EUR</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
  
                              </div>
                        
                            </div>
                            
  
                          </div> -->
  
                      </div>
                    </ng-container>
  
                    <!-- /.tab-pane -->
  
                    <ng-container *ngIf="this.permissionService.checkPermission('dashboard','gaming_activity')">
                      <div class="tab-pane" id="sport">
  
                        <div class="row">
  
                          <div class="col-md-6">
                            <div class="card">
  
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-12">
  
                                    <ng-container *ngIf="loadDataBool;else chartLoader">
                                      <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                                        [options]="betslipChartOptionsLine" [callbackFunction]="chartCallback"
                                        [(update)]="updateFlag" [oneToOne]="oneToOneFlag"
                                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                                    </ng-container>
  
                                  </div>
                                </div>
                              </div>
  
                            </div>
                          </div>
  
  
                          <div class="col-md-6">
                            <div class="card">
  
                              <div class="card-header">
                                <h3 class="card-title">Latest Betslips</h3>
                              </div>
  
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-12">
  
                                    <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                      <table class="table">
                                        <thead>
                                          <tr>
                                            <th>Betslip Id</th>
                                            <th>Stake Amount</th>
                                            <th>Possible Return Amount</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let betslip of betslipData?.latest_betslips">
                                            <td>{{ betslip.id }}</td>
                                            <td>{{ betslip.stake | number: '1.2-2' }}</td>
                                            <td>{{ betslip.possible_win_amount | number: '1.2-2' }}</td>
                                          </tr>
                                          <tr
                                            *ngIf="betslipData?.latest_betslips && betslipData?.latest_betslips?.length == 0">
                                            <td class="tnodata" colspan="3"> No Betslip Found </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
  
                                  </div>
                                </div>
                              </div>
  
                              <div class="card-footer">
                                <div class="row">
  
                                  <div class="col-12 col-sm-6">
                                    <div class="info-box mb-6">
                                      <span class="info-box-icon bg-primary elevation-1"><i
                                          class="fas fa-handshake-o"></i></span>
  
                                      <div class="info-box-content">
                                        <span class="info-box-text">Open Betslips</span>
                                        <span class="info-box-number">{{betslipData?.open_betslips}}</span>
                                      </div>
                                    </div>
                                  </div>
  
                                  <div class="clearfix hidden-md-up"></div>
  
                                  <div class="col-12 col-sm-6">
                                    <div class="info-box mb-6">
                                      <span class="info-box-icon bg-success elevation-1"><i
                                          class="fas fa-money"></i></span>
  
                                      <div class="info-box-content">
                                        <span class="info-box-text">Total Betslips</span>
                                        <span class="info-box-number">{{betslipData?.total_betslips}}</span>
                                      </div>
                                    </div>
                                  </div>
  
                                </div>
                              </div>
  
                            </div>
                            <!-- /.card -->
                          </div>
  
  
                        </div>
                        <ng-container *ngIf="this.permissionService.checkPermission('dashboard','financial_activity')">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="card">
  
                                <div class="card-header">
                                  <h3 class="card-title">Revenue Report (GGR Report)</h3>
                                </div>
  
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12">
  
                                      <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th>Currency</th>
                                              <th>Total Debit <br><small>(Non-cash)</small></th>
                                              <th>Total Return <br><small>(Non-cash)</small></th>
                                              <th title="((Total IN Stack(cash+noncash) - Out Win)) = Profit Amount ">
                                                Profit Amount <br><small>((Total IN Stack (cash + noncash) - Out Win) ) =
                                                  Profit Amount</small></th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let sport of sportProfitData">
                                              <td>{{ sport.name }}</td>
                                              <td> <span [ngStyle]="{'color': sport.total_in_amount < 0 ? 'red' : '' }">
                                                  {{
                                                  sport.total_in_amount }} </span> ({{sport.total_in_non_cash }})</td>
                                              <td> <span [ngStyle]="{'color': sport.total_out_amount < 0 ? 'red' : '' }">
                                                  {{
                                                  sport.total_out_amount }} </span> ({{sport.total_out_non_cash }})</td>
                                              <td>
                                                <span [ngStyle]="{'color': sport.grand_total < 0 ? 'red' : '' }"> {{
                                                  sport.grand_total }} </span>
                                                <span
                                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable"
                                                  [ngStyle]="{'color': sport.total_in_eur < 0 ? 'red' : '' }"> (EUR {{
                                                  sport.total_in_eur }} ) </span>
                                              </td>
                                            </tr>
                                            <tr *ngIf="sportProfitData && sportProfitData.length == 0">
                                              <td class="tnodata" colspan="4"> No Found </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
  
                                    </div>
                                  </div>
                                </div>
  
                                <div class="card-footer"
                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                  <div class="row">
                                    <div class="col-12 col-sm-6">
                                      <span [ngStyle]="{'color': sportProfitGrandTotalInEur < 0 ? 'red' : '' }">
                                        EUR {{ sportProfitGrandTotalInEur }}
                                      </span>
                                    </div>
                                  </div>
                                </div>
  
                              </div>
                              <!-- /.card -->
                            </div>
                          </div>
                        </ng-container>
  
                      </div>
                    </ng-container>
  
                    <ng-container *ngIf="this.permissionService.checkPermission('players','R')">
                        <div class="tab-pane" id="player_activity">
                        <div class="row">     
                            <div class="col-md-12">
                              <h5><b>User Balance Info</b></h5>
                            </div>
    
                            <div class="col-md-6">
                              <div class="card">
    
                                <div class="card-header">
                                  <h3 class="card-title">Current Real balance</h3>
                                </div>
    
                                <!-- /.card-header -->
    
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12">
    
                                      <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                        <table class="table">
                                          <tbody>
                                            <tr *ngFor="let dep of user_balance?.data">
                                              <th>{{ dep.name }}:</th>
                                              <td>{{ dep.real_balance }}</td>
                                              <td
                                                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                                (EUR {{ dep.eur_real }}) </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
    
                                    </div>
                                  </div>
                                </div>
    
                                <div class="card-footer"
                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                  <div class="row">
                                    <div class="col-sm-12 col-12">
                                      <div class="description-block border-right">
                                        <h3 class="f-left"> EUR {{ user_balance?.eur_real_total }} </h3>
                                        <!-- <h5 class="description-header"> {{ user_balance?.eur_real_total }} </h5>
                                                <span class="description-text">EUR</span> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
    
                              </div>
                              <!-- /.card -->
                            </div>
    
                            <div class="col-md-6">
                              <div class="card">
    
                                <div class="card-header">
                                  <h3 class="card-title">Current Bonus Balance</h3>
                                </div>
    
                                <!-- /.card-header -->
    
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12">
    
                                      <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                        <table class="table">
                                          <tbody>
                                            <tr *ngFor="let dep of user_balance?.data">
                                              <th>{{ dep.name }}:</th>
                                              <td>{{ dep.bonus_balance }}</td>
                                              <td
                                                *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                                (EUR {{ dep.eur_bonus }}) </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
    
                                    </div>
                                  </div>
                                </div>
    
                                <div class="card-footer"
                                  *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                                  <div class="row">
                                    <div class="col-sm-12 col-12">
                                      <div class="description-block border-right">
                                        <h3 class="f-left"> EUR {{ user_balance?.eur_bonus_total }} </h3>
                                        <!-- <h5 class="description-header"> {{ user_balance?.eur_bonus_total }} </h5>
                                                <span class="description-text">EUR</span> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
    
                              </div>
                              <!-- /.card -->
                            </div>
                        </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="card">
  
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-12">
  
                                  <ng-container *ngIf="loadDataBool;else chartLoader">
                                    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                                      [options]="activePlayerChartOptionsLine" [callbackFunction]="chartCallback"
                                      [(update)]="updateFlag" [oneToOne]="oneToOneFlag"
                                      style="width: 100%; height: 410px; display: block;"></highcharts-chart>
                                  </ng-container>
  
                                </div>
                              </div>
                            </div>
  
                          </div>
                          <!-- /.card -->
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                  <div class="card">
        
                                    <div class="card-header">
                                      <h3 class="card-title">
                                        <span class="pull-left">
                                          Active unique players
                                          ( <ng-container [ngSwitch]="params.time_period">
                                            <ng-container *ngSwitchCase="'today'">Today</ng-container>
                                            <ng-container *ngSwitchCase="'yesterday'">Yesterday</ng-container>
                                            <ng-container *ngSwitchCase="'weekly'">This Week </ng-container>
                                            <ng-container *ngSwitchCase="'lastMonth'">Last Month </ng-container>
                                            <ng-container *ngSwitchCase="'monthly'">This Month </ng-container>
                                            <ng-container *ngSwitchCase="'yearly'">This Year</ng-container>
                                            <ng-container *ngSwitchCase="'custom'">From {{ dates.start_date}} To {{
                                              dates.end_date}}</ng-container>
                                            <ng-container *ngSwitchDefault>Today</ng-container>
                                          </ng-container> )
                                        </span>
        
                                      </h3>
                                    </div>
        
                                    <div class="card-footer">
        
                                      <div class="row">
                                        <div class="col-sm-12 col-12">
                                          <div class="description-block border-right">
                                            <h3 class="f-left"> {{ betCount }} </h3>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
        
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="card">
        
                                    <div class="card-header">
                                      <h3 class="card-title">Total Players Registered
                                        <ng-container [ngSwitch]="params.time_period">
                                          <ng-container *ngSwitchCase="'today'">Today</ng-container>
                                          <ng-container *ngSwitchCase="'yesterday'">Yesterday</ng-container>
                                          <ng-container *ngSwitchCase="'weekly'">This Week </ng-container>
                                          <ng-container *ngSwitchCase="'lastMonth'">Last Month </ng-container>
                                          <ng-container *ngSwitchCase="'monthly'">This Month </ng-container>
                                          <ng-container *ngSwitchCase="'yearly'">This Year</ng-container>
                                          <ng-container *ngSwitchCase="'custom'">From {{ dates.start_date}} To {{
                                            dates.end_date}}</ng-container>
                                          <ng-container *ngSwitchDefault>Today</ng-container>
                                        </ng-container>
                                      </h3>
                                    </div>
        
                                    <div class="card-footer">
        
                                      <div class="row">
                                        <div class="col-sm-12 col-12">
                                          <div class="description-block border-right">
                                            <h3 class="f-left"> {{reg_player}} </h3>
                                            <!-- <h5 class="description-header">{{reg_player}}</h5> -->
                                          </div>
                                        </div>
                                      </div>
                                    </div>
        
                                  </div>
        
                                </div>
                                <div class="col-md-12">
                                    <div class="card">
                
                                        <div class="card-header">
                                          <h3 class="card-title">Total active unique players
                                            ( <ng-container [ngSwitch]="params.time_period">
                                              <ng-container *ngSwitchCase="'today'">Today</ng-container>
                                              <ng-container *ngSwitchCase="'weekly'">This Week </ng-container>
                                              <ng-container *ngSwitchCase="'lastMonth'">Last Month </ng-container>
                                              <ng-container *ngSwitchCase="'monthly'">This Month </ng-container>
                                              <ng-container *ngSwitchCase="'yearly'">This Year</ng-container>
                                              <ng-container *ngSwitchDefault>Today</ng-container>
                                            </ng-container> )
                                          </h3>
                                        </div>
                            
                                        <div class="card-footer">
                            
                                          <div class="row">
                                            <div class="col-sm-12 col-12">
                                              <div class="description-block border-right">
                                                <h3 class="f-left"> {{betCount}} </h3>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                            
                                      </div>
                                </div>
                              </div>
                          
                          <!-- /.card -->
                
                        </div>
                
                
                        <div class="col-md-12">
                          <div class="card">
                
                            <div class="card-header">
                              <h3 class="card-title">List of active unique players
                                ( <ng-container [ngSwitch]="params.time_period">
                                  <ng-container *ngSwitchCase="'today'">Today</ng-container>
                                  <ng-container *ngSwitchCase="'weekly'">This Week </ng-container>
                                  <ng-container *ngSwitchCase="'lastMonth'">Last Month </ng-container>
                                  <ng-container *ngSwitchCase="'monthly'">This Month </ng-container>
                                  <ng-container *ngSwitchCase="'yearly'">This Year</ng-container>
                                  <ng-container *ngSwitchDefault>Today</ng-container>
                                </ng-container> )
                              </h3>
                            </div>
                
                            <div class="card-body">
                
                              <div class="row">
                                <div class="col-md-12 col-12">
                                  <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                                    <table class="table">
                                      <tbody>
                                        <tr>
                                          <th>User Name</th>
                                          <th>Email</th>
                                          <th>Total Bet Amount</th>
                                          <th>Total Bet Count</th>
                                          <th>Agent Name</th>
                                          <!-- <th>Bet Amount</th> -->
                                        </tr>
                
                
                                        <tr *ngFor="let bl of betList | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total } ">
                                          
                                          <td>{{ bl.user_name }}</td>
                                          <td>{{ bl.email }}</td>
                                          <td>{{ bl.total_bet_amount | number: '1.2-2' }}</td>
                                          <td>{{ bl.total_bets}}</td>
                                          <td>{{ bl.agent_name }}</td>
                                          
                                        </tr>
                                         
                                        <tr class=" text-center" *ngIf="!betList.length">
                                          <td colspan="6">
                                            <p>No Players Found</p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                
                            <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
                
                          </div>
                          <!-- /.card -->
                
                        </div>
                
                      </div>
                        </div>
                    </ng-container>
  
                    <!-- /.tab-pane -->
                  </div>
                  <!-- /.tab-content -->
                </div><!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
  
          </div>
  
        </div>
      </section>
    </ng-container>
  
  
  </div>
  
  
  <ng-template #chartLoader>
  
    <img class="chart-loader" src="./assets/dist/gif/loader.gif" />
  
  </ng-template>