<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Tenants" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
    
      <section class="content">
        <div class="container-fluid">

          <div class="row">

            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Tenant Configurations </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Allowed Currencies</td>
                        <td>
                          <ng-container *ngFor="let conf of configurationsCurrencies; let i = index;"> {{ conf.name }}<ng-container *ngIf="configurationsCurrencies.length - 1 > i">, </ng-container> </ng-container> 
                        </td>
                      </tr>
                      <tr>
                        <td>Assigned Casino Providers</td>
                        <td>
                    <ng-container *ngFor="let provider of configurationsCasinoProvider?.setting?.assigned_providers_values; let i  = index"> {{ provider.provider_name }}<ng-container *ngIf="configurationsCasinoProvider?.setting?.assigned_providers_values.length - 1 > i">, </ng-container></ng-container>
                          
                        </td>
                      </tr>
                      <tr *ngIf="this.permissionService.checkPermission('players_commission','R')">
                        <td>Player Commission Interval</td>
                        <td>
                          <form [formGroup]="intervalForm" class="form-inline">
                            <div class="form-group">
                              <div class="form-check form-check-inline">
                                <input [attr.disabled] = "!this.permissionService.checkPermission('tenant_configurations','T') ? true : null" (click)="updatePlayerCommissionInterval('daily')" class="form-check-input" type="radio" id="daily" formControlName="interval" [value]="'daily'">
                                <label class="form-check-label" for="daily">Daily</label>
                              </div>
                              
                              <div class="form-check form-check-inline">
                                <input [attr.disabled] = "!this.permissionService.checkPermission('tenant_configurations','T') ? true : null" (click)="updatePlayerCommissionInterval('weekly')" class="form-check-input" type="radio" id="weekly" formControlName="interval" [value]="'weekly'">
                                <label class="form-check-label" for="weekly">Weekly</label>
                              </div>
                              
                              <!-- <div class="form-check form-check-inline">
                                <input (click)="updatePlayerCommissionInterval('monthly')" class="form-check-input" type="radio" id="monthly" formControlName="interval" [value]="'monthly'">
                                <label class="form-check-label" for="monthly">Monthly</label>
                              </div> -->
                            </div>
                          </form>   
                        </td>
                      </tr>
                      <tr>
                        <td>Google Analytics Scripts Code</td>
                        <td>
                          <form [formGroup]="configurationsForm" (ngSubmit)="onSubmit('google_analytics_scripts_code')">
                            <div class="form-inline">
                              <div class="form-group mr-2 flex-grow">
                                <input [attr.disabled] = "!this.permissionService.checkPermission('tenant_configurations','U') ? true : null" type="text" class="form-control flex-grow" formControlName="google_analytics_scripts_code" id="google_analytics_scripts_code" placeholder="Enter Google Analytics Scripts Code">
                              </div>
                              <button *ngIf="this.permissionService.checkPermission('tenant_configurations','U')" class="btn btn-outline-success" type="submit">Update</button>
                            </div>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>Chat Bot Token</td>
                        <td>
                          <form [formGroup]="configurationsForm" (ngSubmit)="onSubmit('chatbot_token')">
                            <div class="form-inline">
                              <div class="form-group mr-2 flex-grow">
                                <input [attr.disabled] = "!this.permissionService.checkPermission('tenant_configurations','U') ? true : null" type="text" class="form-control flex-grow" formControlName="chatbot_token" id="chatbot_token" placeholder="Enter Chat Bot Token">
                              </div>
                              <button *ngIf="this.permissionService.checkPermission('tenant_configurations','U')" class="btn btn-outline-success" type="submit">Update</button>
                            </div>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>Google Tag Manager Code</td>
                        <td>
                          <form [formGroup]="configurationsForm" (ngSubmit)="onSubmit('google_tag_manager_code')">
                            <div class="form-inline">
                              <div class="form-group mr-2 flex-grow">
                                <input [attr.disabled] = "!this.permissionService.checkPermission('tenant_configurations','U') ? true : null" type="text" class="form-control flex-grow" formControlName="google_tag_manager_code" id="google_tag_manager_code" placeholder="Enter Google Tag Manager code">
                              </div>
                              <button *ngIf="this.permissionService.checkPermission('tenant_configurations','U')" class="btn btn-outline-success" type="submit">Update</button>
                            </div>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>Google Search Console Code</td>
                        <td>
                          <form [formGroup]="configurationsForm" (ngSubmit)="onSubmit('google_search_console_code')">
                            <div class="form-inline">
                              <div class="form-group mr-2 flex-grow">
                                <input [attr.disabled] = "!this.permissionService.checkPermission('tenant_configurations','U') ? true : null" type="text" class="form-control flex-grow" formControlName="google_search_console_code" id="google_search_console_code" placeholder="Enter Google Search Console Code">
                              </div>
                              <button *ngIf="this.permissionService.checkPermission('tenant_configurations','U')" class="btn btn-outline-success" type="submit">Update</button>
                            </div>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>Google Recaptcha Keys</td>
                        <td>
                          <form [formGroup]="configurationsForm" (ngSubmit)="onSubmit('google_recaptcha_keys')">
                            <div formGroupName="google_recaptcha_keys" class="form-inline align-items-start">
                              <div class="mr-2 flex-grow">
                                <div class="form-group">
                                  <input [attr.disabled] = "!this.permissionService.checkPermission('tenant_configurations','U') ? true : null" type="text" class="form-control flex-grow" formControlName="site_key" id="site_key" placeholder="Enter Site Key">
                                </div>
                              </div>
                              <div class="mr-2 flex-grow">
                                <div class="form-group">
                                  <input [attr.disabled] = "!this.permissionService.checkPermission('tenant_configurations','U') ? true : null" type="text" class="form-control flex-grow" formControlName="secret_key" id="secret_key" placeholder="Enter Secret Key">
                                </div>
                              </div>
                              <button *ngIf="this.permissionService.checkPermission('tenant_configurations','U')" class="btn btn-outline-success" type="submit">Update</button>
                            </div>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>Otp Enable</td>
                        <td>
                          <form [formGroup]="configurationsForm" (ngSubmit)="submitOtpField()">
                              <div class="form-inline">
                                <div class="form-group mr-2 flex-grow" formArrayName="otp_enable">
                                  <div *ngFor="let control of otpEnable.controls; let i = index">
                                    <div class="form-check form-check-inline">
                                      <input [attr.disabled] = "!this.permissionService.checkPermission('tenant_configurations','U') ? true : null" type="checkbox" class="form-check-input" [formControlName]="i">
                                      <label class="form-check-label">{{ otpEnableValues[i].label }}</label>
                                    </div>
                                  </div>
                                </div>
                                <button *ngIf="this.permissionService.checkPermission('tenant_configurations','U')" type="submit" class="btn btn-outline-success">Update</button>
                              </div>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>Max Attempts</td>
                        <td>
                          <form [formGroup]="configurationsForm" (ngSubmit)="onSubmit('max_attempts')">
                            <div class="form-inline">
                              <div class="form-group mr-2 flex-grow">
                                <input [attr.disabled] = "!this.permissionService.checkPermission('tenant_configurations','U') ? true : null" type="text" class="form-control flex-grow" formControlName="max_attempts" id="max_attempts" placeholder="Enter Max Attempts">
                              </div>
                              <button *ngIf="this.permissionService.checkPermission('tenant_configurations','U')" class="btn btn-outline-success" type="submit">Update</button>
                            </div>
                            <div class="invalid-feedback" *ngIf="isControlInvalid('max_attempts') && configurationsForm.get('max_attempts').touched" class="text-danger">
                              <div *ngIf = "configurationsForm.get('max_attempts').errors.min">Max Attempts should not be less than 1</div>
                              <div *ngIf = "configurationsForm.get('max_attempts').errors.max">Max Attempts should not be more than 10</div>
                              <div *ngIf = "configurationsForm.get('max_attempts').errors.pattern">Max Attempts should be only digits</div>
                            </div>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>Attempts Expiry Time(in minutes)</td>
                        <td>
                          <form [formGroup]="configurationsForm" (ngSubmit)="onSubmit('attempt_expiry_time')">
                            <div class="form-inline">
                              <div class="form-group mr-2 flex-grow">
                                <input [attr.disabled] = "!this.permissionService.checkPermission('tenant_configurations','U') ? true : null" type="text" class="form-control flex-grow" formControlName="attempt_expiry_time" id="attempt_expiry_time" placeholder="Enter Attempts Expiry Time(in minutes)">
                              </div>
                              <button *ngIf="this.permissionService.checkPermission('tenant_configurations','U')" class="btn btn-outline-success" type="submit">Update</button>
                            </div>
                            <div class="invalid-feedback" *ngIf="isControlInvalid('attempt_expiry_time') && configurationsForm.get('attempt_expiry_time').touched" class="text-danger">
                              <div *ngIf = "configurationsForm.get('attempt_expiry_time').errors.min">Attempts Expiry Time should not be less than 1</div>
                              <div *ngIf = "configurationsForm.get('attempt_expiry_time').errors.max">Attempts Expiry Time should not be more than 60</div>
                              <div *ngIf = "configurationsForm.get('attempt_expiry_time').errors.pattern">Attempts Expiry Time should be only digits</div>
                            </div>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>Max Bank Account Limit</td>
                        <td>
                          <form [formGroup]="configurationsForm" (ngSubmit)="onSubmit('max_bank_account_limit')">
                            <div class="form-inline">
                              <div class="form-group mr-2 flex-grow">
                                <input [attr.disabled] = "!this.permissionService.checkPermission('tenant_configurations','U') ? true : null" type="text" class="form-control flex-grow" formControlName="max_bank_account_limit" id="max_bank_account_limit" placeholder="Enter Max Bank Account Limit">
                              </div>
                              <button *ngIf="this.permissionService.checkPermission('tenant_configurations','U')" class="btn btn-outline-success" type="submit">Update</button>
                            </div>
                            <div class="invalid-feedback" *ngIf="isControlInvalid('max_bank_account_limit') && configurationsForm.get('max_bank_account_limit').touched" class="text-danger">
                              <div *ngIf = "configurationsForm.get('max_bank_account_limit').errors.min">Max Bank Account Limit should not be less than 1</div>
                              <div *ngIf = "configurationsForm.get('max_bank_account_limit').errors.max">Max Bank Account Limit should not be more than 10</div>
                              <div *ngIf = "configurationsForm.get('max_bank_account_limit').errors.pattern">Max Bank Account Limit should be only digits</div>
                            </div>
                          </form>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
              <!-- /.card -->

            </div>

          </div>

        </div><!-- /.container-fluid -->
      </section>
      

  </div>
