<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Matches" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Matches Filter</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
  
                <div class="row">

                  <div class="col-md-2" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">
                    <div class="form-group">
                      <label for="sport_id">Tenant</label>
                      <select class="form-control" id="tenant_id" select2 (onSelect)="tenantFilter($event)" [(ngModel)]="params.tenant_id">
                      <option *ngFor="let tenant of allTenants" [value]="tenant.id">{{tenant.name}}</option>
                    </select>
                    </div>
                  </div>

                	<div class="col-md-2">
                    <div class="form-group">
                      <label for="sport_id">Sport</label>
                      <select class="form-control" select2 id="sport_id" (onSelect)="sportFilter($event)">
                        <option value="">All</option>
                        <option *ngFor="let sport of sports" [value]="sport.id">{{sport.name_en}}</option>
                    </select>
                    </div>
                  </div>

                  <!-- <div class="col-md-2">
                    <div class="form-group">
                      <label for="tournament">Tournament</label>
                      <select class="form-control" id="tournament" [placeholder]="'Search Tournament'" search_select2 [url]="searchLeaguesUrl" (onSelect)="selectTournament($event)">
                      <option value="">All</option>
                      <option *ngFor="let league of leagues" [value]="league.id">{{ league.name_en }}</option>
                    </select>
                    </div>
                  </div> -->

                 <div class="col-md-2">
                    <div class="form-group">
                      <label for="search">Events</label>
                      <input type="text" class="form-control" id="search" [(ngModel)]="params.search" placeholder="Search Event Name"/>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="status">Status</label>
                      <select class="form-control" id="status" [(ngModel)]="params.status">
                        <option value="">All</option>
                        <!-- <option value="7">Abandoned</option> -->
                        <!-- <option value="9">About to start</option> -->
                        <option value="4">Cancelled</option>
                        <!-- <option value="8">Coverage lost</option> -->
                        <option value="3">Finished</option>
                        <!-- <option value="6">Interrupted</option> -->
                        <option value="2">In progress</option>
                        <option value="1">Not started</option>
                        <!-- <option value="5">Postponed</option> -->
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="enabled">Enabled</label>
                      <select class="form-control" id="enabled" [(ngModel)]="params.enabled">
                      <option value="">All</option>
                        <option value="0">Disabled</option>
                        <option value="1">Enabled</option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="country">Country</label>
                      <select class="form-control" select2 (onSelect)="selectCountry($event)" id="country">
                        <option value="">All</option>
                        <option *ngFor="let country of countries" [value]="country.id"> {{ country.name_en }} </option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="size">Size</label>
                      <select class="form-control" id="size" [(ngModel)]="params.size">
                        <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                    </select>
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-success" (click)="filter($event)"><i class="fas fa-search"></i> Search</button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning ml-2" (click)="resetFilter()"> Reset Filter </button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-default ml-2" (click)="getMatches()"> <i class="fa fa-refresh"></i> </button>
                  </div>
                </div>

              </div>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <ng-container *ngIf="!isLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">Matches</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Start Time</th>
                      <th>Sport</th>
                      <th>Event</th>
                      <th>Tournament</th>
                      <th>Status</th>  
                      <th>Event Status</th>
                      <th>Market</th>
                      <!-- <th *ngIf="adminAuthService.adminRoleValue === 'owner'">Action</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let match of matches | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                      
                      <td> {{ match.id || 'NA' }} </td>
                      <td> {{ match.start_date | date:'dd-MM-YYYY' || 'NA' }} </td>
                      <td> {{ match?.sport?.name_en || 'NA' }} </td>
                      <td> 
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modal-match-details" (click)="matchDetails(match)" > {{ match.name_en || 'NA' }} </a>
                      </td>
                      <td> {{ match?.league?.name_en || 'NA' }} </td>
                      <td> 
                        <span [ngClass]="match?.blocked?.id ? 'text-danger':'text-success'">
                        {{ match?.blocked?.id ? 'Disabled' : 'Enabled' }}
                       </span>
                      </td>
                      <!-- <td> {{ match.fixture_status | event_status }} </td> -->
                      <td> 
                        <ng-template [ngIf]="match.fixture_status == 1">Not Started</ng-template>
                        <ng-template [ngIf]="match.fixture_status == 2">In Progress</ng-template>
                        <ng-template [ngIf]="match.fixture_status == 3">Finished</ng-template>
                        <ng-template [ngIf]="match.fixture_status == 4">Cancelled</ng-template>
                      </td>
                      <td>
                        <button class="btn btn-info" data-toggle="modal" (click)="getMarket(match.id)"  data-target="#modal-sport-details" type="button">  <i class="fa fa-eye"></i> </button>
                      </td>
                      <!-- <td *ngIf="adminAuthService.adminRoleValue === 'owner'">
                        <ng-container *ngIf="match?.blocked?.id; else activeUser">
                          <button type="button" (click)="updateMatchStatus(match, 1)" class="btn btn-success fnt-12"> <i class="fa fa-check"></i> </button>
                        </ng-container>
                        <ng-template #activeUser>
                          <button type="button" (click)="updateMatchStatus(match, 0)" class="btn btn-danger fnt-12"> <i class="fa fa-remove"></i> </button>
                        </ng-template>
                      </td> -->

                    </tr>
                    <tr *ngIf="firstTimeApiCall && matches && matches.length === 0"> <td colspan="8" class="tnodata"> No Matches Found </td> </tr>
                    <tr *ngIf="!firstTimeApiCall"> <td colspan="8" class="tnodata"> Click Search to Load Data </td> </tr>
                  </tbody>
                </table>
              </div>
              </div>
              
              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>

              </ng-container>
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  

  <div class="modal fade" id="modal-match-details" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Match </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          
           <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Match information</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th> Id </th>
                      <td> {{ match?.id }} </td>
                    </tr>
                    
                    <tr>
                      <th>Event Status</th>
                      <td> {{ match?.fixture_status | event_status }} </td>
                    </tr>

                    <tr>
                      <th>Scheduled at</th>
                      <td> {{ match?.start_date | date:'dd-MM-YYYY' }} </td>
                    </tr>

                    <tr>
                      <th>Title</th>
                      <td> {{ match?.participant_name }} </td>
                    </tr>

                    <tr>
                      <th>Tournament</th>
                      <td> {{ match?.league?.name_en }} </td>
                    </tr>

                  </tbody>
                </table>
              <br/>
              
              </div>
              

            </div>
            <!-- /.card -->

          </div>

          <!-- <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Statistics</h3>
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                    
                     <tr>
                      <th>Bets</th>
                      <td> ( {{ match?.bets_count }} ) <a [routerLink]="['/sports/matches', match?.id, 'bets']" data-dismiss="modal"> view </a> </td>
                    </tr>
                    
                    <tr>
                      <th>Number of Users that betted</th>
                      <td> {{ match?.bets_users_count }} </td>
                    </tr>
                    
                    <tr>
                      <th>Liability</th>
                      <td> {{ match?.tenant_event_liability?.total_liability || '--' }} </td>
                    </tr>

                  </tbody>
                </table>
              </div>

            </div>

          </div> -->

        </div>
              
        </div>
        
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-sport-details" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 150%;">
        <div class="modal-header">
          <h4 class="modal-title"> Market </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body" >
          <table class="table table-bordered">

            <thead>
              <tr>
                <th>isInPlay</th>
                <th>marketId</th>
                <th>marketName</th>
                <th>marketStatus</th>
                <th>marketType</th>  
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let market of markets">
                <td> {{ market.isInPlay }} </td>
                <td> {{ market.marketId }} </td>
                <td> {{ market.marketName }} </td>
                <td> {{ market.marketStatus }} </td>
                <td> {{ market.marketType }} </td>

              </tr>
              <tr *ngIf="markets && markets.length === 0"> <td colspan="8" class="tnodata"> No Markets Found </td> </tr>
            </tbody>
          </table>              
        </div>
        
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


  <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>