<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Bet Report" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="pull-left mt-2">
                  <h3 class="card-title">Bet Report Filter</h3>
                </div>
                <div class="pull-right" title="Click then Filter Record">
                  <button  (click)="setBetType('not_combo')" class="btn" [ngClass]="params.bet_type == 'not_combo' ? 'btn-success':'btn-default'" type="button"> Back </button> &nbsp;
                  <button (click)="setBetType('multibets')" class="btn" [ngClass]="params.bet_type == 'multibets' ? 'btn-success':'btn-default'" type="button"> Lay </button> &nbsp;

                  <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;" data-placeholder="Select Time Zone">
                    <option value="">Select Time Zone</option>
                    <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                    <option *ngFor="let zone of TIMEZONE"  [value]="zone.zonename">{{zone.name}}</option>
                  </select>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

              <form #f="ngForm" novalidate>
                                  
                <div class="row">


                  <div class="col-md-2" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">
                    <div class="form-group">
                      <label for="sport_id">Tenant</label>
                      <select class="form-control" name="tenant_id" id="tenant_id" select2 (onSelect)="selectTenantFilter($event)" [(ngModel)]="params.tenant_id" data-placeholder="Select Tenant">
                      <!-- <option value="">All</option> -->
                      <option *ngFor="let tenant of allTenants" [value]="tenant.id">{{tenant.name}}</option>
                    </select>
                    </div>
                  </div>

                  <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="agent_id">Select Agent</label>
                        <select class="form-control" select2 id="agent_id"    title="Select Agent" (onSelect)="filterSelectAgent($event)" data-placeholder="Select Agent">
                          <option value="">Select Agent</option>
                          <ng-container *ngIf="userList && userList.length > 0"  >
                            <option *ngFor="let adminUser of userList" [value]="adminUser.id">{{adminUser.first_name}}</option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                  </ng-container>

                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="filter_date">Data Range</label>
	                    <input type="text" name="filter_date" id="time_period" readonly autocomplete="off" [timePicker]="true" [format]="format" daterange_picker (onSelect)="selectDateRange($event)" readonly placeholder="Search Data Range" class="form-control" />
                      </div>
                    </div>

                    <!-- <div class="col-md-2">
                      <div class="form-group">
                        <label for="bet_type">Bet Type</label>
                        <select class="form-control" id="bet_type" (change)="filter($event)" [(ngModel)]="params.bet_type">
                        <option value="not_combo">Single</option>
                        <option value="multibets">Multibet</option>
                        <option value="jackpot_bet">JackpotBet</option>
                      </select>
                      </div>
                    </div> -->

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="search">Search Bet ID</label>
                      <input type="text" name="search" class="form-control" id="search" [(ngModel)]="params.search" placeholder="Search Bet ID"/>
                    </div>
                  </div>

                  <div class="col-md-2" *ngIf="false">
                    <div class="form-group">
                      <label for="sport_id">Sport</label>
                      <select class="form-control" name="sport_id" id="sport_id" select2 (onSelect)="sportFilter($event)" [(ngModel)]="params.sport_id" data-placeholder="Select Sport">
                      <option value="">All</option>
                      <option *ngFor="let sport of sports" [value]="sport.id">{{sport.name_en}}</option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2" *ngIf="false">
                    <div class="form-group">
                      <label for="country">Region</label>
                      <select class="form-control" id="country" name="country" select2 (onSelect)="selectCountry($event)" [(ngModel)]="params.country" data-placeholder="Select Country">
                      <option value="">All</option>
                      <option *ngFor="let country of countries" [value]="country.id"> {{ country.name_en }} </option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2" *ngIf="false">
                    <div class="form-group">
                      <label for="tournament_id">Tournament</label>
                      <select class="form-control" id="tournament_id" name="tournament_id" [placeholder]="'Search Tournament'" search_select2 [url]="searchLeaguesUrl" (onSelect)="selectTournament($event)" [(ngModel)]="params.tournament_id" data-placeholder="Select Tournament">
                      <option value="">All</option>
                      <option *ngFor="let league of leagues" [value]="league.id">{{ league.name_en }}</option>
                    </select>
                    </div>
                  </div>
                  
                  <div class="col-md-2" *ngIf="false">
                    <div class="form-group">
                      <label for="match_id">Match</label>
                      <select class="form-control" id="match_id" name="match_id" select2 (onSelect)="selectMatch($event)" [(ngModel)]="params.match_id" data-placeholder="Select Match">
                      <option value="">All</option>
                      <option *ngFor="let match of matches" [value]="match.id">{{ match.fixture_id }}</option>
                    </select>
                    </div>
                  </div>

                  <!--<div class="col-md-2">
                    <div class="form-group">
                      <label for="stake_min_amt">Min Stake</label>
  	                  <input type="number" id="stake_min_amt" placeholder="Search Min Stake" class="form-control" min="1" [max]="stake_max_amt.value" name="stake_min_amt" (keyup)="formValidFilter($event)" #stake_min_amt="ngModel" [(ngModel)]="params.stake_min_amt" />
                      <div class="invalid-feedback" *ngIf="stake_min_amt.invalid"> Min Stake Amount must be less then or equal Max Stake Amount</div>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="stake_max_amt">Max Stake</label>
	                    <input type="number" id="stake_max_amt" placeholder="Search Max Stake" class="form-control" [min]="stake_min_amt.value || 1" name="stake_max_amt" (keyup)="formValidFilter($event)" #stake_max_amt="ngModel" [(ngModel)]="params.stake_max_amt" />
                      <div class="invalid-feedback" *ngIf="stake_max_amt.invalid"> Max Stake Amount must be greater than or equal Min Stake Amount</div>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="winning_min_amt">Min Winning</label>
                      <input type="number" id="winning_min_amt" placeholder="Search Min Stake" class="form-control" min="1" [max]="winning_max_amt.value" name="winning_min_amt" (keyup)="formValidFilter($event)" #winning_min_amt="ngModel" [(ngModel)]="params.winning_min_amt" />
                      <div class="invalid-feedback" *ngIf="winning_min_amt.invalid"> Min Win Amount must be less then or equal Max Win Amount</div>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="winning_max_amt">Max Winning</label>
                      <input type="number" id="winning_max_amt" placeholder="Search Max Stake" class="form-control" [min]="winning_min_amt.value || 1" name="winning_max_amt" (keyup)="formValidFilter($event)" #winning_max_amt="ngModel" [(ngModel)]="params.winning_max_amt" />
                      <div class="invalid-feedback" *ngIf="winning_max_amt.invalid"> Max Win Amount must be greater than or equal Min Win Amount</div>
                    </div>
                  </div>-->

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="status">Status</label>
                      <select class="form-control" id="status" name="status" [(ngModel)]="params.status">
                        <option value="">All</option>
                        <option *ngFor="let status of allStatusBetReport" [value]="status.value"> {{ status.name }} </option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="size">Size</label>
                      <select class="form-control" id="size" name="size" [(ngModel)]="params.size">
                        <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                    </select>
                    </div>
                  </div>
                  
                  <div class="col-md-2">
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-success fnt-12" (click)="filter($event)"><i class="fa fa-search"></i> Search</button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning fnt-12 ml-2" (click)="resetFilter()"> Reset Filter </button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-default fnt-12 ml-2" (click)="getReport()"> <i class="fa fa-refresh"></i> </button>
                  </div>
                </div>
  
                </form>

              </div>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <ng-container *ngIf="!isLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">Bet Report</h3>

                <span *ngIf="total >= 10"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small> Showing {{pageCurrentTotal}} to {{ pageNextTotal }} of {{total}} entries</small></span>
                <span *ngIf="total <= 10"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; total  {{total}} entries</span>

                <!--<span> (Total:- <strong>{{stake_sum|number:'1.2-3'}})</strong> - (Possible Win Amount:- <strong>{{possible_win_sum|number:'1.2-3'}})</strong> = Revenue: <strong  [ngClass]="{'text-danger': (stake_sum - possible_win_sum) < 0}" >{{(stake_sum - possible_win_sum)|number:'1.2-3'}}</strong></span>-->
                <ng-container *ngIf="this.permissionService.checkPermission('bet_report','export')">
                  <button type="button" *ngIf="total" class="btn btn-info f-right fnt-12" (click)="exportAsXLSX()"> CSV <i class="fa fa-download"></i> </button>
                </ng-container>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table id="dtable" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID <app-ordering-arrow [column]="'internal_tracking_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th *ngIf="params.bet_type === 'not_combo'">Bet ID <!--<app-ordering-arrow [column]="'id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow>--> </th>
                      <!--<th *ngIf="params.bet_type === 'multibets'"> betslip ID <app-ordering-arrow [column]="'betslip_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow> </th>-->
                      <th>Created At <app-ordering-arrow [column]="'created_at'" [params]="params" (changeOrder)="setOrder($event)"></app-ordering-arrow></th>
                      <th>Email
                        <!--<app-ordering-arrow [column]="'player_details.email'" [params]="params" (changeOrder)="setOrder($event)"></app-ordering-arrow>-->
                      </th>

                      <!-- <th *ngIf="params.bet_type === 'multibets'">Player Phones</th> -->
                      
                      <!-- <th> IP </th> -->

                      <th *ngIf="params.bet_type === 'not_combo'">Sport <!--<app-ordering-arrow [column]="'sport'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow>--></th>
                      <th *ngIf="params.bet_type === 'not_combo'">Tournament <!--<app-ordering-arrow [column]="'league'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow>--></th>
                      <th *ngIf="params.bet_type === 'not_combo'">Match <!--<app-ordering-arrow [column]="'match'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow>--></th>
                      <th *ngIf="params.bet_type === 'not_combo'">Market name <!--<app-ordering-arrow [column]="'market'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow>--></th>
                      <th *ngIf="params.bet_type === 'not_combo'">Team name <!--<app-ordering-arrow [column]="'market'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow>--></th>

                      <!-- <th *ngIf="params.bet_type === 'multibets'">Market</th> -->

                      <!--<th *ngIf="params.bet_type === 'multibets'">Event date <app-ordering-arrow [column]="'event_date'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>-->

                      <!--<th *ngIf="params.bet_type === 'not_combo'">Outcome <app-ordering-arrow [column]="'outcome'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>-->
                      <th *ngIf="params.bet_type === 'not_combo'">Schedule at <!--<app-ordering-arrow [column]="'event_date'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow>--></th>
                      <th>Currency <!--<app-ordering-arrow [column]="'player_details.currency_code'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow>--></th>

                      <th>Stake <!--<app-ordering-arrow [column]="'stake'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow>--></th>
                      <!--<th *ngIf="params.bet_type === 'not_combo'">Voucher Stake</th>	-->
                      
                      <th *ngIf="params.bet_type === 'not_combo'">Odds <!--<app-ordering-arrow [column]="'odds'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow>--></th>
                      <!--<th *ngIf="params.bet_type === 'not_combo'">Total Stake </th>	-->
                      <th *ngIf="params.bet_type === 'multibets'">Overall Odds <app-ordering-arrow [column]="'overall_odds'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>	

                      <th *ngIf="params.bet_type === 'not_combo'">Posible Win Amount </th>	
                      <!--<th *ngIf="params.bet_type === 'not_combo'">Winning </th>	-->
                      
                      <th>Status <!--<app-ordering-arrow [column]="'status'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow>--></th>

                      <!--<th *ngIf="params.bet_type === 'multibets'">Possible Win Amount </th>-->
                      <!--<th *ngIf="params.bet_type === 'multibets'">Won Amount <app-ordering-arrow [column]="'win_amount'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>-->
                      <th *ngIf="params.bet_type === 'multibets'">Action </th>
                      <!--<th >Revenue </th>-->

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let report of reports | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                      <td>{{ report._source.internal_tracking_id || '-' }}</td>
                      <td *ngIf="params.bet_type === 'not_combo'">
                        <ng-container *ngFor="let _bet of report._source.betslip_details?.bets; let i = index">
                          <span>{{ _bet?.bet_id || '-' }}</span>
                          <span *ngIf="i!=report._source.betslip_details?.bets.length-1">, </span>
                        </ng-container>

                      </td>
                      <!--<td *ngIf="params.bet_type === 'multibets'">-->
                        <!--{{ report._source.betslip_details?.id || '-' }}-->
                      <!--</td>-->
                      <td> {{ report._source.created_at | date: 'dd-MM-YYYY HH:mm' || 'NA' }} </td>
                      <td> <a [routerLink]="(this.permissionService.checkPermission('players','R')) ? ['/players/details', report?._source.user_id] : null" [queryParams]="(this.permissionService.checkPermission('players','R')) ? { tab: 'sport-betting', bet_report: 'bet_report' } : null" > {{ report._source.player_details?.email || 'NA' }} </a> </td>
                      
                      <!-- <td> {{ report.user?.sign_in_ip || 'NA' }} </td> -->

                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report._source?.betslip_details?.bets[0]?.event?.sport_name_en || '-' }} </td>
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report._source?.betslip_details?.bets[0]?.event?.league_name_en || '-' }} </td>
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report._source?.betslip_details?.bets[0]?.event?.name_en || 'NA' }} </td>
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report._source?.betslip_details?.bets[0]?.market || 'NA' }} </td>
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report._source?.runner_name || 'NA' }} </td>

                      <!-- <td *ngIf="params.bet_type === 'multibets'"> {{ report?.betslip?.bet?.market || 'NA' }} </td> -->

                      <!--<td *ngIf="params.bet_type === 'multibets'">
                      <ng-container *ngFor="let _bet of report._source.betslip_details?.bets; let i = index">
                        {{ _bet?.start_date | date:'dd-MM-YYYY HH:mm' || '' }}
                        <span *ngIf="i!=report._source.betslip_details?.bets.length-1">,</span>
                      </ng-container>
                      </td>-->

                      <!--<td *ngIf="params.bet_type === 'not_combo'"> {{ report._source?.betslip_details?.bets[0]?.name || 'NA' }} </td>-->
                      
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report._source?.betslip_details?.bets[0]?.start_date | date: 'dd-MM-YYYY HH:mm' || 'NA'}} </td>

                      <td> {{ report._source.player_details?.currency || 'NA' }} </td>

                      <td> {{ report._source?.betslip_details?.stake| number : '1.2-2' || 'NA' }} </td>

                      <!--<td *ngIf="params.bet_type === 'not_combo'"> {{ report.phone || 'Voucher Stake' }} </td>-->
                      
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report._source?.betslip_details?.multi_price | number : '1.2-2' || 'NA' }} </td>
                      <!-- <td *ngIf="params.bet_type === 'not_combo'"> {{ report._source?.amount || 'Total stack' }} </td> -->
                      <!--<td *ngIf="params.bet_type === 'not_combo'"> {{ winningPrice(report._source?.betslip_details?.multi_price , report._source?.betslip_details?.stake ) || 0 }} </td>-->
                      <td *ngIf="params.bet_type === 'multibets'">
                        {{ report._source?.betslip_details?.multi_price | number : '1.2-2' || 'NA' }}
                      </td>
                      
                      <td *ngIf="params.bet_type === 'not_combo'"> {{ report._source?.betslip_details?.possible_win_amount | number : '1.2-2' || 'NA' }} </td>
                      <!--<td *ngIf="params.bet_type === 'not_combo'"> {{ report._source?.betslip_details?.bets[0]?.settlement_status == 'won' ? winningPrice(report._source?.betslip_details?.multi_price , report._source?.betslip_details?.stake ) : 0 }} </td>-->
                      
                      <td> {{ report._source?.betslip_details?.settlement_status | titlecase}} </td>
                      
                      <!--<td *ngIf="params.bet_type === 'multibets'">

                        <ng-container *ngFor="let _bet of report._source.betslip_details?.bets; let i = index">
                          <span>{{ !_bet ? (_bet.possible_win_amount | number: '1.2-2') : 0 }}</span>
                          <span *ngIf="i!=report._source.betslip_details?.bets.length-1">,</span>
                        </ng-container>


                      </td>-->

                      <!--<td *ngIf="params.bet_type === 'multibets'"> {{ report._source?.betslip_details?.bets[0]?.settlement_status == 2 ? (report._source?.betslip_details?.possible_win_amount | number: '1.2-2') : 0 }} </td>-->
                      <td *ngIf="params.bet_type === 'multibets'"> <a (click)="selectReport(report._source)" href="javascript:void(0);" data-toggle="modal" data-target="#modal-details"> Details </a> </td>
                      <!--<td>-->
                        <!--<span [ngClass]="{'text-danger': getRevenue(report) < 0}">{{getRevenue(report) |number:'1.2-3'}}</span>-->
                      <!--</td>-->
                    </tr>

                    <tr *ngIf="firstTimeApiCall && reports && reports.length === 0"> <td [attr.colspan]="params.bet_type === 'not_combo' ? 17 : 12" class="tnodata"> No Bet Reports Found </td> </tr>
                    <tr *ngIf="!firstTimeApiCall"> <td [attr.colspan]="params.bet_type === 'not_combo' ? 17 : 12" class="tnodata"> Click Search to Load Data </td> </tr>
                  </tbody>
                </table>
                </div>
              </div>
              
              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
            </ng-container>
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <div class="modal fade bd-example-modal-xl" id="modal-details" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Combination Information  </h4>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <small class="ml-2 mt-2"> Created At - {{ report?.created_at | date: 'dd-MM-YYYY HH:mm' || 'NA' }}  </small>
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="row">

            <div class="col-md-12">

                <div class="card-body table-responsive">

                  <table class="table table-bordered">

                  <tr>
                    <!--<th>betslip Id</th>-->
                   <!-- <td>
                      <ng-container *ngFor="let _bet of report?.betslip_details?.bets; let i = index">
                        <span>{{ _bet ? (_bet.bet_id ) : '-' }}</span>
                        <span *ngIf="i!=report?.betslip_details?.bets.length-1">, </span>
                      </ng-container>
                    </td>-->
                    <th>{{report?.betslip_details?.id}}</th>
                    <th>Possible Win Amount</th>
                    <td> {{ report?.betslip_details?.possible_win_amount | number : '1.2-2' || 'NA' }} </td>
                  </tr>

                    <tr>
                      <th>Stake</th>
                      <td> {{ report?.betslip_details?.stake | number : '1.2-2' || 'NA' }} </td>
                      <th>Status</th>
                      <td> {{ report?.betslip_details?.settlement_status }} </td>
                    </tr>

                    <tr>
                      <th>Odds</th>
                      <td> {{ report?.betslip_details?.multi_price  | number : '1.2-2' || 'NA' }} </td>
                      <th>Email</th>
                      <td>
                        <a data-dismiss="modal" [routerLink]="(this.permissionService.checkPermission('players','R')) ? ['/players/details', report?.user_id] : null" [queryParams]="(this.permissionService.checkPermission('players','R')) ? { tab: 'sport-betting', bet_report: 'bet_report' } : null" > {{ report?.player_details?.email || 'NA' }} </a>
                    </tr>

                  </table>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="card-body">
            <div class="text-center"><strong> Bet Details </strong></div>

              <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Bet ID</th>
                    <th>Sport</th>
                    <th>Tournament</th>
                    <th>Match</th>
                    <!--<th>Event date</th>-->
                    <th>Market</th>
                    <th>Team Name</th>
                    <!--<th>Outcome</th>-->
                    <!--<th>Stake</th>-->
                    <!--<th>Odds</th>-->
                    <!--<th>Possible Win Amount</th>-->
                    <!--<th>Status</th>-->
                  </tr>
                </thead>
                <tbody *ngIf="report && report?.betslip_details && report?.betslip_details.bets && report?.betslip_details.bets.length > 0">
                  <tr *ngFor="let bet of report?.betslip_details.bets;">
                    <td> {{ bet.bet_id || 'NA' }} </td>
                    <td> {{ bet?.event?.sport_name_en || 'NA' }} </td>
                    <td> {{ bet?.event?.league_name_en || 'NA' }} </td>
                    <td> {{ bet?.event?.name_en || 'NA' }} </td>
                    <!--<td> {{ bet?.start_date | date:'dd-MM-YYYY HH:mm' || 'NA' }} </td>-->
                    <td> {{ bet?.market || 'NA' }} </td>
                    <td> {{ report?.runner_name || 'NA' }} </td>
                    <!--<td> {{ bet?.name || 'NA' }} </td>-->
                    <!--<td> {{ bet?.betslip_details?.stake || 'NA' }} </td>-->
                    <!--<td> {{ bet?.multi_price || 'NA' }} </td>-->
                    <!--<td> {{ bet.possible_win_amount }} </td>-->
                    <!--<td> {{ bet.settlement_status ||'in_game' }} </td>-->
                  </tr>
                  <tr *ngIf="report?.betslip_details.bets.length === 0"> <td colspan="10" class="tnodata"> No Bets Found </td> </tr>
                </tbody>
              </table>

              </div>

            </div>

          </div>

          </div>
      </div>
    </div>
  </div>

  <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>
