<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Tenants" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">

          <div class="row">

            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Tenant Credentials</h3>
                  <ng-container *ngIf = "this.permissionService.checkPermission('tenant_credentials','C')">
                    <a *ngIf="remainingCredentials.length > 0" [routerLink]="['/tenants/credentials', 0]" [state]="{ tenant:tenant, remcreds: remainingCredentials }" class="fnt-12 f-right btn btn-success">Create New</a>
                  </ng-container>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="table-responsive" style="overflow-x:auto;">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 10px">ID</th>
                        <th>Key</th>
                        <th>Value</th>
                        <th>Description</th>
                        <ng-container *ngIf = "this.permissionService.checkPermission('tenant_credentials','U')">
                          <th>Action</th>
                        </ng-container>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let credential of credentials">
                        <td>{{ credential.id }}</td>
                        <td>{{ credential.key }}</td>
                        <td class="max-width400px">{{ credential.value }}</td>
                        <td>{{ credential.description ? credential.description : 'NA' }}</td>
                        <ng-container *ngIf = "this.permissionService.checkPermission('tenant_credentials','U')">
                          <td><a class="btn btn-warning fnt-12" [routerLink]="['/tenants/credentials', credential.id]"
                            [state]="{credential: credential, tenant: tenant }"> Edit </a></td>
                        </ng-container>
                      </tr>

                      <tr *ngIf="credentials?.length === 0"> <td colspan="5" class="tnodata"> No Credentials Found </td> </tr>
                    
                    </tbody>
                  </table>
                  </div>
                </div>

              </div>
              <!-- /.card -->

            </div>

          </div>

        </div><!-- /.container-fluid -->
      </section>

  </div>
