<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Bets Settlement" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Bets Filter</h3>

                <div class="f-right">
                    <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" [(ngModel)]="params.time_zone" style="width: 325px;" data-placeholder="Select Time Zone">
                      <option value="">Select Time Zone</option>
                      <option *ngFor="let zone of TIMEZONE" [value]="zone.value">{{zone.name}}</option>
                    </select>
                </div>

              </div>
            
              <div class="card-body">
  
                <div class="row">

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="search">Search Bet ID</label>
                      <input type="text" class="form-control" id="search" (keyup)="filter($event)" [(ngModel)]="params.search" placeholder="Search Bet ID"/>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="size">Size</label>
                      <select class="form-control" id="size" (change)="filter($event)" [(ngModel)]="params.size">
                        <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                    </select>
                    </div>
                  </div>
                  
                  <div class="col-md-2">
                    <button type="button" class="mgt btn btn-warning" (click)="resetFilter()"> Reset Filter </button>
                  </div>
                </div>

              </div>
  
            </div>
            
          </div>
  
        </div>
  
      </div>
    </section>


     <section class="content" *ngIf="selectedBets.length > 0">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Selected Bets</h3>
              </div>

              <div class="card-body">

                <div class="col-md-6">

                  <div *ngFor="let bet of selectedBets">
                    <div class="icheck-primary d-inline">
                      <input type="checkbox" class="cst-check" disabled checked/>
                      <label for="checkboxPrimary">{{ bet.bet_id }} - {{ bet.match | truncate_string : 60 }}</label>
                    </div>

                  </div>

                </div>
                <div class="row mt-10">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="settlement">Settlement</label>
                      <select class="form-control" id="settlement" [(ngModel)]="settlement">
                      <option *ngFor="let size of settlements" [value]="size.value"> {{ size.name }} </option>
                    </select>
                    </div>
                  </div>
                  <div class="col-md-2" *ngIf="isOtp">
                    <div class="form-group">
                      <label for="settlement">Enter OTP</label>
                      <input class="form-control border border-primary" type="text" [(ngModel)]="data.otp" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <button type="button" [disabled]="loader" class="mgt btn btn-success" *ngIf="IsSaveSettlement" (click)="settlementOtp();">
                      <span *ngIf="loader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Save Settlement 
                    </button>
                    <div *ngIf="isOtp">
                      <button type="button" [disabled]="!data.otp || loaderOtpSubmit" class="mgt btn btn-success" (click)="saveSettlement();">
                        <span *ngIf="loaderOtpSubmit" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Verify OTP & Save Settlement
                      </button>&nbsp;
                      <button type="button" [disabled]="loaderResetOtp" class="mgt btn btn-default" (click)="settlementOtp();">
                        <span *ngIf="loaderResetOtp" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Resend OTP
                      </button>&nbsp;
                      <button type="button"  class="mgt btn btn-danger" (click)="settlementCancel();">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>

              </div>
  
            </div>
            
          </div>
  
        </div>
  
      </div>
    </section>

  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card" [ngClass]="{'pointer-non' : !IsSaveSettlementtable}">
              <div class="card-header">
                <h3 class="card-title">Bets</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body" >
                <div class="table-responsive">
                  <table class="table table-bordered" >
                    <thead>
                      <tr>
                        <th>
                          <div class="icheck-primary d-inline">
                            <input type="checkbox" class="cst-check" (change)="selectAllBets($event.target)" id="checkboxPrimary">
                            <label for="checkboxPrimary"></label>
                          </div>
                        </th>
                        <th>Bet Id</th>
                        <th>Fixture Id</th>
                        <th>Coupon Id</th>
                        <th>Email Address</th>
                        <th>Match</th>
                        <th>Market</th>
                        <th>Outcome</th>
                        <th>Team</th>
                        <th>Bet type</th>
                        <th>Status</th>
                        <th>Stake</th>
                        <th>Created</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let bet of bets | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">

                        <td>
                          <div class="icheck-primary d-inline">
                            <input type="checkbox" class="cst-check" (change)="selectBet($event.target, bet)" id="checkboxPrimary{{bet.id}}">
                            <label for="checkboxPrimary{{bet.id}}"></label>
                          </div>
                        </td>

                        <td> {{ bet.bet_id || '-' }} </td>
                        <td> {{ bet.fixture_id || '-' }} </td>
                        <td> {{ bet?.betslip?.coupon_id || '-' }} </td>
                        <td> <a [routerLink]="['/players/details', bet?.betslip?.user?.id]"> {{ bet?.betslip?.user?.email || '-' }} </a> </td>
                        <td> {{ bet.match || '-' }} </td>
                        <td> {{ bet.market || '-' }} </td>
                        <td> {{ bet.name || '-' }} </td>
                        <td> {{ bet?.event_particapnt?.participant?.name_en || '-' }} </td>
                        <td> {{ bet?.betslip?.bettype == 1 ? 'Single' : 'Multibet' }} </td>
                        <td> {{ bet.settlement_status | bet_settlement_status }} </td>
                        <td> {{ bet?.betslip?.stake || '-' }} </td>
                        <td> {{ bet.created_at | date:'dd-MM-YYYY HH:mm' || '-' }} </td>

                      </tr>
                      <tr *ngIf="bets && bets.length === 0"> <td colspan="12" class="tnodata"> No Match Bets Found </td> </tr>
                    </tbody>
                  </table>
              </div>
              </div>
              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
