<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Tenants Credentials" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">

          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> {{ title }} Tenant Credentials</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="credentialForm" (ngSubmit)="onSubmit()">
                  <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="key">Key <span class="text-danger">*</span></label>
                            <select select2 (onSelect)="changeKey($event)" class="select2 form-control" id="key" data-placeholder="Select a Key" style="width: 100%;">
                              <option *ngFor="let credential of remainingCredentials" [value]="credential.name">{{ credential.name }}</option>
                            </select>

                            <div class="invalid-feedback" *ngIf="submitted && f.key.errors">
                                <div *ngIf="f.key.errors.required">Key is required</div>
                            </div>
                        </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="value">Value <span class="text-danger">*</span></label>
                                <input type="text" formControlName="keyvalue" class="form-control" id="value" placeholder="Enter Value"/>
                                <div class="invalid-feedback" *ngIf="submitted && f.keyvalue.errors">
                                  <div *ngIf="f.keyvalue.errors.required">Value is required</div>
                                  <div *ngIf="f.keyvalue.errors.min">Value should be greter than or equal to 10</div>
                                  <div *ngIf="f.keyvalue.errors.max">Value should be less than 100</div>
                                </div>
                              </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">description <span class="text-danger">*</span></label>
                        <input type="text" formControlName="description" class="form-control" id="description" placeholder="Enter description"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.description.errors">
                          <div *ngIf="f.description.errors.required">Description is required</div>
                        </div>
                      </div>


                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer" >
                    <button type="submit" [disabled]="credentialLoader" class="btn btn-primary"> <span *ngIf="credentialLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
                    &nbsp;
                    <ng-container *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0; else sarouter">
                      <a class="btn btn-warning" [routerLink]="['/super-admin/tenants/details', tenant?.id]"> Cancel </a>
                    </ng-container>
                    <ng-template #sarouter>
                       <a class="btn btn-warning" [routerLink]="['/tenants/credentials']"> Cancel </a>
                     </ng-template>

                  </div>
                </form>
              </div>
              <!-- /.card -->

            </div>
          </div>
          <!-- /.row -->

        </div><!-- /.container-fluid -->
      </section>


  </div>
