<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Tenant Admin" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">

          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> {{ title }} Tenant Admin </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
                  <div class="card-body">
                    
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="email">Email <span class="text-danger">*</span> </label>
                            <input type="text" formControlName="email" class="form-control" id="email" placeholder="Enter Email"/>
                            <div class="invalid-feedback" *ngIf="submitted && f.email.errors">
                              <div *ngIf="f.email.errors.required">Email is required</div>
                              <div *ngIf="f.email.errors.pattern">Email must be valid</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Password <span *ngIf="adminId == 0" class="text-danger">*</span> 
                                 <!-- <button class="btn btn-defaul" type="button" (click)="hideShowPass = hideShowPass ? false : true"> -->
                                    <i (click)="hideShowPass = hideShowPass ? false : true" [ngClass]="hideShowPass ? 'peye fa fa-eye-slash' : 'peye fa fa-eye'"></i>
                                   <!-- </button>  -->
                                </label>
                                <input [type]="hideShowPass ? 'text' : 'password'" formControlName="encrypted_password" class="form-control" maxlength="30" id="password" placeholder="Enter Password"/>
                                <div class="invalid-feedback" *ngIf="submitted && f.encrypted_password.errors">
                                  <div *ngIf="f.encrypted_password.errors.required">Password is required</div>
                                  <div *ngIf="f.encrypted_password.errors.pattern">Password must be 1 upper case, 1 lower case and 1 special char mmin 8 char.</div>
                                </div>
                              </div>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="fname">First Name <span class="text-danger">*</span></label>
                          <input type="text" formControlName="first_name" class="form-control" id="fname" placeholder="Enter First Name"/>
                          <div class="invalid-feedback" *ngIf="submitted && f.first_name.errors">
                            <div *ngIf="f.first_name.errors.required">First Name is required</div>
                            <div *ngIf="f.first_name.errors.minlength">First Name should be greater than 3 char</div>
                            <div *ngIf="f.first_name.errors.maxlength">First Name should not be greater than 15 char</div>             
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                            <div class="form-group">
                              <label for="last_name">Last Name <span class="text-danger">*</span></label>
                              <input type="text" formControlName="last_name" class="form-control" id="last_name" placeholder="Enter Last Name"/>
                              <div class="invalid-feedback" *ngIf="submitted && f.last_name.errors">
                                <div *ngIf="f.last_name.errors.required">Last Name is required</div>
                                <div *ngIf="f.last_name.errors.minlength">Last Name should be greater than 3 char</div>
                                <div *ngIf="f.last_name.errors.maxlength">Last Name should not be greater than 15 char</div>             
                              </div>
                            </div>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="name">Agent Name <span class="text-danger">*</span></label>
                        <input  [attr.disabled]="agentName ? '' : null"  type="text" formControlName="agent_name" class="form-control" id="name" placeholder="Enter Name"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.agent_name.errors">
                          <div *ngIf="f.agent_name.errors.required">Agent Name is required</div>
                          <div *ngIf="f.agent_name.errors.minlength">Agent Name should be greater than 3 char</div>
                          <div *ngIf="f.agent_name.errors.maxlength">Agent Name should not be greater than 15 char</div>
                        </div>
                      </div>
                  </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="phone">Phone <span class="text-danger">*</span></label>
                        <input type="text" formControlName="phone" class="form-control" maxlength="15" id="phone" placeholder="Enter Phone"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.phone.errors">
                          <div *ngIf="f.phone.errors.required">Phone is required</div>
                          <div *ngIf="!f.phone.errors.pattern && f.phone.errors.minlength">Phone must have less than {{ phoneMinLen }} digits</div>
                          <div *ngIf="f.phone.errors.pattern">Phone must be valid</div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <div class="row">
                        <!-- <div class="col-md-6">
                          <div class="form-group">
                            <label for="roles">Roles <span class="text-danger">*</span></label>
                              <ng-container *ngIf="this.admin && this.admin.roles && this.admin.roles.length > 0">
                                  ( <ng-container *ngFor="let role of this.admin.roles let i = index;"> {{ role }}
                                  <ng-container *ngIf="this.admin.roles.length - 1 > i">, </ng-container>
                                    </ng-container> )
                              </ng-container>
                            <select select2 (onSelect)="changeRoles($event)" class="form-control" id="roles" multiple="multiple" data-placeholder="Select a Roles" style="width: 100%;">
                              <option *ngFor="let role of roles" [value]="role.value">{{ role.name }}</option>
                            </select>
    
                            <div class="invalid-feedback" *ngIf="submitted && f.role.errors">
                                <div *ngIf="f.role.errors.required">Roles is required</div>
                            </div>
                        </div>
                        </div> -->

                        <div class="col-md-6" *ngIf="!(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) && !isAgent">
                          <div class="form-group">
                            <label for="roles">Permission Role <span class="text-danger">*</span></label>
                              <!-- <ng-container *ngIf="this.admin && this.admin.roles && this.admin.roles.length > 0">
                                  ( <ng-container *ngFor="let role of this.admin.roles let i = index;"> {{ role }}
                                  <ng-container *ngIf="this.admin.roles.length - 1 > i">, </ng-container>
                                    </ng-container> )
                              </ng-container> -->
                            <select select2 (onSelect)="changePermissionRoles($event)" class="form-control" id="permission_roles" data-placeholder="Select a Permission Role" style="width: 100%;">
                              <option [value]="">Select a role</option>
                              <option *ngFor="let role of permissionRoles" [value]="role.id">{{ role.name }}</option>
                            </select>
    
                            <div class="invalid-feedback" *ngIf="submitted && f.permissionRole.errors">
                                <div *ngIf="f.permissionRole.errors.required">Permission Roles is required</div>
                            </div>
                        </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group itemcrs">
                                <label for="currency">Currencies <span *ngIf="adminId == 0" class="text-danger">*</span> 
                                  <ng-container *ngIf="this.admin && this.admin.wallets && this.admin.wallets.length > 0">
                                    ( <ng-container *ngFor="let currency of this.admin.wallets; let i = index;"> {{ currency.code }} <ng-container *ngIf="this.admin.wallets.length - 1 > i">, </ng-container> </ng-container> )
                                  </ng-container>

                                </label>
                                <select multiple="true" select2 (onSelect)="changeCurrency($event)" class="form-control" id="currency" data-placeholder="Select a Currency" style="width: 100%;">
                                  
                                  <option *ngFor="let currency of currencies" [value]="currency.id"> {{ currency.name }} </option>

                                </select>
                                <div class="invalid-feedback" *ngIf="submitted && f.currency_id.errors">
                                    <div *ngIf="f.currency_id.errors.required">Currency is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="timezone">Timezone <span *ngIf="adminId == 0" class="text-danger">*</span> 
                          </label>
                          <br>
                          <select select2 id="time_zone"  (onSelect)="selectTimeZone($event)" style="width: 325px;" data-placeholder="Select Time Zone">
                            <option value="">Select Time Zone</option>
                            <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                            <option *ngFor="let zone of TIMEZONE" [value]="zone.zonename">{{zone.name}}</option>
                          </select>
                          <div class="invalid-feedback" *ngIf="submitted && f.time_zone.errors">
                              <div *ngIf="f.time_zone.errors.required">Timezone is required</div>
                          </div>
                      </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="agent_type">Agent Type <span *ngIf="adminId == 0" class="text-danger">*</span> 
                          </label>
                          <br>
                          <select select2 id="agent_type"  (onSelect)="selectAgentType($event)" style="width: 325px;" data-placeholder="Select Agent Type">
                            <option value="">Select Agent Type</option>
                            <option value=0>Calling Agent</option>
                            <option value=1>Comission Agent</option>
                          </select>
                          <div class="invalid-feedback" *ngIf="submitted && f.agent_type.errors">
                              <div *ngIf="f.agent_type.errors.required">Agent type is required</div>
                          </div>
                      </div>
                      </div>
                      
                    </div>

                   <div class="row">
                    <div class="col-md-12">
                      <hr>
                      <div class="icheck-primary d-inline">
                        <input type="checkbox" (change)="changeIPWhitelistState($event)" value="enable" name="enableWhitelist" formControlName="enableWhitelist" id="enableWhitelist">
                        <label for="enableWhitelist">
                            Enable IP Whitelist
                        </label>
                      </div>
                    </div>
                    </div>

                    
                    <div class="row" *ngIf="showIpWhitelistType">
                      <div class="col-md-12">
                        <br>
                        <div class="form-group">
                          <label for="type-1">Select IP whitelist type</label>
                          <div id ="type-1" class="custom-control custom-radio">

                            <input class="custom-control-input" type="radio" value="global" (change)="selectIPWhitelistTypeState('global')" id="customRadio1" name="ipWhitelistType" formControlName="ipWhitelistType" >
                            <label for="customRadio1" class="custom-control-label"> Use Global Ip Whitelist</label>


                            <span class="shift-box">
                              <input class="custom-control-input" type="radio" value="manual" id="customRadio2" (change)="selectIPWhitelistTypeState('manual')" name="ipWhitelistType" formControlName="ipWhitelistType" >
                              <label for="customRadio2" class="custom-control-label"> Use Manual Ip Whitelist</label>
                            </span>
                          </div>
                        </div>
                      </div>
                   </div>


                    <div class="row" *ngIf="showManualIpWhitelist" formGroupName="ip_address_group">
                      <div class="col-md-12">
                       <hr>
                        <div class="form-group" formArrayName="ip_address">
                          <label for="provider_name">IP Whitelist<br> <small> <i class="fa fa-info-circle"> </i> Here you enter the IP address from which this agent is allowed to login..</small></label><br>
                          <div *ngFor="let ips of ip_address.controls; let i=index" class="mb-3"
                            [formGroupName]="i">
                            <div class="col-md-12">
                              <div class="input-group">
                                <input type="text" formControlName="ip_address" class="form-control"
                                  placeholder="Enter IP Address" />
                                  <div class="input-group-append">
                                    <span class="input-group-text bg-danger" id="basic-addon2" (click)="removeIpAddress(i)"><i class="fa fa-times"> </i></span>
                                  </div>
                                <div class="invalid-feedback" *ngIf="submitted  && getIpAddressFormArr(i).controls['ip_address'].hasError('required')">
                                  <div>This filed is required</div>
                                </div>
                                
                                <div class="invalid-feedback" *ngIf="submitted  && getIpAddressFormArr(i).controls['ip_address'].hasError('pattern')">
                                  <div>This IP Address is not valid</div>
                                </div>   
                              </div>
                            </div>
                          </div>
                          <div>
                            <span (click)="addNewKey()" class="btn btn-primary btn-sm">Add New IP Address <i
                                class="fa fa-plus"></i></span>
                          </div>
                        </div>
                        <hr>
                      </div>
    
                    </div>




                  <div class="row mt-3">
                    <div class="col-md-12">
                      <div class="icheck-primary d-inline">
                        <input type="checkbox" formControlName="status" id="checkboxPrimary1">
                        <label for="checkboxPrimary1">
                            Active
                        </label>
                      </div>
  
                      &nbsp;
                      
                    <div class="icheck-primary d-inline">
                        <input type="checkbox" formControlName="kyc_regulated" id="checkboxPrimary2">
                        <label for="checkboxPrimary2">
                            Kyc Regulated
                        </label>
                      </div>
                    </div>
                  </div>

                  <!-- <section>
                    <div class="row mt-3">
                      <div class="col-12">
                        
                        <h5 class="text-muted mb-2">Permissions</h5>
                      </div>
                      <div class="col-12">
                          <p class="text-muted mt-3">
                          Each action require Read(<strong>R</strong>) permission first.</p>
                      </div>
                      
                      <div class="col-12">
                        <table class="table table-hover table-striped table-borderless">
                          <thead>
                            <tr>
                              <th>Action</th>
                              <th>Permissions</th>
                            </tr>
                          </thead>
                          <tbody formGroupName="permissions">
                            <ng-container *ngFor="let action of permissionFormGroups.controls | keyvalue">
                              <tr>
                                <td>{{action.key | capitalize}}</td>
                                <td>
                                  <div class="d-flex gap-1">
                                    <ng-container
                                      *ngTemplateOutlet="permisionFields; context: { actionPermissions: action.value, action: action.key }">
                                    </ng-container>
                                  </div>
                                </td>
                              </tr>
                            </ng-container>
            
            
                            <ng-template #permisionFields let-actionPermissions="actionPermissions" let-action="action">
                              <div class="form-check" *ngFor="let perm of actionPermissions.controls | keyvalue">
                                <input type="checkbox" class="form-check-input" [formControl]="castToControl(perm.value)"
                                  [id]="action + '_' + perm.key">
                                <label class="form-check-label" [for]="action + '_' + perm.key">{{getLabel(perm.key)}}</label>
                              </div>
                            </ng-template>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </section> -->

                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer" >
                    <button type="submit" [disabled]="adminLoader" class="btn btn-primary"> <span *ngIf="adminLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
                    &nbsp;
                    <ng-container *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0; else adminCancelTemp">
                      <a class="btn btn-warning" [routerLink]="['/super-admin/tenants/details', tenant?.id]"> Cancel </a>
                    </ng-container>
                    <ng-template #adminCancelTemp>
                      <a class="btn btn-warning" [routerLink]="['/agents']"> Cancel </a>
                    </ng-template>
                  </div>
                </form>
              </div>
              <!-- /.card -->
  
            </div>
          </div>
          <!-- /.row -->

        </div><!-- /.container-fluid -->
      </section>


  </div>
