<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Joining" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Joining</h3>
                <ng-container *ngIf = "this.permissionService.checkPermission('joining_bonus','C')">
                 <a class="btn btn-success f-right" routerLink="/bonus/joining/0"> Create New </a>
                </ng-container>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Code</th>
                      <th>Promotion Title</th>	
                      <th> Flat </th>	
                      <th> Image </th>
                      <ng-container *ngIf = "this.permissionService.checkPermission('joining_bonus','T')">
                        <th>Enabled</th>
                      </ng-container>
                      <th>Actions</th>	
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let join of Joining | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                      
                      <td> {{ join.id || 'NA' }} </td>
                      <td> {{ join.code || 'NA' }} </td>
                      <td> {{ join.promotion_title }} </td>
                      <td> {{ join.flat }} </td>
                      <td> <img [src]="join.image" width="70"/> </td>
                      <ng-container *ngIf = "this.permissionService.checkPermission('joining_bonus','T')">
                      <td> 
                         <span [ngClass]="join?.enabled ? 'text-success':'text-danger'">
                          {{ join?.enabled ? 'Enabled' : 'Disabled' }}
                        </span>


                      </td>
                      </ng-container>

                      <td>
                        <ng-container *ngIf = "this.permissionService.checkPermission('joining_bonus','U')">
                          <a *ngIf="join.total_used == 0" class="btn btn-warning fnt-12" [routerLink]="['/bonus/joining', join.id]"> <i class="fa fa-edit"></i> </a>
                          &nbsp;
                        </ng-container>
                        <button type="button" (click)="selectJoin(join)" class="btn btn-info fnt-12" data-toggle="modal" data-target="#modal-details"> <i class="fa fa-eye"></i> </button>
                         &nbsp;
                        <ng-container *ngIf = "this.permissionService.checkPermission('joining_bonus','D')">
                          <button *ngIf="join.total_used == 0" type="button" (click)="deleteJoin(join)" class="btn btn-danger fnt-12" > <i class="fa fa-trash"></i> </button>
                        </ng-container>
                        <ng-container *ngIf = "this.permissionService.checkPermission('joining_bonus','T')">
                          <ng-container *ngIf="join.enabled; else activeJoin">
                            <button type="button" (click)="changeJoinStatua(join, true)" class="btn btn-danger fnt-12" > <i class="fa fa-remove"></i></button>
                          </ng-container>
                          <ng-template #activeJoin>
                            <button type="button" (click)="changeJoinStatua(join, false)" class="btn btn-success fnt-12" > <i class="fa fa-check"></i></button>
                          </ng-template>
                        </ng-container>
                      </td>
                      
                    </tr>
                    <tr *ngIf="Joining && Joining.length === 0"> <td colspan="8" class="tnodata"> No Joining Found </td> </tr>
                  </tbody>
                </table>
              </div>
              </div>
              
              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
              
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  

  <div class="modal fade" id="modal-details" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Joining Bonus </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">

          <table class="table table-bordered">
            <tbody>

              <tr>
                <th>Id</th>
                <td> {{ join?.id }} </td>
              </tr>
              
              <tr>
                <th>Code</th>
                <td> {{ join?.code }} </td>
              </tr>

              <tr>
                  <th>Promotion Title</th>
                  <td> {{ join?.promotion_title }} </td>
              </tr>
                
              <tr>
                <th>Promotion Image</th>
                <td> <img [src]="join?.image" width="100"/> </td>
              </tr>

              <tr>
                <th>Flat</th>
                <td> {{ join?.flat }} </td>
              </tr>

              <tr>
                  <th>Enabled</th>
                  <td>
                      <span [ngClass]="join?.enabled ? 'text-success' : 'text-danger'">
                        {{ join?.enabled ? 'Yes' : 'No' }}
                      </span>
                  </td>
              </tr>

              <tr>
                  <th [width]="200"> Terms and Conditions</th>
                  <td> <div [innerHtml]="join?.terms_and_conditions | safeHtml"></div> </td>
              </tr>

            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>

