<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="FAQ Categories" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->


    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"> FAQ Categories</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form [formGroup]="faqCategoryForm" (ngSubmit)="onSubmit()">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="name">Name <span class="text-danger">*</span></label>
                                            <input type="text" formControlName="name" class="form-control"
                                                id="name" placeholder="Enter name" />
                                            <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                                                <div *ngIf="f.name.errors.required">Name is required</div>
                                                <div *ngIf="f.name.errors.pattern">Name must only contain letters, spaces, and underscores</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="slug">Slug <span class="text-danger">*</span></label>
                                            <input (paste)="(false)" (keypress)="removeSpace($event)" type="text" formControlName="slug" class="form-control"
                                                id="slug" placeholder="Enter slug" />
                                            <div class="invalid-feedback" *ngIf="submitted && f.slug.errors">
                                                <div *ngIf="f.slug.errors.required">Slug is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Image <span 
                                          class="text-danger" *ngIf="!isEdit">*</span></label>
                                        <div class="input-group">
                                          <div class="custom-file">
                                            <input (change)="selectImage(file.files)" #file formControlName="image"
                                              accept="svg+xml/png/jpg/jpeg" type="file" class="custom-file-input"
                                              id="exampleInputFile">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                          </div>
                            
                                        </div>
                                        <div class="invalid-feedback" *ngIf="submitted && f.image.errors">
                                          <div *ngIf="f.image.errors.required">File is required</div>
                                            <div *ngIf="f.image.errors?.dimension">
                                              Icon should be less then 30 x 30 size
                                            </div>
                                        </div>
                        
                                        <div class="col-md-12" *ngIf="imgURL">
                                          <img [src]="imgURL" class="imshow" />
                                        </div>
                                    </div>
                                </div>

                                    <div class="col-md-12" *ngIf = "this.permissionService.checkPermission('faq_categories','T')">
                                        <div class="form-group">
                                            <label for="slug">Active / Inactive </label>
                                            <div
                                                class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                                <input type="checkbox" class="custom-control-input"
                                                    formControlName="active" id="customSwitch3">
                                                <label class="custom-control-label" for="customSwitch3"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" [disabled]="faqLoader" class="btn btn-primary">
                                    <span *ngIf="faqLoader" class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span> Submit
                                </button>
                                &nbsp;
                                <a routerLink="/tenants/faq/categories" class="btn btn-warning"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>
            <!-- /.row -->



        </div><!-- /.container-fluid -->
    </section>


</div>