
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Tenants" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <section class="content" *ngIf="tenantRegistrationFieldsconfiguration">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">User Registration fields</h3>
            </div>
            <!-- /.card-header -->
            <form [formGroup]="tenantRegistrationFields" (ngSubmit)="onSubmit()">

            <div class="card-body">
              <div class="table-responsive">
              <table class="table table-bordered" formGroupName="phaseExecutions">
                <thead>
                <tr>
                  <th class="custom-width-head">Field Name </th>
                  <th class="custom-width-sub-head">Hide</th>
                  <th class="custom-width-sub-head">Show As Optional</th>
                  <th class="custom-width-sub-head">Show As Required</th>
                </tr>
                </thead>
                <tbody formArrayName="PRE">

                 
                    <tr *ngFor="let keys of configuration_keys.controls; let i=index"
                    [formGroupName]="i" class="custom_tr_td">

                      <td>{{getControlByName(i).replaceAll('_', ' ') | titlecase}}</td>
  
                      <td>
                         <div class="icheck-primary d-inline">
                            <input type="radio"  formControlName="{{getControlByName(i)}}" id="{{getControlByName(i)}}_0" name="{{getControlByName(i)}}" value="0" [value]="0">
                            <label for="{{getControlByName(i)}}_0"></label>
                          </div>
                      </td>

                      <td>
                        <div class="icheck-primary d-inline">
                          <input type="radio"  formControlName="{{getControlByName(i)}}" id="{{getControlByName(i)}}_1" name="{{getControlByName(i)}}" value="1" [value]="1">
                          <label for="{{getControlByName(i)}}_1"></label>
                        </div>
                      </td>

                      <td>
                        <div class="icheck-primary d-inline">
                          <input type="radio"  formControlName="{{getControlByName(i)}}" id="{{getControlByName(i)}}_2" name="{{getControlByName(i)}}" value="2" [value]="2">
                          <label for="{{getControlByName(i)}}_2"></label>
                        </div>
                      </td>

                      <!-- <div class="invalid-feedback" *ngIf="submitted  && getProviderFormArr(i).controls[getControlByName(i)].hasError(
                              'required'
                            )">
                          <div>{{getControlByName(i)}} is required</div>
                        </div> -->
  
                    </tr>
                  

                </tbody>
              </table>
            </div>

              <div class="row">
                <div class="col-sm-12 mt-3">
                  <ng-container *ngIf = "this.permissionService.checkPermission('tenant_registration_fields','U')">
                    <button type="submit" [disabled]="adminLoader" class="btn btn-info">
                      <span *ngIf="adminLoader" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span> Submit</button>
                  </ng-container>
                </div>
              </div>
            </div>
            </form>


          </div>
          <!-- /.card -->

        </div>
      </div>

    </div><!-- /.container-fluid -->
  </section>
</div>
