<ng-container
  *ngIf="this.permissionService.checkPermission('dashboard','financial_activity') || this.permissionService.checkPermission('dashboard','gaming_activity') || this.permissionService.checkPermission('players','R') || this.permissionService.checkPermission('sports_book','R')">
  <section class="content">
    <div class="card">

      <!-- /.card-header -->

      <div class="card-body">
        <div class="row">

          <ng-container
            *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0; else adminOptions">

            <div class="col-md-4">
              <div class="form-group">
                <label for="tenant_id">Tenant</label>
                <select class="form-control" id="tenant_id" [(ngModel)]="params.tenant_id">
                  <option
                    *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0"
                    value="0">All Tenants</option>
                  <option *ngFor="let tenants of tenantsList" [value]="tenants.id">{{tenants.name}}</option>
                </select>
              </div>
            </div>

          </ng-container>


          <ng-template #adminOptions>
            <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="agent_id">Agent</label>
                  <div>
                    <select class="form-control agent" id="agent_id" select2 (onSelect)="filterSelectAgent($event)"
                      [(ngModel)]="params.agent_id" data-placeholder="Select Agent">
                      <option *ngFor="let adminUser of userList" [value]="adminUser.id">{{adminUser.first_name}}
                        {{adminUser.last_name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="col-md-4" *ngIf="false">
              <div class="form-group">
                <label for="player_type">Player Type</label>
                <select class="form-control" id="player_type" [(ngModel)]="params.player_type">
                  <option value="all">All Organization Players</option>
                  <option value="direct">Only Direct Players</option>
                </select>
              </div>
            </div>

          </ng-template>

          <div class="col-md-4 d-flex align-items-end">
            <div class="form-group">
              <!-- <label for="player_type">{{ dates.start_date }} - {{ dates.end_date }} </label> -->
              <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;"
                data-placeholder="Select Time Zone">
                <option value="">Select Time Zone</option>
                <option *ngFor="let zone of TIMEZONE" [value]="zone.zonename">{{zone.name}}</option>
              </select>
              <!-- <div *ngIf="zone">{{zone}}</div> -->
            </div>
          </div>


        </div>


        <div class="row" style="position: relative;">
          <div class="col-md-12 ">

            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('today')" class="btn"
              [ngClass]="params.time_period == 'today' ? 'btn-success':'btn-default'" type="button"> Today
            </button> &nbsp;
            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('yesterday')" class="btn"
              [ngClass]="params.time_period == 'yesterday' ? 'btn-success':'btn-default'" type="button"> Yesterday
            </button> &nbsp;
            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('weekly')" class="btn"
              [ngClass]="params.time_period == 'weekly' ? 'btn-success':'btn-default'" type="button"> This Week
            </button> &nbsp;

            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('monthly')" class="btn"
              [ngClass]="params.time_period == 'monthly' ? 'btn-success':'btn-default'" type="button"> This
              Month
            </button> &nbsp;
            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('lastMonth')" class="btn"
              [ngClass]="params.time_period == 'lastMonth' ? 'btn-success':'btn-default'" type="button"> Last Month
            </button> &nbsp;
            <!-- <button (click)="setTimePeriod('yearly')" class="btn"
                [ngClass]="params.time_period == 'yearly' ? 'btn-success':'btn-default'" type="button"> This Year
              </button>&nbsp; -->
            <button [disabled]="!loadDataBool" (click)="setTimePeriod('custom')" class="btn"
              [ngClass]="params.time_period == 'custom' ? 'btn-success':'btn-default'" type="button"> Custom
              Date
            </button>
            &nbsp;
            <input autocomplete="off" *ngIf="customDate" data-placeholder="Search Time Period"
              placeholder="Search Time Period" type="text" class="custom-style " id="time_period" [format]="format"
              daterangetime_picker (onSelect)="setTimePeriod('custom','',$event)" />

            &nbsp;

            <button [disabled]="!loadDataBool" type="button" class="btn btn-success mr-1" (click)="searchButton()"> <i
                class="fa fa-search"></i> Search </button>
            &nbsp;

            <button [disabled]="!loadDataBool" type="button" class="btn btn-warning mr-1" (click)="resetFilter()"> Reset
              Filter </button>
            &nbsp;
            <button [disabled]="!loadDataBool" type="button" class="btn btn-default" (click)="searchButton()"> <i
                class="fa fa-refresh"></i>
            </button>

          </div>
          <!--<div class="col-md-5 ">

            </div>-->
        </div>
      </div>

    </div>
  </section>
</ng-container>

<ng-container *ngIf="this.service._player$.value; else empty">
  <div class="row">
    <div class="col-md-6">
      <div class="card">

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <ng-container *ngIf="loadDataBool;else chartLoader">
                <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                  [options]="activePlayerChartOptionsLine" [callbackFunction]="chartCallback" [(update)]="updateFlag"
                  [oneToOne]="oneToOneFlag" style="width: 100%; height: 380px; display: block;"></highcharts-chart>
              </ng-container>

            </div>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card">

            <div class="card-header">
              <h3 class="card-title">
                <span class="pull-left">
                  Active unique players
                  ( <ng-container [ngSwitch]="params.time_period">
                    <ng-container *ngSwitchCase="'today'">Today</ng-container>
                    <ng-container *ngSwitchCase="'yesterday'">Yesterday</ng-container>
                    <ng-container *ngSwitchCase="'weekly'">This Week </ng-container>
                    <ng-container *ngSwitchCase="'lastMonth'">Last Month </ng-container>
                    <ng-container *ngSwitchCase="'monthly'">This Month </ng-container>
                    <ng-container *ngSwitchCase="'yearly'">This Year</ng-container>
                    <ng-container *ngSwitchCase="'custom'">From {{ dates.start_date}} To {{
                      dates.end_date}}</ng-container>
                    <ng-container *ngSwitchDefault>Today</ng-container>
                  </ng-container> )
                </span>

              </h3>
            </div>

            <div class="card-footer">

              <div class="row">
                <div class="col-sm-12 col-12">
                  <div class="description-block border-right">
                    <h3 class="f-left"> {{ betCount }} </h3>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-12">
          <div class="card">

            <div class="card-header">
              <h3 class="card-title">Total Players Registered
               ( <ng-container [ngSwitch]="params.time_period">
                  <ng-container *ngSwitchCase="'today'">Today</ng-container>
                  <ng-container *ngSwitchCase="'yesterday'">Yesterday</ng-container>
                  <ng-container *ngSwitchCase="'weekly'">This Week </ng-container>
                  <ng-container *ngSwitchCase="'lastMonth'">Last Month </ng-container>
                  <ng-container *ngSwitchCase="'monthly'">This Month </ng-container>
                  <ng-container *ngSwitchCase="'yearly'">This Year</ng-container>
                  <ng-container *ngSwitchCase="'custom'">From {{ dates.start_date}} To {{
                    dates.end_date}}</ng-container>
                  <ng-container *ngSwitchDefault>Today</ng-container>
                </ng-container>
               )
              </h3>
            </div>

            <div class="card-footer">

              <div class="row">
                <div class="col-sm-12 col-12">
                  <div class="description-block border-right">
                    <h3 class="f-left"> {{reg_player}} </h3>
                    <!-- <h5 class="description-header">{{reg_player}}</h5> -->
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- <div class="col-md-12">
          <div class="card">

            <div class="card-header">
              <h3 class="card-title">Total active unique players
                ( <ng-container [ngSwitch]="params.time_period">
                  <ng-container *ngSwitchCase="'today'">Today</ng-container>
                  <ng-container *ngSwitchCase="'weekly'">This Week </ng-container>
                  <ng-container *ngSwitchCase="'lastMonth'">Last Month </ng-container>
                  <ng-container *ngSwitchCase="'monthly'">This Month </ng-container>
                  <ng-container *ngSwitchCase="'yearly'">This Year</ng-container>
                  <ng-container *ngSwitchDefault>Today</ng-container>
                </ng-container> )
              </h3>
            </div>

            <div class="card-footer">

              <div class="row">
                <div class="col-sm-12 col-12">
                  <div class="description-block border-right">
                    <h3 class="f-left"> {{betCount}} </h3>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div> -->
      </div>
      <!-- /.card -->

    </div>


    <div class="col-md-12">
      <div class="card">

        <div class="card-header">
          <h3 class="card-title">List of active unique players
            ( <ng-container [ngSwitch]="params.time_period">
              <ng-container *ngSwitchCase="'today'">Today</ng-container>
              <ng-container *ngSwitchCase="'yesterday'">Yesterday</ng-container>
              <ng-container *ngSwitchCase="'weekly'">This Week </ng-container>
              <ng-container *ngSwitchCase="'lastMonth'">Last Month </ng-container>
              <ng-container *ngSwitchCase="'monthly'">This Month </ng-container>
              <ng-container *ngSwitchCase="'yearly'">This Year</ng-container>
              <ng-container *ngSwitchCase="'custom'">From {{ dates.start_date}} To {{
                dates.end_date}}</ng-container>
              <ng-container *ngSwitchDefault>Today</ng-container>
            </ng-container> )
          </h3>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-md-12 col-12">
              <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>User Name</th>
                      <th>Email</th>
                      <!-- <th>Total Bet Amount</th> -->
                      <th>Total Bet Count</th>
                      <th>Agent Name</th>
                      <!-- <th>Bet Amount</th> -->
                    </tr>


                    <tr *ngFor="let bl of betList | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total } ">

                      <td>{{ bl._source.user_name }}</td>
                      <td>{{ bl._source.email }}</td>
                      <!-- <td>{{ bl._source.total_bet_amount | number: '1.2-2' }}</td> -->
                      <td>{{ bl._source.total_bets}}</td>
                      <td>{{ bl._source.agent_name }}</td>

                    </tr>

                    <tr class=" text-center" *ngIf="!betList?.length">
                      <td colspan="6">
                        <p>No Players Found</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>

      </div>
      <!-- /.card -->

    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <h5><b>User Balance Info</b></h5>
    </div>

    <div class="col-md-6">
      <div class="card">

        <div class="card-header">
          <h3 class="card-title">Current Real balance <i data-toggle="tooltip"
            title="Filters will not be applied."
            class="fas fa-info-circle"></i></h3>
        </div>


        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let dep of user_balance?.data">
                      <th>{{ dep.name }}:</th>
                      <td>{{ dep.real_balance }}</td>
                      <td
                        *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                        (EUR {{ dep.eur_real }}) </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>

        <div class="card-footer"
          *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
          <div class="row">
            <div class="col-sm-12 col-12">
              <div class="description-block border-right">
                <h3 class="f-left"> EUR {{ user_balance?.eur_real_total }} </h3>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <div class="card">

        <div class="card-header">
          <h3 class="card-title">Current Bonus Balance <i data-toggle="tooltip"
            title="Filters will not be applied."
            class="fas fa-info-circle"></i></h3>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                <h3 class="f-left"> {{ user_balance?.bonus_total }} </h3>
                <!-- <table class="table">
                  <tbody> -->
                  
                    <!-- <tr *ngFor="let dep of user_balance?.data">
                      <th>{{ dep.name }}:</th>
                      <td>{{ dep.bonus_balance }}</td>
                      <td
                        *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                        (EUR {{ dep.eur_bonus }}) </td>
                    </tr> -->
                  <!-- </tbody>
                </table> -->
              </div>

            </div>
          </div>
        </div>

        <div class="card-footer"
          *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
          <div class="row">
            <div class="col-sm-12 col-12">
              <div class="description-block border-right">
                <!-- <h3 class="f-left"> EUR {{ user_balance?.eur_bonus_total }} </h3> -->
                <!-- <h5 class="description-header"> {{ user_balance?.eur_bonus_total }} </h5>
                        <span class="description-text">EUR</span> -->
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>
  </div>
</ng-container>

<ng-template #empty>
  <ng-container *ngIf="loadDataBool else chartLoader">
    <div style="min-height: 500px;"></div>
  </ng-container>
</ng-template>

<ng-template #chartLoader>

  <img class="chart-loader" src="./assets/dist/gif/loader.gif" />

</ng-template>