<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Managers" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Filter</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                <div class="row">

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="size">Size</label>
                      <select class="form-control" id="size" [(ngModel)]="params.size">
                        <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                      </select>
                    </div>
                  </div>

                  <!-- <div class="col-md-3">
                    <div class="form-group">
                      <label for="role">Admin Role</label>
                    <select class="form-control" id="role" (change)="filter($event)" [(ngModel)]="params.role">
                      <option value="">All</option>
                      <option *ngFor="let role of roles" value="{{role.id}}"> {{role.name}} </option>
                    </select>
                    </div>
                  </div> -->

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="name">Search By Name, Email</label>
                      <input type="text" class="form-control" id="name" [(ngModel)]="params.name" placeholder="Search Name, Email"/>
                    </div>
                  </div>

                 
                  <div class="col-md-3">
                    <button type="button" class="mgt btn btn-success fnt-12" (click)="filter($event)"> <i class="fa fa-search" ></i> Search</button>
                    <button type="button" class="mgt btn btn-warning fnt-12 ml-2" (click)="resetFilter()"> Reset Filter </button>
                  </div>
                  
                </div>
                

              </div>

            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Manager List </h3>
                <a *ngIf="!superAdminAuthService?.superAdminUserValue?.parent_id" class="btn btn-success f-right fnt-12" routerLink="/super-admin/admins/0/0"> Create New </a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Role</th>
                      <!-- <th>Parent Type</th> -->
                      <th>Created Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let admin of admins | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                      <td>{{ admin.id }}</td>
                      <td>  {{ admin.first_name }}  {{ admin.last_name }}  </td>
                      <td>{{ admin.email }}</td>
                      <td>{{ admin?.role_name || "N/A" }}</td>
                      <!-- <td> {{ admin.parent_type }}</td> -->
                      <td> {{ admin.created_at | date }}</td>
                     

                      <td>
                        <a *ngIf="!superAdminAuthService?.superAdminUserValue?.parent_id" class="btn btn-warning fnt-12" [routerLink]="['/super-admin/admins', admin.id,0]"> <i class="fas fa-edit"></i> </a>
                        <a *ngIf="superAdminAuthService?.superAdminUserValue?.parent_id"> Not Allow </a>

                        &nbsp;&nbsp;

                        <ng-container *ngIf="admin.active; else activeUser">
                          <button type="button" (click)="deactiveManagerStatus(admin,false)" class="btn btn-danger fnt-12 btnCommon"> <i class="fa fa-remove"></i> </button>
                        </ng-container>
                        <ng-template #activeUser>
                          <button type="button" (click)="deactiveManagerStatus(admin,true)" class="btn btn-success fnt-12 btnCommon"> <i class="fa fa-check"></i> </button>
                        </ng-template>




                      </td>
                    </tr>

                    <tr *ngIf="firstTimeApiCall && admins && admins.length === 0"> <td colspan="6" class="tnodata"> No Managers Found </td> </tr>
                    <tr *ngIf="!firstTimeApiCall"> <td colspan="6" class="tnodata"> Click Search to Load Data </td> </tr>
                  </tbody>
                </table>
              </div>
              </div>

              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>

            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
