





<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Tenants" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">
  
      <div class="row">
  
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Tenant Payment Providers</h3>
              <ng-container *ngIf = "this.permissionService.checkPermission('tenant_payment_providers','C')">
                <a *ngIf="remainingPaymentProvider && remainingPaymentProvider.length > 0" [routerLink]="['/tenants/payment-providers', 0]" [state]="{ tenant: tenant, remprods: remainingPaymentProvider }" class="fnt-12 f-right btn btn-success">Create New</a>
              </ng-container>
            </div>
            <!-- /.card-header -->
            <div class="card-body" style="overflow: auto;">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">ID</th>
                    <th>Payment Provider Name</th>
                    <th>Payment Provider Type</th>
                    <th>Provider Setup Credentials</th>
                    <th>Supported Currencies</th>
                    <th *ngIf="paymentGatewayCategoriesEnable">Vip Level</th>
                    <th>Minimum Deposit Limit</th>
                    <th>Maximum Deposit Limit</th>
                    <th>Status</th>
                    <th>Date</th>
                    <ng-container *ngIf = "this.permissionService.checkPermission('tenant_payment_providers','U') || this.permissionService.checkPermission('tenant_payment_providers','T')">
                      <th style="width: 40px">Action</th>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pp of selectedPaymentProvider">
                    <td>{{ pp.id }}</td>
                    <td>{{ pp.provider_name }}</td>
                    <td>{{ pp.provider_type | titlecase }}</td>
                    <td style="max-width: 20em">
                      <div class="table-responsive">
                        <table style="padding: 0px 18px;width: 100%;">
                          <tr>
                            <th>S.N.</th>
                            <th>Provider Key Name</th>
                            <th>Provider Key Value</th>
                          </tr>
                          <tr *ngFor="let item of pp.key_values | keyvalue ;let i =index">
                              <td>{{i+1}}</td> 
                              <td>{{item.key}}</td> 
                              <td>{{item.value | hideChars}}</td>
                          </tr>
                        </table>
                      </div>
                    </td>
                    <td>
                      <ul *ngIf="pp.currencyList.length > 0 ; else empty" style="padding: 0px 18px;">
                        <li *ngFor="let item of pp.currencyList">
                            {{item.name}}
                        </li>
                      </ul>

                      <ng-template #empty>--</ng-template>
                    </td>
                    
                    <td *ngIf="paymentGatewayCategoriesEnable">
                      <ng-container *ngIf="pp.vip_level; else empty" >
                        <ul *ngIf= "jsonParse(pp?.vip_level).length > 0 ; else empty" style="padding: 0px 18px;">
                          <li *ngFor="let item of jsonParse(pp.vip_level)">
                            Level {{item}}
                          </li>
                        </ul>
                      </ng-container>

                    <ng-template #empty>--</ng-template>
                  </td>
                    <td>{{ pp.min_deposit_limit || 'NA' }}</td>
                    <td>{{ pp.max_deposit_limit || 'NA' }}</td>
                    <td *ngIf="pp.active == true">
                      <span class="badge badge-success">Active</span>
                    </td>
                    <td *ngIf="pp.active != true">
                        <span class="badge badge-danger">In-Active</span>
                    </td>
                  <td>{{ pp?.created_at | date }}</td>
                  <ng-container *ngIf = "this.permissionService.checkPermission('tenant_payment_providers','U') || this.permissionService.checkPermission('tenant_payment_providers','T') ">
                    <td>
                      <ng-container *ngIf="!pp.disabledByAdmin && pp.provider_active; else notActive">
                      <ng-container *ngIf = "this.permissionService.checkPermission('tenant_payment_providers','U')">
                        <a class="btn btn-warning fnt-12" [routerLink]="['/tenants/payment-providers', pp.id]"
                        [state]="{paymentProviders: pp, tenant: tenant, remprods: remainingPaymentProvider }"> <i class="fa fa-edit"></i> </a>
                      </ng-container>
                      &nbsp;
                      <ng-container *ngIf = "this.permissionService.checkPermission('tenant_payment_providers','T') ">
                        <ng-container *ngIf="pp.active; else activeProvider">
                          <button type="button" (click)="deactiveProviderStatus(pp)" class="btn btn-danger fnt-12 btnCommon"> <i class="fa fa-remove"></i> </button>
                        </ng-container>
                        <ng-template #activeProvider>
                          <button type="button" (click)="activeProviderStatus(pp)" class="btn btn-success fnt-12 btnCommon"> <i class="fa fa-check"></i> </button>
                        </ng-template>
                      </ng-container>
                    </ng-container>
                    <ng-template #notActive>
                      <span class="badge badge-info">Disabled by super admin</span>
                    </ng-template>
                    </td>
                  </ng-container>
                  </tr>
  
                  <!-- <tr *ngIf="selectedPaymentProvider && selectedPaymentProvider.length === 0"> <td colspan="5" class="tnodata"> No Payment Provider Found </td> </tr> -->
  
                </tbody>
              </table>
            </div>
  
          </div>
          <!-- /.card -->
  
        </div>
  
      </div>
  
    </div><!-- /.container-fluid -->
  </section>
</div>
