.btnCommon{
  margin-bottom: 2px;
  margin-top: 2px;
}

.copyButton{
  padding: 8px;
    background: #5784f5;
    color: #fff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    top: 4px;
    left: 9px;
}

.ip-whitelist{
  padding: 9px;
  font-size: 15px;
  margin: 4px;
}

.copy-before span:before {
	content: "Copied";
	position: absolute;
	top: -45px;
	right: 0px;
	background: #5c81dc;
	padding: 8px 10px;
	border-radius: 20px;
	font-size: 15px;
	display: none;
}
.copy-before span:active {
	background: #809ce2;
}

.copy-before span:after {
	content: "";
	position: absolute;
	top: -20px;
	right: 25px;
	width: 10px;
	height: 10px;
	background: #5c81dc;
	transform: rotate(45deg);
	display: none;
}
