<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Tenant Admin" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Admin</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered" style="table-layout: fixed;width: 100%;">
                  <tbody>
                    <tr>
                      <td> Id </td>
                      <td>{{ admin?.id }}</td>
                    </tr>
                      <td> Email </td>
                      <td> {{ admin?.email }} </td>
                    <tr>
                      <td> Agent Name </td>
                      <td> {{ admin?.agent_name }} </td>
                    </tr>
                    <tr>
                      <td>First name</td>
                      <td>{{ admin?.first_name }}</td>
                    </tr>
                    <tr>
                      <td>Last name</td>
                      <td>{{ admin?.last_name }}</td>
                    </tr>
                    <tr>
                      <td>Phone number</td>
                      <td>{{ admin?.phone }}</td>
                    </tr>
                    <tr>
                      <td>Phone verified</td>
                      <td>{{ admin?.phone_verified }}</td>
                    </tr>
                    <tr *ngIf="admin?.parent_id !=admin?.id">
                      <td>Parent agent</td>
                      <td> 
                        <span *ngIf="admin?.parent_id === loggedInUserId">{{ admin?.parent_email }}</span>
                        <a *ngIf="admin?.parent_id !== loggedInUserId" [routerLink]="['/agents/details', admin?.tenant_id, admin?.parent_id]" (click)="setAdminId(admin?.parent_id)">
                        {{ admin?.parent_email }} </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Created at</td>
                      <td>{{ admin?.created_at | date:'dd-MM-YYYY' }}</td>
                    </tr>
                    <tr>
                      <td>Updated at</td>
                      <td>{{ admin?.updated_at | date:'dd-MM-YYYY' }}</td>
                    </tr>
                    <tr>
                      <td>Roles</td>
                      <td>
                        <ng-container *ngFor="let role of getRoles(admin?.rolesids); let i = index;"> {{ getRole(role) }}<ng-container *ngIf="getRoles(admin?.rolesids).length - 1 > i">,</ng-container> </ng-container>
                      </td>
                    </tr>
                    <tr *ngIf = "admin?.permissionRoleName">
                      <td>Permission Role Name</td>
                      <td>
                        {{ admin?.permissionRoleName }}
                      </td>
                    </tr>
                    <tr>
                      <td> Status </td>
                      <td>
                        <span *ngIf="admin && admin.active" class="text-success">Active</span>
                        <span *ngIf="admin && !admin.active" class="text-danger">In-Active</span>
                      </td>
                    </tr>
                    
                    <tr>
                      <td> Kyc Regulated? </td>
                      <td>
                        <span [ngClass]="admin?.kyc_regulated ? 'text-success':'text-danger'">{{ admin?.kyc_regulated ? 'Yes' : 'No' }}</span>
                      </td>
                    </tr>
                    
                    <tr *ngIf="admin?.affiliate_token">
                      <td> Agent Affiliate Token </td>
                      <td class="copy-before">
                        <span>{{ admin?.affiliate_token ? admin?.affiliate_token : 'NA' }}</span>
                        <span class="copyButton" title="Click To Copy" (click)="copyMessage(admin.affiliate_token)" value="click to copy" ><i class="fa fa-clone"></i></span>

                      </td>
                    </tr>
                    
                    <tr>
                      <td> Enable IP Whitelist </td>
                      <td class="copy-before">
                        <span>{{ admin?.is_applied_ip_whitelist ? 'Yes' : 'No' }}</span>
                      </td>
                    </tr>
                    
                    
                    <tr *ngIf="admin?.is_applied_ip_whitelist">
                      <td> IP Whitelist Type</td>
                      <td class="copy-before">
                        <span>{{( admin?.ip_whitelist_type ? admin?.ip_whitelist_type : 'NA') | titlecase }}</span>
                      </td>
                    </tr>
                    
                    <tr *ngIf="admin?.ip_whitelist_type == 'manual' && admin?.ip_whitelist?.length">
                      <td> IP Whitelist </td>
                      <td>
                          <span *ngFor="let item of admin.ip_whitelist" class="badge badge-info ip-whitelist"> {{item}}</span>
                      </td>
                    </tr>
                    <ng-container *ngIf="this.permissionService.checkPermission('agents','U')">
                      <tr>
                        <td>Actions</td>
                        <td><a class="btn btn-warning fnt-12" [routerLink]="['/agents', tenantId, adminId]" [state]="{ tenant: tenant }"> Edit </a></td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              <br/>
                <a class="btn btn-info fnt-12" *ngIf="showTreebtn"  [routerLink]="['/agents/tree', tenantId, admin?.id]"> <i class="fa fa-sitemap"></i> View Agent Tree </a>
              
              </div>
              

            </div>
            <!-- /.card -->

          </div>

          <div class="col-md-6" *ngIf="admin?.wallets && superAdminAuthService.superAdminUserValue?.role != 'manager'">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Wallet</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                    <!--<tr>
                      <td>ID</td>
                      <td>{{ admin?.wallet_id }}</td>
                    </tr>-->
                    <tr>
                      <td>Currency</td>
                      <!--<td> {{ admin.currency_name }} </td>-->
                      <td *ngIf="admin && admin.wallets">
                        <span *ngFor="let wallet of admin.wallets ; index as i" >
                          {{ wallet.code  }} <ng-container *ngIf="admin.wallets.length - 1 > i">, </ng-container>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>Amount</td>
                      <td>
                        <span  *ngFor="let wallet of admin?.wallets" >
                          <span class=""><strong>{{ wallet.amount|number:'1.2-2'}} </strong></span>
                            <span class="ml-2">{{ wallet.code }}</span>
                           <br/>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>Last deposited amount</td>
                      <td>{{ admin?.last_deposited_amount }}</td>
                    </tr>
                    <tr>
                      <td>Updated at</td>
                      <td>{{ admin?.wallet_updated_at | date:'dd-MM-YYYY' }}</td>
                    </tr>
                    <ng-container *ngIf = "this.permissionService.checkPermission('fund_transfer_deposit','C') || this.permissionService.checkPermission('fund_transfer_withdraw','C')">
                      <tr *ngIf="(adminAuthService.adminTokenValue && adminAuthService.adminTokenValue.length > 0) || (superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 && (getRoles(admin?.rolesids).indexOf('1') !== -1))">
                        <td>Actions</td>
                        <td style="display: flex;">
                          <ng-container *ngIf = "this.permissionService.checkPermission('fund_transfer_deposit','C')">
                            <a class="btn btn-success fnt-12" [routerLink]="['/transactions/transfer-fund']" [queryParams]="{ owner_id: admin?.id, email: admin?.email, owner_type: 'AdminUser', type: 'Deposit', tenant_id: tenantId}"> Deposit </a>
                            &nbsp;
                          </ng-container>
                          <ng-container *ngIf = "this.permissionService.checkPermission('fund_transfer_withdraw','C')">
                            <button type="button" class="btn btn-danger fnt-12" [disabled]="amountCheck(admin?.wallets)" [routerLink]="['/transactions/transfer-fund']" [queryParams]="{ owner_id: admin?.id, email: admin?.email, owner_type: 'AdminUser', type: 'Withdraw', tenant_id: tenantId}"> Withdraw </button>
                          </ng-container>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>

            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->


    <section class="content" *ngIf="adminAuthService.adminTokenValue && adminAuthService.adminTokenValue.length > 0">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Settings</h3>
                <ng-container *ngIf = "this.permissionService.checkPermission('agents','C')">
                  <button (click)="createSetting()" class="btn btn-success fnt-12 f-right" data-toggle="modal" data-target="#modal-setting" *ngIf="admin?.setting && admin?.setting.length === 0"> Create New </button>
                </ng-container>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Key</th>
                      <th>Value</th>
                      <th>Created At</th>
                      <th>Updated At</th>
                      <ng-container *ngIf = "this.permissionService.checkPermission('agents','U') || this.permissionService.checkPermission('agents','D')">
                        <th style="width: 140px">Action</th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let setting of admin?.setting">
                      <td> {{ setting.id }} </td>
                      <td>{{ setting.key }}</td>
                      <td>{{ setting.value }}</td>
                      <td>{{ setting.created_at | date:'dd-MM-YYYY' }}</td>
                      <td>{{ setting.updated_at | date:'dd-MM-YYYY' }}</td>
                      <ng-container *ngIf = "this.permissionService.checkPermission('agents','U') || this.permissionService.checkPermission('agents','D')">
                        <td>
                          <ng-container *ngIf = "this.permissionService.checkPermission('agents','U')">
                            <button class="btn btn-warning fnt-12" (click)="setSetting(setting)" data-toggle="modal" data-target="#modal-setting"> Edit </button> 
                            &nbsp;
                          </ng-container>
                          <ng-container *ngIf = "this.permissionService.checkPermission('agents','D')">
                            <button class="btn btn-danger fnt-12" type="button" (click)="deleteSetting(setting)"> Delete </button>
                          </ng-container>
                        </td>
                      </ng-container>
                    </tr>
                    
                    <tr *ngIf="admin?.setting && admin?.setting.length === 0"> <td colspan="6" class="tnodata"> No Settings Found </td> </tr>

                  </tbody>
                </table>
              </div>
              </div>

            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>

      <section class="content" *ngIf="this.permissionService.checkPermission('agents','R') || (superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 )">
        <div class="container-fluid">

          <div class="row">

            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Sub agents</h3>
                  <!--<button type="button" class="btn btn-info f-right fnt-12" (click)="exportAgentsAsXLSX()"> CSV <i class="fa fa-download"></i> </button>-->
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                  <div class="row">
                    
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="search">Search</label>
                        <input type="text" class="form-control" id="search" [(ngModel)]="subAdminParams.search" placeholder="Search Email, First Name, Last Name"/>
                      </div>
                    </div>     

                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="size">Size</label>
                      <select class="form-control" id="size" [(ngModel)]="subAdminParams.size">
                        <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                      </select>
                      </div>
                    </div>                                 
                    
                    <div class="col-md-4">
                      <button type="button" class="mgt btn btn-success fnt-12 mb-2" (click)="filterSubAdmins($event)"> <i class="fa fa-search"></i> Search</button>
                      <button type="button" class="mgt btn btn-warning fnt-12 mb-2 ml-2" (click)="subAdminResetFilter()"> Reset Filter </button>
                    </div>

                  </div>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 10px">ID</th>
                        <th>Email</th>
                        <th>Agent Name</th>
                        <th>Full name</th>
                        <th>Phone number</th>
                        <th>Phone verified</th>
                        <th>Roles</th>
                        <th>Status</th>
                        <th>Kyc Regulated?</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of subAdmins | paginate: { itemsPerPage: subAdminParams.size, currentPage: subAdminP, totalItems: subAdminTotal, id: 'subadminpid' }">
                        <td> {{ user.id }} </td>
                        <td><a [routerLink]="['/agents/details', admin?.tenant_id, user.id]" (click)="setAdminId(user.id)"> {{ user.email }} </a></td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.agent_name }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.phone_verified }}</td>
                        <td> 
                          {{ user.roles }}
                          <!-- <ng-container *ngFor="let role of getRoles(user.roles)"> {{ getRole(role) }}, </ng-container> -->
                        </td>
                        <td><span [ngClass]="user.active ? 'text-success':'text-danger'">{{ user.active ? 'Active' : 'Deactive' }}</span></td>
                        <td><span [ngClass]="user.kyc_regulated ? 'text-success':'text-danger'">{{ user.kyc_regulated ? 'Yes' : 'No' }}</span></td>

                        <td>
                          <ng-container *ngIf = "this.permissionService.checkPermission('agents','U')">
                            <a class="btn btn-warning fnt-12 btnCommon " [routerLink]="['/agents', tenantId, user.id]" [state]="{ tenant: tenant }"> <i class="fa fa-edit"></i> </a>
                            &nbsp;
                          </ng-container>
                          <a class="btn btn-info fnt-12 btnCommon" (click)="setAdminId(user.id)" [routerLink]="['/agents/details', tenantId, user.id]"> <i class="fa fa-eye"></i> </a>
                          &nbsp;
                          
                          <ng-container *ngIf = "this.permissionService.checkPermission('agents','T')">
                            <ng-container *ngIf="user.active; else activeUser">
                              <button type="button" (click)="deactiveAgentStatus(user)" class="btn btn-danger fnt-12 btnCommon"> <i class="fa fa-remove"></i> </button>
                            </ng-container>
                            <ng-template #activeUser>
                              <button type="button" (click)="activeAgentStatus(user)" class="btn btn-success fnt-12 btnCommon"> <i class="fa fa-check"></i> </button>
                            </ng-template>
                          </ng-container>

                          &nbsp;
                          <a class="btn btn-info fnt-12 btnCommon" [routerLink]="['/agents/tree', tenantId, user.id]"> <i class="fa fa-sitemap"></i> </a>
                        </td>
                      </tr>
                      <tr *ngIf="subAdmins && subAdmins.length === 0"> <td colspan="10" class="tnodata"> No Admins Found </td> </tr>
                    </tbody>
                  </table>
                  </div>
                </div>

                <pagination-controls id="subadminpid" (pageChange)="subAdminPageChanged($event)" (pageChange)="subAdminP = $event"></pagination-controls>

              </div>
              <!-- /.card -->

            </div>

          </div>

        </div><!-- /.container-fluid -->
      </section>

    <ng-container *ngIf = "this.permissionService.checkPermission('players','R')">
      <section class="content">
        <div class="container-fluid">

          <div class="row">

            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Players</h3>
                  <!--<button type="button" class="btn btn-info f-right fnt-12" (click)="exportPlayersAsXLSX()"> CSV <i class="fa fa-download"></i> </button>-->
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                  <div class="row">

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="search2">Search</label>
                        <input type="text" class="form-control" id="search2" [(ngModel)]="playerParams.search" placeholder="Search Email, First Name, Last Name"/>
                      </div>
                    </div>  
                    

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="status">Status</label>
                      <select class="form-control" id="status" [(ngModel)]="playerParams.status">
                        <option value="">All</option>
                        <option value="true">Active</option>
                        <option value="false">In-Active</option>
                      </select>
                      </div>
                    </div>
  
                            
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="size2">Size</label>
                      <select class="form-control" id="size2" [(ngModel)]="playerParams.size">
                        <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                      </select>
                      </div>
                    </div>          
                    
                    <div class="col-md-3">
                      <button type="button" class="mgt btn btn-success fnt-12 mb-2" (click)="filterPlayers($event)"> <i class="fa fa-search"></i> Search</button>
                      <button type="button" class="mgt btn btn-warning fnt-12 mb-2 ml-2" (click)="playerResetFilter()"> Reset Filter </button>
                    </div>

                  </div>

                  <div class="table-responsive">
                    <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 10px">ID</th>
                        <th>User Name</th>
                        <th>Nick Name</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Total Balance</th>
                        <th>Status</th>
                        <th *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">Demo</th>
                        <th>KYC Done?</th>
                        <th style="width: 10% !important;">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of players | paginate: { itemsPerPage: playerParams.size, currentPage: playerP, totalItems: playerTotal, id: 'playerpid' }">
                        <td> {{ user.id }} </td>
                        <td> <a [routerLink]="['/players/details', user.id]"> {{ user.user_name }} </a></td>
                        <td>{{ user.nick_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td> {{ user.total_amount | number: '1.2-2' || 0.00 }} {{ user.currency_code }}</td>
                        <td> <span [ngClass]="user.active ? 'text-success':'text-danger'">{{ user.active ? 'Active' : 'Deactive' }}</span> </td>
                        <td *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0"><span [ngClass]="user.demo ? 'text-success':'text-danger'">{{ user.demo ? 'Yes' : 'No' }}</span></td>
                        <td><span [ngClass]="user.kyc_done ? 'text-success':'text-danger'">{{ user.kyc_done ? 'Yes' : 'No' }}</span></td>
                        <td>
                          <ng-container *ngIf = "this.permissionService.checkPermission('players','U')">
                            <a class="btn btn-warning fnt-12 " *ngIf="superAdminAuthService.superAdminUserValue?.role != 'manager'" [routerLink]="['/players', user.id]"> <i class="fa fa-edit"></i> </a>
                            &nbsp;
                          </ng-container>
                          <a class="btn btn-info fnt-12 mt-1" [routerLink]="['/players/details', user.id]"> <i class="fa fa-eye"></i> </a>
                          &nbsp;
                          <ng-container *ngIf = "this.permissionService.checkPermission('players','T')">
                            <ng-container *ngIf="user.active; else activeUser">
                              <button type="button" (click)="updatePlayerStatus(user, 0)" class="btn btn-danger fnt-12 mt-1"> <i class="fa fa-remove"></i> </button>
                            </ng-container>
                            <ng-template #activeUser>
                              <button type="button" (click)="updatePlayerStatus(user, 1)" class="btn btn-success fnt-12"> <i class="fa fa-check"></i> </button>
                            </ng-template>
                          </ng-container>
                        </td>
                      </tr>
                      <tr *ngIf="players && players.length === 0"> <td [attr.colspan]="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 ? 11 : 10" class="tnodata"> No Players Found </td> </tr>
                    </tbody>
                  </table>
                  </div>
                </div>

                <pagination-controls id="playerpid" (pageChange)="playerPageChanged($event)" (pageChange)="playerP = $event"></pagination-controls>

              </div>
              <!-- /.card -->

            </div>

          </div>

        </div><!-- /.container-fluid -->
      </section>
    </ng-container>

  </div>



  <div class="modal fade" id="modal-setting" aria-hidden="true" style="display: none;" *ngIf="adminAuthService.adminTokenValue && adminAuthService.adminTokenValue.length > 0">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Settings </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          
              <div class="form-group">
                <label for="skey">Key <span class="text-danger">*</span></label>
                <select formControlName="key" id="skey" class="form-control">
                  <option value="commission_percentage">Commission percentage</option>
                </select> 
                <div *ngIf="submitted && f.key.errors" class="invalid-feedback">
                  <div *ngIf="f.key.errors.required">key is required</div>
              </div>
              </div>

              <div class="form-group">
                <label for="svalue">Value <span class="text-danger">*</span></label>
                <input formControlName="value" type="number" placeholder="Enter Value" class="form-control" id="svalue"/>
                <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
                  <div *ngIf="f.value.errors.required">Value is required</div>
                  <div *ngIf="f.value.errors.min">Value cannot be less than 0</div>
                  <div *ngIf="f.value.errors.max">Value cannot be greater than 100</div>
              </div>
              </div>
              
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="settingLoader" class="btn btn-primary">
                <span *ngIf="settingLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Save changes </button>
            </div>

          </form>

      </div>
    </div>
  </div>
