<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Notifications" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <!--<div class="card-header">
                <h3 class="card-title">Notifications</h3>
              </div>-->
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Message</th>
                      <th style="width: 200px">Received At</th>
                      <ng-container *ngIf = "this.permissionService.checkPermission('players','R') || this.permissionService.checkPermission('withdrawal_request','R')">
                        <th style="width: 150px">Action</th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let notification of notifications | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
  
                      <td> {{ notification.id }} </td>
                      <td> {{ notification.message }} </td>
                      <td> {{ notification.created_at | date:'MMM d, y h:mm' }} </td>
                      <ng-container *ngIf = "this.permissionService.checkPermission('players','R') || this.permissionService.checkPermission('withdrawal_request','R')">
                      <td>
                        <ng-container *ngIf="this.permissionService.checkPermission('players','R')">
                          <ng-container *ngIf="notification.reference_type == 'UserDocument';">
                            <a [routerLink]="['/players/details', notification.sender_id]" [queryParams]="{ tab: 'settings' }" class="fnt-12 btn btn-info"> View Documents </a>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="this.permissionService.checkPermission('withdrawal_request','R')">
                          <ng-container *ngIf="notification.reference_type == 'Withdraw' ">
                            <a [routerLink]="['/withdraw-requests/unverified']" class="fnt-12 btn btn-info"> View Request </a>
                          </ng-container>
                        </ng-container>
                        <!--<ng-template #agentLinkTemp>-->

                          <!-- <a [routerLink]="['/agents/details', tenant_id, notification.reference_id]" class="fnt-12 btn btn-info"> View Documents </a> -->
                        <!--</ng-template>-->
                      </td>
                    </ng-container>
                    </tr>
  
                    <tr *ngIf="notifications.length === 0"> <td colspan="4" class="tnodata"> No Notifications Found </td> </tr>
  
                  </tbody>
                </table>
              </div>
              </div>
  
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  