<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Permission Role" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">

            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Permission Role </h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td> Id </td>
                                <td>{{ permissionRole.id }}</td>
                            </tr>
                            <tr>
                                <td> Role name </td>
                                <td> {{ permissionRole.role_name }} </td>
                            </tr>
                            <tr>
                                <td> Role Type </td>
                                <td> {{ getPermissionRoleType(permissionRole.role_type) }} </td>
                            </tr>
                            <tr>
                                <td> Tenant Name </td>
                                <td> {{ getTenantName(permissionRole.tenant_id)}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid">
                    <div class="card card-outline">
                        <div class="card-header">
                            <label class="card-title">Permissions</label>
                        </div>
                        <!-- /.card-header -->
                        <div class="permission-wrapper">
                            <div class="card-body">
                                <ng-container *ngFor="let header of permissions | keyvalue">
                                    <div class="per-data">
                                        <p>{{ header.key | capitalize}}</p>
                                        <div class="permission-group">
                                            <span *ngFor="let permission of getPermissionsFromValue(header.value)"
                                                class="permission-cells text-white" [ngClass]="{active: true}">
                                                {{getLabel(permission)}}
                                            </span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


</div>
