<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Banners" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
    
      <section class="content">
        <div class="container-fluid">

          <div class="row">

            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title"> Banners </h3>
                  <ng-container *ngIf = "this.permissionService.checkPermission('tenant_banners','C')">
                    <a [routerLink]="['/tenants/banners', 0]" class="btn btn-success fnt-12 f-right"> Create New </a>
                  </ng-container>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <ng-container *ngIf = "this.permissionService.checkPermission('tenant_banners','U')">
                          <th *ngIf="!isTouchDevice" >#</th>
                        </ng-container>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image/Video URL</th>
                        <th>Redirect URL</th>
                        <th>Type</th>
                        <th>Enabled</th>
                        <ng-container *ngIf = "this.permissionService.checkPermission('tenant_banners','U') || this.permissionService.checkPermission('tenant_banners','D')">
                          <th>Actions</th>
                        </ng-container>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let banner of banners" class="todo-list ui-sortable" [id]="banner.id" [attr.data-order]="banner.order">
                        <ng-container *ngIf = "this.permissionService.checkPermission('tenant_banners','U')">
                          <td *ngIf="!isTouchDevice">
                            <span class="handle ui-sortable-handle">
                              <i class="fas fa-ellipsis-v"></i>
                              <i class="fas fa-ellipsis-v"></i>
                            </span>
                          </td>
                        </ng-container>

                        <td> {{ banner.id }} </td>
                        <td> <a href="javascript:void(0);" data-toggle="modal" data-target="#modal-banner" (click)="selectBanner(banner)"> {{ banner.name }} </a> </td>
                        <td> <a [href]="banner.image_url" target="_blank" > <span class="text-success">View here</span> </a> </td>
                        <td *ngIf="banner.redirect_url" > <a [href]="banner.redirect_url" target="_blank" > {{ banner.redirect_url}} </a> </td>
                        <td *ngIf="!banner.redirect_url"> NA </td>
                        <td> {{ banner.banner_type }} </td>
                        <td> <span [ngClass]="banner.enabled ? 'text-success':'text-danger'"> {{ banner.enabled ? 'Enabled' : 'Disabled' }} </span> </td>
                        <ng-container *ngIf = "this.permissionService.checkPermission('tenant_banners','U') || this.permissionService.checkPermission('tenant_banners','D')">
                        <td>
                          <ng-container *ngIf = "this.permissionService.checkPermission('tenant_banners','U')">
                          <a [routerLink]="['/tenants/banners', banner.id]" [state]="{ banner: banner }" class="fnt-12 btn btn-warning"> Edit </a>
                          </ng-container> 
                          &nbsp;
                          <ng-container *ngIf = "this.permissionService.checkPermission('tenant_banners','D')">
                          <button type="button" (click)="deleteBanner(banner)" class="btn btn-danger fnt-12"> Delete </button>
                          </ng-container>
                        </td>
                        </ng-container>
                      </tr>

                      <tr *ngIf="banners && banners.length === 0"> <td colspan="7" class="tnodata"> No Banners Found </td> </tr>

                    </tbody>
                  </table>
                </div>
                </div>

              </div>
              <!-- /.card -->

            </div>

          </div>

        </div><!-- /.container-fluid -->
      </section>
      

  </div>



  <div class="modal fade" id="modal-banner" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> {{ banner?.name }} </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          
          
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td> ID </td>
                <td> {{ banner?.id }} </td>
              </tr>
              <tr>
                <td> Image URL </td>
                <td> 
                  <a [href]="banner?.url" target="_blank"><span class="text-success">View here</span></a> 
                 </td>
              </tr>
              <tr>
                <td> Redirect URL </td>
                <td> <a [href]="banner?.redirect_url" target="_blank" > {{ banner?.redirect_url }} </a>  </td>
              </tr>
              <tr>
                <td> Type </td>
                <td> {{ banner?.banner_type }} </td>
              </tr>
              <tr>
                <td> Enabled </td>
                <td> <span [ngClass]="banner?.enabled ? 'text-success':'text-danger'"> {{ banner?.enabled ? 'Enabled' : 'Disabled' }} </span>  </td>
              </tr>
              <ng-container *ngIf = "this.permissionService.checkPermission('tenant_banners','U')">
                <tr>
                  <td> Actions </td>
                  <td> <a data-dismiss="modal" [routerLink]="['/tenants/banners', banner?.id]" [state]="{ banner: banner }" class="fnt-12 btn btn-warning"> Edit </a> </td>
                </tr>
              </ng-container>
            </tbody>
          </table>


        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
