<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Player" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">

              <h3 class="card-title">Players</h3>
              <div class="card-tools">
                <button *ngIf="!size && (isBulkDepositEnable || isBulkWithdrawEnable) && ((!isAgent && DomainForDisableModule.includes(isAllowedModule)) || !DomainForDisableModule.includes(isAllowedModule))" class="btn btn-primary ml-sm-2 mb-2 mb-sm-0 btn-sm" type="button"
                  (click)="openCsvModal()">
                  <i class="fas fa-upload"></i> Bulk CSV Upload
                </button>
                <button *ngIf="size && isBulkDepositEnable && ((!isAgent && DomainForDisableModule.includes(isAllowedModule)) || !DomainForDisableModule.includes(isAllowedModule))" class="btn btn-primary ml-sm-2 mb-2 mb-sm-0 btn-sm" type="button"
                  (click)="openModal(1)">
                  <i class="fas fa-plus-circle"></i> Bulk Deposit
                  <span class="badge badge-light">{{this.size}}</span>
                  <span class="sr-only">{{this.size}} Users</span>
                </button>
                <button *ngIf="size && isBulkWithdrawEnable && ((!isAgent && DomainForDisableModule.includes(isAllowedModule)) || !DomainForDisableModule.includes(isAllowedModule))" class="btn btn-danger ml-sm-2 mb-2 mb-sm-0 btn-sm" type="button"
                  (click)="openModal(2)">
                  <i class="fas fa-minus-circle"></i> Bulk Withdraw
                  <span class="badge badge-light">{{this.size}}</span>
                  <span class="sr-only">{{this.size}} Users</span>
                </button>
                <button *ngIf="size && isBulkEditEnable && ((!isAgent && DomainForDisableModule.includes(isAllowedModule)) || !DomainForDisableModule.includes(isAllowedModule))" class="btn btn-warning ml-sm-2 mb-2 mb-sm-0 btn-sm" type="button"
                (click)="openEditModal()">
                <i class="fas fa-edit"></i> Bulk Edit
                <span class="badge badge-light">{{this.size}}</span>
                <span class="sr-only">{{this.size}} Users</span>
              </button>
                <ng-container *ngIf="(isBulkDepositEnable || isBulkWithdrawEnable || isBulkEditEnable) && ((!isAgent && DomainForDisableModule.includes(isAllowedModule)) || !DomainForDisableModule.includes(isAllowedModule))">
                <a [routerLink]="['/players/jobs']" class="btn btn-info ml-sm-2 mb-2 mb-sm-0 btn-sm">
                  <i class="fas fa-list"></i> Job List
                </a>
              </ng-container>
                <ng-container *ngIf = "this.permissionService.checkPermission('players','C')">
                  <a [routerLink]="['/players', 0]" class="btn btn-success ml-sm-2 mb-2 mb-sm-0 btn-sm">
                    <i class="fas fa-user-plus"></i>
                    Create
                  </a>
                </ng-container>
              </div>

            </div>

            <div class="card-header" *ngIf="showAffiliateToken">

              <div class="jumbotron">
                <ng-container *ngIf="agentAffiliateTokenUtl != '' else adminTemp">
                  <h3 class="invite-link copy-before">Player Invite Link</h3><br>
                  <span class="copy-link">
                    {{agentAffiliateTokenUtl}}
                    <span class="copyButton" title="Click To Copy" (click)="copyMessage(agentAffiliateTokenUtl)"
                      value="click to copy"><i class="fa fa-clone"></i> </span> <small class="small-text">Click to
                      copy</small></span>
                </ng-container>
                <ng-template #adminTemp>
                  <!-- <div class="jumbotron"> -->
                  <h6 class=""><i class="fa fa-info-circle"></i> Please contact admin for creating an invite link.</h6>
                  <!-- </div> -->
                </ng-template>


              </div>



              <!--<button type="button" class="btn btn-info f-right fnt-12" (click)="exportAsXLSX()"> CSV <i class="fa fa-download"></i> </button>-->

            </div>
            <!-- /.card-header -->
            <div class="card-body">

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="search2">
                      Search <i data-toggle="tooltip"
                        title="Search Email, User Name, First Name, Last Name, Nick Name, Zip Code, City"
                        class="fas fa-question-circle"></i>
                    </label>
                    <input type="text" class="form-control" id="search2"
                      [(ngModel)]="playerParams.search"
                      placeholder="Search Email, User Name, First Name, Last Name, Nick Name, Zip Code, City" />
                  </div>
                </div>
                <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="agent">
                        Agent
                      </label>
                        <select class="form-control" select2 id="agent_id"  title="Select Agent" (onSelect)="filterSelectAgent($event)" [(ngModel)]="playerParams.adminId" data-placeholder="Select Agent">
                            <!-- <option value="">Select Agent</option> -->
                            <option *ngFor="let adminUser of userList" [value]="adminUser.id"> {{adminUser.first_name}}</option>
                        </select>
                    </div>
                  </div>
                </ng-container>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="status">Date Time Range</label>
                    <input autocomplete="off" class="form-control" data-placeholder="Search Time Period"
                      placeholder="Search Time Period" type="text" id="time_period" [format]="format"
                      daterangetime_picker (onSelect)="setTimePeriod($event)" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status"
                      [(ngModel)]="playerParams.status">
                      <option value="">All</option>
                      <option value="true">Active</option>
                      <option value="false">In-Active</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="phone_verified">Phone Verified</label>
                    <select class="form-control" id="phone_verified"
                      [(ngModel)]="playerParams.phone_verified">
                      <option value="">All</option>
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="email_verified">Email Verified</label>
                    <select class="form-control" id="email_verified"
                      [(ngModel)]="playerParams.email_verified">
                      <option value="">All</option>
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="kyc_done">Kyc Completed</label>
                    <select class="form-control" id="kyc_done"
                      [(ngModel)]="playerParams.kyc_done">
                      <option value="">All</option>
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                </div>


                <div class="col-md-2">
                  <div class="form-group">
                    <label for="balance">Balance Range</label>
                    <div class="input-group">
                      <input #minInput (input)="validateMinInput($event)" type="number" pattern="^\d+(\.\d{1,2})?$" maxlength="10" class="form-control" placeholder="Enter Minimum number">
                      <div class="input-group-text">to</div>
                      <input #maxInput (input)="validateMaxInput($event)"  type="number" pattern="^\d+(\.\d{1,2})?$" maxlength="10" class="form-control" placeholder="Enter Maximum number">
                    </div>
                  </div>
                </div>

                

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="size2">Size</label>
                    <select class="form-control" id="size2"
                      [(ngModel)]="playerParams.size">
                      <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="vip_level">Vip Levels</label>
                    <select class="form-control" select2 (onSelect)="selectVipLevelSearch($event)" multiple id="vip_levels" data-placeholder="Select a Vips Level" style="width: 100%;">
                      <option *ngFor="let item of getNumArr(11); let i = index" [value]="i">{{i}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group btn-grp" >
                  <button [disabled] = "isLoader" type="button" class="btn btn-success fnt-12" (click)="filterPlayers()"><i
                    class="fa fa-search"></i> Search
                  </button>
                  <button [disabled] = "isLoader" type="button" class="btn btn-warning fnt-12 ml-2" (click)="playerResetFilter()"> Reset Filter
                  </button>
                  <button [disabled] = "isLoader" type="button" class="btn btn-default fnt-12 ml-2" (click)="getPlayers()"> <i
                      class="fa fa-refresh"></i> </button>
                  </div>
                </div>

              </div>
              <div class="row" *ngIf="userNames.size > 0">
                <div class="col">
                  <div class="form-group">
                    <label for="size2">Selected Users</label>
                    <div *ngIf="userNames.size > 0" class="rectangle-container">
                      <div class="selected-users-container">
                        <div *ngFor="let user of userNames | keyvalue" class="user-item">
                          <button (click)="removeplayer(user.value.id)" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          {{ user.value.user_name }}</div>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="!isLoader; else loader">
                <pagination-controls id="playerpid" (pageChange)="playerPageChanged($event)"
                  (pageChange)="playerP = $event" style="margin-left: -49px;"></pagination-controls>
                Total Record {{playerTotal}}
                <div class="col">
                  <ng-container *ngIf="this.permissionService.checkPermission('players','export')">
                    <button type="button" class="btn btn-info f-right fnt-12" (click)="exportAsXLSX()"><i
                      class="fa fa-download"></i> CSV </button>
                  </ng-container>
                  <p *ngIf="(players && players.length > 0) && ((!isAgent && DomainForDisableModule.includes(isAllowedModule)) || !DomainForDisableModule.includes(isAllowedModule)) && (isBulkDepositEnable || isBulkWithdrawEnable || isBulkEditEnable)" class="mr-2 f-right mt-2">*Selected Players would be unchecked on any filter change.</p>
                </div>  
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th *ngIf="(players && players.length > 0) && ((!isAgent && DomainForDisableModule.includes(isAllowedModule)) || !DomainForDisableModule.includes(isAllowedModule)) && (isBulkDepositEnable || isBulkWithdrawEnable || isBulkEditEnable)"><input type="checkbox"
                            name="checkbox" [id]="this.playerP"
                            [checked]="this.selectedUsers.has(this.playerP) && this.selectedUsers.get(this.playerP).length == playerParams.size"
                            (change)="toggleAll($event)">
                        </th>
                        <th style="width: 10px">ID<app-ordering-arrow [column]="'id'" [params]="playerParams" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                        <th >User Name<app-ordering-arrow [column]="'user_name'" [params]="playerParams" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                        <th>Nick Name<app-ordering-arrow [column]="'nick_name'" [params]="playerParams" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                        <th>Email<app-ordering-arrow [column]="'email'" [params]="playerParams" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                        <th>First Name<app-ordering-arrow [column]="'first_name'" [params]="playerParams" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                        <th>Last Name<app-ordering-arrow [column]="'last_name'" [params]="playerParams" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                          <th>Agent Name</th>
                          <th>Total Balance<app-ordering-arrow [column]="'total_amount'" [params]="playerParams" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                        <th>Status</th>
                        <th
                          *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">
                          Demo</th>
                        <th>KYC Done?</th>
                        <th
                          style="width: 170px">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let user of players | paginate: { itemsPerPage: playerParams.size, currentPage: playerP, totalItems: playerTotal, id: 'playerpid' }">
                        <td *ngIf="((!isAgent && DomainForDisableModule.includes(isAllowedModule)) || !DomainForDisableModule.includes(isAllowedModule)) && (isBulkDepositEnable || isBulkWithdrawEnable || isBulkEditEnable)"><input type="checkbox" name="checkbox" [id]="user?.user_name"
                            (change)="selectUser(user,$event)"
                            [checked]="selectedUsers.has(this.playerP) && selectedUsers.get(this.playerP).includes(user.id)">
                        </td>
                        <td>{{ user.id }} </td>
                        <td ><a [routerLink]="['/players/details', user.id]" class="text-break">{{ user.user_name}}</a></td>
                        <td>{{ user.nick_name }}</td>
                        <td class="text-break">{{ user.email }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user?.agentname }}</td>
                        <td> {{ user.total_amount| number: '1.2-2' || 0.00 }} {{ user.currency_code }} </td>
                        <td> <span [ngClass]="user.active ? 'text-success':'text-danger'">{{ user.active ? 'Active' :
                            'Deactive'
                            }}</span> </td>
                        <td
                          *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">
                          <span [ngClass]="user.demo ? 'text-success':'text-danger'">{{ user.demo ? 'Yes' : 'No'
                            }}</span>
                        </td>
                        <td><span [ngClass]="user.kyc_done ? 'text-success':'text-danger'">{{ user.kyc_done ? 'Yes' :
                            'No' }}</span>
                        </td>
                        <td>
                          <ng-container *ngIf = "this.permissionService.checkPermission('players','U')">
                          <a class="btn btn-warning fnt-12"  [routerLink]="['/players', user.id]"> <i
                              class="fa fa-edit"></i> </a>
                          </ng-container>
                          &nbsp;
                          <a class="btn btn-info fnt-12" [routerLink]="['/players/details', user.id]"> <i
                              class="fa fa-eye"></i> </a>
                          &nbsp;
                          <ng-container *ngIf = "this.permissionService.checkPermission('players','T')">
                            <ng-container *ngIf="user.active; else activeUser">
                              <button type="button" (click)="updatePlayerStatus(user, 0)" class="btn btn-danger fnt-12">
                                <i class="fa fa-remove"></i> </button>
                            </ng-container>
                            <ng-template #activeUser>
                              <button type="button" (click)="updatePlayerStatus(user, 1)" class="btn btn-success fnt-12">
                                <i class="fa fa-check"></i> </button>
                            </ng-template>
                          </ng-container>
                        </td>
                      </tr>
                      <tr *ngIf="firstTimeApiCall && players && players.length === 0">
                        <td
                          [attr.colspan]="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) ? 12 : 11"
                          class="tnodata"> No Players Found </td>
                      </tr>
                      <tr *ngIf="!firstTimeApiCall">
                        <td
                          [attr.colspan]="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) ? 12 : 11"
                          class="tnodata"> Click Search to Load Data </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <pagination-controls id="playerpid" (pageChange)="playerPageChanged($event)"
                  (pageChange)="playerP = $event" style="margin-left: -49px;"></pagination-controls>
                Total Record {{playerTotal}}
              </div>
            </div>
          </div>
          <!-- /.card -->

        </div>

      </div>

    </div><!-- /.container-fluid -->
  </section>

</div>

<div class="modal fade" id="modal-bulk-finance" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> {{(f.type.value == 1) ? 'Deposit' : 'Withdraw'}} </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <form [formGroup]="financeForm" (ngSubmit)="submitFinanceForm()">
        <div class="modal-body">

          <div class="form-group">
            <label for="wallet_type">Wallet Type <span class="text-danger">*</span></label>
            <!-- <select formControlName="wallet_type" class="form-control" id="wallet_type">
              <option value="" disabled> Select Wallet type </option>
              <option *ngFor="let type of walletTypes" [value]="type.value">{{type.label}}</option>
            </select> -->
            <div>
              <div class="form-check form-check-inline">
                <input formControlName="wallet_type" class="form-check-input" type="radio" id="inlineRadio1" [value]="1">
                <label class="form-check-label" for="inlineRadio1">Cash</label>
              </div>
              <div class="form-check form-check-inline">
                <input formControlName="wallet_type" class="form-check-input" type="radio" id="inlineRadio2" [value]="2">
                <label class="form-check-label" for="inlineRadio2">Non Cash</label>
              </div>
            </div>
            <div class="invalid-feedback" *ngIf="submitted && f.wallet_type.errors">
              <div *ngIf="f.wallet_type.errors.required">Wallet Type is required</div>
            </div>
          </div>

          <div *ngIf="f.type.value == 1 && f.wallet_type.value == 1 && financeForm.contains('source_wallete_id')" class="form-group">
            <div class="form-group">
              <label for="source_wallete_id"><span> Source </span> Currency Id <span
                  class="text-danger">*</span></label>
              <select formControlName="source_wallete_id" (change)="selectAdminWallete($event)" class="form-control"
                id="source_wallete_id">
                <option value="" disabled> Select Currency </option>
                <option *ngFor="let currency of currencies" [value]="currency.id">{{currency.currency_name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="submitted && f.source_wallete_id.errors">
                <div *ngIf="f.source_wallete_id.errors.required"><span> Source </span> Currency Id is required</div>
              </div>
            </div>
          </div>

          <div *ngIf="f.type.value == 2 && f.wallet_type.value == 1 && financeForm.contains('target_wallete_id')" class="form-group">
            <div class="form-group">
              <label for="target_wallete_id"><span> Target </span> Currency Id <span
                  class="text-danger">*</span></label>
              <select formControlName="target_wallete_id" class="form-control"
                id="target_wallete_id">
                <option value="" disabled> Select Currency </option>
                <option *ngFor="let currency of currencies" [value]="currency.id">{{currency.currency_name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="submitted && f.target_wallete_id.errors">
                <div *ngIf="f.target_wallete_id.errors.required"><span> Source </span> Currency Id is required</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="amount">Amount <span class="text-danger">*</span> <span
                *ngIf="f.type.value == 1 && f.wallet_type.value == 1 && targetWallete && targetWallete.amount" class="text-success"> Transfer From (
                {{ targetWallete.amount }} )</span> </label>
            <input digitOnly type="text" formControlName="amount" class="form-control" maxlength="15" id="amount"
              placeholder="Enter Amount" />
            <div class="invalid-feedback" *ngIf="submitted && f.amount.errors">
              <div *ngIf="f.amount.errors.required">Amount Rate is required</div>
              <div *ngIf="f.amount.errors.min">Amount cannot be less than 1</div>
              <div *ngIf="f.amount.errors.invalidAmount">Balance not enough</div>

            </div>
          </div>

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="submit" class="btn btn-primary">
            Save changes </button>
        </div>

      </form>

    </div>
  </div>
</div>

<div class="modal fade" id="modal-bulk-edit" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Edit </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <form [formGroup]="editForm" (ngSubmit)="submitEditForm()">
        <div class="modal-body">

          <div class="form-group">
            <label for="status">Status</label>
            <div>
              <div class="form-check form-check-inline">
                <input formControlName="status" (change)="handleChange($event)" class="form-check-input" type="radio" id="inlineRadio1" [value]="true">
                <label class="form-check-label" for="inlineRadio1">Active</label>
              </div>
              <div class="form-check form-check-inline">
                <input formControlName="status" (change)="handleChange($event)" class="form-check-input" type="radio" id="inlineRadio2" [value]="false">
                <label class="form-check-label" for="inlineRadio2">Inactive</label>
              </div>
            </div>
            <div class="invalid-feedback" *ngIf="submitted && e.status.errors">
              <div *ngIf="e.status.errors.required">Status is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="vip_level">Vip Level</label>
            <select class="form-control" select2 (onSelect)="selectVipLevel($event)" id="vip_level" data-placeholder="Select a Vip Level" style="width: 100%;">
              <option value="">Select Vip Level</option>
              <option *ngFor="let item of getNumArr(11); let i = index"> {{ i }} </option>
            </select>

            <div class="invalid-feedback" *ngIf="submitted && e.vip_level.errors">
                <div *ngIf="e.vip_level.errors.required">Vip Level is required</div>
            </div>
        </div>


          <!-- <div class="form-group">
            <label for="amount">Amount <span class="text-danger">*</span> <span
                *ngIf="f.type.value == 1 && f.wallet_type.value == 1 && targetWallete && targetWallete.amount" class="text-success"> Transfer From (
                {{ targetWallete.amount }} )</span> </label>
            <input digitOnly type="text" formControlName="amount" class="form-control" maxlength="15" id="amount"
              placeholder="Enter Amount" />
            <div class="invalid-feedback" *ngIf="submitted && f.amount.errors">
              <div *ngIf="f.amount.errors.required">Amount Rate is required</div>
              <div *ngIf="f.amount.errors.min">Amount cannot be less than 1</div>
              <div *ngIf="f.amount.errors.invalidAmount">Balance not enough</div>

            </div>
          </div> -->

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
          <button [disabled]="submitDisable" type="submit" class="btn btn-primary">
            Save changes </button>
        </div>

      </form>

    </div>
  </div>
</div>


<div class="modal fade" id="modal-bulk-csv-finance" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Bulk Finance through CSV</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeCsvModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <form [formGroup]="csvFinanceForm">
        <div class="modal-body">

          <div class="form-group">
            <label for="type"> Type <span class="text-danger">*</span></label>
            <div>
              <div class="form-check form-check-inline">
                <input formControlName="type" class="form-check-input" type="radio" id="inlineRadio3" [value]="1">
                <label class="form-check-label" for="inlineRadio3">Deposit</label>
              </div>
              <div class="form-check form-check-inline">
                <input formControlName="type" class="form-check-input" type="radio" id="inlineRadio4" [value]="2">
                <label class="form-check-label" for="inlineRadio4">Withdraw</label>
              </div>
            </div>
            <div class="invalid-feedback" *ngIf="csvSubmitted && csvForm.type.errors">
              <div *ngIf="csvForm.type.errors.required">Type is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="wallet_type">Wallet Type <span class="text-danger">*</span></label>
            <!-- <select formControlName="wallet_type" class="form-control" id="wallet_type">
              <option value="" disabled> Select Wallet type </option>
              <option *ngFor="let type of walletTypes" [value]="type.value">{{type.label}}</option>
            </select> -->
            <div>
              <div class="form-check form-check-inline">
                <input formControlName="wallet_type" class="form-check-input" type="radio" id="inlineRadio1" [value]="1">
                <label class="form-check-label" for="inlineRadio1">Cash</label>
              </div>
              <div class="form-check form-check-inline">
                <input formControlName="wallet_type" class="form-check-input" type="radio" id="inlineRadio2" [value]="2">
                <label class="form-check-label" for="inlineRadio2">Non Cash</label>
              </div>
            </div>
            <div class="invalid-feedback" *ngIf="csvSubmitted && csvForm.wallet_type.errors">
              <div *ngIf="csvForm.wallet_type.errors.required">Wallet Type is required</div>
            </div>
          </div>

          <div *ngIf="csvForm.type.value == 1 && csvForm.wallet_type.value == 1 && csvFinanceForm.contains('source_wallete_id')" class="form-group">
            <div class="form-group">
              <label for="source_wallete_id"><span> Source </span> Currency Id <span
                  class="text-danger">*</span></label>
              <select formControlName="source_wallete_id" (change)="selectAdminWallete($event)" class="form-control"
                id="source_wallete_id">
                <option value="" disabled> Select Currency </option>
                <option *ngFor="let currency of currencies" [value]="currency.id">{{currency.currency_name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="csvSubmitted && csvForm.source_wallete_id.errors">
                <div *ngIf="csvForm.source_wallete_id.errors.required"><span> Source </span> Currency Id is required</div>
              </div>
            </div>
          </div>

          <div *ngIf="csvForm.type.value == 2 && csvForm.wallet_type.value == 1 && csvFinanceForm.contains('target_wallete_id')" class="form-group">
            <div class="form-group">
              <label for="target_wallete_id"><span> Target </span> Currency Id <span
                  class="text-danger">*</span></label>
              <select formControlName="target_wallete_id" class="form-control"
                id="target_wallete_id">
                <option value="" disabled> Select Currency </option>
                <option *ngFor="let currency of currencies" [value]="currency.id">{{currency.currency_name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="csvSubmitted && csvForm.target_wallete_id.errors">
                <div *ngIf="csvForm.target_wallete_id.errors.required"><span> Target </span> Currency Id is required</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="csvFile">CSV File<span
              class="text-danger">*</span></label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" #file class="custom-file-input" id="exampleInputFile" formControlName="csvFile" (change)="selectCsv(file.files)" accept=".csv">
                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
              </div>
            </div>
            <div class="invalid-feedback" *ngIf="csvSubmitted && csvForm.csvFile.errors">
              <div *ngIf="csvForm.csvFile.errors.required">Please select a CSV file.</div>
            </div>

            <div *ngIf="uploadedFileName">
              File Uploaded: {{ uploadedFileName }}
            </div>
          </div>

          <button class="btn btn-outline-info fnt-12" (click)="sampleCsv()" ><i class="fa fa-download"></i> Sample CSV</button>

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeCsvModal()">Close</button>
          <button type="submit" class="btn btn-primary" (click)="submitCsvFinanceForm()">
            Save changes </button>
        </div>

      </form>

    </div>
  </div>
</div>

<ng-template #loader>

  <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>

</ng-template>
