.copy-link{
  display: block;
  background-color: white;
  padding: 15px;
}
.jumbotron{
  padding: 1rem 1rem
}

.small-text{
    font-style: italic;
    position: relative;
    bottom: 0px;
    left: 7px;
    font-size: 12px;
}
.invite-link{
  margin-bottom: -12px;
  font-size: 24px;
}
.copyButton{
  padding: 8px;
  background: #5784f5;
  color: #fff;
  font-size: 13px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 4px;
}

.copyButton:before {
	content: "Copied";
	position: absolute;
	top: -45px;
	right: 0px;
	background: #5c81dc;
	padding: 8px 10px;
	border-radius: 20px;
	font-size: 15px;
	display: none;
}
.copyButton:active {
	background: #809ce2;
}

.copyButton:after {
	content: "";
	position: absolute;
	top: -20px;
	right: 25px;
	width: 10px;.form-group.btn-grp {
    margin-top: 15%;
}
	height: 10px;
	background: #5c81dc;
	transform: rotate(45deg);
	display: none;
}

.rectangle-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.selected-users-container {
  display: flex;
  flex-wrap: wrap;
}

.user-item {
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
}

.chart-loader {
  width: 20%;
}

.form-group.btn-grp {
  margin-top: 15%;
}
@media only screen and (max-width: 767px) {
  .form-group.btn-grp {
    margin-top: 0%;
  }
}