<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Deposit Requests" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="pull-left"><h3 class="card-title">Deposit Request Filter</h3></div>
                <div class="pull-right">
                  <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;" data-placeholder="Select Time Zone">
                    <option value="">Select Time Zone</option>
                    <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                    <option *ngFor="let zone of TIMEZONE"  [value]="zone.zonename">{{zone.name}}</option>
                  </select>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="search">Search</label>
                      <input type="text" class="form-control" id="search" (keyup)="filter($event)" [(ngModel)]="params.search" placeholder="Search By ID / UTR / User Name / Amount"/>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="search">Search By Transaction Id</label>
                      <input type="text" class="form-control" id="searchByTransactionId" (keyup)="filter($event)" [(ngModel)]="params.transaction_id" placeholder="Search Transaction Id"/>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="deposit_type">Deposit Type</label>
                      <select class="form-control" id="deposit_type" #mySelect (change)="filter(mySelect.value)" [(ngModel)]="params.deposit_type">
                       <option value="">Select deposit type</option>
                      <option *ngFor="let status of depositType" [value]="status.value">{{status.name}}</option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="status">status</label>
                      <select *ngIf="depositTypeSelected == 'manual'"  class="form-control" id="status" (change)="filter($event)" [(ngModel)]="params.status">
                      <option value="">Select Status</option>
                      <option *ngFor="let status of allStatus" [value]="status.value">{{status.name}}</option>
                    </select>
                      
                    <select *ngIf="depositTypeSelected == 'payment_providers'" class="form-control" id="status" (change)="filter($event)" [(ngModel)]="params.status">
                      <option value="">Select Status</option>
                      <option *ngFor="let status of allPaymentGatewayStatus" [value]="status.value">{{status.name}}</option>
                    </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="size">Size</label>
                      <select class="form-control" id="size" (change)="filter($event)" [(ngModel)]="params.size">
                        <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                    </select>
                    </div>
                  </div>
  
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="time_period">Time Period (Requested At)</label>
                      <input type="text" class="form-control float-right" id="time_period" autocomplete="off" readonly [format]="format" daterangetime_picker (onSelect)="selectDateRange($event)" placeholder="Search Time Period"/>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="time_period_actioned_at">Time Period (Actioned At)</label>
                      <input type="text" class="form-control float-right" id="time_period_actioned_at" autocomplete="off" readonly [format]="format" daterangetime_picker2 (onSelect)="selectDateRangeActionedAt($event)" placeholder="Search Time Period"/>
                    </div>
                  </div>


                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="vip_level">Vip Levels</label>
                      <select class="form-control" select2 (onSelect)="selectVipLevelSearch($event)" multiple id="vip_levels" data-placeholder="Select a Vips Level" style="width: 100%;">
                        <option *ngFor="let item of getNumArr(11); let i = index" [value]="i">{{i}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3" style="position: relative;top: 1px;">
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-success" (click)="submitFilters()"><i class="fa fa-search"></i> Search</button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning ml-2" (click)="resetFilter()"> Reset Filter </button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-default ml-2" (click)="getDepositRequests()"> <i class="fa fa-refresh"></i> </button>
                    <ng-container *ngIf="this.permissionService.checkPermission('deposit_requests','export')">
                      <button type="button" *ngIf="depositRequest && depositRequest.length !== 0" class="mgt btn btn-info ml-2" (click)="exportAsXLSX()"> CSV <i class="fa fa-download"></i> </button> 
                    </ng-container>             
                  </div>
                
                  <div class="col-md-12 mt-3">
                    <h4>Total Deposit Amount <small>(Based on filter)</small>: <i>{{totalDeposit || 0}}</i></h4>
                    
                  </div>
                </div>
  
  
              </div>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <ng-container *ngIf="!isLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">Deposit Requests</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body" class="body-scroll">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID<app-ordering-arrow [column]="'id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Username<app-ordering-arrow [column]="'user_name'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Status</th>
                      <th>UTR Number / Transaction Id</th>
                      <th>Transaction Receipt</th>
                      <th>Amount<app-ordering-arrow [column]="'amount'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Remark</th>
                      <th>Deposit Type</th>
                      <th>Action By</th>
                      <th>Payment Provider</th>
                      <th>Requested At<app-ordering-arrow [column]="'created_at'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Actioned At<app-ordering-arrow [column]="'updated_at'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <ng-container *ngIf = "this.permissionService.checkPermission('deposit_requests','T')">
                        <th>Actions</th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let transaction of depositRequest | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                      
                      <td> {{ transaction.id || 'NA' }} </td>
                      <td> <a [routerLink]="(this.permissionService.checkPermission('casino_transactions','R')) ? ['/transactions' ] : null" [state]="{ search: transaction.user_name, wallet_id: transaction.wallet_id }"> {{ transaction.user_name || 'NA' }} </a> </td>
                      <td *ngIf="transaction.deposit_type == 'manual'; else showAutoStatus"> 
                        <span [ngClass]="transaction.status == 'rejected' || transaction.status == 'cancelled' ? 'badge badge-danger' : transaction.status == 'opened' ? 'badge badge-info' : 'badge badge-success'"> {{ transaction.status | titlecase  }} </span>
                      </td>
                      <ng-template #showAutoStatus>
                        <td *ngIf="transaction.status == 'opened'" [ngClass]="'text-warning'">Opened</td>
                        <td *ngIf="transaction.status == 'canceled'"><span [ngClass]="'badge badge-danger'">Cancelled</span></td>
                        <td *ngIf="transaction.status == 'failed'"><span [ngClass]="'badge badge-danger'">Failed</span></td>
                        <td *ngIf="transaction.status == 'in_process'"><span [ngClass]="'badge badge-info'">Pending</span></td>
                        <td *ngIf="transaction.status == 'completed'" ><span [ngClass]="'badge badge-success'">Completed</span></td>
                      </ng-template>
                      <td> {{ transaction.utr_number || transaction.order_id }} </td>
                      <td> 
                        <a *ngIf="transaction.transaction_receipt" href="javascript:void(0);" (click)="openRecieptModal(transaction)">View Receipt</a> 
                        <span *ngIf="!transaction.transaction_receipt" class="text-red" > Receipt Not Uploaded</span>
                      </td>
                      
                      <td> {{ transaction.amount || 'NA' }} </td>
                      <td> {{ transaction.remark || 'NA' }} </td>
                      <td>
                        <span [ngClass]="'badge badge-success'" *ngIf="transaction.deposit_type === 'manual'">
                          Manual
                        </span>
                        <span [ngClass]="'badge badge-dark'" *ngIf="transaction.deposit_type !== 'manual'">
                          Payment Gateway
                        </span>
                         <!-- {{ (transaction.deposit_type === 'manual' ? 'Manual' : 'Payment Gateway') }} -->
                      </td>
                      <td> {{ transaction.action_by || 'NA' }} </td>
                      <td> {{ transaction?.provider_name || 'NA' }} </td>
                      <td> {{ transaction.created_at || 'NA' }} </td>
                      <td> {{ (transaction.status != 'opened' ? (transaction.updated_at) : "NA") }} </td>
                      <ng-container *ngIf = "this.permissionService.checkPermission('deposit_requests','T')">
                      <td *ngIf="transaction.deposit_type == 'manual'; else showNOAction">
                        <ng-container *ngIf="transaction.status == 'opened'; else editShowStatus">
                          <button class="btn btn-sm btn-success mr-2" (click)="updateWRStatus(transaction, 'approved')" type="button"> Approve </button>
                          <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-rej" (click)="updateWRStatus(transaction, 'rejected')" type="button"> Reject </button>
                        </ng-container>
                        <ng-template #editShowStatus>
                          <span [ngClass]="transaction.status == 'rejected' || transaction.status == 'cancelled' ? 'text-danger' : 'text-success'"> {{ transaction.status | titlecase }} </span>
                        </ng-template>
                      </td>
                      </ng-container>
                      <ng-template #showNOAction>
                        <td *ngIf="transaction.status == 'opened'" [ngClass]="'text-warning'">Opened</td>
                        <td *ngIf="transaction.status == 'canceled'" [ngClass]="'text-danger'">Cancelled</td>
                        <td *ngIf="transaction.status == 'failed'" [ngClass]="'text-danger'">Failed</td>
                        <td *ngIf="transaction.status == 'in_process'" [ngClass]="'text-info'">Pending</td>
                        <td *ngIf="transaction.status == 'completed'" [ngClass]="'text-success'">Completed</td>
                      </ng-template>
                      
                      
                    </tr>
                    <tr *ngIf="firstTimeApiCall && depositRequest && depositRequest.length === 0"> <td colspan="11" class="tnodata"> No Deposit Request Found </td> </tr>
                    <tr *ngIf="!firstTimeApiCall"> <td colspan="11" class="tnodata"> Click Search to Load Data </td> </tr>
                  </tbody>
                </table>
              </div>
              
              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
              </ng-container>
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>
  

  <div class="modal fade" id="reciept-modal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> View Receipt</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click) = "closeRecieptModal()">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
            <img class="p-1" width="100%" [src]="this.selectedTransactionReciept" alt="Card image cap">
        </div>
        <div class="modal-footer">
          <a href="{{ this.selectedTransactionReciept ||'NA' }}" download="download" class="btn btn-warning mx-auto"><i class="fa fa-download"></i> Download Reciept</a>
        </div>

      </div>
    </div>
  </div>