<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Menu" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">

          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> {{ breadcrumbs[breadcrumbs.length-1].title }} Menus </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="menuForm" (ngSubmit)="onSubmit()">
                  <div class="card-body">

                    <div class="form-group">
                        <label for="name">Name <span class="text-danger">*</span></label>
                        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Name"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                          <div *ngIf="f.name.errors.required">Name is required</div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="path">Path <span class="text-danger">*</span></label>
                        <input type="text" formControlName="path" class="form-control" id="path" placeholder="Enter Path"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.path.errors">
                          <div *ngIf="f.path.errors.required">Path is required</div>
                        </div>
                      </div>


                     <div class="icheck-primary d-inline">
                        <input type="checkbox" formControlName="active" id="checkboxPrimary1" />
                        <label for="checkboxPrimary1">
                          Active
                        </label>
                      </div>

                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer" >
                    <button type="submit" [disabled]="menuLoader" class="btn btn-primary"> <span *ngIf="menuLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
                    &nbsp;
                    <a routerLink="/super-admin/menu" class="btn btn-warning"> Cancel </a>
                  </div>
                </form>
              </div>
              <!-- /.card -->
  
            </div>
          </div>
          <!-- /.row -->

        </div><!-- /.container-fluid -->
      </section>


  </div>
