<link rel="icon" type="image/x-icon" href="./assets/dist/img/s_logo.ico">
<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header card-header-login text-center">
        <h1><b>Welcome back! 👋🏻</b></h1>
      </div>
      <div class="card-body card-custom-body">
        <p class="login-box-msg">Please sign-in to your account and start the adventure</p>
  
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
            <!-- <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div> -->
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.pattern">Email must be valid</div>
            </div>
          </div>
          <div class="form-group  mb-3">
            <label for="exampleInputPassword" class="form-label">Password</label>
            <div class="input-group">
              <input [type]="hideShowPass ? 'text' : 'password'" id="exampleInputPassword" autocomplete="new-password" class="form-control" placeholder="Password" formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div class="input-group-append">
              <i class="input-group-text" type="button" (click)="hideShowPass = hideShowPass ? false : true"> <i [ngClass]="hideShowPass ? 'fa fa-eye-slash' : 'fa fa-eye'"></i> </i>
                
              </div>
            </div>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
          </div>
          <div class="row">
            <div class="col-12 mb-3">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" formControlName="remember_me" />
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-12">
              <button [disabled]="loginLoader" type="submit" class="btn btn-primary btn-block">
                <span *ngIf="loginLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Sign In
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  