<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Joining Bonus" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->


    <section class="content">
        <div class="container-fluid">

          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> {{ title }} Joining Bonus</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="bonusForm" (ngSubmit)="onSubmit()">
                  <div class="card-body">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="code">Code <span class="text-danger">*</span></label>
                                <input type="text" formControlName="code" class="form-control" id="code" maxlength="20" placeholder="Enter Code"/>
                                <div class="invalid-feedback" *ngIf="submitted && f.code.errors">
                                  <div *ngIf="f.code.errors.required">Code is required</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="flat">Flat <span class="text-danger">*</span></label>
                                <input type="number" (keypress)="onKeyPress($event)" formControlName="flat" class="form-control" id="flat" placeholder="Enter flat amount"/>
                                <div class="invalid-feedback" *ngIf="submitted && f.flat.errors">
                                  <div *ngIf="f.flat.errors.required">Flat is required</div>
                                  <div *ngIf="f.flat.errors.min">Flat cannot be less than 1</div>
                                  <div *ngIf="f.flat.errors.max">Flat cannot be more than 999</div>
                                </div>
                              </div>
                        </div>
                    </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="promotion_title">Promotion title <span class="text-danger">*</span></label>
                    <input type="text" formControlName="promotion_title" class="form-control" id="promotion_title" maxlength="30" placeholder="Enter Promotion title"/>
                    <div class="invalid-feedback" *ngIf="submitted && f.promotion_title.errors">
                      <div *ngIf="f.promotion_title.errors.required">Promotion title is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputFile">Image <span *ngIf="id == 0" class="text-danger">*</span></label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input (change)="selectImage(file.files)" #file formControlName="logo" accept="image/*" type="file" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                          </div>
                        </div>
                        <div class="invalid-feedback" *ngIf="submitted && f.logo.errors">
                          <div *ngIf="f.logo.errors.required">Image is required</div>
                          <div *ngIf="f.logo.errors.requiredFileType">Image must be image</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="imgURL">
                          <img [src]="imgURL" class="imshow" id="tenantLogo"/>
                    </div>
                  </div>

                </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>Terms & Conditions <span class="text-danger">*</span></label>
                
                <ckeditor formControlName="terms_and_conditions"></ckeditor>
                <div class="invalid-feedback" *ngIf="submitted && f.terms_and_conditions.errors">
                  <div *ngIf="f.terms_and_conditions.errors.required">Terms and conditions is required</div>
                </div>
                
              </div>
            </div>

            <br/>
            <div class="row">
              <div class="col-md-12">

                <div class="icheck-primary d-inline">
                  <input type="checkbox" formControlName="enabled" id="checkboxPrimary2">
                  <label for="checkboxPrimary2">
                    Enabled
                  </label>
                </div>
                
              </div>
            </div>
          </div>
                  
  
                  <div class="card-footer">
                    <button type="submit" [disabled]="bonusLoader" class="btn btn-primary">
                      <span *ngIf="bonusLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
                      &nbsp;
                    <a routerLink="/bonus/joining-list" class="btn btn-warning"> Cancel </a>
                  </div>
                </form>
              </div>
              <!-- /.card -->
  
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>


  </div>
