<!-- Main content -->
<ng-container
  *ngIf="this.permissionService.checkPermission('dashboard','financial_activity') || this.permissionService.checkPermission('dashboard','gaming_activity') || this.permissionService.checkPermission('players','R') || this.permissionService.checkPermission('sports_book','R')">
  <section class="content">

    <div class="card">

      <!-- /.card-header -->

      <div class="card-body">
        <div class="row">

          <ng-container
            *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0; else adminOptions">

            <div class="col-md-4">
              <div class="form-group">
                <label for="tenant_id">Tenant</label>
                <select class="form-control" id="tenant_id" [(ngModel)]="params.tenant_id">
                  <option
                    *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0"
                    value="0">All Tenants</option>
                  <option *ngFor="let tenants of tenantsList" [value]="tenants.id">{{tenants.name}}</option>
                </select>
              </div>
            </div>

          </ng-container>


          <ng-template #adminOptions>
            <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="agent_id">Agent</label>
                  <div>
                    <select class="form-control agent" id="agent_id" select2 (onSelect)="filterSelectAgent($event)"
                      [(ngModel)]="params.agent_id" data-placeholder="Select Agent">
                      <option *ngFor="let adminUser of userList" [value]="adminUser.id">{{adminUser.first_name}}
                        {{adminUser.last_name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="col-md-4" *ngIf="false">
              <div class="form-group">
                <label for="player_type">Player Type</label>
                <select class="form-control" id="player_type" [(ngModel)]="params.player_type">
                  <option value="all">All Organization Players</option>
                  <option value="direct">Only Direct Players</option>
                </select>
              </div>
            </div>

          </ng-template>

          <div class="col-md-4 d-flex align-items-end">
            <div class="form-group">
              <!-- <label for="player_type">{{ dates.start_date }} - {{ dates.end_date }} </label> -->
              <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;"
                data-placeholder="Select Time Zone">
                <option value="">Select Time Zone</option>
                <option *ngFor="let zone of TIMEZONE" [value]="zone.zonename">{{zone.name}}</option>
              </select>
              <!-- <div *ngIf="zone">{{zone}}</div> -->
            </div>
          </div>


        </div>


        <div class="row" style="position: relative;">
          <div class="col-md-12 ">

            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('today')" class="btn"
              [ngClass]="params.time_period == 'today' ? 'btn-success':'btn-default'" type="button"> Today
            </button> &nbsp;
            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('yesterday')" class="btn"
              [ngClass]="params.time_period == 'yesterday' ? 'btn-success':'btn-default'" type="button"> Yesterday
            </button> &nbsp;
            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('weekly')" class="btn"
              [ngClass]="params.time_period == 'weekly' ? 'btn-success':'btn-default'" type="button"> This Week
            </button> &nbsp;

            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('monthly')" class="btn"
              [ngClass]="params.time_period == 'monthly' ? 'btn-success':'btn-default'" type="button"> This
              Month
            </button> &nbsp;
            <button style="margin:5px" [disabled]="!loadDataBool" (click)="setTimePeriod('lastMonth')" class="btn"
              [ngClass]="params.time_period == 'lastMonth' ? 'btn-success':'btn-default'" type="button"> Last Month
            </button> &nbsp;
            <!-- <button (click)="setTimePeriod('yearly')" class="btn"
                [ngClass]="params.time_period == 'yearly' ? 'btn-success':'btn-default'" type="button"> This Year
              </button>&nbsp; -->
            <button [disabled]="!loadDataBool" (click)="setTimePeriod('custom')" class="btn"
              [ngClass]="params.time_period == 'custom' ? 'btn-success':'btn-default'" type="button"> Custom
              Date
            </button>
            &nbsp;
            <input autocomplete="off" *ngIf="customDate" data-placeholder="Search Time Period"
              placeholder="Search Time Period" type="text" class="custom-style " id="time_period" [format]="format"
              daterangetime_picker (onSelect)="setTimePeriod('custom','',$event)" />

            &nbsp;

            <button [disabled]="!loadDataBool" type="button" class="btn btn-success mr-1" (click)="searchButton()"> <i
                class="fa fa-search"></i> Search </button>
            &nbsp;

            <button [disabled]="!loadDataBool" type="button" class="btn btn-warning mr-1" (click)="resetFilter()"> Reset
              Filter </button>
            &nbsp;
            <button [disabled]="!loadDataBool" type="button" class="btn btn-default" (click)="searchButton()"> <i
                class="fa fa-refresh"></i>
            </button>

          </div>
          <!--<div class="col-md-5 ">

            </div>-->
        </div>
      </div>

    </div>

  </section>
</ng-container>

<ng-container *ngIf = "this.service._casino$.value; else empty">
  <div class="row">

    <div class="col-md-6">
      <div class="card">

        <!-- <div class="card-header"> -->
        <!--<h3 class="card-title">GGR</h3>                -->
        <!-- </div>               -->
        <!-- /.card-header -->

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <ng-container *ngIf="loadDataBool;else chartLoader">
                <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                  [options]="ggrChartOptionsLine" [callbackFunction]="chartCallback" [(update)]="updateFlag"
                  [oneToOne]="oneToOneFlag" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
              </ng-container>

            </div>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->

    <div class="col-md-6">
      <div class="card">

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <ng-container *ngIf="loadDataBool;else chartLoader">
                <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                  [options]="totalStakeChartOptionsLine" [callbackFunction]="chartCallback" [(update)]="updateFlag"
                  [oneToOne]="oneToOneFlag" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
              </ng-container>

            </div>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>

    <!-- /.col -->

  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="card">

        <div class="card-header">
          <h3 class="card-title">Total Bet</h3>
        </div>

        <!-- /.card-header -->

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let dep of stakeData | slice:0: stakeData.length-1">
                      <th>{{ dep.name }}:</th>
                      <td>{{ dep.total }}</td>
                      <td
                        *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                        (EUR {{ dep.eur_total }}) </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>

        <div class="card-footer"
          *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
          <div class="row">
            <div class="col-sm-12 col-12">
              <div class="description-block border-right">
                <h3 class="f-left">
                  EUR <ng-container *ngIf="stakeData && stakeData.length > 0"> {{
                    stakeData[stakeData.length-1].total }} </ng-container>
                </h3>
                <!-- <h5 class="description-header" *ngIf="stakeData && stakeData.length > 0">{{ stakeData[stakeData.length-1].total }}</h5>
                      <span class="description-text">EUR</span> -->
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>



    <div class="col-md-4">
      <div class="card">

        <div class="card-header">
          <h3 class="card-title">Total Win Amount</h3>
        </div>

        <!-- /.card-header -->

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let dep of winAmountData?.data">
                      <th>{{ dep.name }}:</th>
                      <td>{{ dep.total }}</td>
                      <td
                        *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                        (EUR {{ dep.eur_total }}) </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>

        <div class="card-footer"
          *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
          <div class="row">
            <div class="col-sm-12 col-12">
              <div class="description-block border-right">
                <h3 class="f-left"> EUR {{ winAmountData?.eur_total }} </h3>
                <!-- <h5 class="description-header">{{ winAmountData?.eur_total }}</h5>
                      <span class="description-text">EUR</span> -->
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>

    <div class="col-md-4">
      <div class="card">

        <div class="card-header">
          <h3 class="card-title">GGR</h3>
        </div>

        <!-- /.card-header -->

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <div class="table-responsive" *ngIf="loadDataBool;else chartLoader">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let dep of ggrData | slice:0: ggrData.length-1">
                      <th>{{ dep.name }}:</th>
                      <td [ngStyle]="{'color': dep.total < 0 ? 'red' : '' }" >{{ dep.total }}</td>
                      <td
                        *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
                        (EUR {{ dep.eur_total }}) </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>

        <div class="card-footer"
          *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">
          <div class="row">
            <div class="col-sm-12 col-12">
              <div class="description-block border-right">
                <h3 class="f-left">
                  EUR <ng-container *ngIf="ggrData && ggrData.length > 0"> {{
                    ggrData[ggrData.length-1].total }} </ng-container>
                </h3>
                <!-- <h5 class="description-header" *ngIf="ggrData && ggrData.length > 0">{{ ggrData[ggrData.length-1].total }}</h5> -->
                <!-- <span class="description-text eur_total">EUR
                        <ng-container *ngIf="ggrData && ggrData.length > 0"> {{ ggrData[ggrData.length-1].total }} </ng-container>
                      </span> -->
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>





  </div>
</ng-container>

<ng-template #empty>
  <ng-container *ngIf="loadDataBool else chartLoader">
    <div style="min-height: 500px;"></div>
  </ng-container>
</ng-template>

<ng-template #chartLoader>

  <img class="chart-loader" src="./assets/dist/gif/loader.gif" />

</ng-template>