<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="SEO Details" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->


  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">SEO Details</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="metaForm" (ngSubmit)="onSubmit()">
              <div class="card-body">

                <div class="row">


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="menu_id">Menu<span class="text-danger">*</span></label>
                      <select formControlName="menu_id" class="form-control" id="menu_id">
                        <option value="" disabled>Select Menu</option>
                        <option *ngFor="let menu of drpMasterMenus" [value]="menu.id">{{ menu.menu_name }}</option>
                      </select>
                      <div *ngIf="submitted && f.menu_id.errors" class="invalid-feedback">
                        <div *ngIf="f.menu_id.errors.required">Menu is required</div>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="meta_title">SEO Title <span class="text-danger">*</span></label>
                      <input type="text" formControlName="meta_title" class="form-control" id="meta_title"
                        placeholder="Enter Meta Title" />
                      <div class="invalid-feedback" *ngIf="submitted && f.meta_title.errors">
                        <div *ngIf="f.meta_title.errors.required">Title is required</div>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="meta_description">SEO Description <span class="text-danger">*</span></label>
                      <input type="text" formControlName="meta_description" class="form-control" id="meta_description"
                        placeholder="Enter Meta Description" />
                      <div class="invalid-feedback" *ngIf="submitted && f.meta_description.errors">
                        <div *ngIf="f.meta_description.errors.required">Meta Description is required</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="meta_keyword">SEO Keywords <span class="text-danger">*</span></label>
                      <input type="text" formControlName="meta_keyword" data-role="tagsinput" class="form-control" id="meta_keyword"
                        placeholder="Enter Meta Keyword" />
                      <div class="invalid-feedback" *ngIf="submitted && f.meta_keyword.errors">
                        <div *ngIf="f.meta_keyword.errors.required">Meta Keyword is required</div>
                      </div>
                    </div>
                  </div>

            

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="status">Active / Inactive <span class="text-danger">*</span></label>
                      <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" formControlName="active" id="customSwitch3">
                        <label class="custom-control-label" for="customSwitch3">You can {{(meta.active ? 'deactivate' :
                          'active')}} status {{(meta.active ? "from" : '')}} here.</label>
                      </div>
                    </div>
                  </div>

                </div>


              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" [disabled]="metaLoader" class="btn btn-primary">
                  <span *ngIf="metaLoader" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span> Submit
                </button>
                &nbsp;
                <a routerLink="/meta" class="btn btn-warning"> Cancel </a>
              </div>
            </form>
          </div>
          <!-- /.card -->

        </div>
      </div>
      <!-- /.row -->

    </div><!-- /.container-fluid -->
  </section>


</div>
