<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Queue Logs" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Queue Logs Filter</h3>
              <div class="card-tools">
                <button class="btn btn-primary ml-sm-2 mb-2 mb-sm-0 btn-sm" type="button"
                  (click)="openModal()">
                  <i class="fas fa-plus"></i> Create
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="type">Type</label>
                    <select class="form-control" id="type" [(ngModel)]="params.type">
                      <option value="">All</option>
                      <option *ngFor="let type of types" [value]="type.value">
                        {{ type.label }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" [(ngModel)]="params.status">
                      <option value="">All</option>
                      <option *ngFor="let status of statuses" [value]="status.value">
                        {{ status.label }}
                      </option>
                    </select>
                  </div>
                </div>

                <!-- <div class="col-md-2">
                  <div class="form-group">
                    <label for="time_period_log">Time Period</label>
                    <input autocomplete="off" type="text" class="form-control" id="time_period_log"
                      [format]="format" daterangetime_picker (onSelect)="selectDateRange($event)"
                      placeholder="Search Time Period" />
                  </div>
                </div> -->

                <div class="col-md-1">
                  <div class="form-group">
                    <label for="size">Size</label>
                    <select class="form-control" id="size" [(ngModel)]="params.size">
                      <option *ngFor="let size of pageSizes" [value]="size.name">
                        {{ size.name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <button [disabled]="isLoader" type="button" class="mgt btn btn-success fnt-12"
                  (click)="filter($event)">
                  <i class="fa fa-search"></i> Search
                </button>
                  <button [disabled]="isLoader" type="button" class="mgt btn btn-warning fnt-12 ml-1"
                    (click)="resetFilter()">
                    Reset Filter
                  </button>
                  <button [disabled]="isLoader" type="button" title="Refresh List"
                    class="mgt btn btn-default fnt-12 ml-1" (click)="getQueueLogs()">
                    <i class="fa fa-refresh"></i>
                  </button>
                  <!-- <button *ngIf="logs && logs.length !== 0" type="button" class="mgt btn btn-info fnt-12 ml-1"
                    (click)="exportAsXLSX()">
                    <i class="fa fa-download"></i> CSV
                  </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <ng-container *ngIf="!isLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">Queue Logs</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 10px">
                          ID
                          <app-ordering-arrow [column]="'id'" [params]="params"
                            (changeOrder)="setOrder($event)"></app-ordering-arrow>
                        </th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Type</th>
                        <th>IDs</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                          let log of queueLogs
                            | paginate
                              : {
                                  itemsPerPage: params.size,
                                  currentPage: p,
                                  totalItems: total
                                }
                        ">
                        <td>{{ log.id }}</td>
                        <td>{{ log.created_at || "-" }}</td>
                        <td>{{ log.updated_at || "-" }}</td>
                        <td>{{ log.type | parseLabel:types || "-" }}</td>
                        <td>{{ log.ids || "-" }}</td>
                        <td>{{ log.status | parseLabel:statuses || "-" }}</td>
                      </tr>
                      <tr *ngIf="firstTimeApiCall && queueLogs && queueLogs.length === 0">
                        <td colspan="16" class="tnodata">No Queue Logs Found</td>
                      </tr>
                      <tr *ngIf="!firstTimeApiCall">
                        <td colspan="16" class="tnodata">Click Search to Load Data</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                Total Record {{ total || 0 }}
              </div>

              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
            </ng-container>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<div class="modal fade" id="modal-create-queue-log" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Create</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <form [formGroup]="form">
        <div class="modal-body">

          <div class="form-group">
            <label for="type"> Type <span class="text-danger">*</span></label>
            <select formControlName="type" class="form-control"
                id="type">
                <option value="" disabled> Select Type </option>
                <option *ngFor="let type of types" [value]="type.value">{{type.label}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="submitted && f.type.errors">
                <div *ngIf="f.type.errors.required">Type is required</div>
              </div>
          </div>

          <div class="form-group">
            <label for="csv">Select Way to Input Ids</label>
            <!-- <select class="form-control" id="csv" formControlName="csv">
              <option [value]="true">True</option>
              <option [value]="false">False</option>
            </select> -->

            <div>
              <div class="form-check form-check-inline">
                <input formControlName="csv" class="form-check-input" type="radio" id="inlineRadio2" [value]="false">
                <label class="form-check-label" for="inlineRadio2">through text</label>
              </div>
              <div class="form-check form-check-inline">
                <input formControlName="csv" class="form-check-input" type="radio" id="inlineRadio1" [value]="true">
                <label class="form-check-label" for="inlineRadio1">through Csv</label>
              </div>
            </div>
            <div class="invalid-feedback" *ngIf="submitted && f.csv.errors">
              <div *ngIf="f.csv.errors.required">Way is required</div>
            </div>
          </div>
          <div class="form-group" *ngIf="!form.get('csv')?.value">
            <label for="ids">IDs<span class="text-danger">*</span> (Comma separated)</label>
            <input type="text" class="form-control" id="ids" formControlName="ids" placeholder="Enter comma seperated ids">
            <div class="invalid-feedback" *ngIf="submitted && f.ids.errors">
              <div *ngIf="f.ids.errors.required">Ids is required</div>
              <div *ngIf="f.ids.errors.pattern">Invalid IDs format (only numbers and commas are allowed)</div>
            </div>
          </div>

          <div *ngIf="form.get('csv')?.value" class="form-group">
            <label for="csvFile">CSV File<span
              class="text-danger">*</span> (File should contain ID column)</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" #file class="custom-file-input" id="exampleInputFile" formControlName="csvFile" (change)="selectCsv(file.files)" accept=".csv">
                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
              </div>
            </div>
            <div class="invalid-feedback" *ngIf="submitted && f.csvFile.errors">
              <div *ngIf="f.csvFile.errors.required">Please select a CSV file.</div>
            </div>

            <div *ngIf="uploadedFileName">
              File Uploaded: {{ uploadedFileName }}
            </div>
          </div>

          <!-- <button class="btn btn-outline-info fnt-12" (click)="sampleCsv()" ><i class="fa fa-download"></i> Sample CSV</button> -->

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="submit" class="btn btn-primary" (click)="submitForm()">
            Save changes </button>
        </div>

      </form>

    </div>
  </div>
</div>

<ng-template #loader>
  <img class="chart-loader" src="./assets/dist/gif/loader.gif" />
</ng-template>