.box-shadow {
  box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 14%);
}

.border-shadow {
  text-align: -webkit-center;
  box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 14%);
  padding: 15px;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header {
  padding: 20px;
}

.float {
  width: 50%;
  float: left;
}
.text-center {
  text-align: center;
}

.buttons {
  float: right;
  display: table;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.nav-bar {
  padding: 20px;
}

.Left {
  border-radius: 10px;
  width: 19%;
  margin: 10px;
  padding: 20px;
  flex: 0 0 19%;
}


.body-content {
  border-radius: 10px;
  width: 42%;
  margin: 10px;
  padding: 20px;
}


.right-side {
  border-radius: 10px;
  width: 19%;
  margin: 10px;
  padding: 20px;
  flex: 0 0 19%;
}

.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
}

.list-item {
  border-radius: 10px !important;
  margin: 7px 0px;
}

.footer {
  width: calc(100% - 20px);
  margin: 10px;
  border-radius: 10px;
  position: unset;
  padding: 20px;
}

.preview {
  border-radius: 20px;
  // margin: 10px;
  width: calc(100% - 20px);
  margin-bottom: 15px;
}

.row:before, .row:after {
  display: table;
  content: " ";
}

.buttons a {
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0px 5px;
}
