<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Theme Detail ({{ theme ? theme.name:'' }}) </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">

        <div class="ibox float-e-margins">

          <form #form="ngForm">

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-6 col-form-label">Theme Type</label>
              <div class="col-sm-6">
                <div class="form-group clearfix">
                  <div class="icheck-primary d-inline">
                    <!-- <input type="radio" id="radioPrimary1" value="light" name="theme_type" [(ngModel)]="theme.palette.type" [disabled]="theme.name !== disable_theme"/> -->
                    <input type="radio" id="radioPrimary1" (change)="changeThemeType('light')" value="light"
                      name="theme_type" [(ngModel)]="theme.palette.type" [disabled]="theme.name !== disable_theme" />
                    <label for="radioPrimary1">
                      Light
                    </label>
                  </div>
                  &nbsp;
                  <div class="icheck-primary d-inline">
                    <!-- <input type="radio" id="radioPrimary3" value="dark" [(ngModel)]="theme.palette.type" name="theme_type" [disabled]="theme.name !== disable_theme"/> -->
                    <input type="radio" id="radioPrimary3" value="dark" (change)="changeThemeType('dark')"
                      [(ngModel)]="theme.palette.type" name="theme_type" [disabled]="theme.name !== disable_theme" />
                    <label for="radioPrimary3">
                      Dark
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-6 col-form-label">Primary Button Color</label>
              <div class="col-sm-6">
                <input type="color" class="form-control" [disabled]="theme.name !== disable_theme"
                  [(ngModel)]="theme.palette.primary.main" name="primary_btn_color" id="inputEmail3">
              </div>
            </div>

            <div class="form-group row">
              <label for="pbt" class="col-sm-6 col-form-label">Primary Button Text</label>
              <div class="col-sm-6">
                <input type="color" class="form-control" [disabled]="theme.name !== disable_theme"
                  [(ngModel)]="theme.palette.primary.contrast_text" name="primary_btn_txt_color" id="pbt">
              </div>
            </div>

            <div class="form-group row">
              <label for="sbc" class="col-sm-6 col-form-label">Secondary Button Color</label>
              <div class="col-sm-6">
                <input type="color" class="form-control" [disabled]="theme.name !== disable_theme"
                  [(ngModel)]="theme.palette.secondary.main" name="secondary_btn_color" id="sbc">
              </div>
            </div>

            <div class="form-group row">
              <label for="sbt" class="col-sm-6 col-form-label">Secondary Button Text</label>
              <div class="col-sm-6">
                <input type="color" class="form-control" [disabled]="theme.name !== disable_theme"
                  [(ngModel)]="theme.palette.secondary.contrast_text" name="secondary_btn_txt_color" id="sbt">
              </div>
            </div>

            <div class="form-group row">
              <label for="pbc" class="col-sm-6 col-form-label">Page Background Color</label>
              <div class="col-sm-6">
                <input type="color" class="form-control" [disabled]="theme.name !== disable_theme"
                  [(ngModel)]="theme.palette.background.default" name="bgd_color" id="pbc">
              </div>
            </div>

            <div class="form-group row">
              <label for="sbcr" class="col-sm-6 col-form-label">Section Background Color</label>
              <div class="col-sm-6">
                <input type="color" class="form-control" [disabled]="theme.name !== disable_theme"
                  [(ngModel)]="theme.palette.background.paper" name="bgp_color" id="sbcr">
              </div>
            </div>

            <div class="form-group row">
              <label for="ptcr" class="col-sm-6 col-form-label">Primary Text Color</label>
              <div class="col-sm-6">
                <input type="color" class="form-control" [disabled]="theme.name !== disable_theme"
                  [(ngModel)]="theme.palette.text.primary" name="primary_text_color" id="ptcr">
              </div>
            </div>

            <div class="form-group row">
              <label for="stcr" class="col-sm-6 col-form-label">Secondary Text Color</label>
              <div class="col-sm-6">
                <input type="color" class="form-control" [disabled]="theme.name !== disable_theme"
                  [(ngModel)]="theme.palette.text.secondary" name="secondary_text_color" id="stcr">
              </div>
            </div>

            <div class="form-group row">
              <label for="dtcr" class="col-sm-6 col-form-label">Disabled Text Color</label>
              <div class="col-sm-6">
                <input type="color" class="form-control" [disabled]="theme.name !== disable_theme"
                  [(ngModel)]="theme.palette.text.disabled" name="disabled_text_color" id="dtcr">
              </div>
            </div>

            <div class="form-group row">
              <label for="sicr" class="col-sm-6 col-form-label">Selected Item Color</label>
              <div class="col-sm-6">
                <input type="color" class="form-control" [disabled]="theme.name !== disable_theme"
                  [(ngModel)]="theme.palette.action.selected" name="selected_color" id="sicr">
              </div>
            </div>

            <div class="form-group row">
              <label for="sicr" class="col-sm-6 col-form-label">Default Alert Message Text Color</label>
              <div class="col-sm-6">
                <input type="color" class="form-control" [disabled]="theme.name !== disable_theme"
                  [(ngModel)]="theme.palette.alert.text.default" name="alert_default_color" id="damtc">
              </div>
            </div>

            <div class="form-group row">
              <label for="sicr" class="col-sm-6 col-form-label">Success Alert Message Text Color</label>
              <div class="col-sm-6">
                <input type="color" class="form-control" [disabled]="theme.name !== disable_theme"
                  [(ngModel)]="theme.palette.alert.text.success" name="alert_success_color" id="samtc">
              </div>
            </div>

            <div class="form-group row">
              <label for="sicr" class="col-sm-6 col-form-label">Error Alert Message Text Color</label>
              <div class="col-sm-6">
                <input type="color" class="form-control" [disabled]="theme.name !== disable_theme"
                  [(ngModel)]="theme.palette.alert.text.error" name="alert_error_color" id="eamtc">
              </div>
            </div>

            <div class="form-group row">
              <label for="font_family" class="col-sm-6 col-form-label">Font family</label>
              <div class="col-sm-6">
                <select [value]="theme.typography.font_family" select2 (onSelect)="selectFont($event)"
                  class="form-control" [disabled]="theme.name !== disable_theme" id="font_family"
                  data-placeholder="Select a font family" style="width: 100%;">
                  <option *ngFor="let themeFont of themeFonts" [value]="themeFont.value"> {{ themeFont.name }} </option>
                </select>
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>
    <!-- /.card -->

  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Theme Preview</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">

        <div class="ibox-content" *ngIf="selectedLayout == '1'">

          <div class="alert-message-text">
            <div class="alert alert-light" [style.color]="theme.palette.alert.text.default"> Default message </div>
            <div class="alert alert-success" [style.color]="theme.palette.alert.text.success"> Success message </div>
            <div class="alert alert-danger" [style.color]="theme.palette.alert.text.error"> Error message </div>
          </div>

          <div class="border-shadow">
            <div class="row row-overwrite">
              <div class="col-sm-12 Header box-shadow preview display-flex preview-background-paper"
                [style.background-color]="theme.palette.background.default">
                <i class="fa fa-th-large fa-lg black preview-palette-type"></i>
                <!-- background: Background Paper -->
                <p class="text-center float preview-text-primary" [style.color]="theme.palette.text.primary">Header</p>
                <!-- color: Text Primary -->
                <div class="buttons display-flex">
                  <a class="preview-primary-main preview-primary-contrast-text"
                    [style.background-color]="theme.palette.primary.main"
                    [style.color]="theme.palette.primary.contrast_text">Button 1</a>
                  <!-- background: Primary Main  color: Primary Contrast Text -->
                  <a class="preview-secondary-main preview-secondary-contrast-text"
                    [style.background-color]="theme.palette.secondary.main"
                    [style.color]="theme.palette.secondary.contrast_text">Button 2</a>
                  <!-- background: Secondary Main  color: Secondary Contrast Text -->
                </div>
              </div>
              <div class="col-sm-12 nav-bar box-shadow preview display-flex preview-background-default"
                [style.background-color]="theme.palette.background.paper">
                <!-- Background Default -->
                <p class="text-center preview-text-primary" [style.color]="theme.palette.text.primary">Navbar</p>
                <!-- color: Text Primary -->
              </div>
            </div>
            <div class="row row-overwrite flex-nowrap">
              <div class="col-sm-3 height Left box-shadow display-flex preview-background-paper"
                [style.background-color]="theme.palette.background.default">
                <!-- background: Background Paper -->
                <p class="text-center preview-text-secondary" [style.color]="theme.palette.text.secondary">Left bar</p>
                <!-- color: Text Secondary -->
              </div>
              <div class="col-sm-6 height body-content box-shadow preview-background-default"
                [style.background-color]="theme.palette.background.paper">
                <!-- background: Background Default -->
                <p class="text-center preview-text-primary" [style.color]="theme.palette.text.primary">body</p>
                <!-- color: Text Primary -->
                <ul class="list-group">
                  <li class="list-group-item list-item box-shadow preview-text-disabled"
                    [style.color]="theme.palette.text.disabled">Disabled</li>
                  <!-- color: Text Disabled -->
                  <li
                    class="list-group-item list-item box-shadow preview-action-selected preview-secondary-contrast-text"
                    [style.color]="theme.palette.secondary.contrast_text"
                    [style.background-color]="theme.palette.action.selected">Selected</li>
                  <!-- background: Action Selected color: Secondary Contrast Text -->
                  <li class="list-group-item list-item box-shadow preview-text-secondary"
                    [style.color]="theme.palette.text.secondary">Third item</li>
                  <li class="list-group-item list-item box-shadow preview-text-secondary"
                    [style.color]="theme.palette.text.secondary">Fourth item</li>
                  <li class="list-group-item list-item box-shadow preview-text-secondary"
                    [style.color]="theme.palette.text.secondary">Fifth item</li>
                </ul>
              </div>
              <div class="col-sm-3 height right-side box-shadow display-flex preview-background-paper"
                [style.background-color]="theme.palette.background.default">
                <!-- background: Background Paper -->
                <p class="text-center preview-text-secondary" [style.color]="theme.palette.text.secondary">Right bar</p>
                <!-- color: Text Secondary -->
              </div>
            </div>
            <div class="row row-overwrite">
              <div class="col-sm-12 footer box-shadow preview-background-default"
                [style.background-color]="theme.palette.background.paper">
                <!-- background: Background Default -->
                <p class="text-center preview-text-primary" [style.color]="theme.palette.text.primary">Footer</p>
                <!-- color: Text Primary -->
              </div>
            </div>
          </div>

        </div>
       
       
       
        <div class="ibox-content" *ngIf="selectedLayout == '2'">

          <div class="alert-message-text">
            <div class="alert alert-light" [style.color]="theme.palette.alert.text.default"> Default message </div>
            <div class="alert alert-success" [style.color]="theme.palette.alert.text.success"> Success message </div>
            <div class="alert alert-danger" [style.color]="theme.palette.alert.text.error"> Error message </div>
          </div>

          <div class="border-shadow">
            <div class="row row-overwrite">
              <div class="col-sm-12 Header box-shadow preview display-flex preview-background-paper"
                [style.background-color]="theme.palette.background.default">
                <i class="fa fa-th-large fa-lg black preview-palette-type"></i>
                <!-- background: Background Paper -->
                <p class="text-center float preview-text-primary" [style.color]="theme.palette.text.primary">Header</p>
                <!-- color: Text Primary -->
                <div class="buttons display-flex">
                  <a class="preview-primary-main preview-primary-contrast-text"
                    [style.background-color]="theme.palette.primary.main"
                    [style.color]="theme.palette.primary.contrast_text">Button 1</a>
                  <!-- background: Primary Main  color: Primary Contrast Text -->
                  <a class="preview-secondary-main preview-secondary-contrast-text"
                    [style.background-color]="theme.palette.secondary.main"
                    [style.color]="theme.palette.secondary.contrast_text">Button 2</a>
                  <!-- background: Secondary Main  color: Secondary Contrast Text -->
                </div>
              </div>
              <div class="col-sm-12 nav-bar box-shadow preview display-flex preview-background-default"
                [style.background-color]="theme.palette.background.default">
                <!-- Background Default -->
                <p class="text-center preview-text-primary" [style.color]="theme.palette.text.primary">Header Menus</p>
                <!-- color: Text Primary -->
              </div>
              <div class="col-sm-12 nav-bar box-shadow preview display-flex preview-background-default"
                [style.background-color]="theme.palette.background.paper">
                <!-- Background Default -->
                <p class="text-center preview-text-primary" [style.color]="theme.palette.text.primary">Navbar</p>
                <!-- color: Text Primary -->
              </div>
            </div>
            <div class="row row-overwrite flex-nowrap">
              <div class="col-sm-3 height Left box-shadow display-flex preview-background-paper"
                [style.background-color]="theme.palette.background.default">
                <!-- background: Background Paper -->
                <p class="text-center preview-text-secondary" [style.color]="theme.palette.text.secondary">Left bar</p>
                <!-- color: Text Secondary -->
              </div>
              <div class="col-sm-6 height body-content box-shadow preview-background-default"
                [style.background-color]="theme.palette.background.paper">
                <!-- background: Background Default -->
                <p class="text-center preview-text-primary" [style.color]="theme.palette.text.primary">body</p>
                <!-- color: Text Primary -->
                <ul class="list-group">
                  <li class="list-group-item list-item box-shadow preview-text-disabled"
                    [style.color]="theme.palette.text.disabled">Disabled</li>
                  <!-- color: Text Disabled -->
                  <li
                    class="list-group-item list-item box-shadow preview-action-selected preview-secondary-contrast-text"
                    [style.color]="theme.palette.secondary.contrast_text"
                    [style.background-color]="theme.palette.action.selected">Selected</li>
                  <!-- background: Action Selected color: Secondary Contrast Text -->
                  <li class="list-group-item list-item box-shadow preview-text-secondary"
                    [style.color]="theme.palette.text.secondary">Third item</li>
                  <li class="list-group-item list-item box-shadow preview-text-secondary"
                    [style.color]="theme.palette.text.secondary">Fourth item</li>
                  <li class="list-group-item list-item box-shadow preview-text-secondary"
                    [style.color]="theme.palette.text.secondary">Fifth item</li>
                </ul>
              </div>
              <div class="col-sm-3 height right-side box-shadow display-flex preview-background-paper"
                [style.background-color]="theme.palette.background.default">
                <!-- background: Background Paper -->
                <p class="text-center preview-text-secondary" [style.color]="theme.palette.text.secondary">Right bar</p>
                <!-- color: Text Secondary -->
              </div>
            </div>
            <div class="row row-overwrite">
              <div class="col-sm-12 footer box-shadow preview-background-default"
                [style.background-color]="theme.palette.background.paper">
                <!-- background: Background Default -->
                <p class="text-center preview-text-primary" [style.color]="theme.palette.text.primary">Footer</p>
                <!-- color: Text Primary -->
              </div>
            </div>
          </div>

        </div>
       
       
       
       
      </div>
    </div>
    <!-- /.card -->

  </div>

</div>
