<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Site SEO Management" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
      <div class="container-fluid">

        <div class="row">

        
        </div>

      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Site SEO Management</h3>
                <ng-container *ngIf="this.permissionService.checkPermission('site_seo_management','C')">
                  <a class="btn btn-success f-right fnt-12" routerLink="/meta/0"> Create New Meta Page </a>
                </ng-container>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Title</th>
                      <th>Description</th>
                      <th style="width: 20%">Keywords</th>
                      <th>Menu</th>
                      <th>Active</th>
                      <th>Created At</th>
                      <th>Updated At</th>
                      <ng-container *ngIf="this.permissionService.checkPermission('site_seo_management','U') || this.permissionService.checkPermission('site_seo_management','T')">
                        <th>Action</th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let meta of list">
                      <td>  {{ meta.id }}</td>
                      <td>  {{ meta.meta_title || 'NA' }}</td>
                      <td>  {{ meta.meta_description || 'NA' }}</td>
                      <td style="width: 20%" data-title="{{ meta.meta_keyword || 'NA' }}">  {{ (meta.meta_keyword.substring(0,100)) + (meta.meta_keyword.length > 100 ? '.....' : '') }}</td>
                      <td>  {{ meta.name || 'NA' }}</td>
                      <td *ngIf="meta.active"><label class='badge badge-success'>Yes</label></td>
                      <td *ngIf="!meta.active"><label class='badge badge-danger'>No</label></td>
                      <!-- <td><label *ngIf="meta.enable_cms_for_register" class='badge badge-success'>Enable</label><label *ngIf="!meta.enable_meta_for_register" class='badge badge-danger'>NA</label></td> -->
                      <td> {{ meta.created_at | date :'d-m-Y h:mm a' }}</td>
                      <td> {{ meta.updated_at | date :'d-m-Y h:mm a' }}</td>
                     
                      <ng-container *ngIf="this.permissionService.checkPermission('site_seo_management','U') || this.permissionService.checkPermission('site_seo_management','T')">
                        <td>
                          <ng-container *ngIf="this.permissionService.checkPermission('site_seo_management','U')">
                            <a  class="btn btn-info fnt-12" [routerLink]="['/meta', meta.id]"> <i class="fas fa-edit"></i> </a>&nbsp;&nbsp;
                          </ng-container>
                          <ng-container *ngIf="this.permissionService.checkPermission('site_seo_management','T')">
                            <a  *ngIf="meta.active" (click)="updateMetaStatus(meta.id,false)" class="btn btn-success fnt-12" title="Disable"> <i class="fas fa-times"></i> </a>
                            <a  *ngIf="!meta.active" (click)="updateMetaStatus(meta.id,true)" class="btn btn-danger fnt-12" title="Enable"> <i class="fas fa-check"></i> </a>
                          </ng-container>
                        </td>
                      </ng-container>
                    </tr>

                    <tr *ngIf="list && list.length === 0"> <td colspan="8" class="tnodata"> No Data Found </td> </tr>

                  </tbody>
                </table>
              </div>
            </div>

            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
