<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Promo-code List" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Promo-code List <br><small>Total records: {{total}}</small></h3>
                <ng-container *ngIf = "this.permissionService.checkPermission('promo_code','C')">
                  <a class="btn btn-success f-right fnt-12" routerLink="/promo-code/0"> Add New Promo-code </a>
                </ng-container>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">ID</th>
                      <th>Promo Name</th>
                      <th>Code</th>
                      <th>Platform</th>
                      <th>Valid From</th>
                      <th>Valid Till</th>
                      <th>Bonus Type (Flat/Upto)</th>
                      <th>Bonus Amount</th>
                      <th>Wallet Type</th>
                      <th>Status</th>
                      <th>Created Date</th>
                      <th>Updated Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let promo of list">
                      <td>#{{ promo.id }}</td>
                      <td>  {{ promo.promo_name || 'NA' }}</td>
                      <td>{{ promo.code || 'NA' | hideChars }}</td>
                      <td>{{ promo.promo_code_used_in || 'NA' }}</td>
                      <td>{{ promo.valid_from || 'NA' | date }}</td>
                      <td>{{ promo.valid_till || 'NA' | date }}</td>
                      <td>{{ (promo.promo_code_bonus_type == 0 ? 'Flat' : 'Upto') }}</td>
                      <td>{{ promo.bonus_amount || 'NA' }}</td>
                      <td>{{ (promo.wallet_type == 0 ? 'Cash' : 'Non-Cash') || 'NA' }}</td>
                      <td *ngIf="promo.status"><label class="badge badge-success">Active</label></td>
                      <td *ngIf="!promo.status"><label class="badge badge-danger">Deactivate</label></td>
                      <td> {{ promo.created_at | date }}</td>
                      <td> {{ promo.updated_at | date }}</td>
                     

                      <td>
                        <ng-container *ngIf = "this.permissionService.checkPermission('promo_code','U')">
                          <a  class="btn btn-info fnt-12" [routerLink]="['/promo-code', promo.id]"> <i class="fas fa-edit"></i> </a>&nbsp;&nbsp;
                        </ng-container>
                        <a  class="btn btn-warning fnt-12" [routerLink]="['/promo-code/details', promo.id]"> <i class="fas fa-eye"></i> </a>&nbsp;&nbsp;
                        <ng-container *ngIf = "this.permissionService.checkPermission('promo_code','T')">
                          <a  *ngIf="promo.status" (click)="updatePromoStatus(promo.id,false)" class="btn btn-success fnt-12" title="Disable"> <i class="fas fa-times"></i> </a>
                          <a  *ngIf="!promo.status" (click)="updatePromoStatus(promo.id,true)" class="btn btn-danger fnt-12" title="Enable"> <i class="fas fa-check"></i> </a>
                        </ng-container>
                      </td>
                    </tr>

                    <tr *ngIf="list && list.length === 0"> <td colspan="11" class="tnodata"> No Data Found </td> </tr>

                  </tbody>
                </table>
              </div>
              </div>

            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
