<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Conversion History" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">
            <!-- //row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-left">
                                <h3 class="card-title">Conversion History Filter</h3>
                            </div>
                            <div class="pull-right">
                                <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)"
                                    style="width: 325px;" data-placeholder="Select Time Zone">
                                    <option value="">Select Time Zone</option>
                                    <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                                    <option *ngFor="let zone of TIMEZONE" [value]="zone.zonename">{{zone.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="row">

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="search">Search</label>
                                        <input type="text" class="form-control fnt-14" id="search"
                                            (keyup)="filter($event)" [(ngModel)]="params.search"
                                            placeholder="Search ID" />
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="search">Exchange Rate</label>
                                        <input type="text" class="form-control fnt-14" id="search"
                                            (keyup)="filter($event)" [(ngModel)]="params.exchange_rate"
                                            placeholder="Search Old Exchange Rate / New Exchange Rate" />
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="tenant">Currency Code</label>
                                        <select class="form-control" id="currency_code" (change)="filter($event)"
                                            [(ngModel)]="params.code">
                                            <option value="">Select Code</option>
                                            <option *ngFor="let currency of currencies" [value]="currency.id">
                                                {{currency.code}}</option>

                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="time_period_created_at">Time Period (created_at)</label>
                                        <input autocomplete="off" type="text" class="form-control float-right"
                                            id="time_period_created_at" [format]="format" daterangetime_picker
                                            (onSelect)="selectDateRange($event)" placeholder="Search Time Period" />
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="time_period_updated_at">Time Period (updated_at)</label>
                                        <input autocomplete="off" type="text" class="form-control float-right"
                                            id="time_period_updated_at" [format]="format" daterangetime_picker
                                            (onSelect)="selectDateRangeUpdatedAt($event)"
                                            placeholder="Search Time Period" />
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <button [disabled]="isLoader" type="button" class="mgt btn btn-warning fnt-12"
                                        (click)="resetFilter()">
                                        Reset Filter
                                    </button>
                                    <button [disabled]="isLoader" type="button" title="Refresh List"
                                        class="mgt btn btn-default fnt-12 ml-1" (click)="getConversionHistory()"> <i
                                            class="fa fa-refresh"></i></button>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">
                    <div class="card" *ngIf="!isLoader; else loader">
                        <div class="card-header">
                            <h3 class="card-title">Conversion History</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <h5>Total: {{ total }}</h5>

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>ID <app-ordering-arrow [column]="'id'" [params]="params"
                                                    (changeOrder)="setOrder($event)"></app-ordering-arrow></th>
                                            <th>Created At <app-ordering-arrow [column]="'created_at'" [params]="params"
                                                    (changeOrder)="setOrder($event)"></app-ordering-arrow></th>
                                            <th>Currency Code</th>
                                            <th>Old Exchange Rate</th>
                                            <th>New Exchange Rate</th>
                                            <th>Old Currency Response Id</th>
                                            <th>New Currency Response Id</th>
                                            <th>Updated At</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let history of conversionHistoryData | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total, id: 'item' }">
                                            <td> {{ history.id }} </td>
                                            <td> {{ formatDateInSelectedTimeZone(history.created_at) }} </td>
                                            <td> {{ history.currency.code || '-' }} </td>
                                            <td> {{history.old_exchange_rate || '-'}} </td>
                                            <td>{{ history.new_exchange_rate || '-' }}</td>
                                            <td><button class="btn btn-primary"
                                                    (click)="currencyResponse(history.old_currency_response_id)"
                                                    data-toggle="modal" data-target="#myModal"><i
                                                        class="fa fa-eye"></i></button>
                                            </td>
                                            <!-- <td>{{history.old_currency_response_id || '-'}}</td>
                                            <td>{{history.new_currency_response_id || '-'}}</td> -->
                                            <td><button class="btn btn-primary"
                                                    (click)="currencyResponse(history.new_currency_response_id)"
                                                    data-toggle="modal" data-target="#myModal"><i
                                                        class="fa fa-eye"></i></button>
                                            </td>
                                            <td>{{ formatDateInSelectedTimeZone(history.updated_at) || '-'}}</td>
                                        </tr>
                                        <tr *ngIf="conversionHistoryData && conversionHistoryData.length === 0">
                                            <td colspan="16" class="tnodata"> No Conversion History Found </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <pagination-controls id='item' (pageChange)="pageChanged($event)"
                            (pageChange)="p = $event"></pagination-controls>

                    </div>

                </div>

            </div>

        </div>
    </section>
</div>

<ng-template #loader>
    <img class="chart-loader" src="../../../../../../assets/dist/gif/loader.gif" />

</ng-template>

<div class="modal fade bd-example-modal-xl" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <!-- Modal content goes here -->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Currency Response</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <h6 *ngIf="currencyResData">ID:  {{ currencyResData[0].id }} | Created_at: {{ formatDateInSelectedTimeZone(currencyResData[0].created_at)  }}</h6>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Response</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let res of currencyResData">
                                <td class="model-width"> <ngx-json-viewer [json]="res.response" [expanded]="false">
                                    </ngx-json-viewer></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- Additional buttons or actions -->
            </div>
        </div>
    </div>
</div>