<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Casino Top Menus" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
    
      <section class="content">
        <div class="container-fluid">

          <div class="row">

            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title"> Casino Top Menus </h3>
                  <!-- <a (click)="createPageForm()" data-toggle="modal" data-target="#modal-page" class="btn btn-success fnt-12 f-right"> Create New </a> -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                      
                        <th>Id</th>
                        <th>Menu Title</th>
                        <!-- <th>Actions</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let page of pages;let i=index"  class="todo-list ui-sortable" [id]="page.id" [attr.data-order]="page.order">
                       
                        
                        <td> {{ page.id }} </td>

                        <td> <a [routerLink]="['/casino/pages-menu/pages', page.id]"> {{ page.menu_name }} </a> </td>
                        
                      </tr>

                      <tr *ngIf="pages && pages.length === 0"> <td colspan="5" class="tnodata"> No Casino Menu Pages Found </td> </tr>

                    </tbody>
                  </table>
                </div>

              </div>
              <!-- /.card -->

            </div>

          </div>

        </div><!-- /.container-fluid -->
      </section>
      

  </div>


