<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Casino Player Revenue Report" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                  <div class="pull-left">
                      <h3 class="card-title">Casino Player Revenue Report Filter</h3>
                  </div>
                  <div class="pull-right">
                      <div class="">

                          <ng-container *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">

                              <select  select2 id="tenant_id" (onSelect)="tenantFilter($event)" [(ngModel)]="params.tenant_id" style="width: 325px;" data-placeholder="Select Tenant">
                                  <option [value]="0">All Tenants</option>
                                  <option *ngFor="let tenants of tenantsList" [value]="tenants.id">{{tenants.name}}</option>
                              </select><span>&nbsp;</span>
                              <span *ngIf="hideShow">
                              <select  class="select2custom" select2 id="owner_id" (onSelect)="filterSelectOwner($event)" [(ngModel)]="params.owner_id" style="width: 325px" data-placeholder="Select Owner">
                                  <!-- <option value="">Select Owner</option> -->
                                  <option *ngFor="let tenants of tenantsOwnerList let i = index " [attr.selected]="!i"  [value]="tenants.id">{{tenants.agent_name}}</option>
                              </select><span>&nbsp;</span>
                            </span>

                          </ng-container>

                          <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;" data-placeholder="Select Time Zone">
                            <option value="">Select Time Zone</option>
                              <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                              <option *ngFor="let zone of TIMEZONE" [value]="zone.zonename">{{zone.name}}</option>
                          </select>
                      </div>
                  </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                <div class="row">

                  <div class="col-md-2">
                    <div class="form-group">
                      <input type="text" class="form-control" id="search" (keyup)="searchFilter($event)" [(ngModel)]="params.search" placeholder="Search User Name / Phone / Player ID"/>
                    </div>
                  </div>

                    <div class="col-md-2" *ngIf="false">
                    <div class="form-group">
                      <select class="form-control" id="player_type" (change)="filter($event)" [(ngModel)]="params.player_type">
                      <option value="">Select Player Type</option>
                      <option value="all">All Organization Players</option>
                      <option value="direct">Only Direct Players</option>
                    </select>
                    </div>
                  </div>
                  <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
                    <div class="col-md-2" *ngIf="hideShow">
                        <div class="form-group">
                            <select class="form-control" select2 id="agent_id"  title="Select Agent" (onSelect)="filterSelectAgent($event)" [(ngModel)]="params.agent_id" data-placeholder="Select Agent">
                                <!-- <option value="">Select Agent</option> -->
                                <option *ngFor="let adminUser of userList" [value]="adminUser.id"> {{adminUser.first_name}}</option>
                            </select>
                        </div>
                    </div>
                  </ng-container>

                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" title="Select Currency" data-placeholder="Select Currency"
                                    id="currency" (change)="filter($event.target)" [(ngModel)]="params.currency">
                                <option value="">Select Currency</option>
                                <option *ngFor="let currency of currencies" [value]="currency.code"> {{ currency.code }} </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" >
                        <div class="form-group">
                            <select class="form-control" id="game_provider" (change)="filter($event)"
                                    [(ngModel)]="params.game_provider"
                                    data-placeholder="Select Provider"
                            >
                                <option value="">Select Provider</option>
                                <option *ngFor="let game of gameProvider" [value]="game.key"> {{ game.key }} </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" *ngIf="params.game_provider">
                        <div class="form-group">
                            <select class="form-control" id="game_type" (change)="filter($event)"
                                    data-placeholder="Select Game Type"
                                    [(ngModel)]="params.game_type">
                                <option value="">Select Game Type</option>
                                <option *ngFor="let game of gameType" [value]="game.key"> {{ game.name }} </option>
                            </select>
                        </div>
                    </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <select class="form-control" id="time_date_period" (change)="filter($event,true)" [(ngModel)]="params.time_type">
                        <option disabled value="">Select Time Period</option>
                        <option value="today">Today</option>
                        <option value="yesterday">Yesterday</option>
                        <option value="weekly">This Week</option>
                        <option value="monthly">This Month</option>
                        <option value="custom">Custom Date</option>
                    </select>
                    </div>
                  </div>

                <div class="col-md-2" *ngIf="params.time_type == 'custom'">
                    <div class="form-group">
                        <input autocomplete="off" readonly data-placeholder="Search Time Period" placeholder="Search Time Period" title="Search Time Period" type="text"
                                class="form-control float-right" id="time_period" [format]="format" daterangetime_picker (onSelect)="selectDateRange($event)" />
                    </div>
                </div>

<!--
                <div class="col-md-2" *ngIf="customDate">
                    <div class="form-group">
                        <input autocomplete="off" data-placeholder="Search Time Period" placeholder="Search Time Period" type="text" class="form-control float-right" id="time_date_period" [format]="format" daterange_picker (onSelect)="selectDateRange($event)" />
                    </div>
                </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <select class="form-control" id="size" (change)="filter($event)" [(ngModel)]="params.size">
                        <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                    </select>
                    </div>
                  </div>
                  -->
                  <div class="col-md-4" id="dbuttons">
                    <button [disabled] = "!repLoader" type="button" class="mgt btn btn-success mt-0" (click)="submitFilter()"><i class="fa fa-search"></i> Search</button>
                    <button [disabled] = "!repLoader" type="button" class="mgt btn btn-warning mt-0 ml-2" (click)="resetFilter()"> Reset Filter </button>
                    <button [disabled] = "!repLoader" type="button" class="mgt btn btn-default mt-0 ml-2 mr-2" (click)="getReport()"> <i class="fa fa-refresh"></i> </button>
                    <!-- <button type="button" class="mgt btn btn-info mt-0" (click)="download()"> Export as CSV </button> -->
                  </div>

                </div>
                <ng-container *ngIf="tenant_base_currency != ''">
                
                    <h5>Total GGR<span>(in {{tenant_base_currency}})</span>: <span [ngStyle]="{'color': totalGGR < 0 ? 'red' : '' }"> {{ totalGGR | number: '1.2-2' }} </span> </h5>
                    <h5>Total NGR<span>(in {{tenant_base_currency}})</span>: <span [ngStyle]="{'color': totalNGR < 0 ? 'red' : '' }">  {{ totalNGR | number: '1.2-2' }} </span> </h5>
                </ng-container>
              </div>

            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-12">
            <div class="card" *ngIf="repLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">Casino Player Revenue Report</h3>
                  <div class="pull-right" *ngIf="zone"> Time Zone- {{zone}}</div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                  <div class="table-responsive" *ngIf="reports && reports.length != 0">
                      <table datatable [params]="dataTableParams" id="example1" class="table table-bordered">
                          <thead>
                          <tr>
                              <th> Player Name</th>
                              <th> Email</th>
                              <th> Phone</th>
                              <th>Currency</th>
                              <th>Agent Name</th>
                              <th>Bet</th>
                              <th *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">Bet in EUR</th>
                              <th>Win</th>
                              <th *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">Win in EUR</th>
                              <th>GGR</th>
                              <th *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">GGR in EUR</th>
                              <th>Bonus</th>
                              <th *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">Bonus in EUR</th>
                              <th>NGR(GGR-Bonus)</th>
                              <th *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable">NGR(GGR-Bonus) in EUR</th>
                              <th>Total Deposit</th>
                              <th>Total Withdraws</th>
                              <th>Registered At</th>
                              <!-- <th>Action By</th> -->

                          </tr>
                          </thead>
                          <tbody>
                          <!-- <tr *ngFor="let transaction of reports | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }"> -->
                          <tr *ngFor="let transaction of reports">

                              <!--<td> <a href="javascript:void(0);"> {{ transaction.key.split('-') && transaction.key.split('-')[0]}} </a> </td>-->
                              <td>
                                  <a href="javascript:void(0);" target="{{(this.permissionService.checkPermission('players','R')) ? '_blank' : '_self'}}" [routerLink]="(this.permissionService.checkPermission('players','R')) ? ['/players/details', transaction.top.hits.hits[0]?._source?.player_details?.player_id] : null">
                                      {{ transaction.key.split('-') && transaction.key.split('-')[0]}}
                                  </a>
                              </td>
                              <td> {{ transaction.top.hits.hits[0]?._source?.player_details?.email || '--'}}</td>
                              <td> {{ transaction.top.hits.hits[0]?._source?.player_details?.phone || '--'}}</td>
                              <td> {{ transaction.key.split('-') && transaction.key.split('-')[1]}}</td>
                              <td>
                                  <a href="javascript:void(0);" (click)="searchAgent(transaction)">
                                      {{ transaction.key.split('-') && transaction.key.split('-')[2]}}
                                  </a>
                              </td>
                              <td [ngStyle]="{'color': transaction.bet.bet_amount.value < 0 ? 'red' : '' }">
                                  {{ transaction.bet_after_refund.value | number: '1.2-2'}}
                              </td>
                              <td *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable" [ngStyle]="{'color': transaction.bet.bet_amount_in_EUR.value < 0 ? 'red' : '' }">
                                  {{ transaction.bet_after_refund_in_EUR.value | number: '1.2-2'}}
                              </td>
                              <td [ngStyle]="{'color': transaction.win.win_amount.value < 0 ? 'red' : '' }">
                                  {{ transaction.win.win_amount.value | number: '1.2-2'}}
                              </td>
                              <td *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable" [ngStyle]="{'color': transaction.win.win_amount_in_EUR.value < 0 ? 'red' : '' }">
                                  {{ transaction.win.win_amount_in_EUR.value | number: '1.2-2'}}
                              </td>
                              <td [ngStyle]="{'color': transaction.ggr.value < 0 ? 'red' : '' }">
                                  {{ transaction.ggr.value | number: '1.2-2'}}
                              </td>
                              <td *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable" [ngStyle]="{'color': transaction.ggr_in_EUR.value < 0 ? 'red' : '' }">
                                 {{ transaction.ggr_in_EUR.value | number: '1.2-2'}}
                              </td>
                              <td [ngStyle]="{'color': transaction.final_bonus.value < 0 ? 'red' : '' }">
                                  {{ transaction.final_bonus.value | number: '1.2-2' }}
                              </td>
                              <td *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable" [ngStyle]="{'color': transaction.final_bonus_in_EUR.value < 0 ? 'red' : '' }">
                                  {{ transaction.final_bonus_in_EUR.value | number: '1.2-2'}}
                              </td>
                              <td [ngStyle]="{'color': transaction.ngr.value < 0 ? 'red' : '' }"> {{
                                  transaction.ngr.value | number: '1.2-2' }}
                              </td>
                              <td *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0) || isPrimaryCurrencyDataEnable" [ngStyle]="{'color': transaction.ngr_in_EUR.value < 0 ? 'red' : '' }">
                               {{ transaction.ngr_in_EUR.value | number: '1.2-2'}}
                              </td>
                              <td [ngStyle]="{'color': transaction.deposit.deposit_amount.value < 0 ? 'red' : '' }">
                                  {{ transaction.deposit.deposit_amount.value | number: '1.2-2' || '--' }}
                              </td>
                              <td [ngStyle]="{'color': transaction.final_withdraw.value < 0 ? 'red' : '' }"> {{
                                  transaction.final_withdraw.value | number: '1.2-2' || '--' }}
                              </td>
                              <td> {{ transaction.top.hits.hits[0]?._source?.player_details?.created_at | date: 'dd-MM-YYYY HH:mm:ss' || '--'}}</td>

                          </tr>
                          <tr *ngIf="reports && reports.length === 0">
                              <td colspan="10" class="tnodata"> No Player Reports Found</td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="table-responsive" *ngIf="reports && reports.length === 0">
                      <table  class="table table-bordered">
                          <thead>
                          <tr>
                              <th> Player Name</th>
                              <th> Email</th>
                              <th> Phone</th>
                              <th>Currency</th>
                              <th>Agent Name</th>
                              <th>Bet</th>
                              <th>Win</th>
                              <th>GGR</th>
                              <th>Bonus</th>
                              <th>NGR(GGR-Bonus)</th>
                              <th>Total Deposit</th>
                              <th>Total Withdraws</th>
                              <th>Registered At</th>
                              <!-- <th>Action By</th> -->

                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngIf="firstTimeApiCall && reports && reports.length === 0">
                              <td colspan="13" class="tnodata"> No Casino Player Reports Found</td>
                          </tr>
                          <tr *ngIf="!firstTimeApiCall">
                            <td colspan="13" class="tnodata"> Click Search to Load Data </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>

              <!-- <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls> -->

            </div>
            <!-- /.card -->

          </div>

        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>


    <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>

  </ng-template>

<!--

total_bet_in_primary_currency    =    total_bets_in_EUR.bet_amount.value
total_refund_in_primary_currency =total_refund_in_EUR.refund_amount.value
total_win_in_primary_currency =       total_wins_in_EUR.win_amount.value
total_bonus_claim_in_primary_currency=total_bonus_withdraw_in_EUR.bonus_withdraw_amount
total_bonus_withdraw_in_primary_currency= total_bonus_withdraw_in_EUR.bonus_withdraw_amount.value


total_ggr_in_primary_currency = total_bet_in_primary_currency - total_refund_in_primary_currency - total_win_in_primary_currency
total_ngr_in_primary_currency = @total_ggr_in_primary_currency - total_bonus_claim_in_primary_currency + total_bonus_withdraw_in_primary_currency-->
