/* You can add global styles to this file, and also import other style files */
a,
.pointer {
    cursor: pointer;
}

.flex-grow {
    flex-grow: 1 !important;
}

.invalid-feedback {
    display: block !important;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.fnt-12 {
    font-size: 12px;
}

.tnodata {
    text-align: center;
    color: red;
}

.mgt {
    margin-top: 30px;
}

.imshow {
    padding-top: 30px;
    width: 80px;
}

.chart-loader {
    width: inherit;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mrgl {
    margin-left: 10px;
}

@media only screen and (max-width: 767px) {

    .sidebar-collapse .main-sidebar,
    .sidebar-collapse .main-sidebar:before {
        margin-left: 0px !important;
        margin-top: 37px;
    }

    .sidebar-mini .main-sidebar .nav-link,
    .sidebar-mini-md .main-sidebar .nav-link,
    .sidebar-mini-xs .main-sidebar .nav-link {
        width: calc(250px - 0.5rem * 2) !important;
    }

    .layout-navbar-fixed .wrapper .brand-link {
        margin-top: 45px !important;
    }
}


@media only screen and (min-width: 767px) and (max-width: 991px) {
    aside.main-sidebar.sidebar-dark-primary.elevation-4 {
        margin-top: 60px;
    }

    a.brand-link {
        margin-top: 63px;
    }
}

ul.ngx-pagination {
    font-size: 12px !important;
}

.mb-22 {
    margin-bottom: 22px;
}

.gap-1 {
    gap: 1em;
}

.permission-group {
    padding: 10px 0 20px 0;
}

.permission-cells {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background: #6c757d;
}

.permission-cells.active {
    background: #17a2b8;
}


.per-data {
    display: flex;
    align-items: center;

    p {
        margin-right: 40px;
        min-width: 350px;
    }
}

.nav-item.menu-open .nav-treeview {
    background-color: hsl(210, 10%, 18%) !important;
}

// .permission-wrapper{
//     max-height: 20em;
//     overflow-y: auto;
//   }



//============================================================ Login page css ============================================================
.login-page,
.register-page {
  background-color: #efefef70  !important;
}


.card-primary.card-outline {
  border-top: 0px solid #007bff;
}

.login-box, .register-box {
  width: 500px;
  box-shadow: 0px 0px 7px 0px #0000001f;
}


.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #c7e121;
  outline: 0;
  box-shadow: inset 0 0 0 transparent;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4950579c;
  text-align: center;
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #00000024;
  border-radius: 0.25rem;
}

.card-header-login {
  background-color: transparent;
  border-bottom: 0px solid rgba(0,0,0,.125);
  padding: 0.75rem 1.25rem;
  position: relative;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}


@media only screen and (min-width: 425px) and (max-width: 600px) {
  .login-box, .register-box {
    width: 390px;
}
}

//============================================================ Login page css END ============================================================






//============================================================ Button and form table css START ============================================================


.btn-primary {
  color: #fff;
  background-color: #007bffba;
  border-color: #007bff03;
  box-shadow: none;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 500;
}
.card-custom-body {
  padding-top: 0;
}
.btn-success {
  color: #fff !important;
  background-color: #2E70B7 !important;
  border-color: #2E70B7 !important;
  box-shadow: none;
}
.btn-primary{
  color: #fff !important;
  background-color: #2E70B7 !important;
  border-color: #2E70B7 !important;
  box-shadow: none;
}


.permission-cells {
  border-radius: 0px !important;
}

.badge-success {
  color: #fff;
  background-color: #2E70B7 !important;
}

.badge-danger {
  color: #fff;
  background-color: #b3434e !important;
}
.btn-warning {
  color: #ffffff !important;
  background-color: #5b678b !important;
  border-color: #5b678b !important; 
  box-shadow: none;
}
.btn-info {
  color: #fff;
  background-color: #2e7783 !important;
  border-color: #2e7783 !important;
  box-shadow: none;
}

.btn-danger {
  color: #fff;
  background-color: #b3434e !important;
  border-color: #b3434e !important;
  box-shadow: none;
}
.btn-outline-success{
  color: #fff !important;
  background-color: #2E70B7 !important;
  border-color: #2E70B7 !important;
  box-shadow: none;
}
.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #2E70B7 !important;
  color: #fefefe;
  cursor: default;
}
.btn{
  font-size: 0.8125rem;
}
.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e69c !important;
}
.icheck-primary>input:first-child:checked+input[type=hidden]+label::before, .icheck-primary>input:first-child:checked+label::before {
  background-color:#2E70B7 !important;
  border-color: #2E70B7 !important;
}
//============================================================ Button and form table css END ============================================================





//============================================================ Inner page  and form css START ============================================================



// Inner Pages
.wallets {
  color: #c2c7d0 !important;
  list-style-type: none;
}

.content-wrapper {
  background-color: #ffffff !important;
}


.user-panel-Custom {
  border-bottom: 0px solid #4f5962 !important;
  border-top: 0px solid #4f5962 !important;
}

.card-primary:not(.card-outline)>.card-header {
  background-color: #2E70B7;
}
.card-primary.card-outline-tabs>.card-header a.active {
  border-top: 3px solid #2E70B7 !important;
}



.card-custom{
  box-shadow: inset 0px 0px 3px 0px #00000017;
}
.card-title {
  float: left;
  font-size: 0.9125rem !important;
  font-weight: 400;
  margin: 0;
}

.card {
  box-shadow: inset 0px 0px 4px 0px #00000017 !important;
  margin-bottom: 1rem;
}
fieldset {
  min-width: 0;
  padding: 12px;
  margin: 0px;
  border: 0px solid #00000024 !important;
  margin-bottom: 17px;
  box-shadow: inset 0px 0px 3px 0px #00000017 !important;
}
.p-2 {
  padding: 1.5rem!important;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgb(255 239 239 / 3%) !important;
  border-top: 0 solid rgba(0,0,0,.125);
}
body {
  font-family: "Poppins",sans-serif !important;
  font-size: 0.9125rem !important;
}
.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6b8 !important;
}
text.highcharts-title {
  font-size: 0.9125rem !important;
}

//============================================================ Inner page  and form css END ============================================================




//============================================================ Dashboard  and Nav, Side bar css START ============================================================

[class*=sidebar-dark] .user-panel {
  border-bottom: 1px solid #ffffff !important;
}
.main-header {
  border-bottom: 0px solid #dee2e6 !important;
  z-index: 1034;
}
legend[_ngcontent-uea-c79] {
  font-size: 1rem !important;
}
.navbar-light {
  background-color: #ffffff;
}

.elevation-2 {
  box-shadow: 0 1px 1px rgba(0,0,0,.16),0 0px 2px rgba(0,0,0,.23)!important;
}
[class*=sidebar-dark] .brand-link {
  border-bottom: 0px solid #dee2e6;
}
.elevation-3 {
  box-shadow: 0 1px 3px rgba(0,0,0,.19),0 1px 1px rgba(0,0,0,.23)!important;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
  background-color: transparent;
  border: 1px solid #0000002b;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
  color: #666667;
}
.nav-item.menu-open .nav-treeview {
  background-color: #ffffff !important;
}
.elevation-4 {
  box-shadow: 0 -2px 1px rgba(0,0,0,.25),0 1px 1px rgba(0,0,0,.22)!important;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
  background-color: #153f6d;
  color: #fff;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #2E70B7;
}



.permission-cells.active {
  background: #2E70B7 !important;
  border-radius: 5px !important;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover {
  background-color: #1b5089 !important;
  color: #fff !important;
}
[class*=sidebar-dark-] {
  background-color: #1d2327 !important;
}
.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*=navbar]) {
  background-color: #1d2327 !important;
}
.navbar-dark {
  background-color: #1d2327 !important;
  border-color: #1d2327 !important;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link.active:hover {
  background-color: #1b5089 !important;
  color: #ffff !important;
}

//============================================================ Dashboard  and Nav, Side bar css END ============================================================



// Scroll bar Css

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e70b7; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
