<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Players" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->


    <section class="content">
        <div class="container-fluid">

          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> {{ title }} Player </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
                  <div class="card-body">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="user_name">User Name <span class="text-danger">*</span></label>
                                <input type="text" formControlName="user_name" (paste)="(false)" (keypress)="removeSpace($event)" class="form-control" id="user_name" maxlength="30" placeholder="Enter User Name"/>
                                <div class="invalid-feedback" *ngIf="submitted && f.user_name.errors">
                                  <div *ngIf="f.user_name.errors.required">User Name is required</div>
                                  <div *ngIf="f.user_name.errors.minlength">User Name should be greater than 3 char</div>
                                  <div *ngIf="f.user_name.errors.maxlength">User Name should not be greater than 15 char</div>
                                  <div *ngIf="f.user_name.errors.pattern">User Name must be valid</div>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nick_name">Nick Name <!--<span class="text-danger">*</span>--></label>
                                <input type="text" formControlName="nick_name" class="form-control" id="nick_name" maxlength="30" placeholder="Enter Nick Name"/>
                                <div class="invalid-feedback" *ngIf="submitted && f.nick_name.errors">
                                  <div *ngIf="f.nick_name.errors.required">Nick Name is required</div>
                                  <div *ngIf="f.nick_name.errors.pattern">Nick Name should not consist space</div>
                                  <div *ngIf="f.nick_name.errors.minlength">Nick Name should be greater than 3 char</div>
                                  <div *ngIf="f.nick_name.errors.maxlength">Nick Name should not be greater than 15 char</div>
                                </div>
                              </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="first_name">First Name <span class="text-danger">*</span></label>
                                <input type="text" formControlName="first_name" class="form-control" id="first_name" maxlength="30" placeholder="Enter First Name"/>
                                <div class="invalid-feedback" *ngIf="submitted && f.first_name.errors">
                                    <div *ngIf="f.first_name.errors.required">First Name is required</div>
                                    <div *ngIf="f.first_name.errors.minlength">First Name should be greater than 3 char</div>
                                    <div *ngIf="f.first_name.errors.maxlength">First Name should not be greater than 15 char</div>
                                  </div>
                            </div>

                        </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="last_name">Last Name <span class="text-danger">*</span></label>
                                    <input type="text" formControlName="last_name" class="form-control" id="last_name" maxlength="30" placeholder="Enter Last Name"/>
                                    <div class="invalid-feedback" *ngIf="submitted && f.last_name.errors">
                                        <div *ngIf="f.last_name.errors.required">Last Name is required</div>
                                        <div *ngIf="f.last_name.errors.minlength">:ast Name should be greater than 3 char</div>
                                        <div *ngIf="f.last_name.errors.maxlength">Last Name should not be greater than 15 char</div>      
                                    </div>
                                </div>
                            </div>
                    </div>


                    <div class="row">

                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="email">Email <span class="text-danger">*</span></label>
                              <input type="text" formControlName="email" class="form-control" id="email" maxlength="50" placeholder="Enter Email"/>
                              <div class="invalid-feedback" *ngIf="submitted && f.email.errors">
                                  <div *ngIf="f.email.errors.required">Email is required</div>
                                  <div *ngIf="f.email.errors.pattern">Email must be valid</div>
                              </div>
                          </div>

                      </div>

                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="password">Password <span *ngIf="id == 0" class="text-danger">*</span> 
                                    <!-- <button class="btn btn-defaul" type="button" (click)="hideShowPass = hideShowPass ? false : true">  -->
                                      <i (click)="hideShowPass = hideShowPass ? false : true" [ngClass]="hideShowPass ? 'peye fa fa-eye-slash' : 'peye fa fa-eye'"></i> 
                                    <!-- </button>  -->
                                  </label>
                                  <input [type]="hideShowPass ? 'text' : 'password'" formControlName="password" class="form-control" id="password" maxlength="30" placeholder="Enter Password"/>
                                  <div class="invalid-feedback" *ngIf="submitted && f.password.errors">
                                      <div *ngIf="f.password.errors.required">Password is required</div>
                                      <div *ngIf="f.password.errors.pattern">Password must be 1 upper case, 1 lower case and 1 special char mmin 8 char.</div>
                                  </div>
                              </div>
                          </div>
                  </div>

                  
                  <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="phone">Phone <span class="text-danger">*</span></label>
                          <input type="text" formControlName="phone" class="form-control" maxlength="15" id="phone" placeholder="Enter Phone"/>
                          <div class="invalid-feedback" *ngIf="submitted && f.phone.errors">
                            <div *ngIf="f.phone.errors.required">Phone is required</div>
                            <div *ngIf="!f.phone.errors.pattern && f.phone.errors.minlength">Phone must have less than {{ phoneMinLen }} digits</div>
                            <div *ngIf="!f.phone.errors.pattern && f.phone.errors.maxlength">Phone must not have more than {{ phoneMaxLen }} digits</div>
                            <div *ngIf="f.phone.errors.pattern">Phone must be valid</div>
                            <div *ngIf="f.phone.errors.tenDigitNumber">Phone must be 10 digits</div>
                          </div>
                        </div>

                    </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date_of_birth">Date of birth <span class="text-danger">*</span></label>
                                <input type="text" id="date_of_birth" [max]="2022-02-02" [format]="format" date_picker (onSelect)="selectDate($event)"
                                formControlName="date_of_birth" class="form-control" id="date_of_birth" maxlength="30" placeholder="Enter Date of birth "/>
                                <div class="invalid-feedback" *ngIf="submitted && f.date_of_birth.errors">
                                    <div *ngIf="f.date_of_birth.errors.required">Date of birth is required</div>
                                    <span *ngIf="this.playerForm.get('date_of_birth').errors?.ageValidate">Age must be 18 year above.</span>

                                </div>
                            </div>
                        </div>
                </div>


                   <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="country_code">Country Code <span class="text-danger">*</span></label>
                            <select class="form-control" select2 (onSelect)="selectCountryCode($event)" id="country_code" data-placeholder="Select a Country Code" style="width: 100%;">
                              <option *ngFor="let country of countries" [value]="country.value"> {{ country.name }} </option>
                            </select>
    
                            <div class="invalid-feedback" *ngIf="submitted && f.country_code.errors">
                                <div *ngIf="f.country_code.errors.required">Country Code is required</div>
                            </div>
                        </div>

                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="currency_id">Currency <span class="text-danger">*</span></label>
                            <select class="form-control" select2 [disabled]="id>0" (onSelect)="selectCurrency($event)" id="currency_id" data-placeholder="Select a Currency" style="width: 100%;">
                              <option *ngFor="let currency of currencies" [value]="currency.id"> {{ currency.code }} </option>
                            </select>
    
                            <div class="invalid-feedback" *ngIf="submitted && f.currency_id.errors">
                                <div *ngIf="f.currency_id.errors.required">Currency is required</div>
                            </div>
                              <div *ngIf="id == 0">Once the currency is set for player it cannot be changed</div>
                        </div>
                        </div>
                    </div>


                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="vip_level">Vip Level <span class="text-danger">*</span></label>
                          <select class="form-control" select2 (onSelect)="selectVipLevel($event)" id="vip_level" data-placeholder="Select a Vip Level" style="width: 100%;">
                            <option *ngFor="let item of getNumArr(11); let i = index"> {{ i }} </option>
                          </select>
  
                          <div class="invalid-feedback" *ngIf="submitted && f.vip_level.errors">
                              <div *ngIf="f.vip_level.errors.required">Vip Level is required</div>
                          </div>
                      </div>

                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="vip_level">City <span class="text-danger">*</span></label>
                            <input type="text" id="city" formControlName="city" class="form-control" placeholder="Enter city name "/>
                            <div class="invalid-feedback" *ngIf="submitted && f.city.errors">
                                <div *ngIf="f.city.errors.required">city is required</div>
                                <div *ngIf="f.city.errors.minlength">City Name should be greater than 3 char</div>
                                <div *ngIf="f.city.errors.maxlength">City Name  should not be greater than 15 char</div>
                              </div>
                      </div>

                      </div>
                    </div>
                    <div class="row">

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="zip_code">Zip Code <span class="text-danger">*</span></label>
                          <input type="text" formControlName="zip_code" class="form-control" maxlength="9" id="zip_code" placeholder="Enter Zip Code"/>
                          <div class="invalid-feedback" *ngIf="submitted && f.zip_code.errors">
                            <div *ngIf="f.zip_code.errors.required">Zip Code is required</div>
                            <div *ngIf="!f.zip_code.errors.pattern && f.zip_code.errors.minlength">Zip Code must have less than {{ zipcodeMinLen }} digits</div>
                            <div *ngIf="f.zip_code.errors.pattern">Zip Code must be valid</div>
                          </div>
                        </div>

                    </div>

                      <div class="col-md-6">
                        
                        <div class="row mgt">
                          <div class="col-md-4">
                            <div class="icheck-primary d-inline">
                              <input type="checkbox" formControlName="email_verified" id="checkboxPrimary1">
                              <label for="checkboxPrimary1">
                                Email Verified
                              </label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="icheck-primary d-inline">
                              <input type="checkbox" formControlName="active" id="checkboxPrimary2">
                              <label for="checkboxPrimary2">
                                  Active
                              </label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="icheck-primary d-inline">
                              <input type="checkbox" formControlName="phone_verified" id="checkboxPrimary3">
                              <label for="checkboxPrimary3">
                                Phone Verified
                              </label>
                            </div>
                          </div>
                          
                          <div class="col-md-4" *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">
                            <div class="icheck-primary d-inline">
                              <input type="checkbox" formControlName="demo" id="checkboxPrimary3">
                              <label for="checkboxPrimary3">
                                Demo
                              </label>
                            </div>
                          </div>

                        </div>

                      </div>
                      <a *ngIf="id > 0" href="javascript:void(0);" (click)="resetPass()" title="Click to sent Mail for reset password link"> Reset Password </a>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button type="submit" [disabled]="playerLoader" class="btn btn-primary">
                      <span *ngIf="playerLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
                      &nbsp;
                    <a routerLink=".." class="btn btn-warning"> Cancel </a>
                  </div>
                </form>
              </div>
              <!-- /.card -->
  
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>


  </div>
