<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="GGR Report" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-left">
                                <h3 class="card-title">Report Filter</h3>
                            </div>
                            <div class="pull-right">
                                <div class="">

                                    <ng-container
                                        *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">

                                        <select select2 id="tenant_id" (onSelect)="tenantFilter($event)"
                                            [(ngModel)]="params.tenant_id" style="width: 325px;"
                                            data-placeholder="Select Tenant">
                                            <option [value]="0">All Tenants</option>
                                            <option *ngFor="let tenants of tenantsList" [value]="tenants.id">
                                                {{tenants.name}}
                                            </option>
                                        </select><span>&nbsp;</span>

                                    </ng-container>

                                    <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)"
                                        style="width: 325px;" data-placeholder="Select Time Zone">
                                        <option value="">Select Time Zone</option>
                                        <option *ngFor="let zone of TIMEZONE" [value]="zone.zonename">{{zone.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="row">
                                <!-- <ng-container *ngIf="this.permissionService.checkPermission('agents','R') && (params.time_type != 'monthWise')">
                                    <div class="col-md-2" *ngIf="hideShow">
                                        <div class="form-group">
                                            <select class="form-control" select2 id="agent_id" title="Select Agent"
                                                (onSelect)="filterSelectAgent($event)" [(ngModel)]="params.agent_id"
                                                data-placeholder="Select Agent">
                                                <option *ngFor="let adminUser of userList" [value]="adminUser.id">
                                                    {{adminUser.first_name}} </option>
                                            </select>
                                        </div>
                                    </div>
                                </ng-container> -->

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <select class="form-control" title="Select Currency"
                                            data-placeholder="Select Currency" id="currency"
                                            (change)="filter($event.target)" [(ngModel)]="params.currency">
                                            <option value="">Select Currency</option>
                                            <option *ngFor="let currency of currencies" [value]="currency.code"> {{
                                                currency.code }} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <select class="form-control" id="time_date_period"
                                            (change)="filter($event,true)" [(ngModel)]="params.time_type">
                                            <option value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="weekly">This Week</option>
                                            <option value="monthly">This Month</option>
                                            <option value="monthWise">Month Wise</option>
                                            <option value="custom">Custom Date</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2" *ngIf="params.time_type=='custom'">
                                    <div class="form-group">
                                        <input autocomplete="off" data-placeholder="Search Time Period" readonly
                                            placeholder="Search Time Period" type="text"
                                            class="form-control float-right" id="time_period" [format]="format"
                                            [maxDate]="maxSelectableDateTime" [dateLimit] = "dateLimit"    daterangetime_picker (onSelect)="selectDateRange($event)" />
                                    </div>
                                </div>
                                <div class="col-md-2" *ngIf="params.time_type=='monthWise'">
                                    <div class="form-group">
                                        <select class="form-control" id="select_year" (change)="onYearChange($event)"
                                            [(ngModel)]="params.year">
                                            <option value="">Select Year</option>
                                            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2" *ngIf="params.time_type=='monthWise' && params.year !=''">
                                    <div class="form-group">
                                        <select class="form-control" id="select_month" (onSelect)="onMonthChange($event)"
                                              multiple="true" select2 data-placeholder="Select Month">
                                            <option *ngFor="let month of months; let i = index"  [disabled]="isFutureMonth(i)" [value]="month">{{ month }}</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                      <!--<label for="size">Size</label>-->
                                      <select class="form-control" id="size" (change)="filter($event)" [(ngModel)]="params.size">
                                        <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                                    </select>
                                    </div>
                                  </div>

                                <div class="col-md-2">
                                    <button [disabled]="isLoader" type="button" class="btn btn-success mt-0"
                                        (click)="submitFilter()"><i class="fa fa-search"></i> Search</button>
                                    <button [disabled]="isLoader" type="button" class="mgt btn btn-warning mt-0 ml-2"
                                        (click)="resetFilter()">
                                        Reset Filter
                                    </button>
                                    <button [disabled]="isLoader" type="button" class="mgt btn btn-default mt-0 ml-2"
                                        (click)="getReport()"> <i class="fa fa-refresh"></i> </button>
                                    <ng-container *ngIf="this.permissionService.checkPermission('ggr_report','export')">
                                        <button type="button" *ngIf="reports.length > 0" class="mgt btn btn-info mt-0"
                                            (click)="download()"> Export as CSV </button>
                                    </ng-container>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <ng-container *ngIf="!isLoader; else loader">
                            <div class="card-header">
                                <h3 class="card-title">GGR Report</h3>

                                <div class="pull-right" *ngIf="zone"> Time Zone- {{zone}}</div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        Total Record-{{total}}
                                    </div>

                                    <div class="col-md-4">
                                    <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
                                </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered">

                                        <thead>
                                            <tr>
                                                <th *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 && (params.time_type=='monthWise' && params.year !='' && params.month !='')">Tenants
                                                </th>
                                                <th>Total Bet
                                                </th>
                                                <th>Total Bet EUR
                                                </th>
                                                <th>Total Win
                                                </th>
                                                <th>Total Win Eur
                                                </th>
                                                <th>GGR
                                                </th>
                                                <th>GGR EUR
                                                </th>
                                                <th>Currency
                                                </th>
                                                <th>Exchange Rate
                                                </th>
                                                <th *ngIf="(params.time_type=='monthWise' && params.year !='' && params.month !='')">Date
                                                </th>
                                                <!-- <th>Month -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let transaction of reports | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                                                <td *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 && (params.time_type=='monthWise' && params.year !='' && params.month !='')">{{transaction?.tenant?.name || '-'}}</td>
                                                <td> {{transaction.total_bet }} </td>
                                                <td>{{transaction.total_bet_eur }}</td>
                                                <td> {{transaction.total_win }} </td>
                                                <td>{{transaction.total_win_eur }}</td>
                                                <td>{{transaction.total_ggr }}</td>
                                                <td>{{transaction.total_ggr_eur }}</td>
                                                <td>{{transaction.currency }}</td>
                                                <td>{{transaction.exchange_rate }}</td>
                                                <td *ngIf="(params.time_type=='monthWise' && params.year !='' && params.month !='')">{{transaction?.date || '-'}}</td>
                                            </tr>
                                            <!-- <tr *ngIf="reports && reports.length === 0">
                                                <td colspan="16" class="tnodata"> No Data Found</td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row mt-1">
                                    <div class="col-md-8">

                                    </div>
                            <div class="col-md-4">
                                <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                                <!--<pagination-controls (pageChange)="pageChanged($event)"
                                             (pageChange)="p = $event"></pagination-controls> -->
                            </div>
                        </ng-container>
                    </div>
                    <!-- /.card -->

                </div>

            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<ng-template #loader>

    <img class="chart-loader" src="../../../../assets/dist/gif/loader.gif" />
</ng-template>