<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Currency" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <section class="content">
      <div class="container-fluid">

        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"> {{ breadcrumbs[breadcrumbs.length-1].title }} Currency </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="currencyForm" (ngSubmit)="onSubmit()">
                <div class="card-body">

                  <div class="form-group">
                      <label for="name">Name <span class="text-danger">*</span></label>
                      <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Name"/>
                      <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="code">Code <span class="text-danger">*</span></label>
                      <input type="text" formControlName="code" class="form-control" id="code" placeholder="Enter Code"/>
                      <div class="invalid-feedback" *ngIf="submitted && f.code.errors">
                        <div *ngIf="f.code.errors.required">Code is required</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="code">Internal Code <span class="text-danger">*</span></label>
                      <input type="text" formControlName="internal_code" class="form-control" id="internal_code" placeholder="Enter Internal code"/>
                      <div class="invalid-feedback" *ngIf="submitted && f.internal_code.errors">
                        <div *ngIf="f.internal_code.errors.required">Internal code is required</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="exchange_rate">Exchange Rate <span class="text-danger">*</span></label>
                      <input type="number" formControlName="exchange_rate" class="form-control" maxlength="15" id="exchange_rate" placeholder="Enter Exchange Rate"/>
                      <div class="invalid-feedback" *ngIf="submitted && f.exchange_rate.errors">
                        <div *ngIf="f.exchange_rate.errors.required">Exchange Rate is required</div>
                        <div *ngIf="f.exchange_rate.errors.min">Exchange Rate cannot be less than 1</div>
                      </div>
                    </div>
                  
                  <!-- <div class="icheck-primary d-inline">
                      <input type="checkbox" formControlName="primary" id="checkboxPrimary1" />
                      <label for="checkboxPrimary1">
                          Primary
                      </label>
                    </div> -->

                </div>
                <!-- /.card-body -->

                <div class="card-footer" >
                  <button type="submit" [disabled]="currencyLoader" class="btn btn-primary"> <span *ngIf="currencyLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit</button>
                  &nbsp;
                  <a routerLink="/super-admin/currencies" class="btn btn-warning"> Cancel </a>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </section>


</div>
