<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Manage Bank Details" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->


  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"> {{title}} </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="bankForm" (ngSubmit)="onSubmit()">
              <div class="card-body">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="bank_name">Bank Name <span class="text-danger">*</span></label>
                      <input type="text" formControlName="bank_name" class="form-control" id="bank_name"
                        placeholder="Enter Bank Name" />
                      <div class="invalid-feedback" *ngIf="submitted && f.bank_name.errors">
                        <div *ngIf="f.bank_name.errors.required">Bank Name is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="account_number">Account Number <span class="text-danger">*</span></label>
                      <input type="text" formControlName="account_number" (paste)="(false)" (keypress)="removeSpace($event)" class="form-control" id="account_number"
                        placeholder="Enter Account Number" />
                      <div class="invalid-feedback" *ngIf="submitted && f.account_number.errors">
                        <div *ngIf="f.account_number.errors.required">Account Number is required</div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="account_holder_name">Account Holder Name <span class="text-danger">*</span></label>
                      <input type="text" formControlName="account_holder_name" class="form-control" id="account_holder_name"
                        placeholder="Enter Account Holder Name" />
                      <div class="invalid-feedback" *ngIf="submitted && f.account_holder_name.errors">
                        <div *ngIf="f.account_holder_name.errors.required">Account Holder Name is required</div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="bank_ifsc_code">IFSC Code <span class="text-danger">*</span></label>
                      <input type="text" formControlName="bank_ifsc_code" (paste)="(false)" (keypress)="removeSpace($event)" class="form-control" id="bank_ifsc_code"
                        placeholder="Enter IFSC Code" />
                      <div class="invalid-feedback" *ngIf="submitted && f.bank_ifsc_code.errors">
                        <div *ngIf="f.bank_ifsc_code.errors.required">IFSC Code is required</div>
                      </div>
                    </div>
                    
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="active">Active / Inactive <span class="text-danger">*</span></label>
                      <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" formControlName="active" id="customSwitch3">
                        <label class="custom-control-label" for="customSwitch3">You can {{(bank.status ? 'deactivate' : 'active')}} it, if you {{(bank.status ? "don't" : '')}} want to publish.</label>
                      </div>
                      </div>
                  </div>
                </div>





              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" [disabled]="bankLoader" class="btn btn-primary">
                  <span *ngIf="bankLoader" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span> Submit
                </button>
                &nbsp;
                <a routerLink="/bank/list" class="btn btn-warning"> Cancel </a>
              </div>
            </form>
          </div>
          <!-- /.card -->

        </div>
      </div>
      <!-- /.row -->



    </div><!-- /.container-fluid -->
  </section>


</div>
