<nav class="main-header navbar navbar-expand navbar-dark">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item" (click)="toggleSidebar()">
        <a class="nav-link" data-widget="pushmenu" href="javascript:void(0);" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block" data-title="Welcome!" data-intro="Dashboard">
        <a [routerLink]="superAdminAuthService.superAdminTokenValue ? '/super-admin' : '/'" class="nav-link">Home</a>
      </li>
      <!-- <li class="nav-item d-none d-sm-inline-block">
        <a href="javascript:void(0);" class="nav-link">Contact</a>
      </li> -->
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
         <!-- dropdown for currency conversion -->
        <li class="nav-item dropdown" *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminUserValue?.role != 'manager')">
        <a class="nav-link" data-toggle="dropdown" href="javascript:void(0);">
          <i class="fas fa-money"></i>
          Currency Rate
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">          
          <a class="dropdown-item dropdown-header">
            Current Exchange Rate
            <span class="text-muted text-sm mt-2">({{currentDate | date: 'dd-MM-YYYY'}})</span>
          </a>
          <div class="dropdown-divider"></div>
          <table class="table table-borderless m-0">
            <tbody>
              <tr *ngFor="let currency of currencies">
                <td>{{ currency.code }} <span class="text-sm">({{currency.internal_code}})</span></td>
                <td>-</td>
                <td><span class="text-muted text-sm">{{currency.exchange_rate}}</span></td>
              </tr>
            </tbody>
          </table>
          <div class="dropdown-divider"></div>
          <a routerLink="/super-admin/currencies/conversion-history" class="dropdown-item dropdown-footer">View History</a>
        </div>
        </li>
      
        <li class="nav-item dropdown" *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminUserValue?.role != 'manager')">
            <a class="nav-link" [routerLink]="['/super-admin/profile',superAdminAuthService?.superAdminUserValue?.id]"  >
              <i class="far fa-user"> </i> Profile
            </a>
            <!-- <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <div class="dropdown-divider"></div>
              <a (click)="logout()" class="dropdown-item dropdown-footer">Logout</a>
            </div> -->
          </li>

      <!-- Navbar Search -->
      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="javascript:void(0);" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li> -->

      <!-- Messages Dropdown Menu -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="javascript:void(0);">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="javascript:void(0);" class="dropdown-item">
            <div class="media">
              <img src="./assets/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="javascript:void(0);" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li> -->

      <!-- Notifications Dropdown Menu -->
      <ng-container *ngIf="this.permissionService.checkPermission('notifications','R')">
        <li class="nav-item dropdown" data-title="Notifications!" data-intro="Unread Notifications" *ngIf="adminAuthService.adminTokenValue && adminAuthService.adminTokenValue.length > 0">
        <a class="nav-link" (click)="readAll()" data-toggle="dropdown" href="javascript:void(0);">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge"> {{ notificationsService.unreadNotifications?.count |number}} </span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">{{ notificationsService.unreadNotifications?.count }} Notifications</span>
          
          <ng-container *ngFor="let notification of notificationsService.unreadNotifications?.data">
            
            <div class="dropdown-divider"></div>

            <ng-container *ngIf="notification.reference_type == 'UserDocument'; else agentLinkTemp">

              <a [routerLink]="['/players/details', notification.sender_id]" [queryParams]="{ tab: 'settings' }" class="dropdown-item badge text-wrap">
                {{ notification.message | truncate_string : 80 }}
                <span class="float-right text-muted text-sm mt-2">{{ notification.created_at | date:'MMM d, y h:mm a' }}(UTC)</span>
              </a>

            </ng-container>
            <ng-template #agentLinkTemp>
              <a href="javascript:void(0);" class="dropdown-item badge text-wrap">
                {{ notification.message | truncate_string : 80 }}
                <span class="float-right text-muted text-sm mt-2">{{ notification.created_at | date:'MMM d, y h:mm' }}(UTC)</span>
              </a>
            </ng-template>

            <!-- <a [routerLink]="notification.reference_type == 'AdminUser' ? ['/agents/details', adminAuthService?.adminUserValue?.tenant_id, notification.sender_id] : ['/players/details', notification.sender_id]" [queryParams]="{ tab: 'settings' }" class="dropdown-item">
              {{ notification.message | truncate_string : 30 }}
              <span class="float-right text-muted text-sm">{{ notification.created_at | date:'dd-MM-YYYY' }}</span>
            </a> -->
          
          </ng-container>
          
          <!-- <div class="dropdown-divider"></div>
          <a href="javascript:void(0);" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="javascript:void(0);" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a> -->
          
          <div class="dropdown-divider"></div>
          <a routerLink="/notifications" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
        </li>
      </ng-container>

      <li class="nav-item" data-title="Logout!" data-intro="Logout Admin" *ngIf="(superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminUserValue?.role != 'manager')">
        <a href="javascript:void(0);" (click)="logout()" class="nav-link"> <i class="fas fa-sign-out-alt"></i> Logout</a>
      </li>
      <li class="nav-item dropdown" *ngIf="(!superAdminAuthService.superAdminTokenValue)">
        <a class="nav-link rounded pt-0" data-toggle="dropdown">
          <div class="image">
            <img [src]="'assets/dist/img/AdminLTELogo.png'"
              class="img-circle elevation-2 " width="35px" alt="User Image">
          </div>
        </a>
  
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languages">
          
            <a class="dropdown-item" routerLink="/change-password"><i class="fas fa-gear mr-2"></i>
              Change password
            </a>
            <a href="javascript:void(0);" (click)="logout()" class=" dropdown-item"> <i class=" fas fa-sign-out-alt mr-2"></i>
              Logout
            </a>
  
        </div>

      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="javascript:void(0);" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="javascript:void(0);" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li> -->
    
    </ul>
  </nav>
