<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Logs" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Logs Filter</h3>
              </div>
              <div class="card-body">
  
                <div class="row">
  
                  <div class="col-md-2">
                      <div class="form-group">
                        <label for="search">Search Service</label>
                        <input type="text" class="form-control fnt-14" id="search"  [(ngModel)]="params.service" placeholder="Search Service"/>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="search">Search URL</label>
                        <input type="text" class="form-control fnt-14" id="searchurl"  [(ngModel)]="params.search" placeholder="Search URL"/>
                      </div>
                    </div>
  
                  <div class="col-md-2">
                      <div class="form-group">
                        <label for="search">Search Response Status</label>
                        <input type="text" class="form-control fnt-14" id="search_res_status"  [(ngModel)]="params.res_status" placeholder="Search Response Status"/>
                      </div>
                    </div>
  
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="search">Search Response Code</label>
                        <input type="text" class="form-control fnt-14" id="search_res_code"  [(ngModel)]="params.res_code" placeholder="Search Response Code"/>
                      </div>
                    </div>
  
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="search">Search Error Code</label>
                        <input type="text" class="form-control fnt-14" id="search_error_code"  [(ngModel)]="params.error_code" placeholder="Search Error Code"/>
                      </div>
                    </div>
  
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="search">Search ID</label>
                        <input type="text" class="form-control fnt-14" id="search_id"  [(ngModel)]="params.id" placeholder="Search ID"/>
                      </div>
                    </div>
  
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="search">Search Request Json</label>
                        <input type="text" class="form-control fnt-14" id="search_req_json" [(ngModel)]="params.request_json" placeholder="Search Request Json"/>
                      </div>
                    </div>
  
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="search">Search Response Json</label>
                        <input type="text" class="form-control fnt-14" id="search_res_json"  [(ngModel)]="params.response_json" placeholder="Search Response Json"/>
                      </div>
                    </div>
  
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="tenant">Tenant</label>
                      <select class="form-control" id="tenant"  [(ngModel)]="params.tenant_id">
                        <option value=""> All Tenants </option>
                        <option *ngFor="let tenant of tenants" [value]="tenant.id"> {{ tenant.name }} </option>
                      </select>
                    </div>
                  </div>
  
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="time_period_log">Time Period</label>
                      <input autocomplete="off" type="text" class="form-control float-right" id="time_period_log"
                        [format]="format" daterangetime_picker (onSelect)="selectDateRange($event)"
                        placeholder="Search Time Period" />
                    </div>
                  </div>
  
                  <div class="col-md-1">
                    <div class="form-group">
                      <label for="size">Size</label>
                      <select class="form-control" id="size"  [(ngModel)]="params.size">
                        <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-success fnt-12" (click)="filter($event)"><i class="fa fa-search"></i> Search
                    </button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning fnt-12 ml-2" (click)="resetFilter()"> Reset Filter
                    </button>
                    <button [disabled] = "isLoader" type="button" title="Refresh List" class="mgt btn btn-default fnt-12 ml-1"
                            (click)="getOldLog()"> <i class="fa fa-refresh"></i></button>
                    <button *ngIf="logs && logs.length !== 0" type="button" class="mgt btn btn-info fnt-12 ml-1" (click)="exportAsXLSX()"><i
                            class="fa fa-download"></i> CSV </button>
                  </div>
                </div>
  
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
      </div>
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <ng-container *ngIf="!isLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">Logs</h3>
  
  
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 10px">ID <app-ordering-arrow [column]="'id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Tenant Name</th>
                        <th>Service</th>
                        <th>Url</th>
                        <th>Response Status</th>
                        <th>Response Code</th>
                        <th>Error Code</th>
                        <th>Request/Response Jsons</th>
                        <!-- <th>Response Json</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let log of logs | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
  
                        <td> {{ log.id }} </td>
                        <td> {{ log.created_at || '-' }} </td>
                        <td> {{ log.updated_at  || '-' }} </td>
                        <td> {{getTenantName(log.tenant_id)}} </td>
                        <td> {{log.service || '-'}} </td>
                        <td> {{ log.url || '-' }} </td>
                        <td> {{ log.response_status || '-' }} </td>
                        <td> {{ log.response_code || '-' }} </td>
                        <td> {{ log.error_code || '-' }} </td>
  
                        <!-- <td>{{ log.request_json ||''}}  </td>    -->
                        <!-- <td>{{ log.response_json ||''}}  </td>              -->
                        <td><button (click)="jsons.request =  convertToJSON(log.request_json); jsons.response = convertToJSON(log.response_json)"
                            type="button" class="btn btn-primary" data-toggle="modal" data-target="#requestModel">
                            <i class="fa fa-eye"></i>
                          </button></td>
                        <!-- <td><button type="button" (click)="displayResponseObject =  log.request_json" class="btn btn-primary" data-toggle="modal" data-target="#responseModel">
                          <i class="fa fa-eye"></i>
                        </button></td> -->
  
                      </tr>
                      <tr *ngIf="firstTimeApiCall && logs && logs.length === 0">
                        <td colspan="16" class="tnodata"> No Logs Found </td>
                      </tr>
                      <tr *ngIf="!firstTimeApiCall">
                        <td colspan="16" class="tnodata"> Click Search to Load Data </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                Total Record {{total||0}}
              </div>
  
              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
  
              </ng-container>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  <!-- Modal -->
  <div class="modal fade bd-example-modal-xl" id="requestModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header float-right">
          <h5>JSON</h5>
          <div class="text-right">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                  </div>
        </div>
        <div class="modal-body">
          <div>
  
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Request</th>
                  <th scope="col">Response</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="model-width">
                    <ngx-json-viewer [json]="jsons.request" [expanded]="true"></ngx-json-viewer>
  
  
                </td>
                
                <td class="model-width">
                    <ngx-json-viewer [json]="jsons.response" [expanded]="true"></ngx-json-viewer>
  
                </td>
                </tr>
              </tbody>
            </table>
          </div>
  
  
        </div>
        <div class="modal-footer">
          <button (click)="jsons.request = null; jsons.response = null" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #loader>
  
    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>