<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb title="Jobs" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="pull-left"><h3 class="card-title">Transaction Filter</h3></div>
              <div class="pull-right">
                <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;" data-placeholder="Select Time Zone">
                  <option value="">Select Time Zone</option>
                  <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                  <option *ngFor="let zone of TIMEZONE"  [value]="zone.zonename">{{zone.name}}</option>
                </select>
              </div>
            </div>
            <div class="card-body">

              <div class="row">

                <div class="col-md-2">
                    <div class="form-group">
                      <label for="search">Search</label>
                      <input type="text" class="form-control fnt-14" id="search" [(ngModel)]="params.search" placeholder="Search ID"/>
                    </div>
                  </div>
              
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="tenant">Status</label>
                      <select class="form-control" id="tenant" [(ngModel)]="params.status">
                        <option value="">Select Status</option>
                        <option value="0">Not Started</option>
                        <option value="1">In Progress</option>
                        <option value="2">Failed</option>
                        <option value="3">Completed</option>
                        <option value="4">Partially Failed</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="tenant">Type</label>
                      <select class="form-control" id="tenant" [(ngModel)]="params.type">
                        <option value="">Select Type</option>
                        <option value="1">Bulk Deposit</option>
                        <option value="2">Bulk Withdraw</option>
                      </select>
                    </div>
                  </div>


                <div class="col-md-2">
                  <div class="form-group">
                    <label for="time_period_log">Time Period</label>
                    <input autocomplete="off" type="text" class="form-control float-right" id="time_period_log"
                      [format]="format" daterangetime_picker (onSelect)="selectDateRange($event)"
                      placeholder="Search Time Period" />
                  </div>
                </div>

                <div class="col-md-3">
                  <button [disabled] = "isLoader" type="button" class="mgt btn btn-success fnt-12" (click)="filter($event)"><i class="fa fa-search"></i> Search
                  </button>
                  <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning fnt-12 ml-1" (click)="resetFilter()"> Reset Filter
                  </button>
                  <button [disabled] = "isLoader" type="button" title="Refresh List" class="mgt btn btn-default fnt-12 ml-1"
                    (click)="getJobs()"> <i class="fa fa-refresh"></i></button>
                </div>
              </div>


            </div>

          </div>

        </div>

      </div>
    </div>
  </section>


  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">
          <div class="card" *ngIf="!isLoader; else loader">
            <div class="card-header">
              <h3 class="card-title">Jobs</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                  <h5>Total:  {{ total }}</h5>

                  <h5>
                      Not Started Total: {{ notStartedTotal || 0 }} |
                      In Progress Total: {{ inProgressTotal || 0 }} |
                      Failed Total: {{ failedTotal || 0 }} |
                  </h5>
                  <h5>
                      Completed Total: {{ completedTotal || 0 }} |
                      Partially Failed Total: {{ partiallyFailedTotal || 0 }}
                  </h5>

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID <app-ordering-arrow [column]="'id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Created At <app-ordering-arrow [column]="'created_at'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Type</th>
                      <th>Job Details</th>
                      <th>Status</th>
                      <th>Total Users</th>
                      <th>User Details</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let job of jobs | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total, id: 'item' }">
                      <td> {{ job.id }} </td>
                      <td> {{ formatDateInSelectedTimeZone(job.created_at) }} </td>
                      <td> {{ job.type === 1 ? 'Bulk Deposit' : 'Bulk Withdraw'  || '-' }} </td>
                      <td>          <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th *ngIf="!job.csv">Amount</th>
                              <th>Currency</th>
                              <th>Amount Type</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td *ngIf="!job.csv"> {{ convertToJSON(job.request_object).amount || '-' }} </td>
                              <td> {{ convertToJSON(job.request_object).currency_code || '-' }} </td>
                              <td *ngIf="convertToJSON(job.request_object).amount_type !== 'non_cash'">Cash</td>
                              <td *ngIf="convertToJSON(job.request_object).amount_type === 'non_cash'">Bonus Amount (non cash)</td>

                            </tr>
                          </tbody>
                        </table>
                      </div></td>
                      <td>{{ 
                        job.status === 0 ? 'Not Started' :
                        job.status === 1 ? 'In Progress' :
                        job.status === 2 ? 'Failed' :
                        job.status === 3 ? 'Completed' :
                        job.status === 4 ? 'Partial Failed' :
                        job.status === 5 ? 'Retried' :
                        '-' 
                      }}</td>
                      <td>{{job.users_count || '-'}}</td>
                      <td> <button (click)="getUserDetails(job.id); job_id = job.id"
                        type="button" class="btn btn-primary" data-toggle="modal" data-target="#requestModel">
                        <i class="fa fa-eye"></i>
                      </button> </td>
                      <td>
                        <ng-container *ngIf="job.status === 2 || job.status === 4; else retriedDisplay">
                          <button [disabled]="retry" type="button" class="btn btn-success" (click)="retryJob(job.id)">Retry Job</button>
                        </ng-container>
                        <ng-template #retriedDisplay>
                          <ng-container *ngIf="job.status === 5">
                            Pending
                          </ng-container>
                          <ng-template [ngIf]="job.status !== 5">
                            <ng-container #naDisplay>
                              NA
                            </ng-container>
                          </ng-template>
                        </ng-template>             
                      </td>
                    </tr>
                    <tr *ngIf="jobs && jobs.length === 0">
                      <td colspan="16" class="tnodata"> No Jobs Found </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <pagination-controls id = 'item' (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>

          </div>

        </div>

      </div>

    </div>
  </section>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="requestModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header float-right">
        <h5>User Details</h5>
        <div class="text-right">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">User Details Filter</h3>
              </div>
              <div class="card-body">
  
                <div class="row">
  
                  <div class="col-md-2">
                      <div class="form-group">
                        <label for="search">Search</label>
                        <input type="text" class="form-control fnt-14" id="search" [(ngModel)]="paramsUser.search" placeholder="Search ID, Username, Email"/>
                      </div>
                    </div>
                
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="tenant">Status</label>
                        <select class="form-control" id="tenant" [(ngModel)]="paramsUser.status">
                          <option value="">Select Status</option>
                          <option value="0">Not Started</option>
                          <option value="1">Failed</option>
                          <option value="2">Completed</option>
                        </select>
                      </div>
                    </div>  
  
                  <!-- <div class="col-md-2">
                    <div class="form-group">
                      <label for="time_period_log_user">Time Period</label>
                      <input autocomplete="off" type="text" class="form-control float-right" id="time_period_log_user"
                        [format]="format" daterangetime_picker (onSelect)="selectDateRangeUser($event, job_id )"
                        placeholder="Search Time Period" />
                    </div>
                  </div> -->
  
                  <div class="col-md-3">
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-success fnt-12" (click)="filterUser($event, job_id)"> <i class="fa fa-search"></i> Search
                    </button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning fnt-12 ml-1" (click)="resetUserFilter(job_id)"> Reset Filter
                    </button>
                    <button [disabled] = "isLoader" type="button" title="Refresh List" class="mgt btn btn-default fnt-12 ml-1"
                      (click)="getUserDetails(job_id)"> <i class="fa fa-refresh"></i></button>
                  </div>
                </div>
  
  
              </div>
  
            </div>
  
          </div>
  
        </div>
        <div class="row" *ngIf="!isLoader; else loader">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">User Details</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                  <h6><b>Total:</b>  {{ totalUser }} | <b>Job ID:</b> {{ job_id }}</h6>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>ID <app-ordering-arrow [column]="'id'" [params]="paramsUser" (changeOrder)="setOrderUser(job_id, $event)" ></app-ordering-arrow></th>
                        <th>Created At <app-ordering-arrow [column]="'created_at'" [params]="paramsUser" (changeOrder)="setOrderUser(job_id, $event)" ></app-ordering-arrow></th>
                        <th>Username</th>
                        <th>Email</th> 
                        <th>Phone</th> 
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Error</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let user of userDetails | paginate: { itemsPerPage: paramsUser.size, currentPage: puser, totalItems: totalUser, id: 'itemUsers' }">
                        <td> {{ user.id }} </td>
                        <td> {{ formatDateInSelectedTimeZone(user.created_at) }} </td>
                        <td ><a target="_blank" [routerLink]="['/players/details', user.user.id]" class="text-break">{{ user.user.user_name}}</a></td>
                        <td>{{user.user.email || '-'}}</td>
                        <td>{{user.user.phone || '-'}}</td>
                        <td>{{user.amount || '-'}}</td>
                        <td>{{ 
                          user.status === 0 ? 'Not Started' :
                          user.status === 1 ? 'Failed' :
                          user.status === 2 ? 'Completed' :
                          '-' 
                        }}</td>
                        <td *ngIf="user.error"> <ngx-json-viewer [json]="convertToJSON(user.error)" [expanded]="true"></ngx-json-viewer> </td>
                        <td *ngIf="!user.error"> - </td>
                        
                      </tr>
                      <tr *ngIf="userDetails && userDetails.length === 0">
                        <td colspan="16" class="tnodata"> No data Found </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <pagination-controls id = 'itemUsers' (pageChange)="pageChangedUser(job_id, $event)" (pageChange)="puser = $event"></pagination-controls>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <ng-template #loader>
      <!-- <img class="chart-loader" src="./assets/dist/gif/loader.gif"/> -->
      <img class="chart-loader" src="../../../../assets/dist/gif/loader.gif"/>
    </ng-template>