<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Sport Agent Revenue Report" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-left">
                                <h3 class="card-title">Sport Agent Revenue Report Filter</h3>
                            </div>
                            <div class="pull-right">
                                <div class="">

                                    <ng-container *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">

                                        <select  select2 id="tenant_id" (onSelect)="tenantFilter($event)" [(ngModel)]="params.tenant_id" style="width: 325px;" data-placeholder="Select Tenant">
                                            <!--<option value="">Select Tenant</option>-->
                                            <option *ngFor="let tenants of tenantsList" [value]="tenants.id">{{tenants.name}}</option>
                                        </select><span>&nbsp;</span>
                                        <select  class="select2custom" select2 id="owner_id" (onSelect)="filterSelectOwner($event)" [(ngModel)]="params.owner_id" style="width: 325px" data-placeholder="Select Owner">
                                            <option value="">Select Owner</option>
                                            <option *ngFor="let tenants of tenantsOwnerList ; let i = index " [attr.selected]="!i"  [value]="tenants.id">{{tenants.agent_name}}</option>
                                        </select><span>&nbsp;</span>

                                    </ng-container>

                                    <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" [(ngModel)]="params.time_zone" style="width: 325px;" data-placeholder="Select Time Zone">
                                        <option value="">Select Time Zone</option>
                                        <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                                        <option *ngFor="let zone of TIMEZONE" [value]="zone.value">{{zone.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="row">
                                <ng-container *ngIf="this.permissionService.checkPermission('agents','R')">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-control" select2 id="agent_id"  title="Select Agent" (onSelect)="filterSelectAgent($event)" [(ngModel)]="params.agent_id" data-placeholder="Select Agent">
                                                <option value="">Select Agent</option>
                                                <option *ngFor="let adminUser of userList" [value]="adminUser.id">{{adminUser.first_name}} {{adminUser.last_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </ng-container>


                                <div class="col-md-2">
                                    <div class="form-group">
                                        <select class="form-control" title="Select Currency" data-placeholder="Select Currency"
                                                id="currency" (change)="filter($event.target)" [(ngModel)]="params.currency">
                                            <option value="">Select Currency</option>
                                            <option *ngFor="let currency of currencies" [value]="currency.code"> {{ currency.code }} </option>
                                        </select>
                                    </div>
                                </div>


                               <!-- <div class="col-md-2" >
                                    <div class="form-group">
                                        <select class="form-control" id="game_provider" (change)="filter($event)"
                                                [(ngModel)]="params.game_provider"
                                                data-placeholder="Select Provider"
                                        >
                                            <option value="">Select Provider</option>
                                            <option *ngFor="let game of gameProvider" [value]="game.key"> {{ game.key }} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2" *ngIf="params.game_provider">
                                    <div class="form-group">
                                        <select class="form-control" id="game_type" (change)="filter($event)"
                                                data-placeholder="Select Game Type"
                                                [(ngModel)]="params.game_type">
                                            <option value="">Select Game Type</option>
                                            <option *ngFor="let game of gameType" [value]="game.key"> {{ game.name }} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2" *ngIf="isTable">
                                    <div class="form-group">
                                        <select class="form-control" id="table" (change)="filter($event)"
                                                [(ngModel)]="params.game_table"
                                                data-placeholder="Select Table"
                                        >
                                            <option value="">Select Table</option>
                                        </select>
                                    </div>
                                </div>-->

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <!--<label for="time_period">Time Period</label>-->
                                        <select class="form-control" id="time_date_period" data-placeholder="select Time Period " (change)="filter($event,true)" [(ngModel)]="params.time_type">
                                            <option disabled value="">Select Time Period</option>
                                            <option value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="weekly">This Week</option>
                                            <option value="monthly">This Month</option>
                                            <!-- <option value="yearly">This Year</option> -->
                                            <option value="custom">Custom Date</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2" *ngIf="params.time_type=='custom'">
                                    <div class="form-group">
                                        <input autocomplete="off" readonly data-placeholder="Search Time Period" placeholder="Search Time Period" type="text" readonly class="form-control float-right" id="time_period" [format]="format" daterange_picker (onSelect)="selectDateRange($event)" />
                                    </div>
                                </div>

                                <!-- <div class="col-md-2">
                                    <div class="form-group">
                                        <select class="form-control" id="size" (change)="filter($event)" [(ngModel)]="params.size">
                                            <option *ngFor="let pageSize of pageSizes" [value]="pageSize.name">{{pageSize.name}}</option>
                                        </select>
                                    </div>
                                </div> -->

                                <div class="col-md-4" id="dbuttons">
                                    <button [disabled] = "!repLoader" type="button" class="mgt btn btn-success mt-0" (click)="submitFilter()"> <i class="fa fa-search"></i> Search </button>
                                    <button [disabled] = "!repLoader" type="button" class="mgt btn btn-warning mt-0 ml-2" (click)="resetFilter()"> Reset Filter </button>
                                    <button [disabled] = "!repLoader" type="button" class="mgt btn btn-default mt-0 ml-2 mr-2" (click)="getReport()"> <i class="fa fa-refresh"></i> </button>

                                    <!-- <button type="button" id="dbuttons" class="mgt btn btn-info mt-0" (click)="download()"> Export as CSV </button> -->

                                </div>
                            </div>

                            <h5>Total GGR(in EUR): <span [ngStyle]="{'color': totalGGR < 0 ? 'red' : '' }"> {{ totalGGR | number: '1.2-2' }} </span> </h5>
                            <h5>Total NGR(in EUR): <span [ngStyle]="{'color': totalNGR < 0 ? 'red' : '' }"> {{ totalNGR | number: '1.2-2' }} </span> </h5>
                            <h5>Total Revenue(in EUR): <span [ngStyle]="{'color': totalRevenue < 0 ? 'red' : '' }"> {{ totalRevenue | number: '1.2-2' }} </span> </h5>

                        </div>

                    </div> 
                    <!-- /.card -->

                </div>

            </div>

        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card" *ngIf="repLoader; else loader">
                        <div class="card-header">
                            <h3 class="card-title">Sport Agent Revenue Report</h3>
                            <!--<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small> Showing {{pageCurrentTotal}} to {{ pageNextTotal }} of {{total}} entries</small></span>-->

                            <div class="pull-right" *ngIf="zone"> Time Zone- {{zone}}</div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive" *ngIf="firstTimeApiCall && reports && reports.length > 0">
                                <table datatable [params]="dataTableParams" id="example1" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Agent Name </th>
                                            <th>Currency </th>
                                            <th>Bet </th>
                                            <th>Bet in EUR </th>
                                            <th>Win </th>
                                            <th>Win in EUR</th>
                                            <th>GGR </th>
                                            <th>GGR in EUR</th>
                                            <th>Bonus </th>
                                            <th>Bonus in EUR</th>
                                            <th>NGR(GR-Bonus) </th>
                                            <th>NGR(GR-Bonus) in EUR</th>
                                            <th title="(100-agent commission)">My Commission </th>
                                            <th title="(NGR * (100- agent commission))/100">My Revenue </th>
                                            <!-- <th title="(NGR * (100- agent commission))/100">My Revenue in EUR</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let transaction of reports">
                        
                                            <td>
                                                <a href="javascript:void(0);" (click)="selectAgent(transaction.key.split('-')[1])"> {{
                                                    transaction.key.split('-') && transaction.key.split('-')[0] }}</a>
                                            </td>
                                            <td> {{ transaction.key.split('-') && transaction.key.split('-')[3]}} </td>
                                            <td [ngStyle]="{'color': transaction.bet.bet_amount.value < 0 ? 'red' : '' }">
                                                {{ transaction.bet.bet_amount.value | number: '1.2-2'}}
                                            </td>
                                            <td [ngStyle]="{'color': transaction.bet.bet_amount.value < 0 ? 'red' : '' }">
                                                {{ transaction.bet.bet_amount_in_EUR.value | number: '1.2-2'}}
                                            </td>
                                            <td [ngStyle]="{'color': transaction.win.win_amount.value < 0 ? 'red' : '' }">
                                                {{ transaction.win.win_amount.value | number: '1.2-2'}}
                                            </td>
                                            <td [ngStyle]="{'color': transaction.win.win_amount.value < 0 ? 'red' : '' }">
                                                {{ transaction.win.win_amount_in_EUR.value | number: '1.2-2'}}
                                            </td>
                                            <td [ngStyle]="{'color': transaction.ggr.value < 0 ? 'red' : '' }">
                                                {{ transaction.ggr.value | number: '1.2-2' }}
                                            </td>
                                            <td [ngStyle]="{'color': transaction.ggr.value < 0 ? 'red' : '' }">
                                                {{ transaction.ggr_in_EUR.value | number: '1.2-2'}}
                                            </td>
                                            <td [ngStyle]="{'color': transaction.final_bonus.value < 0 ? 'red' : '' }">
                                                {{ transaction.final_bonus.value | number: '1.2-2' }}
                                            </td>
                                            <td [ngStyle]="{'color': transaction.final_bonus.value < 0 ? 'red' : '' }">
                                                {{ transaction.final_bonus_in_EUR.value | number: '1.2-2'}}
                                            </td>
                                            <td [ngStyle]="{'color': transaction.ngr.value < 0 ? 'red' : '' }">
                                                {{ transaction.ngr.value | number: '1.2-2' }}
                                            </td>
                                            <td [ngStyle]="{'color': transaction.ngr.value < 0 ? 'red' : '' }">
                                                {{ transaction.ngr_in_EUR.value | number: '1.2-2' }}
                                            </td>
                                            <td [ngStyle]="{'color': (100-transaction.key.split('-')[5]) < 0 ? 'red' : '' }">
                                                {{(100-transaction.key.split('-')[5]) | number: '1.2-2' || '0.00'}}% </td>
                                            <!--(NGR * (100- agent commission))/100)-->
                                            <td [ngStyle]="{'color':  getRev(transaction) < 0 ? 'red' : '' }">
                                                {{ getRev(transaction) | number: '1.2-2' || '0.00'}}
                                            </td>
                                            <!-- <td [ngStyle]="{'color':  getRevBase(transaction) < 0 ? 'red' : '' }">
                                                                {{ getRevBase(transaction) | number: '1.2-2'}}
                                                            </td> -->
                        
                                        </tr>
                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive" *ngIf="firstTimeApiCall && reports && reports.length == 0">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Agent Name </th>
                                            <th>Currency </th>
                                            <th>Bet </th>
                                            <th>Bet in EUR </th>
                                            <th>Win </th>
                                            <th>Win in EUR</th>
                                            <th>GGR </th>
                                            <th>GGR in EUR</th>
                                            <th>Bonus </th>
                                            <th>Bonus in EUR</th>
                                            <th>NGR(GR-Bonus) </th>
                                            <th>NGR(GR-Bonus) in EUR</th>
                                            <th title="(100-agent commission)">My Commission </th>
                                            <th title="(NGR * (100- agent commission))/100">My Revenue </th>
                                            <!-- <th title="(NGR * (100- agent commission))/100">My Revenue in EUR</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="reports && reports.length === 0"> <td colspan="14" class="tnodata"> No Data Found </td> </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive" *ngIf="!firstTimeApiCall">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Agent Name </th>
                                            <th>Currency </th>
                                            <th>Bet </th>
                                            <th>Bet in EUR </th>
                                            <th>Win </th>
                                            <th>Win in EUR</th>
                                            <th>GGR </th>
                                            <th>GGR in EUR</th>
                                            <th>Bonus </th>
                                            <th>Bonus in EUR</th>
                                            <th>NGR(GR-Bonus) </th>
                                            <th>NGR(GR-Bonus) in EUR</th>
                                            <th title="(100-agent commission)">My Commission </th>
                                            <th title="(NGR * (100- agent commission))/100">My Revenue </th>
                                            <!-- <th title="(NGR * (100- agent commission))/100">My Revenue in EUR</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr> <td colspan="14" class="tnodata"> Click Search to Load Data </td> </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>


</div>

<ng-template #loader>

    <img class="chart-loader" style="width:20" src="./assets/dist/gif/loader.gif"/>

</ng-template>

