<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Transactions" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->
  
    <section class="content">
      <div class="container-fluid">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="pull-left"><h3 class="card-title">Transaction Filter</h3></div>
                <div class="pull-right">
                  <ng-container *ngIf="superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0">

                    <select  select2 id="tenant_id" (onSelect)="tenantFilter($event)" [(ngModel)]="params.tenant_id" style="width: 325px;" data-placeholder="Select Tenant">
                        <option [value]="0">All Tenants</option>
                        <option *ngFor="let tenant of tenants" [value]="tenant.id">{{tenant.name}}</option>
                    </select><span>&nbsp;</span>
  
                </ng-container>
                  <select select2 id="time_zone" (onSelect)="filterSelectTimeZone($event)" style="width: 325px;" data-placeholder="Select Time Zone">
                    <option value="">Select Time Zone</option>
                    <!--<option selected="selected" value="UTC">(GMT+00:00) UTC</option>-->
                    <option *ngFor="let zone of TIMEZONE"  [value]="zone.zonename">{{zone.name}}</option>
                  </select>
                </div>
                <div  class="pull-right legacy-code">
                  <p class="legacy-p">If you want to view legacy loading</p>
                  <a target="_blank" routerLink="/transactions/list">
                    click here
                    </a> 
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="search">Search</label>
                      <input type="text" class="form-control fnt-14" id="search"[(ngModel)]="params.search" placeholder="Search ID,Amount,User Name, Email, Round Id / Phone"/>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="search">Operator Transaction ID</label>
                      <input type="text" class="form-control fnt-14" id="search" [(ngModel)]="params.id" placeholder="Search Operator Transaction ID"/>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="search">Round ID</label>
                      <input type="text" class="form-control fnt-14" id="search" [(ngModel)]="params.round_id" placeholder="Search Round ID"/>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="currency">Currency</label>
                      <select class="form-control" id="currency"  [(ngModel)]="params.currency_id">
                      <option value="" >Select Currency</option>
  
                      <option *ngFor="let currency of currencies" [value]="currency.code">{{ currency.code }}</option>
  
                    </select>
                    </div>
                  </div>
  
                  <div class="col-md-2" >
                    <div class="form-group">
                      <label for="action_type">Action Type</label>
                      <select class="form-control" id="action_type"  [(ngModel)]="params.action_type">
                      <option value="">Select Action Type</option>
  
                      <option *ngFor="let transactionType of transactionTypes" [value]="transactionType.title"> {{ transactionType.name }} </option>
  
                    </select>
                    </div>
                  </div>
  
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="time_period">Time Period</label>
                      <input autocomplete="off" type="text" class="form-control float-right" readonly id="time_period" [format]="format" daterangetime_picker (onSelect)="selectDateRange($event)" placeholder="Search Time Period"/>
                    </div>
                  </div>
  
                  <div class="col-md-1">
                    <div class="form-group">
                      <label for="size">Size</label>
                      <select class="form-control" id="size"  [(ngModel)]="params.size">
                        <option *ngFor="let size of pageSizes" [value]="size.name"> {{ size.name }} </option>
                    </select>
                    </div>
                  </div>
                  
                  <div class="col-md-2">
                    <button [disabled] = "isLoader" type="button" (click)="filter($event)" class="mgt btn btn-success fnt-12 "><i class="fa fa-search"></i>
                      Search </button>
                    <button [disabled] = "isLoader" type="button" class="mgt btn btn-warning fnt-12 ml-1" (click)="resetFilter()"> Reset Filter </button>
                    <button [disabled] = "isLoader" type="button" title="Refresh List" class="mgt btn btn-default fnt-12 ml-1" (click)="getTransactions()"> <i class="fa fa-refresh"></i></button>
                  </div>
                </div>
  
  
              </div>
  
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
  
          <div class="col-md-12">
            <div class="card">
              <ng-container *ngIf="!isLoader; else loader">
              <div class="card-header">
                <h3 class="card-title">Transactions</h3>
                  <ng-container *ngIf = "this.permissionService.checkPermission('fund_transfer_deposit','C') || this.permissionService.checkPermission('fund_transfer_withdraw','C')">
                    <a class="btn btn-success f-right fnt-12 mrgl" routerLink="/transactions/transfer-fund"> Transfer Fund </a>
                  </ng-container>
                  <ng-container *ngIf="this.permissionService.checkPermission('casino_transactions','export')">
                    <button type="button" class="btn btn-info f-right fnt-12" (click)="exportAsXLSX()"> CSV <i class="fa fa-download"></i> </button>
                  </ng-container>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                total record - {{total}}
                <div class="table-responsive">
                  <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID <app-ordering-arrow [column]="'_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Created at <app-ordering-arrow [column]="'created_at'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Round ID <app-ordering-arrow [column]="'round_id_s'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Operator Transaction ID <app-ordering-arrow [column]="'transaction_id'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>From wallet</th>
                      <th>From currency</th>
                      <!-- <th>From Before Balance </th>
                      <th>From After Balance</th> -->
                      <th>To wallet</th>
                      <th>To currency</th>
                      <th>To Before Balance <app-ordering-arrow [column]="'player_details.before_balance'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>To After Balance <app-ordering-arrow [column]="'player_details.after_balance'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Amount <app-ordering-arrow [column]="'amount'" [params]="params" (changeOrder)="setOrder($event)" ></app-ordering-arrow></th>
                      <th>Conversion rate</th>
                      <th>Action Type</th>
                      <th>Comments</th>
                      <th>Action by</th>	
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: params.size, currentPage: p, totalItems: total }">
                      
                      <td> {{ transaction._id }} </td>
                      <td> {{ transaction._source?.created_at | date: 'dd-MM-YYYY HH:mm:ss' || '-' }} </td>
                      <td> {{ transaction._source?.round_id_s || '-' }} </td>
                      <td> {{ transaction._source?.transaction_id || '-' }} </td>
                      <td> {{ transaction._source?.source_wallet_owner?.first_name?.toLowerCase() }}&nbsp;{{transaction._source?.source_wallet_owner?.last_name?.toLowerCase()}}
                        <br/>{{transaction._source?.source_wallet_owner?.email?.toLowerCase() || '-'}} </td>
                      <td> {{ transaction._source?.source_currency || '-' }} </td>
                      <!-- <td> (not getting in api) </td>
                      <td> (not getting in api) </td> -->
                      <td>{{ transaction._source?.target_wallet_owner?.first_name?.toLowerCase() ||'' }} {{ transaction._source?.target_wallet_owner?.last_name?.toLowerCase() ||'' }} - {{ transaction._source?.target_wallet_owner?.email?.toLowerCase() ||'' }} </td>
                      <td> {{ transaction._source?.target_currency || '-'}} </td>
                      <td> {{ transaction._source?.player_details?.before_balance | number: '1.2-2'|| '0.00' }} </td>
                      <td> {{ transaction._source?.player_details?.after_balance | number: '1.2-2'|| '0.00' }} </td>
                      <td> {{ transaction._source?.amount| number: '1.2-2' || '-' }} </td>
                      <td> {{ transaction._source?.conversion_rate| number: '1.2-4' || '-' }} </td>
                      <td> {{ trnType(transaction._source?.transaction_type)  }} </td>
                      <td> {{ transaction._source?.description || '-' }} </td>
                      <td> 
                          {{ transaction._source?.actionee?.email?.toLowerCase()  || ''}} - {{ transaction._source?.actionee?.first_name?.toLowerCase()  ||''}}
                          {{ transaction._source?.actionee?.last_name?.toLowerCase()  ||''}}
                      </td>                      
                    </tr>
                    <tr *ngIf="firstTimeApiCall && transactions && transactions.length === 0"> <td colspan="16" class="tnodata"> No Transactions Found </td> </tr>
                    <tr *ngIf="!firstTimeApiCall"> <td colspan="16" class="tnodata"> Click Search to Load Data </td> </tr>
                  </tbody>
                </table>
                </div> total record - {{total}}
              </div>
              
              <pagination-controls (pageChange)="pageChanged($event)" (pageChange)="p = $event"></pagination-controls>
              </ng-container>
            </div>
            <!-- /.card -->
  
          </div>
  
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  <ng-template #loader>

    <img class="chart-loader" src="./assets/dist/gif/loader.gif"/>
  
  </ng-template>