<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title="Tenant Admin" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Admin</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td> Id </td>
                      <td>{{ admin?.id }}</td>
                    </tr>
                      <td> Email </td>
                      <td> {{ admin?.email }} </td>
                    <tr>
                      <td> Sub Admin Name </td>
                      <td> {{ admin?.agent_name }} </td>
                    </tr>
                    <tr>
                      <td>First name</td>
                      <td>{{ admin?.first_name }}</td>
                    </tr>
                    <tr>
                      <td>Last name</td>
                      <td>{{ admin?.last_name }}</td>
                    </tr>
                    <tr>
                      <td>Phone number</td>
                      <td>{{ admin?.phone }}</td>
                    </tr>
                    <tr>
                      <td>Phone verified</td>
                      <td>{{ admin?.phone_verified }}</td>
                    </tr>
                    <!-- <tr *ngIf="admin?.parent_id !=admin?.id">
                      <td>Parent agent</td>
                      <td> <a [routerLink]="['/agents/details', admin?.tenant_id, admin?.parent_id]" (click)="setAdminId(admin?.parent_id)">
                        {{ admin?.parent_email }} </a>
                      </td>
                    </tr> -->
                    <tr>
                      <td>Created at</td>
                      <td>{{ admin?.created_at | date:'dd-MM-YYYY' }}</td>
                    </tr>
                    <tr>
                      <td>Updated at</td>
                      <td>{{ admin?.updated_at | date:'dd-MM-YYYY' }}</td>
                    </tr>
                    <tr>
                      <td>Roles</td>
                      <td>
                        <ng-container *ngFor="let role of getRoles(admin?.rolesids); let i = index;"> {{ getRole(role) }}<ng-container *ngIf="getRoles(admin?.rolesids).length - 1 > i">,</ng-container> </ng-container>
                      </td>
                    </tr>
                    <tr *ngIf = "admin?.permissionRoleName">
                      <td>Permission Role Name</td>
                      <td>
                        {{ admin?.permissionRoleName }}
                      </td>
                    </tr>
                    <tr>
                      <td> Status </td>
                      <td>
                        <span *ngIf="admin && admin.active" class="text-success">Active</span>
                        <span *ngIf="admin && !admin.active" class="text-danger">In-Active</span>
                      </td>
                    </tr>
                    
                    <tr>
                      <td> Kyc Regulated? </td>
                      <td>
                        <span [ngClass]="admin?.kyc_regulated ? 'text-success':'text-danger'">{{ admin?.kyc_regulated ? 'Yes' : 'No' }}</span>
                      </td>
                    </tr>


                    <tr>
                      <td> Enable IP Whitelist </td>
                      <td class="copy-before">
                        <span>{{ admin?.is_applied_ip_whitelist ? 'Yes' : 'No' }}</span>
                      </td>
                    </tr>
                    
                    
                    <tr *ngIf="admin?.is_applied_ip_whitelist">
                      <td> IP Whitelist Type</td>
                      <td class="copy-before">
                        <span>{{( admin?.ip_whitelist_type ? admin?.ip_whitelist_type : 'NA') | titlecase }}</span>
                      </td>
                    </tr>
                    
                    <tr *ngIf="admin?.ip_whitelist_type == 'manual' && admin?.ip_whitelist?.length">
                      <td> IP Whitelist </td>
                      <td>
                          <span *ngFor="let item of admin.ip_whitelist" class="badge badge-info ip-whitelist"> {{item}}</span>
                      </td>
                    </tr>
                    <ng-container *ngIf="this.permissionService.checkPermission('sub_admin','U')">
                      <tr>
                        <td>Actions</td>
                        <td><a class="btn btn-warning fnt-12" [routerLink]="['/sub-admins', tenantId, adminId]" [state]="{ tenant: tenant }"> Edit </a></td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              <br/>
                <!-- <a class="btn btn-info fnt-12" [routerLink]="['/agents/tree', tenantId, admin?.id]"> <i class="fa fa-sitemap"></i> View Agent Tree </a> -->
              
              </div>
              

            </div>
            <!-- /.card -->

          </div>

          <div class="col-md-6" *ngIf="admin?.wallets && superAdminAuthService.superAdminUserValue?.role != 'manager'">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Wallet</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <tbody>
                    <!--<tr>
                      <td>ID</td>
                      <td>{{ admin?.wallet_id }}</td>
                    </tr>-->
                    <tr>
                      <td>Currency</td>
                      <!--<td> {{ admin.currency_name }} </td>-->
                      <td *ngIf="admin && admin.wallets">
                        <span *ngFor="let wallet of admin.wallets ; index as i" >
                          {{ wallet.code  }} <ng-container *ngIf="admin.wallets.length - 1 > i">, </ng-container>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>Amount</td>
                      <td>
                        <span  *ngFor="let wallet of admin?.wallets" >
                          <span class=""><strong>{{ wallet.amount|number:'1.2-2'}} </strong></span>
                            <span class="ml-2">{{ wallet.code }}</span>
                           <br/>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>Last deposited amount</td>
                      <td>{{ admin?.last_deposited_amount }}</td>
                    </tr>
                    <tr>
                      <td>Updated at</td>
                      <td>{{ admin?.wallet_updated_at | date:'dd-MM-YYYY' }}</td>
                    </tr>
                    <ng-container *ngIf = "this.permissionService.checkPermission('fund_transfer_deposit','C') || this.permissionService.checkPermission('fund_transfer_withdraw','C')">
                      <tr *ngIf="(adminAuthService.adminTokenValue && adminAuthService.adminTokenValue.length > 0) || (superAdminAuthService.superAdminTokenValue && superAdminAuthService.superAdminTokenValue.length > 0 && (getRoles(admin?.rolesids).indexOf('1') !== -1))">
                        <td>Actions</td>
                        <td>
                          <ng-container *ngIf = "this.permissionService.checkPermission('fund_transfer_deposit','C')">
                            <a class="btn btn-success fnt-12"  [routerLink]="['/transactions/transfer-fund']" [queryParams]="{ owner_id: admin?.id, email: admin?.email, owner_type: 'AdminUser', type: 'Deposit', tenant_id: tenantId}"> Deposit </a>
                            &nbsp;
                          </ng-container>
                          <ng-container *ngIf = "this.permissionService.checkPermission('fund_transfer_withdraw','C')">
                            <button type="button"  class="btn btn-danger fnt-12" [disabled]="amountCheck(admin?.wallets)" [routerLink]="['/transactions/transfer-fund']" [queryParams]="{ owner_id: admin?.id, email: admin?.email, owner_type: 'AdminUser', type: 'Withdraw', tenant_id: tenantId}"> Withdraw </button>
                          </ng-container>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
      
            </div>
            <!-- /.card -->
      
          </div>

          

        </div>

      </div><!-- /.container-fluid -->
    </section>

    <!-- <section class="content">
      <div class="container-fluid">
    
        <div class="row">
    
          <div *ngIf="admin?.permissions" class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"> Permissions </h3>
              </div>
              <div class="card-body">
    
                <table class="table table-borderless">
                  <tbody>
                    <ng-container *ngFor="let header of objectToArray(admin.permissions)">
                      <div class="per-data" *ngIf="getPermissionsFromValue(header.value).length > 0">
                        <h5>{{ header.key | capitalize }}</h5>
                        <div class="permission-group">
                        <span *ngFor="let permission of getPermissionsFromValue(header.value)"
                          class="permission-cells active">
                          {{getLabel(permission)}}
                        </span>
                      </div>
                      </div>
                    </ng-container>
                  </tbody>
                </table>
    
              </div>
    
            </div>
    
          </div>
    
        </div>
    
      </div>
    </section> -->
    <!-- /.content -->
    


  </div>



  <div class="modal fade" id="modal-setting" aria-hidden="true" style="display: none;" *ngIf="adminAuthService.adminTokenValue && adminAuthService.adminTokenValue.length > 0">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Settings </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          
              <div class="form-group">
                <label for="skey">Key <span class="text-danger">*</span></label>
                <select formControlName="key" id="skey" class="form-control">
                  <option value="commission_percentage">Commission percentage</option>
                </select> 
                <div *ngIf="submitted && f.key.errors" class="invalid-feedback">
                  <div *ngIf="f.key.errors.required">key is required</div>
              </div>
              </div>

              <div class="form-group">
                <label for="svalue">Value <span class="text-danger">*</span></label>
                <input formControlName="value" type="number" placeholder="Enter Value" class="form-control" id="svalue"/>
                <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
                  <div *ngIf="f.value.errors.required">Value is required</div>
                  <div *ngIf="f.value.errors.min">Value cannot be less than 1</div>
                  <div *ngIf="f.value.errors.max">Value cannot be greater than 100</div>
              </div>
              </div>
              
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="settingLoader" class="btn btn-primary">
                <span *ngIf="settingLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Save changes </button>
            </div>

          </form>

      </div>
    </div>
  </div>
