<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-breadcrumb title=" Betting Limits Setting" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">

          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> Sports  Betting Limits Setting </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
                  <div class="card-body">
                  
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="event_liability">Event Liability <span class="text-danger">*</span></label>
                          <input (keypress)="onKeyPress($event)" type="number" formControlName="event_liability" class="form-control" id="fname" placeholder="Enter Event Liability"/>
                          <div class="invalid-feedback" *ngIf="submitted && f.event_liability.errors">
                            <div *ngIf="f.event_liability.errors.required">Event Liability is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                            <div class="form-group">
                              <label for="max_single_bet">Max Back Bet <span class="text-danger">*</span></label>
                              <input (keypress)="onKeyPress($event)" type="number" formControlName="max_single_bet" class="form-control" id="max_single_bet" placeholder="Enter Max Back Bet"/>
                              <div class="invalid-feedback" *ngIf="submitted && f.max_single_bet.errors">
                                <div *ngIf="f.max_single_bet.errors.required">Max Back Bet is required</div>
                              </div>
                            </div>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="min_bet">Min Bet <span class="text-danger">*</span></label>
                        <input (keypress)="onKeyPress($event)" type="number" formControlName="min_bet" class="form-control" id="name" placeholder="Enter Min Bet"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.min_bet.errors">
                          <div *ngIf="f.min_bet.errors.required">Min Bet is required</div>
                        </div>
                      </div>
                  </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="max_multiple_bet"> Max Multiple Bet <span class="text-danger">*</span></label>
                        <input (keypress)="onKeyPress($event)" type="number" formControlName="max_multiple_bet" class="form-control" id="max_multiple_bet" placeholder="Enter Max Multiple Bet"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.max_multiple_bet.errors">
                          <div *ngIf="f.max_multiple_bet.errors.required">Max Multiple Bet is required</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                      <!--<div class="col-md-6">
                        <div class="form-group">
                          <label for="max_bet_on_event">Max Bet On Event <span class="text-danger">*</span></label>
                          <input (keypress)="onKeyPress($event)" type="number" formControlName="max_bet_on_event" class="form-control" id="max_bet_on_event" placeholder="Enter Max Bet On Event"/>
                          <div class="invalid-feedback" *ngIf="submitted && f.max_bet_on_event.errors">
                            <div *ngIf="f.max_bet_on_event.errors.required">Max Bet On Event is required</div>
                          </div>
                        </div>
                      </div>-->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="cashout_percentage">Cashout Percentage <span class="text-danger">*</span></label>
                        <input (keypress)="onKeyPress($event)" type="number" formControlName="cashout_percentage" class="form-control" id="cashout_percentage" placeholder="Cashout Percentage"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.cashout_percentage.errors">
                          <div *ngIf="f.cashout_percentage.errors.required">Cashout Percentage is required</div>
                        </div>
                      </div>
                    </div>
                      <div class="col-md-6">
                            <div class="form-group">
                              <label for="deposit_limit">Deposit Limit <span class="text-danger">*</span></label>
                              <input (keypress)="onKeyPress($event)" type="number" formControlName="deposit_limit" class="form-control" id="deposit_limit" placeholder="Enter Deposit Limit"/>
                              <div class="invalid-feedback" *ngIf="submitted && f.deposit_limit.errors">
                                <div *ngIf="f.deposit_limit.errors.required">Deposit Limit is required</div>
                              </div>
                            </div>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="max_win_amount">Max Win Amount <span class="text-danger">*</span></label>
                        <input (keypress)="onKeyPress($event)" type="number" formControlName="max_win_amount" class="form-control" id="name" placeholder="Enter Max Win Amount"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.max_win_amount.errors">
                          <div *ngIf="f.max_win_amount.errors.required">Max Win Amount is required</div>
                        </div>
                      </div>
                  </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="max_odd"> Max Odd <span class="text-danger">*</span></label>
                        <input (keypress)="onKeyPress($event)" type="number" formControlName="max_odd" class="form-control" id="max_odd" placeholder="Enter Max Odd"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.max_odd.errors">
                          <div *ngIf="f.max_odd.errors.required">Max Odd is required</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--  <div class="row">

                    </div>-->

                        <div class="icheck-primary d-inline">
                          <input type="checkbox" formControlName="bet_disabled" id="checkboxPrimary2">
                          <label for="checkboxPrimary2">
                              Disable bet from the application
                          </label>
                        </div>

                  </div>
  
                  <div class="card-footer">
                    <ng-container *ngIf = "this.permissionService.checkPermission('tenant_sport_setting','U')">
                    <button type="submit" [disabled]="adminLoader" class="btn btn-primary">
                      <span *ngIf="adminLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit
                    </button>
                    &nbsp;
                    </ng-container>

                    <a class="btn btn-warning" *ngIf="superAdminAuthService.superAdminTokenValue.length > 0" [routerLink]="['/super-admin/tenants/details', tenantId]"> Cancel </a>

                  </div>
                </form>
              </div>
  
            </div>
          </div>

        </div>
      </section>


  </div>
